﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Efx.EfxPublic.Site" %>

<!DOCTYPE html>

<html lang="en">
<head id="Head1" runat="server">
    <title></title>
    <meta charset="utf-8" content="text/html" http-equiv="Content-Type">   
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no"  />
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Default site styles--> 
    <link id="DefaultCSS" rel="stylesheet" type="text/css" href="/Styles/Default.css" />
    <link id="ResponsiveCSS" rel="stylesheet" type="text/css" href="/Styles/Responsive.css" />
    <link id="chosenCSS" runat="server" rel="stylesheet" type="text/css" href="/chosen.css" />
    <link id="modalCSS" runat="server" rel="stylesheet" type="text/css" href="/Modal.css" />
    <link id="FontAwesomeCSS" rel="stylesheet" href="/Styles/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Raleway:600,400,500,700' rel='stylesheet' type='text/css'> <!-- Adding a font-family from Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'> <!-- Adding a font-family from Google Fonts -->
    <link id="PublicFavicon" rel="icon" type="image/x-icon" href="/RPO-favicon-Blue.ico" />      
    <!--[if IE]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 7]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/Libraries/jquery-1.9.1.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>
    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/typeahead.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>
    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/Modal.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>

    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/PowerTip.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>
    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/SpecificToolTips.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>
    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/jquery.mask.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>
    <script type="text/javascript" src="<%= EfxFramework.Settings.sharedJsUrl %>/chosen.jquery.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>
    <script type="text/javascript" src="/Scripts/MobileMenu.js?version=<%= EfxFramework.Settings.versionNumber %>"></script>


    <script src="<%= ResolveClientUrl("~/Scripts/Libraries/jssor.js") %>"></script>
    <script src="<%= ResolveClientUrl("~/Scripts/Libraries/jssor.slider.js") %>"></script>    

<%--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>--%>
    <script type="text/javascript" src="/Scripts/scrolltopcontrol.js">
        /***********************************************
        * Scroll To Top Control script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Project Page at http://www.dynamicdrive.com for full source code
        ***********************************************/
    </script>


    <!-- Navigation behavior -->
    <script>

        var vOrient = 'p';
        // Listen for orientation changes
        window.addEventListener("orientationchange", function () {

            _portrait_landspace();

        }, false);

        // portrait OR landscape
        function _portrait_landspace() {

            //
            if (window.matchMedia("(orientation: portrait)").matches) {
                vOrient = 'p';
            }

            if (window.matchMedia("(orientation: landscape)").matches) {
                vOrient = 'l';
            }
        } // end pl...


        /*if / else statement for tablet drop down function vs desktop*/
        $(function () {

            var cWidth = window.innerWidth || document.documentElement.clientWidth;

            //if ($(window).width() > 1025 || $(window).height() > 769) {
            if ($(window).width() > 1272) {
                $('nav li ul').hide().removeClass('fallback');
                $('nav li').hover(function () {
                    $('ul', this).stop().slideToggle(200);
                });
            } else {
                $('nav li ul').hide().removeClass('fallback');
                $('nav li').click(function () {
                    $('ul', this).stop().slideToggle(200);
                });
            }
        });

        // 
        function change_arp() {

            //
            $("#applySquare").mouseover(function () {
                $(this).removeClass("onColor");
                $("#registerSquare").removeClass("onColor");
                $("#paySquare").removeClass("onColor");
                $(this).addClass("onColor");

                $("#applyTitle").removeClass("offTextColor");
                $("#applyText").removeClass("offTextColor");
                $("#applyTitle").addClass("onTextColor");
                $("#applyText").addClass("onTextColor");
            });
            $("#applySquare").mouseout(function () {
                $(this).removeClass("onColor");
                $("#registerSquare").removeClass("onColor");
                $("#paySquare").removeClass("onColor");

                $("#applyTitle").addClass("offTextColor");
                $("#applyText").addClass("offTextColor");

            });

            //
            $("#registerSquare").mouseover(function () {
                $("#registerSquare").removeClass("onColor");
                $("#applySquare").removeClass("onColor");
                $("#paySquare").removeClass("onColor");
                $("#registerSquare").addClass("onColor");

                $("#registerTitle").removeClass("offTextColor");
                $("#registerText").removeClass("offTextColor");
                $("#registerTitle").addClass("onTextColor");
                $("#registerText").addClass("onTextColor");

            });
            $("#registerSquare").mouseout(function () {
                $("#registerSquare").removeClass("onColor");
                $("#applySquare").removeClass("onColor");
                $("#paySquare").removeClass("onColor");

                $("#registerTitle").addClass("offTextColor");
                $("#registerText").addClass("offTextColor");
            });

            //
            $("#paySquare").mouseover(function () {
                $("#paySquare").removeClass("onColor");
                $("#registerSquare").removeClass("onColor");
                $("#applySquare").removeClass("onColor");
                $("#paySquare").addClass("onColor");

                $("#payRentTitle").removeClass("offTextColor");
                $("#payRentText").removeClass("offTextColor");
                $("#payRentTitle").addClass("onTextColor");
                $("#payRentText").addClass("onTextColor");

            });
            $("#paySquare").mouseout(function () {
                $("#paySquare").removeClass("onColor");
                $("#registerSquare").removeClass("onColor");
                $("#applySquare").removeClass("onColor");

                $("#payRentTitle").addClass("offTextColor");
                $("#payRentText").addClass("offTextColor");
            });


        } // end of change...



        // initial various elements
        function init_elements() {

            var vDesktop = false;
            var vTablet = false;
            var vPhone = false;
            if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) ||
                navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
                vDesktop = false; vTablet = true; vPhone = true;
            } else {
                vDesktop = true; vTablet = false; vPhone = false;
            }

            //vDesktop = false;
            var w_width = window.innerWidth;
            var w_height = window.innerHeight;
            // ==========================================================================
            // change width or height of various elements.
            // ==========================================================================
            vHeadH = $(".headerbar").height() * .9;
            vHeadW = vHeadH * 4;
            $(".rentPaidOnlineLogo").css("height", vHeadH);
            $(".rentPaidOnlineLogo").css("width", vHeadW);
            $(".mainNavigation").css("top", vHeadH - 19);

            var v_pt = $(".ptSlider").css("padding-top");
            v_pt = v_pt.replace("px", "");
            // slider images
            var screenImage = $("#imgSlider");
            var theImage2 = new Image();
            theImage2.src = screenImage.attr("src");
            var imageWidth2 = theImage2.width;
            var imageHeight2 = theImage2.height;
            var ar2 = imageWidth2 / imageHeight2;
            var vPixel2 = (w_width / ar2);
            mt = (vPixel2 + Number(v_pt) - 20) + 'px'; //Salcedo - adjust padding - 5/16/2015

            if ($(window).width() >= 900 && vDesktop == true) {

            } else if (vDesktop == true) {
                $(".homepagePush").css("padding-top", "0px");
                $(".homepagePush").css("margin-top", "-15px");
            } else if ($(window).width() >= 1273 && vDesktop == false) {

            } else if (vDesktop == false) {
                $(".homepagePush").css("padding-top", "0px");
                $(".homepagePush").css("margin-top", "0px");
            }

            // logo
            var logomt = ($(".headerbar").height() - $(".rentPaidOnlineLogo").height()) / 1.3;
            $(".rentPaidOnlineLogo").css("margin-top", logomt);

            // remove links for mobile : 760-450
            if (vOrient == 'l') {
                if ($(window).width() >= 200 && $(window).width() < 1280) {
                    $('#panelMobile').attr('href', "#");
                    $('#panelMgr').attr('href', "#");
                    $('#panelResident').attr('href', "#");
                    $('#panelAbout').attr('href', "#");
                    $('#panelContact').attr('href', "#");
                    $('ul#menu-bar').removeAttr('id');
                }
            }
            if (vOrient == 'p') {
                if ($(window).width() >= 200 && $(window).width() < 800) {
                    $('#panelMobile').attr('href', "#");
                    $('#panelMgr').attr('href', "#");
                    $('#panelResident').attr('href', "#");
                    $('#panelAbout').attr('href', "#");
                    $('#panelContact').attr('href', "#");
                    $('ul#menu-bar').removeAttr('id');
                }
            }


            // we want to push down a little past the top of the panel images
            //$(window).on("hashchange", function () {
            //    window.scrollTo(window.scrollX, window.scrollY + 105);
            //});

        } // end of initial elements...


        // Listen for resize changes
        window.addEventListener("resize", function () {

            change_arp();
            init_elements();
            setTimeout(_init_footer, 350);

        }, false);


        // Slider
        function slider() {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["TL"] = { $Duration: 900, x: 0.6, y: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };;
            _CaptionTransitions["TR"] = { $Duration: 900, x: -0.6, y: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["BL"] = { $Duration: 900, x: 0.6, y: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine, $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["FADE"] = { $Duration: 900, $Opacity: 2 };
            _CaptionTransitions["CLIP-FADE"] = { $Duration: 1200, $Clip: 15, $Opacity: 1.7, $During: { $Clip: [0.5, 0.5], $Opacity: [0, 0.5] } };
            _CaptionTransitions["CLIP2"] = { $Duration: 1200, $Clip: 3, $Opacity: 1.7, $During: { $Clip: [0.5, 0.5], $Opacity: [0, 0.5] } };

            var _SlideshowTransitions = [
                { $Duration: 2400, $Opacity: 2 } //,
                //{$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$JssorEasing$.$EaseInCubic,$Opacity:$JssorEasing$.$EaseLinear},$Opacity:2},
                //{ $Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
                //{ $Duration: 1200, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
                //{ $Duration: 1200, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            ];

            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 10000,                           //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0),
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slideshow, 1: Sequence, 0: Random
                },
                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                }
            };

            //var options = { $AutoPlay: true };
            var jssor_slider1 = new $JssorSlider$('slider1_container', options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth)
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);

        } // end of slider...



        // set footer
        function _init_footer() {

            // =================================================================
            // set footer for non default pages
            // =================================================================



            var vPath = location.pathname;
            vPath = vPath.replace("/", "");
            //CMallory - Task 00578 - Added check for vPath length 03/07/2016
            if (vPath.indexOf("Default.aspx") == -1 && vPath.length != 0) {
                var x = 0;
                //CMallory - Task 0617 - If someone isn't on the homepage, the Resident Login button is hidden.
                document.getElementById("ResidentLogin").setAttribute("hidden", "hidden");
                //if ($(window).width() <= 767) {
                //$("footer").css("display", "none");
                //} else {
                //
                $("footer").css("display", "block");
                var gvWidth = window.innerWidth || document.documentElement.clientWidth;
                var gvHeight = window.innerHeight || document.documentElement.clientHeight;

                var vFooterH = gvHeight - $("footer").height();
                var vHeight1 = "", vHeight = "";
                if ($("#pageCenterContainer").height() != null) {
                    vHeight = $("#pageCenterContainer").height() + 400;
                    vHeight1 = $("#pageCenterContainer").height() + 400;
                }
                if ($("#pageCenterContainer1").height() != null) {
                    vHeight = $("#pageCenterContainer1").height() + 400;
                    vHeight1 = $("#pageCenterContainer1").height() + 400;
                }
                if ($("#temp").height() != null) {
                    vHeight = $("#temp").height() + 400;
                    vHeight1 = $("#temp").height() + 400;
                }
                var vHeight2 = "height: " + vHeight + "px !important";
                $('.wrapper').attr('style', vHeight2);

                /*cmallory Task 00506 commented out if/ese that sets the vHeight to a fixed position and added one that sets it to an absolute position.  I also commented out the code
                that adds the style css to the footer */
                //if (vFooterH > vHeight1) {
                //    vHeight = "position: fixed ; top: " + (vFooterH) + "px !important";
                //} else {
                //    vHeight = "position: fixed; top: " + (vHeight1) + "px !important";
                //}
                if (vFooterH > vHeight1) {
                    vHeight = "position: absolute ; bottom: 0" + "px !important";
                } else {
                    vHeight = "position: absolute; bottom: 0" + "px !important";
                }

                //$('footer').attr('style', vHeight);

                //} // if 767
            } // if not default...


        } // end of init footer.....


        /*Calling the mobile template*/
        $(document).ready(function () {

            _portrait_landspace();

            // hamburger menu
            $('header nav').meanmenu();

            var vPath = location.pathname;
            vPath = vPath.replace("/", "");
            // slider
            //CMallory - Task 00578 - Added check for vPath length
            if (vPath.indexOf("Default.aspx") != -1 || vPath.length == 0) {
                var url = "<%=EfxFramework.Settings.RenterLoginLink %>";
                document.getElementById("ResidentLogin").removeAttribute("href");
                document.getElementById("ResidentLogin").setAttribute("href", url);
                slider();
            } else {
                $("#header img:first-child").remove();
                $(".rentPaidOnlineLogo").css("z-index", "5");
                $(".mainNavigation").css("z-index", "5");
                $(".headerSocialMedia").css("z-index", "25");
                $("#header").append('<img id="headerImg" src="/Images/HeaderBar-Revised2.png" class="headerbar" >');
            }
            //
            change_arp();
            setTimeout(init_elements, 350);
            setTimeout(_init_footer, 350);
            // init_elements();

            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top + 102
                        }, 1000);
                        return false;
                    }
                }
            });

        });


        // Window load event used just in case window height is dependant upon images
        $(window).bind("load", function () {

            var footerHeight = 0,
                footerTop = 0,
                $footer = $("footer");
            //
            positionFooter();

            function positionFooter() {

                footerHeight = $footer.height();
                var vHeight = "";
                var vHeight1 = 0, vHeight2 = 0, vHeight3 = 0, vHeight4 = 0;
                var vPath = location.pathname;
                vPath = vPath.replace("/", "");
                var vWidth = window.innerWidth || document.documentElement.clientWidth;
                // =================================================================
                // set footer for default page
                // =================================================================
                //CMallory - Task 00578 - Added check for vPath length
                if (vPath.indexOf("Default.aspx") != -1 || vPath.length == 0) {
                    vHeight = $(".wrapper").height();
                    footerTop = vHeight + "px";
                    //$footer.css({ position: "absolute" });
                    //$footer.css({ top: footerTop });
                }
            }

            $(window)
                    .scroll(positionFooter)
                    .resize(positionFooter)

        });

        $(document).ready(function () {

            var footerHeight = 0,
                 footerTop = 0,
                 $footer = $("footer");

            footerHeight = $footer.height();
            var vHeight = "";
            var vPath = location.pathname;
            vPath = vPath.replace("/", "");
            //CMallory - Task 00578 - Added check for vPath length - 03/07/2016
            if (vPath.indexOf("Default.aspx") == -1 && vPath.length != 0) {
                var bodyHeight = $("body").height();
                var vwptHeight = $(window).height();

                footerTop = document.body.scrollHeight + "px";
            }
            
        });

</script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body class="">
    <form id="AspNetForm" runat="server">

    <a name="top"></a>
    <div class="wrapper  top" style="background: linear-gradient(#b1bdd4,#e9e9ea);">
        <div class="mobileNav"></div>
        <header id="header" class="mainPageHeader headerPositioning headbar"  >
            <!--cakel -->
            <img id="headerImg" src="/Images/HeaderBar3.png" class="headerbar"  />
            <div class="logo">
                <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Default.aspx">
               <div class="rentPaidOnlineLogo"><h1>RentPaidOnline</h1></div>  
                </asp:HyperLink>
            </div>
            <nav class="mainNavigation">
                <!--   -->
                <ul id="menu-bar">
                    <li><a id="panelHome" href="/Default.aspx" >Home</a></li>
                    <li><a id="panelMobile" href="#panel1" >Mobile</a></li>
                    <li><a id="panelMgr" href="#panel2" >Managers</a>
                        <ul>
                            <li><a href="/PropertyManager.aspx">Learn More</a></li>
                            <li><a href="/Contact.aspx?ContactType=2">Contact Sales</a></li>
                            <li><a href="/Contact.aspx?ContactType=2">Send Me Info</a></li>
                            <li><a href="/ProsCorner.aspx">Pro's Corner</a></li>
                            <li><a id="PropertyManagerLoginLink" runat="server" href="/">Login</a></li>
                        </ul>
                    </li>
                    <li><a id="panelResident" href="#panel3" >Residents</a>
                        <ul>
                            <li><a href="/FutureResidents.aspx">Apply Now</a></li>
                            <li><a href="/CurrentResidents.aspx">Register</a></li>
                            <li><a href="/ResidentsRoom.aspx">Resident's Room</a></li>
                            <li><a id="RenterLoginLink1" runat="server" href="/">Make a Payment</a></li>
                            <li><a id="RenterLoginLink2" runat="server" href="/">Login</a></li>
                        </ul>
                    </li>
                    <li><a id="panelAbout" href="#panel4" >About</a>
                        <ul>
                            <li><a href="/About.aspx">Learn More</a></li>
                            <li><a href="/Jobs.aspx">Careers</a></li>
                            <!--cakel -->
                            <li><a href="/News.aspx">News</a></li>
                        </ul>
                    </li>
                    <li><a id="panelContact" href="#panel5" >Contact Us</a>
                        <ul>
                            <!--cakel: Updated link-->
                            <li><a href="/Contact.aspx">Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
             <!--CMallory - Task 00576 - Took out br's and added margin-top to help with page sizing changes. -->
            <div class="headerSocialMedia" style="margin-top:1%; margin-bottom:1%">
              <!--CMallory - Task 00617 - Added -->
              <a href="http://www.Google.com" class="button" id="ResidentLogin" > <img src="Images/ResidentLogin.png" height="38" width="130"/></a>
            </div>
                
        </header>
        
        <div>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        </div>
    </div>
        <!-- class="cFooter"   -->
        <footer id="site-footer" style="margin-top: 0px;" >
            <div class="footerContainer">
                <div class="footerRow">
                    <div class="footerBingTranslator">
                        <!-- Begin Bing Translator -->
            
                        <div id="MicrosoftTranslatorWidget">
                            <noscript>
                                  <a href="http://www.microsofttranslator.com/bv.aspx?a=http%3a%2f%2fwww.mb2x.com%2f">Translate this page</a><br />
                            </noscript>
                        </div> 
                        <script type="text/javascript">
                            /* <![CDATA[ */ setTimeout(function () {
                                var s = document.createElement("script"); s.type = "text/javascript"; s.charset = "UTF-8"; s.src = (
                                    (location && location.href && location.href.indexOf('https') == 0) ? "https://ssl.microsofttranslator.com" : "http://www.microsofttranslator.com") + "/ajax/v2/widget.aspx?mode=manual&from=en&layout=ts"; var p = document.getElementsByTagName('head')[0] || document.documentElement; p.insertBefore(s, p.firstChild);
                            }, 0); /* ]]> */
                                </script>
            
                        <!-- End Bing Translator -->
                    </div>
                    <div class="acceptedPaymentMethod textCenter">
                        <p>Accepted Payment Methods</p>
                        <div class="creditCardImages"></div>
                    </div>

                    <div class="rightFooterContainer">
                        <div class="footerSocialMedia">
                            <span>Follow Us!</span>
                            <a href="https://www.twitter.com/RentPaidOnline" target="_blank"><div class="footerTwitterIcon"></div></a>
                            <a href="https://facebook.com/RentPaidOnline1?fref=ts" target="_blank"><div class="footerFacebookIcon"></div></a>
                        </div>
                        <div class="legal">
                            <p>&copy; <asp:Literal ID="litYear" runat="server" Text="litYear"></asp:Literal> RentPaidOnline. All rights reserved.</p>
                        </div>

                    </div>

                    <div class="legal">
                         <p><span><a id="faqFooter" href="/Faq.aspx" >FAQ&nbsp;&nbsp;</a></span>
                            <span><a id="termsFooter" href="/TermsOfUse.aspx" >Terms of use</a></span>
                            <a id="privacyFooter" href="/PrivacyPolicy.aspx" >Privacy Policy</a>
                         </p>
                    </div>

                </div>
            </div>
            <!-- Combobox plugin call-->
              <script type="text/javascript">
                  var config = {
                      '.chzn-select': {},
                      '.chzn-select-deselect': { allow_single_deselect: true },
                      '.chzn-select-no-single': { disable_search_threshold: 10 },
                      '.chzn-select-no-results': { no_results_text: 'Oops, nothing found!' },
                      '.chzn-select-width': { width: "95%" }
                  };
                  for (var selector in config) {
                      $(selector).chosen(config[selector]);
                  }
            </script>
            
        </footer>

    </form>
</body>
</html>

