﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AutoPayTile.ascx.cs" Inherits="Efx.EfxResidents.UserControls.AutoPayTile" %>
 <div class="formFullWidth">
     <h5 class="tipItem fr2Color" >AutoPay</h5><span class="toolTipIcon autoPayTip"></span>
 </div>

<!--Buttons -- inactive state is displayed with the class gratOffButton, active state is orangeButton -->
<asp:LinkButton ID="AutoPayOnButton" runat="server" CssClass="grayOffButton buttonInline" CausesValidation="false">On</asp:LinkButton>
<asp:LinkButton ID="AutoPayOffButton" runat="server" CssClass="grayOffButton buttonInline fr2BColor" CausesValidation="false">Off</asp:LinkButton>
<!--Payment Processing Date -->
<div class="formRow rowSpacingAdjust">
    <div class="formFullWidth">
        <span class="formLabel formLabelTextAdjust fr1Color">Payment Processing Date</span>
        <div class="formAutoPayDate">
            <asp:DropDownList ID="PaymentProcessingDateComboBox" runat="server" CssClass="chzn-select">
                <asp:ListItem Value="1" Text="1"></asp:ListItem>
                <asp:ListItem Value="2" Text="2"></asp:ListItem>
                <asp:ListItem Value="3" Text="3"></asp:ListItem>
                <asp:ListItem Value="4" Text="4"></asp:ListItem>
                <asp:ListItem Value="5" Text="5"></asp:ListItem>
                <asp:ListItem Value="6" Text="6"></asp:ListItem>
                <asp:ListItem Value="7" Text="7"></asp:ListItem>
                <asp:ListItem Value="8" Text="8"></asp:ListItem>
                <asp:ListItem Value="9" Text="9"></asp:ListItem>
                <asp:ListItem Value="10" Text="10"></asp:ListItem>
                <asp:ListItem Value="11" Text="11"></asp:ListItem>
                <asp:ListItem Value="12" Text="12"></asp:ListItem>
                <asp:ListItem Value="13" Text="13"></asp:ListItem>
                <asp:ListItem Value="14" Text="14"></asp:ListItem>
                <asp:ListItem Value="15" Text="15"></asp:ListItem>
                <asp:ListItem Value="16" Text="16"></asp:ListItem>
                <asp:ListItem Value="17" Text="17"></asp:ListItem>
                <asp:ListItem Value="18" Text="18"></asp:ListItem>
                <asp:ListItem Value="19" Text="19"></asp:ListItem>
                <asp:ListItem Value="20" Text="20"></asp:ListItem>
                <asp:ListItem Value="21" Text="21"></asp:ListItem>
                <asp:ListItem Value="22" Text="22"></asp:ListItem>
                <asp:ListItem Value="23" Text="23"></asp:ListItem>
                <asp:ListItem Value="24" Text="24"></asp:ListItem>
                <asp:ListItem Value="25" Text="25"></asp:ListItem>
                <asp:ListItem Value="26" Text="26"></asp:ListItem>
                <asp:ListItem Value="27" Text="27"></asp:ListItem>
                <asp:ListItem Value="28" Text="28"></asp:ListItem>
                <asp:ListItem Value="29" Text="29"></asp:ListItem>
                <asp:ListItem Value="30" Text="30"></asp:ListItem>
                <asp:ListItem Value="31" Text="31"></asp:ListItem>
            </asp:DropDownList>
        </div>
        <span class="formAsideText frBlack">of each month</span>
    </div>
</div>
<!--Payment Amount -- read only -->
<div class="formRow paymentAmountMargin">
    <div class="formFullWidth">
        <span class="formLabel formLabelTextAdjust fr1Color">Payment Amount: Full Balance Due</span>
        <p><asp:Label ID="PaymentAmountLabel" runat="server" /></p>
    </div>
</div>
<div class="formRow">
    <div class="formFullWidth hideSearch">
        <span class="formLabel formLabelTextAdjust fr1Color">AutoPay Account</span>
        <asp:DropDownList ID="AutoPayPaymentMethodComboBox" runat="server" CssClass="chzn-select" AutoPostBack="True">
            <asp:ListItem Value="1" Text="Credit Card" Selected="True"></asp:ListItem>
            <asp:ListItem Value="2" Text="E-Check"></asp:ListItem>
        </asp:DropDownList>
    </div>
</div>