﻿<%@ Page Title="Log in" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="LogOut.aspx.cs" Inherits="Domus.Account.LogOut" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
   
</asp:Content>
