﻿<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>[EVENT NAME]</h3>
		</div>
		<div class="modal-body">
			<p>[EVENT TYPE] at [EVENT PROPERTY]<br />
				Where: <strong>[EVENT LOCATION]</strong><br />
				When: <strong>[START DATE] - [END DATE]</strong>
			</p>
			<p>[EVENT DESCRIPTION]</p>
		</div>
	</div>
</div>