﻿<div class="row-fluid">
            <div class="span4">
              <h2>{{company.CompanyName}}</h2>
              <p>Contact: {{company.ContactFirstName}} {{company.ContactLastName}}<br/>
                  Phone: {{company.Phone}}
              </p>
              <p><a class="btn" href="{{urlPrefix}}/rpo/company/{{company.CompanyId}}/properties">View Properties &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
