﻿<form name="calendarEvent" id="calendarEvent" ng-controller="EventCreateController" novalidate>
    <div class="formWrapper">
        <div class="formHalf">
            <label for="first">Title</label>
            <input name="title" type="text" ng-model="title" id="first" class="form-control" required>
            <span class="errorText" ng-show="calendarEvent.title.$error.required">Please enter a title</span>
        </div>
        <div class="formHalf">
            <label for="last">Location</label>
            <!-- Patrick Whittingham -8/19/15 - 3b josewhishlist   -->
            <input name="location" type="text" ng-model="location" id="last" class="form-control" >
            <span class="errorText" >Please enter a location</span>
        </div>
        <!--<div class="formHalf">
            <label for="select">Event Type</label>
            <select name="selectedEventType" class="form-control" ng-model="selectedEventType" ng-options="eventType.Name for eventType in eventTypes" required>
            </select>
            <span class="errorText" ng-show="calendarEvent.selectedEventType.$error.required">Please select an event type</span>
        </div>-->
        <div class="formHalf">
            <label for="select">Property</label>
            <!-- Patrick Whittingham - 7/30/15 - josewhishlist 3a -->
            <select name="selectedProperty" class="form-control" size="4" multiple ng-model="selectedProperty" ng-options="property.PropertyName for property in properties" required></select>
            <span class="errorText" ng-show="calendarEvent.selectedProperty.$error.required">Please select a property</span>
        </div>
        <div class="clear"></div>
        <div class="formTwoThirds">
            <div class="well well-sm date-select" style="width: 100%; margin-bottom: 0;">
                <label style="float: none; margin: 0 0 5px; width: auto;">Date Range</label>
                <div>
                    <label>Start:</label>
                    <input type="text" class="text form-control" ng-model="startDate.date" bs-datepicker required />
                    <a class="btn-calendar" href="#" data-toggle="datepicker"><span class="ctaIcon" data-icon="&#x65" aria-hidden="true"></span></a>
                </div>
                <div>
					<label class="range-to">Time:</label>
					<input type="text"  class="text form-control" ng-model="startTime.time" bs-timepicker>
                  <a class="btn-calendar" href="#" data-toggle="timepicker"><span class="ctaIcon" data-icon="&#x44" aria-hidden="true"></span></a>
                </div>
                <div class="clear"></div>
				<br />
                <div>
                    <label>End:</label>
                    <input id="startTime" type="text" class="text form-control" ng-model="endDate.date" bs-datepicker />
                    <a class="btn-calendar" href="#" data-toggle="datepicker"><span class="ctaIcon" data-icon="&#x65" aria-hidden="true"></span></a>
                </div>
                <div>
					<label class="range-to">Time:</label>
					<input id="endTime" type="text"  class="text form-control" ng-model="endTime.time" bs-timepicker>
					<a class="btn-calendar" href="#" data-toggle="timepicker"><span class="ctaIcon" data-icon="&#x44" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="formThird">
            <ul class="list-unstyled checkbox">
                <li>
                    <input ng-model="active" type="checkbox" name="active" id="active">
                    <label for="this">Active</label>
                </li>
                <!--CMallory - Task 0079 - Added Checkbox to make an event recurring-->
                <li>
                    <input ng-model="recurring" type="checkbox" name="recurring" id="active">
                    <label for="this">Recurring for the same day of the month for the next 5 years. </label>
                </li>
                <!--CMallory - Task 0079 - Added Checkbox to notify residents-->
                <li>
                    <input ng-model="ResidentsNotified" type="checkbox" name="ResidentsNotified" id="active">
                    <label for="this">Let Your Residents Know About This Event</label>
                </li>
            </ul>
        </div>  
        <div class="formWhole" style="padding-bottom: 0;">
            <label for="textarea">Details</label>
            <textarea ui-tinymce name="details" ng-model="details" class="form-control" cols="150" rows="4" required></textarea>
            <span class="errorText" ng-show="calendarEvent.details.$error.required">Please provide details for this event</span>
        </div>
        <div class="formWhole">
            <label for="first">Contact</label>
            <input name="contact" type="text" ng-model="contact" id="Text1" class="form-control">
        </div>

        <div class="alert alert-success" ng-show="success">
            <p><strong>Event successfully created!</strong></p>
        </div>
    </div>
    <div class="button-footer">
        <div class="button-action">
            <a href="{{urlPrefix}}/rpo/events" class="btn btn-default footer-button">Back</a>
        </div>
        <div class="main-button-action">
            <button id="submitRefund" ng-disabled="calendarEvent.$invalid || submitDisabled" type="submit" class="btn btn-default footer-button" ng-click="submit()">
                {{submitButtonText}}
            </button>
        </div>
    </div>
</form>

