﻿<form name="calendarEvent" id="calendarEvent" ng-controller="EventEditController" novalidate>
    <div class="formWrapper">
        <div class="formHalf">
            <label for="first">Title</label>
            <input name="title" type="text" ng-model="event.Title" id="first" class="form-control" required>
            <span class="errorText" ng-show="calendarEvent.title.$error.required">Please enter a title</span>
        </div>
        <div class="formHalf">
            <label for="last">Location</label>
            <!-- Patrick Whittingham -8/19/15 - 3b josewhishlist  -->
            <!--  required calendarEvent.location.$error.require -->
            <input name="location" type="text" ng-model="event.Location" id="last" class="form-control" >
            <span class="errorText" >Please enter a location</span>
        </div>
        <div class="formHalf">
            <label for="select">Property</label>
            <!-- Patrick Whittingham - 7/29/15 - josewhishlist 3a size="4" multiple ng-multiple="true"  -->
            <select name="selectedProperty" id="select" class="form-control" ng-model="selectedProperty" ng-options="property.PropertyName for property in properties" required></select>
            <span class="errorText" ng-show="calendarEvent.selectedProperty.$error.required">Please select a property</span>
        </div>
        <div class="clear"></div>
        <div class="formTwoThirds">
            <div class="well well-sm date-select" style="width: 100%; margin-bottom: 0;">
                <label style="float: none; margin: 0 0 5px; width: auto;">Date Range</label>
                <div>
                    <label>Start:</label>
                    <input type="text" class="text form-control" ng-model="startDate.date" bs-datepicker required />
                    <a class="btn-calendar" href="#" data-toggle="datepicker"><span class="ctaIcon" data-icon="&#x65" aria-hidden="true"></span></a>
                </div>
                <div class="control-group input-append">
                  <input id="startTime" type="text"  class="text form-control" ng-model="startTime.time" bs-timepicker>
                  <a class="btn-calendar" href="#" data-toggle="timepicker"><span class="ctaIcon" data-icon="&#x44" aria-hidden="true"></span></a>
                </div>
                <div class="clear"></div>
                <div>
                    <label class="range-to">End:</label>
                    <input type="text" class="text form-control" ng-model="endDate.date" bs-datepicker />
                    <a class="btn-calendar" href="#" data-toggle="datepicker"><span class="ctaIcon" data-icon="&#x65" aria-hidden="true"></span></a>
                </div>
                <div class="control-group input-append">
                  <input id="endTime" type="text"  class="text form-control" ng-model="endTime.time" bs-timepicker>
                  <a class="btn-calendar" href="#" data-toggle="timepicker"><span class="ctaIcon" data-icon="&#x44" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="formThird">
            <label style="margin-top: 20px;">Event States</label>
            <ul class="list-unstyled checkbox">
                <li>
                    <input ng-model="event.Active" type="checkbox" name="active" id="active">
                    <label for="this">Active</label>
                </li>
                <li>
                    <input ng-model="event.Deleted" type="checkbox" name="deleted" id="deleted">
                    <label for="that">Delete Event</label>
                </li>
            </ul>
        </div>
        <div class="formWhole" style="padding-bottom: 0;">
            <label for="textarea">Details</label>
            <textarea ui-tinymce="tinymceOptions" name="details" ng-model="event.Details" class="form-control" cols="150" rows="4" required></textarea>
            <span class="errorText" ng-show="calendarEvent.details.$error.required">Please provide details for this event</span>
        </div>
        <div class="formWhole">
            <label for="first">Contact</label>
            <input name="contact" type="text" ng-model="event.Contact" id="Text1" class="form-control">
        </div>
        <div class="alert alert-success" ng-show="success">
            <p><strong>Event successfully saved!</strong></p>
        </div>
    </div>
    <div class="button-footer">
        <div class="button-action">
            <a href="{{urlPrefix}}/rpo/events" class="btn">Back</a>
        </div>
        <div class="main-button-action">
            <button id="Button1" ng-disabled="calendarEvent.$invalid || submitDisabled" type="submit" class="btn btn-primary" ng-click="submit()">
                {{submitButtonText}}
            </button>
        </div>
    </div>


</form>
