﻿<div class="col first">
        <div class="expandable-table-actions">
            <a href="" ng-click="filterEvents('future')" class="btn {{mode == 'future' ? 'btn-primary' : 'btn-blank'}}">Future Events</a>
            <a href="" ng-click="filterEvents('archived')" class="btn {{mode == 'archived' ? 'btn-primary' : 'btn-blank'}}">Archived Events</a>
        </div> 
    </div>
<a style="margin:0 0 10px;" class="btn btn-primary pull-right" href="{{urlPrefix}}/rpo/event/create"><span aria-hidden="true" data-icon="&#x2c" class="ctaIcon"></span>New Event</a>
<a href="{{urlPrefix}}/rpo/events/calendar" class="btn btn-default"><span class="ctaIcon" data-icon="&#x64" aria-hidden="true"></span>Calendar View</a>
<div class="clear"></div>
<div class="listing-group">
    <div class="listing-row" ng-repeat="event in events | orderBy:'start':order |  paginate">
        <div class="inner">
            <div class="listing-content">
                <div class="summary-col">
                    <!--CMallory - Layout Change - Added color style below--> 
                    <h3 ng-bind="event.property" style="color:#77aa2d"></h3>
                    <a href="" ng-click="showEvent(event.id)"><h2 ng-bind="event.title"></h2></a>
                    <p ng-cloak>
                        Start Date: <strong>{{event.start | date:'MMM d, y h:mm a'}}</strong><br/>
                        End Date: <strong>{{event.end | date:'MMM d, y h:mm a'}}</strong><br/>
                        Location: <strong>{{event.location}}</strong>  &nbsp;&nbsp;&nbsp; Contact: <strong>{{event.contact}}</strong></p>
                </div>
                <div class="details-col">
                    <h3></h3>
                    <h2></h2>
                    <p>Status: <strong>{{event.active ? 'Active' : 'Inactive'}}</strong></p>
                </div>
            </div>
            <div class="listing-actions">
               <a ng-show="event.canEdit" href="{{urlPrefix}}/rpo/event/edit/{{event.id}}" ><span data-icon="&#x24;" aria-hidden="true"></span>Edit Event</a>
               <a href="" ng-show="event.canEdit" ng-click="deleteEvent(event)" ><span data-icon="&#x2b;" aria-hidden="true"></span>Delete Event</a>
            </div>
            <!--/listing-actions-->
            <a class="btn" href="" ng-click="showEvent(event.id)"><span data-icon="&#x60" aria-hidden="true"></span> Event Details</a>
        </div>
        <!--/inner-->
    </div>
    <!--/listing-row-->
</div>
<!--/listing-group-->
<paginator></paginator>