﻿<a style="margin:0 0 10px;" class="btn btn-primary pull-right" href="{{urlPrefix}}/rpo/event/create"><span aria-hidden="true" data-icon="&#x2c" class="ctaIcon"></span>New Event</a>
<a href="{{urlPrefix}}/rpo/events" class="btn btn-default"><span class="ctaIcon" data-icon="&#x64" aria-hidden="true"></span>List View</a>

<div class="clear"></div>
<div ui-calendar="uiConfig.calendar" ng-model="calendarEvents" calendar="myCalendar">