﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Report Export Table</title>
    <!-- <link rel="stylesheet" type="text/css" href="Static/css/main.css"/> -->
    <!-- <link href="<%= ResolveClientUrl("~/Static/css/main.css")%>" rel="stylesheet" /> -->
    <style type="text/css">
       h2 {
	        color: #7F4824;
            font-size:20px;
            font-weight:bold;
            }
       h5 {
	        
            font-size:14px;
            font-weight:bold;
            }
        
         .export-table {
            width: 100%;
        }

        td {
            border-top: 4px solid #FFF;
            padding: 8px;
        }

        th {
            padding: 8px;
        }

        p {
            margin: 0;
        }

        thead {
            background-color: #77ac42;
            padding-top: 8px;
            padding-bottom: 8px;
            color: #fff;
            font-weight: normal;
            text-align:left;
        }

        tbody {
            background-color: #F8F7FA;
        }

        .table-total {
            background-color: #4E535A;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: right;
        }

        .centered-last td:last-child, .centered-last th:last-child {
            text-align: center;
        }

        .print-wrapper {
            width: 100&#37;
        }

        .print-content {
            margin: 0 5%;
            position: relative;
        } 

        body {
            font-size: 12pt;
            color: #000;
            font-family:sans-serif;
        }

       

        .print-logo {
            display: block;
            float: right;
            width: 10%;
            padding-bottom: 10px;
            
        }
        .print-logo img{
                max-width: 100%;
             }
    </style>
</head>
<body>

    <div class="print-wrapper">
        <div class="print-content">
            <div class="print-logo">
                <img src="/Static/img/logo.png" /></div>
            <h2>This is the name of the report</h2>
            <h5>August 23, 2013 to September 23, 2013</h5>
            <table cellpadding="0" cellspacing="0" class="export-table" width="100%">
                <thead>
                    <tr>
                        <th width="210">Heading</th>
                        <th width="90">Heading</th>
                        <th width="70">Another Heading</th>
                    </tr>
                </thead>
                <tbody width="100%">
                    <tr>
                        <td>
                            <p>This is some data</p>
                        </td>
                        <td>
                            <p>Value</p>
                        </td>
                        <td>
                            <p>Another Value</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>This is some data</p>
                        </td>
                        <td>
                            <p>Value</p>
                        </td>
                        <td>
                            <p>Another Value</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>This is some data</p>
                        </td>
                        <td>
                            <p>Value</p>
                        </td>
                        <td>
                            <p>Another Value</p>
                        </td>
                    </tr>
                    <tr class="table-total">
                        <td colspan="3">
                            <p>This is some Total Value</p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
