﻿
					<ul class="list-unstyled">
						<!--<li class="nav-search"><input type="text" class="text" placeholder="Search..." /><button><span data-icon="&#x52" aria-hidden="true"></span>Go</button></li>-->
                        <li class="nav-add-new" ng-if="isRPOAdmin == 'true' || isRPOCSR == 'false'"> <a href="#"><span data-icon="&#x3c" aria-hidden="true"></span>Add New</a>
                            <ul class="list-unstyled">
                                <li ng-if="displayAddCompanyMenu && (isRPOAdmin == 'true' || isRPOCSR == 'false')"><a href="/Companies/NewCompany.aspx">New Management Company</a></li>
                                <!--<li ng-if="canAddPropertyAndStaff"><a href="/myproperties/newproperty.aspx">New Property</a></li>-->
                                <li ng-if="isRPOAdmin == 'true'"><a href="/myproperties/newproperty.aspx">New Property</a></li>
                                <li ng-if="isCorporateAdmin == 'true'"><a href="/staff.aspx">New Property Manager</a></li>
                                <li ng-hide="isRPOAdmin == 'true'"><a href="/Users/NewUser.aspx?type=2">New Resident</a></li>
                                <li ng-if="isRPOAdmin == 'true'"><a href="/Users/NewUser.aspx">New User</a></li>
                                <li ng-if="isRPOAdmin == 'true' || isRPOCSR == 'false'"><a href="{{eventUrlPrefix}}/rpo/event/create">New Event</a></li>
                            </ul>
                        </li>
                        <!-- patrick whittingham - 3/26/2015 - task 000174 Add scroll.   -->
                        <li ng-if="isRPOAdmin == 'true'" >
                            <a ng-href="{{urlPrefix}}/rpo"><span data-icon="&#x3d" aria-hidden="true"></span><span class="management-companies">Companies</span></a>
                            <ul id="" class="list-unstyled " style="overflow-y: auto !important; overflow-x: hidden; height: 800px; ">
                                <li class="nav-info"><span>Companies</span><a ng-href="{{urlPrefix}}/rpo">View All</a></li>
                                <li ng-repeat="company in companies">
                                    <a ng-href="/Companies/CompanyDetails.aspx?companyId={{company.CompanyId}}" target="_self" ng-bind="company.CompanyName"></a>
                                    <ul class="list-unstyled">
                                        <li class="nav-info"><span>Properties</span><a ng-href="{{urlPrefix}}/rpo/properties?companyid={{company.CompanyId}}">View All</a></li>
                                        <li ng-repeat="property in $parent.properties | exact:{CompanyId: company.CompanyId}"><a ng-href="/MyProperties/PropertyDetails.aspx?propertyId={{property.PropertyId}}" target="_self" ng-bind="property.PropertyName"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li ng-if="isRPOAdmin == 'true' || isRPOCSR == 'false'">
                            <a ng-href="{{urlPrefix}}/rpo/properties"><span data-icon="&#x3e" aria-hidden="true"></span>Properties</a>
                            <!-- patrick whittingham - 3/26/2015 - task 000174 Add scroll.    -->
                            <ul class="list-unstyled " style="overflow-y: auto !important; overflow-x: hidden; height: 800px;">
                                <li class="nav-info"><span>Property</span><a ng-href="{{urlPrefix}}/rpo/properties">View All</a></li>
                                <li ng-repeat="property in properties">
                                    <a ng-href="/MyProperties/PropertyDetails.aspx?propertyId={{property.PropertyId}}" target="_self" ng-bind="property.PropertyName"></a>
                                    <ul class="list-unstyled">
                                        <li class="nav-info"><span>Property Snapshot</span></li>
                                        <li ng-cloak>
                                            <p><span>PMC: </span>{{property.CompanyName}}</p>
                                            <p><span>Integration: </span>{{property.PmsTypeName}}</p>
                                            <!--<p><span>Type of Billing: </span>ACH</p>-->
                                            <p><span>Main Contact: </span>{{property.MainContactName}}</p>
                                            <p><span>Phone: </span>{{property.MainPhoneNumber}}</p>
                                            <p><span>Address: </span>{{property.StreetAddress}} {{property.StreetAddress2}}</p>
                                            <p><span>City: </span>{{property.City}}</p>
                                            <p><span>State: </span>{{property.State}}</p>
                                            <p><span>Zip: </span>{{property.PostalCode}}</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
						<li><a ng-href="{{urlPrefix}}/rpo/residents"><span data-icon="&#x3f" aria-hidden="true"></span>Residents</a>
                            <!-- patrick whittingham - 3/26/2015 - task 000174 Add scroll.    -->
                            <ul class="list-unstyled " style="overflow-y: auto !important; overflow-x: hidden; height: 800px;">
                                <li class="nav-info"><span>Residents by Property</span><a ng-href="{{urlPrefix}}/rpo/residents">View All</a></li>
                                <li ng-repeat="property in properties"><a ng-href="{{urlPrefix}}/rpo/property/{{property.PropertyId}}/residents" ng-bind="property.PropertyName"></a></li>
                            </ul>
						</li>
                        <li ng-if="canAddPropertyAndStaff"><a ng-href="{{urlPrefix}}/rpo/staff" target="_self"><span data-icon="&#x3f" aria-hidden="true"></span>Property Managers</a>
                        <li ng-if="isRPOAdmin=='true'"><a ng-href="{{urlPrefix}}/rpo/admins" target="_self"><span data-icon="&#x3f" aria-hidden="true"></span>RPO Admins</a>
                        <li ng-if="isRPOAdmin=='true'"><a ng-href="{{urlPrefix}}/rpo/apiusers" target="_self"><span data-icon="&#x3f" aria-hidden="true"></span>API Users</a>
</ul>

