﻿<div class="pagination-container" ng-show="pager.pageCount() > 1">
    <ul class="pagination">
        <li ng-click="pager.previousPage()" ng-class="pager.isFirstPage() && 'disabled'">
            <a>
                <span class="prev" ng-class="pager.isFirstPage() && 'active'">Prev</span>
            </a>
        </li>
        <li class="hide" ng-click="pager.firstPage()" ng-class="pager.isFirstPage() && 'disabled'">
            <a>
                <span class="first-page" ng-class="pager.isFirstPage() && 'active'">First</span>
            </a>
        </li>
        <li ng-click="pager.setPage(i)" ng-repeat="i in [] | forLoop:pager.startPage():pager.endPage()" ng-class="pager.page==i && 'active'">
            <a>{{i+1}}</a>
        </li>
        <li class="hide" ng-click="pager.lastPage()" ng-class="pager.isLastPage() && 'disabled'">
            <a>
                <span class="last-page" ng-class="pager.isLastPage() && 'active'">Last</span>
            </a>
        </li>
        <li ng-click="pager.nextPage()" ng-class="pager.isLastPage() && 'disabled'">
            <a>
                <span class="next" ng-class="pager.isLastPage() && 'active'">Next</span>
            </a>
        </li>
    </ul>
</div>