﻿<div class="pagination-container" ng-show="paginator.pageCount() > 1">
    <ul class="pagination">
        <li ng-click="paginator.previousPage()" ng-class="paginator.isFirstPage() && 'disabled'">
            <a>
                <span class="prev" ng-class="paginator.isFirstPage() && 'active'">Prev</span>
            </a>
        </li>
        <li class="hide" ng-click="paginator.firstPage()" ng-class="paginator.isFirstPage() && 'disabled'">
            <a>
                <span class="first-page" ng-class="paginator.isFirstPage() && 'active'">First</span>
            </a>
        </li>
        <li ng-click="paginator.setPage(i)" ng-repeat="i in [] | forLoop:paginator.startPage():paginator.endPage()" ng-class="paginator.page==i && 'active'">
            <a>{{i+1}}</a>
        </li>
        <li class="hide" ng-click="paginator.lastPage()" ng-class="paginator.isLastPage() && 'disabled'">
            <a>
                <span class="last-page" ng-class="paginator.isLastPage() && 'active'">Last</span>
            </a>
        </li>
        <li ng-click="paginator.nextPage()" ng-class="paginator.isLastPage() && 'disabled'">
            <a>
                <span class="next" ng-class="paginator.isLastPage() && 'active'">Next</span>
            </a>
        </li>
    </ul>
</div>