﻿<div class="span4">
<h1>{{property.PropertyName}}</h1>
<p>Number Of Units: {{property.NumberOfUnits}}<br/>
    City: {{property.City}}<br/>
    Date Added: {{ property.DateAdded | date:'medium' }}
</p>
<p><a class="btn" href="{{urlPrefix}}/rpo/property/{{property.PropertyId}}/residents">View Residents &raquo;</a></p>
</div><!--/span-->
