﻿<div class="filterbar">
    <div class="filter pull-left">
        <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
            Sort: <span data-icon="&#x61" aria-hidden="true"></span><span>{{sortLabel}}</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-click="predicate = 'PropertyName'; reverse=false">Sort A-Z</a></li>
            <li><a href="#" ng-click="predicate = 'PropertyName'; reverse=true">Sort Z-A</a></li>
        </ul>
    </div>
    <div class="filter pull-right filter-by">
        <label for="filter-by">By Company:</label>
        <select ng-show="isRPOAdmin" class="form-control" id="filter-by-2" ng-model="selectedCompany" ng-change="filterPropertiesByCompany(selectedCompany)" ng-options="company.CompanyName for company in companies">
            <option value="">All Companies</option>
        </select>
    </div>
    <div class="filter pull-right search">
        <label for="search"> Search:</label>
        <input id="search" class="form-control" type="text" ng-model="search.$" />
    </div>
</div>
<!--/filterbar-->
<div ng-show="properties.length == 0" class="alert alert-info">{{emptyText}}</div>
<div  ng-show="properties.length > 0" class="listing-group">
    <div class="listing-row" ng-repeat="property in properties | filter:search  | orderBy:predicate:reverse | paginate">
        <div class="inner">
            <div class="listing-content">
                <div class="summary-col">
                    <h3 ng-bind="property.CompanyName"></h3>
                    <h2 ng-bind="property.PropertyName"></h2>
                    <h2>{{property.PropertyName2}}</h2> <!--CMallory - Task 00521 - Added to Display 2nd Property Name Field-->
                    <p ng-cloak>{{property.StreetAddress}}
                        {{property.StreetAddress2}}<br/>
                    	{{property.City}}, {{property.State}} {{property.PostalCode}}</p>
                </div>
                <div class="details-col">
                    <p ng-cloak>Participating Units: <strong>{{property.NumberOfUnits}}</strong><br/>
                        <!--Type of Billing: <strong>ACH</strong><br/>-->
                        Integration Type: <strong>{{property.PmsTypeName}}</strong><br/>
                        Main Contact: <strong>{{property.MainContactName}}</strong><br/>
                        Phone: <strong>{{property.MainPhoneNumber}}</strong></p>
                </div>
            </div>
            <div class="listing-actions">
               <!-- <a href="/MyProperties/PropertyDetails.aspx?propertyId={{property.PropertyId}}" target="_self"><span data-icon="&#x24" aria-hidden="true"></span>Edit Account</a>-->
                <!--<a href="#"><span data-icon="&#x50" aria-hidden="true" ng-click="toggleActive(property)"></span>Disable Account</a>-->
                <!--<a href="#"><span data-icon="&#x2b" aria-hidden="true" ng-click="deleteProperty(property)"></span>Remove Account</a>-->
                <!--<asp:LinkButton ID="DeleteRenter" runat="server" OnClick="DeleteButtonClick" OnClientClick="return confirm('Are you sure you want to delete this resident account?')"><span data-icon="&#x2b" aria-hidden="true"></span>Remove Account</asp:LinkButton>-->
            </div>
            <!--/listing-actions-->
            <a class="btn" href="/MyProperties/PropertyDetails.aspx?propertyId={{property.PropertyId}}" target="_self"><span data-icon="&#x60" aria-hidden="true"></span> Resident Details</a>
        </div>
        <!--/inner-->
    </div>
    <!--/listing-row-->
</div>
<!--/listing-group-->
<paginator></paginator>