﻿<form name="refund" id="refund" ng-controller="RefundController" novalidate>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Refund Transaction</h3>

        </div>
        
        <div class="modal-body">
            <div class="control-group">
                <div ng-hide="success">
                    <div>
                        <p>The original amount of this transaction was {{paymentToRefund.RentAmount | currency}}. You can refund a maximum of {{paymentToRefund.Balance | currency}}</p>
                        <!--cakel: BUGID000109 - Commented out original <p> and replaced with below -->
                        <p ng-hide="paymentToRefund.PaymentStatus == 'Approved'">If this payment was made within the last 3 business days, you are issuing a refund on a payment that could RETURN. Would you like to proceed?</p>
                        <!--<p ng-hide="paymentToRefund.PaymentStatus == 'Approved'">You are refunding a payment that has not cleared. The original payment could return. Would you like to proceed?</p> -->


                        <label class="control-label">Amount To Refund:</label>
                        <div class="{{refund.amount.$invalid ? 'has-error' : ''}}">
                            <input name="amount" type="text" class="form-control" ng-model="amount" placeholder="Amount" type="number" required ng-min="0" ng-max="{{paymentToRefund.Balance}}" decimal decimal-places />
                            <span class="errorText" ng-show="refund.amount.$error.required">Please enter a refund amount...</span>
                        <span class="errorText" ng-show="refund.amount.$error.decimal">Please enter a valid amount to refund...</span>
                        <span class="errorText" ng-show="refund.amount.$error.ngMin || refund.amount.$error.ngMax">
                            The amount must be greater than $0.00 and not exceed {{paymentToRefund.Balance | currency}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div >
                        
                    </div>
                </div>
                <div class="alert alert-success" ng-show="success">
                    <p><strong>Refund Successful!</strong></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                Cancel
            </button>
            <button id="submitRefund" ng-disabled="refund.$invalid || submitDisabled" type="submit" class="btn btn-primary" ng-click="submit()">
                {{refundButtonText}}
            </button>
        </div>
        
    </div>
</div>
</form>