﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Renter Name</th>
            <th>Last Payment Date</th>
            <th>Past Due Amount</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in report" >
            <td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.RenterName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.LastDatePaid | date:'MM/dd/yyyy'}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.RentDue | currency}}</span></p>
			</td>
		</tr>
	</tbody>
</table>