﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th colspan="2">Property Name</th>
            <th>Applicant Name</th>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Total</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat-start="row in report" ng-class="{'row-open': row.showDetails}">
			<td class="toggle-cell">
				<a href="#" class="table-row-toggle" ng-click="toggleReport(row)">Expand Row</a>
			</td>
            <td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.ApplicantName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.InternalTransactionId}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.TransactionDate | date:'MM/dd/yyyy'}}</span></p>
			</td>
			<td>
				<p class="">{{row.Total | currency}}</p>
			</td>
		</tr>
        <tr ng-repeat-end class="details-row" ng-show="row.showDetails">
			<td colspan="7">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>Payment Type</th>
							<th>Description</th>
                            <th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in row.Details">
							<td>
                                <strong>{{detail.PaymentTypeName}}</strong>
							</td>
							<td>
							    <p class=""><strong>{{detail.FeeName}}</strong></p>
							</td>
							<td>
							    <p class="">{{detail.Amount | currency}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>