﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th colspan="2">Payment Date</th>
            <th>Deposit Date</th>
            <th>Property</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat-start="row in report" ng-class="{'row-open': row.showDetails}">
			<td class="toggle-cell">
				<a href="#" class="table-row-toggle" ng-click="toggleReport(row)">Expand Row</a>
			</td>
            <td>
				<p class=""><span>{{row.DatePaid | date:'MM/dd/yyyy h:mm a'}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.DepositDate | date:'MM/dd/yyyy'}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PaymentMethod}}</span></p>
			</td>
            <td>
				<p class="">{{row.Total | currency}}</p>
			</td>
		</tr>
        <tr ng-repeat-end class="details-row" ng-show="row.showDetails">
			<td colspan="6">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>Account Transaction ID</th>
                            <th>Property Details</th>
                            <th>Resident Details</th>
                            <th>Payer Details</th>
                            <th>Status</th>
                            <th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in row.Details">
							<td>
                                <strong>{{detail.PaymentMethod}}<br />
                                    {{detail.AccountNumber}}<br />
                                    {{detail.InternalTransactionId}}
                                </strong>
							</td>
                            <td>
                                <strong>{{detail.PropertyAddressLine1}}<br />
                                    {{detail.PropertyAddressLine2}}<br />
                                    {{detail.PropertyPhoneNumber}}
                                </strong>
							</td>
                            <td>
                                <strong>{{detail.RenterName}}<br />
                                    {{detail.RenterAddressLine1}}<br />
                                    {{detail.RenterAddressLine2}}<br />
                                    {{detail.RenterPhoneNumber}}
                                </strong>
							</td>
                            <td>
                                <strong>{{detail.PayerName}}<br />
                                    {{detail.PayerAddressLine1}}<br />
                                    {{detail.PayerAddressLine2}}<br />
                                    {{detail.PayerPhoneNumber}}
                                </strong>
							</td>
                            <td>
                                <strong>{{detail.PaymentStatus}}</strong>
							</td>
                            <td>
                                <strong>{{detail.RentAmount | currency}}</strong>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>