﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th colspan="2">Property</th>
            <th>Renter Name</th>
            <th>Payer Name</th>
            <!--cakel: BUGID00081 Updated th to "Draft Date" from "Due Date" -->
            <th>Draft Date</th>
            <th>Method</th>
            <th>Amount</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat-start="row in report | paginate" ng-class="{'row-open': row.showDetails}" >
			<td class="toggle-cell">
				<a href="#" class="table-row-toggle" ng-click="toggleReport(row)">Expand Row</a>
			</td>
			<td>
				<p class="">{{row.PropertyName}}</p>
			</td>
			<td>
				<p class=""><span>{{row.RenterName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PayerName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PaymentDayOfMonth}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PaymentMethod}}</span></p>
			</td>
			<td>
				<p class="">{{row.RentAmount | currency}}</p>
			</td>
		</tr>
        <tr ng-repeat-end class="details-row" ng-show="row.showDetails">
			<td colspan="7">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>Charity Amount</th>
							<th>Other 1</th>
                            <th>Convenience Fee</th>
                            <th>Other 3</th>
                            <th>Other 4</th>
                            <th>Other 5</th>
						</tr>
					</thead>
                    <tbody>
                        <!--cakel: BUGID00081 - Fixed multiple rows, removed: ng-repeat="row in report" from <tr> tag -->
                        <tr>
							<td><strong>{{row.CharityAmount | currency}}</strong></td>
							<td>
							    <p class=""><strong>{{row.OtherAmount1 | currency}}</strong></p>
							</td>
							<td>
							    <p class="">{{row.OtherAmount2 | currency}}</p>
							</td>
							<td>
                                <p class="">{{row.OtherAmount3 | currency}}</p>
							</td>
							<td>
							    <p class="">{{row.OtherAmount4 | currency}}</p>
							</td>
                            <td>
							    <p class="">{{row.OtherAmount5 | currency}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<paginator></paginator>