﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Count</th>
            <th>Volume</th>
            <th>Average</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in report" >
            <td>
				<p class=""><span>{{row.PaymentMethod}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.TransactionCount}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.TransactionVolume | currency}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.TransactionAverage | currency}}</span></p>
			</td>
		</tr>
	</tbody>
</table>