﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th>Date Sent</th>
            <th>Property</th>
            <th>Batch Total</th>
            <th>Batch ID</th>
            <th>Batch Details</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in report" >
            <td>
				<p class=""><span>{{row.ExportDate | date:'MM/dd/yyyy h:mm a'}} EST</span></p>
			</td>
			<td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.Amount | currency}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.BatchId}}</span></p>
			</td>
			<td>
				<p class="">
					<button type="button"  class="btn btn-default" ng-click="setModal(row)" data-toggle="modal" href="#exportSummaryModal">{{row.Status}}</button>
				</p>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" ng-include="'/report-payment-export-summary-modal.html'" id="exportSummaryModal"></div>