﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th>Contact Type</th>
            <th>Date</th>
            <th>Property</th>
            <th>Tenant</th>
            <th>Message</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in report" >
            <td>
				<p class=""><span>{{row.ContactUsTypeName}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.DateCreated  | date:'MM/dd/yyyy h:mm a'}} EST</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PropertyName}}<br />
                                  {{row.PropertyPhoneNumber}}<br />
                                  {{row.PropertyEmailAddress}}<br />
                                  {{row.PropertyContact}}
				            </span></p>
			</td>
            <td>
				<p class=""><span>{{row.TenantFullName}}<br />
                                {{row.TenantEmailAddress}}<br />
                                {{row.PostalCode}}
				            </span></p>
			</td>
			<td>
				<p class="">{{row.Message}}</p>
			</td>
		</tr>
	</tbody>
</table>