﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0"  cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Program</th>
            <th>Unit Count</th>
            <th>Account Number</th>
            <th>Routing Number</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in report" >
            <td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.ProgramDescription}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.NumberOfUnits}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.RentalDepositBankAccountNumber}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.RentalDepositBankRoutingNumber}}</span></p>
			</td>
		</tr>
	</tbody>
</table>