﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in data" >
			<td class="toggle-cell">
				<a href="#" class="table-row-toggle">Expand Row</a>
			</td>
            <td>
				<p class=""><span>{{}}</span></p>
			</td>
			<td>
				<p class=""><span>{{}}</span></p>
			</td>
            <td>
				<p class=""><span>{{}}</span></p>
			</td>
            <td>
				<p class=""><span>{{}}</span></p>
			</td>
			<td>
				<p class="">{{}}</p>
			</td>
		</tr>
	</tbody>
</div>