﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Date</th>
            <th>Successful Records</th>
            <th>Last Updated</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat="row in report" >
            <td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.ImportDatetime | date:'MM/dd/yyyy h:mm a'}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.SuccessfulRecordCount}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.LastUpdate | date:'MM/dd/yyyy h:mm a'}}</span></p>
			</td>
		</tr>
	</tbody>
</table>