﻿<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4>Request XML</h4>
		</div>
		<div class="modal-body">
			<p style="word-wrap: break-word;">{{modal.RequestXml}}</p>
		</div>
		<div class="modal-header">
			<h4>Response XML</h4>
		</div>
		<div class="modal-body">
			<p style="word-wrap: break-word;">{{modal.ResponseXml}}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
				Cancel
			</button>
		</div>
	</div>
</div>