﻿<div ng-show="report.length == 0" class="alert alert-info">{{emptyText}}</div>
<style>
    .warning {color:red;}
</style>
<table ng-show="report.length > 0" cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
    <thead>
        <tr>
            <th colspan="2">Date</th>
            <th>Property</th>
            <th>Prop. ID</th>
            <th>Type</th>
            <th>Count</th>
            <!--<th>ACH</th>
            <th>MC</th>
            <th>Visa</th>
            <th>Amex</th>
            <th>Disc</th>-->
            <th>Total</th>
        </tr>
    </thead>
	<tbody>
		<tr ng-repeat-start="row in report" ng-class="{'row-open': row.showDetails}">
			<td class="toggle-cell">
				<a href="#" class="table-row-toggle" ng-click="toggleReport(row)">Expand Row</a>
			</td>
            <td>
				<p class="transaction-amount"><span>{{row.DepositDate | date:'MM/dd/yyyy'}}</span></p>
			</td>
			<td>
				<p class=""><span>{{row.PropertyName}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.PropertyId}}</span></p>
			</td>
            <td>
				<p class=""><span>{{row.TransactionType}}</span></p>
			</td>
			<td>
				<p class="">{{row.Count}}</p>
			</td>
            <!--<td>
				<p class="">{{row.AchGroupTotal | currency}}</p>
			</td>
            <td>
				<p class="">{{row.McGroupTotal | currency}}</p>
			</td>
            <td>
				<p class="">{{row.VisaGroupTotal | currency}}</p>
			</td>
            <td>
				<p class="">{{row.AmexGroupTotal | currency}}</p>
			</td>
            <td>
				<p class="">{{row.DiscoverGroupTotal | currency}}</p>
			</td>-->
            <td>
				<p class="">{{row.GroupGrandTotal | currency}}</p>
			</td>
		</tr>
        <tr ng-repeat-end class="details-row" ng-show="row.showDetails">
			<td colspan="12">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th ng-if="row.Details[0].IntegratedPropertyYesNo == 'Yes'">Batch Id</th>
                            <th>Payment Date</th>
                            <th>Portal</th>
                            <th>Resident</th>
                            <th>Id</th>
                            <th ng-if="row.TransactionType != 'ACH' && row.TransactionType != 'Rent by Cash'">Pay Method</th>
                            <th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in row.Details">
							<td ng-if="detail.IntegratedPropertyYesNo == 'Yes'">
                                <strong>{{detail.BatchId == null ? 'Not Integrated' : detail.BatchId }}</strong>
							</td>
							<td>
							    <p class="">{{detail.PaymentDate | date:'MM/dd/yyyy'}}</p>
							</td>
                            <td>
							    <p class="">{{detail.Portal}}</p>
							</td>
                            <td>
							    <p class=""><a href="/Renters/RenterDetails.aspx?renterId={{detail.RenterId}}" target="_self">{{detail.PayerName}}</a></p>
							</td>
                            <td>
							    <p class="">{{detail.InternalTransactionId}}</p>
							</td>
                            <td ng-if="row.TransactionType != 'ACH' && row.TransactionType != 'Rent by Cash'">
							    <p ng-if="detail.CreditCardType != 'Unknown'" class="">{{detail.CreditCardType}}</p>
							</td>
                            <td>
							    <p ng-class="{warning: detail.IsRefund || detail.IsReturn}">{{detail.PaymentAmount | currency}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>