﻿					<!--<div class="details-panel">
						<div class="inner">
							<a href="/rpo/#!property/{{renter.RenterPropertyId}}/residents" class="back-to-listings"><span data-icon="&#x5f" aria-hidden="true"></span>Back to Listings</a>
							<div class="details-panel-content">
								<div class="col-third">
								    <p>Renter: {{renter.FirstName}} {{renter.LastName}}</p>
                                    <p>Property: <span class="value">{{renter.PropertyName}}</span></p>
									<p>Unit: <span class="value">{{renter.Unit}}</span></p>
									<p>Rent: <span class="value">$12,000</span></p>
								</div>
								
								<div class="col-third">
									<p>Public Resident ID: <span class="value">{{renter.PublicRenterId}}</span></p>
									<p>PMS ID: <span class="value">{{renter.PmsPropertyId}}</span></p>
									<p>IVR Pin: <span class="value">{{renter.AccountCodePin}}</span></p>
								</div>
								
								<div class="col-third emphasized balance-col">
									<p>Balance Due: <span class="balance-text">$844.73</span></p>
									<p><span class="value">as of September 9, 2013</span></p>
								</div>
								
							</div>
							
							<div class="details-panel-actions">
								<a href="#"><span data-icon="&#x24" aria-hidden="true"></span>Edit Account</a>
								<a href="#"><span data-icon="&#x50" aria-hidden="true"></span>Disable Account</a>
								<a href="#"><span data-icon="&#x2b" aria-hidden="true"></span>Remove Account</a>
							</div>
							
						</div>
						
					</div>-->
					<!--end details-panel-->
					<!--<ul class="nav nav-tabs">
						<li><a href="#">Resident Details</a></li>
						<li><a href="#">Payment Info</a></li>
						<li><a href="#">Lease Info</a></li>
						<li class="active"><a href="#">History</a></li>
						<li><a href="#">Notes</a></li>
					</ul>-->
					<!--end nav-tabs-->

					<div class="details-tab-content">
						<div class="expandable-table-actions">
							<a href="#" class="btn btn-{{showAllTransactions ? 'primary' : 'blank'}}" ng-click="showTransactions()">Expand All</a>
							<a href="#" class="btn btn-{{!showAllTransactions ? 'primary' : 'blank'}}" ng-click="hideTransactions()">Collapse All</a>
						</div>
						<!--end expandable-table-actions-->
						<h2>Resident Transaction History</h2>
						<div class="clear"></div>
						<div class="table-holder">
							<table cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Most Recent Transaction Date</th>
                                        <th>Amount</th>
                                        <th colspan="2">Status</th>
                                    </tr>
                                </thead>
							    <tbody>
                                    <span></span>
                                    <tr ng-repeat-start="payment in renter.PaymentHistory | paginate " ng-class="{'row-open': payment.showTransactions}">
                                        <td class="toggle-cell">
                                            <a href="#" class="table-row-toggle" ng-click="togglePaymentTransactions(payment)">Expand Row</a>
                                        </td>
                                        <td>
                                            <p class="transaction-date">{{payment.TransactionDateTime | date:'medium'}}</p>
                                        </td>
                                        <td>
                                            <p class="transaction-amount"><span>{{payment.RentAmount | currency}}</span> {{payment.PaymentTypeId == '1' ? " (Credit Card)" :  payment.PaymentTypeId == '2' ?  " (eCheck)" :   payment.PaymentTypeId == '3' ? " (Cash)" : ""}}</p>
                                            <p>+ {{payment.OtherAmount2 | currency}} (Convenience Fee)</p>
                                        </td>
                                        <td>
                                            <p class="transaction-status approved">{{payment.PaymentStatus}}</p>
                                        </td>
                                        <!--dwillis Task 00232 Created div to help with button selection on renterdetails page.-->
                                        
                                            <td class="button-cell">
                                                <div style="padding:0px; margin:0px;">
                                                    <button style="width:135px;" ng-style="setVoidButtonVisibility(payment.TransactionDateTime, payment.PaymentStatus,payment.PaymentTypeId)" id="btnVoidTransaction" type="button" class="btn btn-default"
                                                            ng-click="voidTransaction(payment)" data-toggle="modal" href="#voidTransactionModal">
                                                        Void Transaction
                                                    </button>
                                                </div>
                                                <div style="padding:0px; margin:0px;">

                                                    <button id="btnRefundTransaction" style="width:135px;" ng-style="setRefundButtonVisibility(payment.TransactionDateTime, payment.PaymentStatus,payment.PaymentTypeId,transaction.InternalTransactionId)" type="button"
                                                            class="btn btn-default" ng-click="refundTransaction(payment)" data-toggle="modal" href="#refundTransactionModal">
                                                        Issue Refund
                                                    </button>
                                                </div>
                                            </td>
                                        <!--<td class="button-cell" ng-if="payment.PaymentStatus != 'Pending' && !(payment.PaymentTypeId != 3 && (payment.PaymentStatus == 'Processed' || payment.PaymentStatus == 'Partially Refunded' || payment.PaymentStatus == 'Approved' || payment.PaymentStatus == 'Cleared' || payment.PaymentStatus == 'Processing' || payment.PaymentStatus == 'Working')) "></td>-->
                                    </tr>
							        <tr ng-repeat-end class="details-row" ng-show="payment.showTransactions">
							            <td colspan="5">
							                <table cellpadding="0" cellspacing="0">
							                    <thead>
							                        <tr>
							                            <th>Date</th>
							                            <th>Internal ID</th>
							                            <th>Amount</th>
							                            <th class="description-cell">Description</th>
							                            <th>AutoPay</th>
							                            <th>Status</th>
							                        </tr>
							                    </thead>
							                    <tbody>
							                        <tr ng-repeat="transaction in payment.PaymentTransactions">
							                            <td>
							                                <p class="transaction-date">{{transaction.TransactionDate | date:'medium'}}</p>
							                            </td>
							                            <td><strong>{{transaction.InternalTransactionId}}</strong></td>
							                            <td>
							                                <p class="transaction-amount"><strong>{{transaction.PaymentAmount | currency}}</strong></p>
							                            </td>
							                            <td>
							                                <p class="transaction-description">{{transaction.ResponseMessage}}</p>
							                            </td>
							                            <td></td>
							                            <td>
							                                <p class="transaction-status">{{transaction.TransactionStatus}}</p>
							                            </td>
							                        </tr>
							                    </tbody>
							                </table>
							            </td>
							        </tr>
							    </tbody>
                            </table>
                            <!--end styled-table-->
						</div>
					    <!--end table-holder-->
                        <paginator></paginator>
						<!--<div class="pagination-container">
							<ul class="pagination">
								<li><a href="#">Prev</a></li>
								<li><a href="#">1</a></li>
								<li class="active"><span>2 <span class="sr-only">(current)</span></span></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">Next</a></li>
							</ul>
							<!--end pagination-->
						<!--</div>-->
						<!--end pagination-container-->
					</div>
					<!--end details-tab-content-->

<div class="modal fade" ng-include="'/void-transaction.html'" id="voidTransactionModal"></div>
<div class="modal fade" ng-include="'/refund-transaction.html'" id="refundTransactionModal"></div>
