﻿<div class="filterbar">
    <div class="filter pull-left">
        <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
            Sort: <span data-icon="&#x61" aria-hidden="true"></span><span>{{sortLabel}}</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-click="predicate = 'LastName'; reverse=false">Sort By Last Name (Ascending)</a></li>
            <li><a href="#" ng-click="predicate = 'LastName'; reverse=true">Sort By Last Name (Descending)</a></li>
            <li><a href="#" ng-click="predicate = 'FirstName'; reverse=false">Sort By First Name (Ascending)</a></li>
            <li><a href="#" ng-click="predicate = 'FirstName'; reverse=true">Sort By First Name (Descending)</a></li>
        </ul>
    </div>
    <div class="filter pull-right filter-by">
        <label for="filter-by">Filter by:</label>
        <select ng-model="filterActive" class="form-control">
            <option value="">All</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>
    <div class="filter pull-right search">
        <label for="search"> Search:</label>
        <input id="search" class="form-control" type="text" ng-model="search" />
    </div>
</div>
<!--/filterbar-->
<div ng-show="renters.length == 0" class="alert alert-info">{{emptyText}}</div>
<div class="listing-group" ng-show="renters.length > 0">
    <div class="listing-row{{renter.IsActive ? '' : ' inactive'}}" ng-repeat="renter in renters">
        <div class="inner">
            
            <div class="listing-content">
                <div class="summary-col">
                    <!--cakel: BUGID00069 - Added target=self to link-->
                    <!-- CMallory - Layout Change - Added CSS Color to Property Name-->
                    <a href="/MyProperties/PropertyDetails.aspx?propertyId={{renter.PropertyId}}" target="_self" ng-if="isRPOCSR=='false'">
                            <h3 ng-bind="renter.PropertyName" style="color:#77aa2d"></h3>
                        </a>
                    <h3 ng-bind="renter.PropertyName" style="color:#77aa2d" ng-if="isRPOCSR=='true'"></h3>
                    <h2 ng-bind-template="{{renter.FirstName}} {{renter.LastName}}"></h2>
                    <div ng-switch on="renter.IsActive">
                        <div ng-switch-when="false"><i><code>(Deactivated)</code></i></div>
                    </div>
                    <p ng-cloak>Email Address: <strong>{{renter.PrimaryEmailAddress}}</strong><br/>
                        Unit: <strong>{{renter.Unit}}</strong> &nbsp;&nbsp;&nbsp; Rent: <strong>{{renter.RentAmount | currency}}</strong></p>
                </div>
                <div class="details-col">
                    <p>RPO ID: <strong>{{renter.PublicRenterId}}</strong><br/>
                        PMS ID: <strong>{{renter.PmsId}}</strong><br/>
                        IVR Pin: <strong>{{renter.AccountCodePin}}</strong><br/>
                        Flags: <strong>None</strong></p>
                </div>
            </div>
            <div class="listing-actions">
                <!-- <a href="/Renters/RenterDetails.aspx?renterId={{renter.RenterId}}" target="_self"><span data-icon="&#x6a" aria-hidden="true"></span>Edit Account</a> -->
                <a href=""><span data-icon="&#x50" aria-hidden="true" ng-click="toggleActive(renter)" ng-if="isRPOCSR=='false'"></span>{{renter.IsActive ? "De-activate" : "Activate" }} Account</a>
                <a href="#"><!--<span data-icon="&#x2b" aria-hidden="true"></span>-->Remove Account</a>
                <!--<asp:LinkButton ID="DeleteRenter" runat="server" OnClick="DeleteButtonClick" OnClientClick="return confirm('Are you sure you want to delete this resident account?')"><span data-icon="&#x2b" aria-hidden="true"></span>Remove Account</asp:LinkButton>-->
            </div>
            <!--/listing-actions-->
            <a class="btn" href="/Renters/RenterDetails.aspx?renterId={{renter.RenterId}}" target="_self"><span data-icon="&#x60" aria-hidden="true"></span> Resident Details</a>
        </div>
        <!--/inner-->
    </div>
    <!--/listing-row-->
</div>
<!--/listing-group-->
<paging></paging>

