﻿<div ng-show="users.length == 0" class="alert alert-info">{{emptyText}}</div>
<div class="listing-group">
    <div class="listing-row{{user.IsActive ? '' : ' inactive'}}"  ng-repeat="user in users">
        <div class="inner">
            <div class="listing-content">
                <div class="summary-col">
                    <h2 ng-bind-template="{{user.Username}}"></h2>
                    <div ng-switch on="user.IsActive">
                        <div ng-switch-when="false"><i><code>(Deactivated)</code></i></div>
                    </div>
                    <p ng-cloak>Partnership Company: <strong>{{user.PartnerCompanyName}}</strong></p>
                </div>
            </div>
            <div class="listing-actions">
               <!-- <a href="/Renters/RenterDetails.aspx?renterId={{renter.RenterId}}" target="_self"><span data-icon="&#x6a" aria-hidden="true"></span>Edit Account</a> -->
                <a href=""><span data-icon="&#x50" aria-hidden="true" ng-click="toggleActive(user)"></span>Disable Account</a>
                <a href=""><span data-icon="&#x2b" aria-hidden="true" ng-click="deleteApiUser(user)"></span>Delete Account</a>
                <!--<asp:LinkButton ID="DeleteRenter" runat="server" OnClick="DeleteButtonClick" OnClientClick="return confirm('Are you sure you want to delete this resident account?')"><span data-icon="&#x2b" aria-hidden="true"></span>Remove Account</asp:LinkButton>-->
            </div>
            <!--/listing-actions-->
            <a class="btn" href="/users/Default.aspx?ApiUserId={{user.ApiUserId}}" target="_self"><span data-icon="&#x60" aria-hidden="true"></span> Property Manager Details</a>
        </div>
        <!--/inner-->
    </div>
    <!--/listing-row-->
</div>
<!--/listing-group-->
<paging></paging>
