﻿<div class="filterbar">
    <div class="filter pull-left">
        <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
            Sort: <span data-icon="&#x61" aria-hidden="true"></span><span>{{sortLabel}}</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" ng-click="predicate = 'LastName'; reverse=false">Sort By Last Name (Ascending)</a></li>
            <li><a href="#" ng-click="predicate = 'LastName'; reverse=true">Sort By Last Name (Descending)</a></li>
            <li><a href="#" ng-click="predicate = 'FirstName'; reverse=false">Sort By First Name (Ascending)</a></li>
            <li><a href="#" ng-click="predicate = 'FirstName'; reverse=true">Sort By First Name (Descending)</a></li>
        </ul>
    </div>
    <div class="filter pull-right search">
        <label for="search"> Search:</label>
        <input id="search" class="form-control" type="text" ng-model="search" />
    </div>
</div>
<!--/filterbar-->
<div ng-show="users.length == 0" class="alert alert-info">{{emptyText}}</div>
<div class="listing-group">
    <div class="listing-row" ng-repeat="user in users">
        <div class="inner">
            <!--
            <div ng-switch on="renter.IsActive">
                <div ng-switch-when="true">Account is Active </div>
                <div ng-switch-when="false">Account has been de-activated.</div>
            </div>
            -->
            <div class="listing-content">
                <div class="summary-col">
                    <h2 ng-bind-template="{{user.FirstName}} {{user.LastName}}"></h2>
                    <p ng-cloak>Email: <strong>{{user.PrimaryEmailAddress}}</strong></p>
                </div>
            </div>
            <div class="listing-actions">
               <!-- <a href="/Renters/RenterDetails.aspx?renterId={{renter.RenterId}}" target="_self"><span data-icon="&#x6a" aria-hidden="true"></span>Edit Account</a> -->
                <a href="#"><!--<span data-icon="&#x50" aria-hidden="true" ng-click="toggleActive()"></span>-->Disable Account</a>
                <a href="" ng-click="deleteAdmin(user)"><span data-icon="&#x2b" aria-hidden="true"></span>Delete Account</a>
                <!--<asp:LinkButton ID="DeleteRenter" runat="server" OnClick="DeleteButtonClick" OnClientClick="return confirm('Are you sure you want to delete this resident account?')"><span data-icon="&#x2b" aria-hidden="true"></span>Remove Account</asp:LinkButton>-->
            </div>
            <!--/listing-actions-->
            <a class="btn" href="/users/UserDetails.aspx?efxAdministratorId={{user.EfxAdministratorId}}" target="_self"><span data-icon="&#x60" aria-hidden="true"></span> RPO Administrator Details</a>
        </div>
        <!--/inner-->
    </div>
    <!--/listing-row-->
</div>
<!--/listing-group-->
<paging></paging>
