﻿<div ng-controller="FilterController" class="well advanced-search{{searchType == 'Payments' ? ' two-lines' : ''}}">
    <div class="col first">
        <div class="expandable-table-actions">
            <a href="{{urlPrefix}}/rpo/search/residents" target="_self" ng-click="searchType='Residents'" class="btn {{searchType == 'Residents' ? 'btn-primary' : 'btn-blank'}}">Residents</a>
            <a href="{{urlPrefix}}/rpo/search/payments" target="_self" ng-click="searchType='Payments'" class="btn {{searchType == 'Payments' ? 'btn-primary' : 'btn-blank'}}">Payments</a>
        </div>
    </div>
    <div class="col filter-select">
        <select class="form-control" id="filter-by-2" ng-model="searchFilter" ng-options="option.text for option in filterOptions">
            <option value="">All</option>
        </select>
    </div>
    <div class="col date-select" ng-show="searchType == 'Payments'">
        <div>
            <label>Start:</label>
            <input type="text" class="text form-control" ng-model="startDate.date" bs-datepicker />
            <a class="btn-calendar" href="#" data-toggle="datepicker"><span class="ctaIcon" data-icon="&#x65" aria-hidden="true"></span></a>
        </div>
        <div>
            <label class="range-to">End:</label>
            <input type="text" class="text form-control" ng-model="endDate.date" bs-datepicker />
            <a class="btn-calendar" href="#" data-toggle="datepicker"><span class="ctaIcon" data-icon="&#x65" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="col search-col">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Enter Search Terms..." />
    </div>
    <div class="col last">
        <a class="btn btn-primary" ng-click="search()">Search</a>
    </div>
</div>
