﻿<loading></loading>
<div class="listing-group">
    
    <div class="listing-row" ng-repeat="renter in renters | paginate">
        <div class="inner">
            <!--
            <div ng-switch on="renter.IsActive">
                <div ng-switch-when="true">Account is Active </div>
                <div ng-switch-when="false">Account has been de-activated.</div>
            </div>
            -->
               
              <div class="listing-content">
                <div class="summary-col">
                    <h3 ng-bind="PropertyName"></h3>
                    <h2 ng-bind-template="{{renter.FirstName}} {{renter.LastName}}"></h2>
                    <p ng-cloak>Email Address: <strong>{{renter.PrimaryEmailAddress}}</strong><br/>
						Phone: <strong>{{renter.MainPhoneNumber}}</strong>
                        Unit: <strong>{{renter.Unit}}</strong> &nbsp;&nbsp;&nbsp; Rent: <strong>{{renter.RentAmount | currency}}</strong>
                    </p>
					<p>
						Company: <strong>{{renter.CompanyName}}</strong><br />
						Property: <strong>{{renter.PropertyName}}</strong>
					</p>
                </div>
                <div class="details-col">
                    <p>RPO ID: <strong>{{renter.PublicRenterId}}</strong><br/>
                        PMS ID: <strong>{{renter.PmsId}}</strong><br/>
                        IVR Pin: <strong>{{renter.AccountCodePin}}</strong><br/>
                        Flags: <strong>None</strong></p>
                </div>
            </div>
            <div class="listing-actions">
                <!--<a href="/Renters/RenterDetails.aspx?renterId={{renter.RenterId}}" target="_self"><span data-icon="&#x24" aria-hidden="true"></span>Edit Account</a>-->
                <a href="#"><!--<span data-icon="&#x50" aria-hidden="true" ng-click="toggleActive()"></span>-->Disable Account</a>
                <a href="#"><!--<span data-icon="&#x2b" aria-hidden="true"></span>-->Remove Account</a>
                <!--<asp:LinkButton ID="DeleteRenter" runat="server" OnClick="DeleteButtonClick" OnClientClick="return confirm('Are you sure you want to delete this resident account?')"><span data-icon="&#x2b" aria-hidden="true"></span>Remove Account</asp:LinkButton>-->
            </div>
            <!--/listing-actions-->
            <a class="btn" href="/Renters/RenterDetails.aspx?renterId={{renter.RenterId}}" target="_self"><span data-icon="&#x60" aria-hidden="true"></span> Resident Details</a>
        </div>
        <!--/inner-->
    </div>
    <!--/listing-row-->
</div>
<!--/listing-group-->
<paginator></paginator>