﻿<div class="table-holder">
    <loading></loading>
							<table cellpadding="0" cellspacing="0" class="styled-table expandable-table resident-history-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Payment Date</th>
										<th>Transaction ID</th>
										<th>Name</th>
                                        <th>Amount</th>
                                        <th colspan="2">Status</th>
                                    </tr>
                                </thead>
							    <tbody>
							        <tr ng-repeat-start="payment in payments | paginate " ng-class="{'row-open': payment.showDetails}">
							            <td class="toggle-cell">
							                <a href="#" class="table-row-toggle" ng-click="togglePayment(payment)">Expand Row</a>
							            </td>
							            <td>
							                <p class="transaction-date">{{payment.TransactionDateTime | date:'medium'}}</p>
							            </td>
										<td>
											<p>{{payment.TransactionId}}</p>
										</td>
										<td>
											<p>{{payment.PayerLastName}}{{payment.PayerFirstName != null ? ", " + payment.PayerFirstName : ""}}</p>
										</td>
							            <td>
							                <p class="transaction-amount"><span>{{payment.RentAmount | currency}}</span> {{payment.CreditCardHolderName != null ? " (Credit Card)" : " (eCheck)"}}</p>
							            </td>
							            <td>
							                <p class="transaction-status approved">{{payment.PaymentStatus}}</p>
							            </td>
                                        
                                        <!--<td class="button-cell" ng-if="payment.PaymentStatus != 'Processed' && payment.PaymentStatus != 'Processing' && payment.PaymentStatus != 'Pending' && payment.PaymentStatus != 'Partially Refunded' && payment.PaymentStatus != 'Approved' "></td>-->
							        </tr>
							        <tr ng-repeat-end class="details-row" ng-show="payment.showDetails">
							            <td colspan="6">
							                <table cellpadding="0" cellspacing="0">
							                    <thead>
							                        <tr>
														<th>Company</th>
														<th>Property</th>
							                            <!--<th>Property ID</th>
							                            <th>Role</th>-->
							                            <th>Unit</th>
							                        </tr>
							                    </thead>
							                    <tbody>
							                        <tr>
							                            <td>
							                                <p>{{payment.CompanyName}}</p>
							                            </td>
							                            <td>
															<strong>{{payment.PropertyName}}</strong>
							                            </td>
							                            <!--<td>
							                                <p>{{payment.PropertyIdentifier}}</p>
							                            </td>
							                            <td>
							                                <p>{{payment.Role}}</p>
							                            </td>-->
							                            <td>
							                                <p>{{payment.Unit}}</p>
							                            </td>
							                        </tr>
							                    </tbody>
							                </table>
							            </td>
							        </tr>
							    </tbody>
                            </table>
                            <!--end styled-table-->
						</div>
					    <!--end table-holder-->
                        <paginator></paginator>
