﻿<form name="staff" id="staff" ng-controller="StaffController" novalidate>
    <div class="formWrapper">
        <h2>Staff Name</h2>
        <div class="formThird{{staff.FirstName.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="first">First Name</label>
            <input name="FirstName" type="text" ng-model="FirstName" id="first" class="form-control{{staff.FirstName.$invalid ? ' error' : ''}}" required>
            <span class="errorMessage">
                <span class="errorText" ng-show="staff.FirstName.$error.required">First Name is required</span>
            </span>
        </div>
        <div class="formThird">
            <label for="first">Middle Name</label>
            <input name="MiddleName" type="text" ng-model="MiddleName" id="Text1" class="form-control">
        </div>
        <div class="formThird{{staff.LastName.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="last">Last Name</label>
            <input name="LastName" type="text" ng-model="LastName" id="last" class="form-control{{staff.LastName.$invalid ? ' error' : ''}}" required>
            <span class="errorMessage">
                <span class="errorText" ng-show="staff.LastName.$error.required">Last Name is required</span>
            </span>
        </div>
        <div class="clear"></div>
        <h2>Account Info</h2>
        <div class="formHalf{{staff.Email.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="email">Email</label>
            <input ng-readonly="editMode" name="Email" type="email" ng-model="Email" id="email" class="form-control{{staff.Email.$invalid ? ' error' : ''}}" required>
            <span class="errorMessage">
            <span class="errorText" ng-show="staff.Email.$error.required">Email is required</span>
            <span class="error" ng-show="staff.Email.$error.email">Not a valid email address</span>
            </span>
        </div>
        <div class="formHalf">
            <label for="username">Username</label>
            <input name="Username" readonly="readonly" type="text" ng-model="Email" id="username" class="form-control">
        </div>
        <div class="clear"></div>
        <div class="formHalf{{staff.Password.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="password">Password</label>
            <input type="password" name="Password" type="text" ng-model="Password" id="password" class="form-control{{staff.Password.$invalid ? ' error' : ''}}" required/>
            <span class="errorMessage">
                <span class="errorText" ng-show="staff.Password.$error.required">Password is required</span>
            </span>
        </div>
        <div class="formHalf{{staff.ConfirmPassword.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="password">Confirm Password</label>
            <input type="password" name="ConfirmPassword" type="text" ng-model="ConfirmPassword" id="Text3" class="form-control{{staff.ConfirmPassword.$invalid ? ' error' : ''}}" required data-password-verify="Password">
            <span class="errorMessage">
                <span class="errorText" ng-show="staff.ConfirmPassword.$error.required">Confirm Password is required</span><br />
                <span class="errorText" ng-show="staff.ConfirmPassword.$dirty && staff.ConfirmPassword.$error.passwordVerify">Confirm Password must match the Password field</span>
            </span>
        </div>
        <div class="clear"></div>
        <h2>Staff Permissions</h2>
        <div class="formThird{{staff.selectedRole.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="roles">Role</label>
            <select name="selectedRole" class="form-control{{staff.selectedRole.$invalid ? ' error' : ''}}" ng-model="selectedRole" ng-options="role.name for role in roles" required>
            </select>
            <span class="errorMessage">
                <span class="errorText" ng-show="staff.selectedRole.$error.required">You must assign this user to a Role</span>
            </span>
        </div>
        <div class="formThird" ng-show="showCompanies">
            <label for="properties">Company</label>
            <select name="selectedCompany" class="form-control{{staff.selectedCompany.$invalid ? ' error' : ''}}" ng-model="selectedCompany" ng-options="company.CompanyName for company in companies" ng-required='showCompanies'>
            </select>
        </div>
        <div class="formThird" ng-show="showProperties">
            <label for="properties">Properties</label>
            <select id="propertySelection" ng-model="propertySelection" ng-options="p.PropertyName for p in properties" class="form-control multiselect"  data-placeholder="Select Properties" multiple="multiple" multiselect-dropdown  ng-required='showProperties'>
			</select>
        </div>
        <div class="formThird">
            <label class="checkbox"><input type="checkbox" ng-model="IsMainContact" /> Receive Resident Notifications</label>
            <label class="checkbox"><input type="checkbox" ng-model="IsPropertyGeneralManager" /> Property Contact For Residents</label>
        </div>
        <div class="clear"></div>
        <h2>Staff Contact Info</h2>
        <div class="formHalf{{staff.MainPhone.$invalid ? ' errorWrapper has-error' : ''}}">
            <label for="mainPhone">Main (Office) Phone</label>
            <input name="MainPhone" type="text" ng-model="MainPhone" id="mainPhone" class="form-control{{staff.MainPhone.$invalid ? ' error' : ''}}" required>
            <span class="errorMessage">
                <span class="errorText" ng-show="staff.MainPhone.$error.required">Main Phone is required</span>
            </span>
        </div>
        <div class="formHalf">
            <label for="mobilePhone">Secondary (Mobile) Phone</label>
            <input name="MobilePhone" type="text" ng-model="MobilePhone" id="Text2" class="form-control">
        </div>
        
        <div class="clear"></div>
        <h2>Staff Address Info</h2>
        <div class="formHalf">
            <label for="address">Address (Street)</label>
            <input name="StreetAddress" type="text" ng-model="StreetAddress" id="address" class="form-control">
        </div>
        <div class="formHalf">
            <label for="address2">Address (Apt #)</label>
            <input name="StreetAddress2" type="text" ng-model="StreetAddress2" id="address2" class="form-control">
        </div>
        <div class="clear"></div>
        <div class="formThird">
            <label for="city">City</label>
            <input name="City" type="text" ng-model="City" id="city" class="form-control">
        </div>
        <div class="formThird">
            <label for="state">State</label>
            <select name="selectedState" class="form-control" ng-model="selectedState" ng-options="state.StateProvinceName for state in states">
            </select>
        </div>
        <div class="formThird">
            <div class="formHalf">
            <label for="postalCode">Zip</label>
            <input name="PostalCode" type="text" ng-model="PostalCode" id="postalCode" class="form-control">
                </div>
        </div>
        <div class="clear"></div>
        <div class="alert alert-success" ng-show="success">
            <p><strong>{{successMsg}}</strong></p>
        </div>
        <div class="alert alert-danger" ng-show="failure">
            <p><strong>{{failureMsg}}</strong></p>
        </div>
    </div>
    <div class="button-footer">
        <div class="button-action">
            <a href="/Users" class="btn btn-primary btn-footer">Cancel</a>
        </div>
        <div class="main-button-action">
            <button id="Button1" ng-disabled="staff.$invalid || submitDisabled" type="submit" class="btn btn-default btn-footer footer-button" ng-click="submit()">
                {{submitButtonText}}
            </button>
        </div>
    </div>
</form>