﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestSMS.aspx.cs" Inherits="RentPaidOnline.TestSms" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>


    <div style="padding:20px;">
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Default.aspx">Go to Main Site</asp:HyperLink>

    </div>

    <h2>Test SMS </h2>
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
    </div>

        <div>
            <h2>Test User</h2>
            <asp:Button ID="Button2" runat="server" Text="Test" OnClick="Button2_Click" /><br />

            <asp:Label ID="Label1" runat="server" Text="User - "></asp:Label><asp:Label ID="userNamelbl" runat="server" Text="Label"></asp:Label>


        </div>

        <div>
            <hr />

            <h2>Test New Office 365 EMail</h2>
            <asp:Button ID="Button3" runat="server" Text="Test Send Email" OnClick="Button3_Click" />
            <asp:Label ID="lblText" runat="server"></asp:Label>

        </div>




    </form>
</body>
</html>
