﻿<div ng-controller="VoidTransactionController" class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4>Void Transaction</h4>
		</div>
		<div class="modal-body">
			<p>Are you sure you would like to void this transaction?</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
				Cancel
			</button>
			<button type="submit" class="btn btn-primary" ng-click="submit()" data-dismiss="modal">
				Void Transaction
			</button>
		</div>
	</div>
</div>