﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="X_CASHProcessManual.aspx.cs" Inherits="Domus.X_CASHProcessManual" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <br />
              <asp:Button ID="Button1" runat="server" Text="Begin Damage Control Cash" OnClick="Button1_Click" BackColor="#FF3300" Font-Size="40px" Height="130px" Width="881px" />

        <br />
        <br />
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/X_CCProcessManual.aspx">GO to Credit Card</asp:HyperLink>
        <br />
        <br />
        <asp:Label ID="Label1" runat="server"></asp:Label>
        <br />
        <br />


    </div>
    </form>
</body>
</html>
