﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="X_CCProcessManual.aspx.cs" Inherits="RentPaidOnline.X_CCProcessManual" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <asp:Button ID="Button1" runat="server" Text="Begin Damage Control Credit Card" OnClick="Button1_Click" BackColor="#FF3300" Font-Size="40px" Height="130px" Width="881px" />

        <br />
        <br />
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/X_CASHProcessManual.aspx">Go to Cash</asp:HyperLink>
        <br />
        <br />

        <br />
        <br />
        <asp:Button ID="Button2" runat="server" Height="110px" OnClick="Button2_Click" Text="Run Credit card and Cash" Width="429px" />

    </div>
        <asp:Label ID="Label1" runat="server" Font-Size="30px"></asp:Label>
        <asp:Label ID="Label2" runat="server" Font-Size="30px"></asp:Label>
    </form>
</body>
</html>
