﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="X_Test_RentByCash.aspx.cs" Inherits="RentPaidOnline.X_Test_RentByCash" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h2>Test Pay Near Me</h2>

        <asp:Button ID="Button1" runat="server" Text="Submit Ticket" OnClick="Button1_Click" />

    </div>
    </form>
</body>
</html>
