﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="X_YardiTest.aspx.cs" Inherits="RentPaidOnline.XYardiTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <div>
            <h3>Test Import</h3>
            <asp:Button ID="Button1" runat="server" Text="Export" OnClick="Button1_Click" />
        </div>


        <div style="padding:20px;">
            <br />

            <asp:Button ID="Button2" runat="server" Text="Export Applicant Single Property" OnClick="Button2_Click" />
            <br />
            <br />
            <asp:Button ID="Button3" runat="server" Text="Export All Applicants" OnClick="Button3_Click" />
            <br />
            <br />
            <asp:Button ID="Button12" runat="server" Text="Import Yardi Single Prop" OnClick="Button4_Click" />
            <br />


        </div>

    </div>
    </form>
</body>
</html>
