﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="XPasswordTest.aspx.cs" Inherits="Domus.XPasswordTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h2>Password Test</h2>
        <asp:Label ID="RenterID" runat="server" Text="Renter ID / Efx Admin ID"></asp:Label><asp:TextBox ID="TextBox1" runat="server"></asp:TextBox><br />
        <asp:Label ID="PW" runat="server" Text="Password"></asp:Label><asp:TextBox ID="TextBox2" runat="server"></asp:TextBox><br />
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" /><br />
        <asp:Label ID="checkPasswordlbl" runat="server" Text=""></asp:Label>


    </div>
    </form>
</body>
</html>
