/*!
 * Core Framework Style
 */

// Legacy Reset Styles
.floatLeft {
	float: left !important;
}
.floatRight {
	float: right !important;
}
.print {
    display: none !important;
    visibility: hidden;
}
.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0%;
	padding: 0;
	margin: 0;
}

// Random fixes that I hope change
// .NET won't render space characters between buttons
.btn + .btn {
	margin-left: 5px;
}
// but override that for button groups
.btn-group .btn + .btn {
	margin-left: -1px;
}
// and override it for block buttons as well
.btn-block + .btn-block {
	margin-left: 0;
}

span.checkbox, span.radio {
	display: block;
	margin-bottom: 5px;
}
span.checkbox label, span.radio label {
	display: inline;
	margin-bottom: 0;
}
ul.checkbox, ul.radio {
	margin: 0;
}
body > form {
	margin: 0;
}
// .NET uses a span instead of a div and prev/next are outside the ul
.pagination {
	display: block;
	.clearfix();
}
// Not the prev/next buttons we deserve, but the ones we need right now
.pagination > a {
	display: inline-block;
	float: left;
	padding: 5px 10px;
}
.pagination > a:first-child {
	padding-left: 0;
}
.pagination ul {
	float: left;
}

// Popup Nav, just like the old days
.popUp li:hover > .dropdown-menu {
	display: block;
}
.popUp > .dropdown > .dropdown-menu {
	margin-top: 0;
}
// Don't want all that other jazz?
.noJazz, .noJazz li  {
	margin: 0;
	padding: 0;
	list-style: none;
}
.noJazz .dropdown .caret, .noJazz .dropdown-submenu > a:after {
	display: none;
}

// Pagination
.pagination ul > li > a, .pagination ul > li > span {
	// A set width so pagination can calculate correctly. Try not to mess with the li if possible
	width: 20px;
	text-align: center;
	// Reducing padding because we increased the width
	padding-left: 6px;
	padding-right: 6px;
}

// Open Auth Icons
[class^="social-media-icon-"], [class*=" social-media-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../img/SMIcons.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.btn [class^="social-media-icon-"] {
	margin-right:5px;
}
.social-media-icon-Facebook {
	background-position: 0 0;
}
.social-media-icon-Twitter {
	background-position: -24px 0;
}
.social-media-icon-Google {
	background-position: -48px 0;
}
.social-media-icon-Microsoft {
	background-position: -72px 0;
}
.social-media-icon-Yahoo {
	background-position: -96px 0;
}

// Form Framework
.ie7 .formWrapper input.text, .ie7 .formWrapper select, .ie7 .formWrapper textarea, .ie7 .formWrapper .formHalf, .ie7 .formWrapper .formWhole {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.formWrapper input.text, .formWrapper select, .formWrapper textarea  {
	width: 100%;
}

// By default the form gutter is set to the grid gutter
@formSpacing: 3%;

.formWrapper {
	margin-left: -@formSpacing;
	.clearfix();
}
.formWrapper .formWrapper {
	margin-left: 0;
}
.formWrapper .formHalf, .formWrapper .formThird, .formWrapper .formTwoThirds, .formWrapper .formFourth {
	padding: 0 0 15px @formSpacing;
	.clearfix();
}
.formWrapper .formWhole {
	width: auto;
	padding: 0 0 15px;
	margin-left: @formSpacing;
	clear: both;
	.clearfix();
}
.formWrapper .formHalf {
	float: left;
	width: 50%;
}
.formWrapper .formThird {
	float: left;
	width: 33.333%;
}
.formWrapper .formTwoThirds {
	float: left;
	width: 66.666%;
}
.formWrapper .formFourth {
	float: left;
	width: 25%;
}
.formHalf .formWhole {
    margin-left: 0;
}
.formHalf .formHalf, .formWhole .formThird:first-child, .formWhole .formTwoThirds{
    padding-left: 0;
}

.formWhole .formHalf:last-child, .formTwoThirds .formHalf:last-child, .formWhole .formTwoThirds:last-child {
    padding-left:@formSpacing;
}
.formWhole .formHalf:first-child, .formTwoThirds .formHalf:first-child, .formWhole .formTwoThirds:first-child {
    padding-left: 0;
}
.formWhole .formHalf:nth-last-child(-n+2), .formTwoThirds .formHalf:nth-last-child(-n+2), .formWhole .formTwoThirds:last-child, .formWhole .formThird:nth-last-child(-n+3) {
    padding-bottom: 0;
}
.formWrapper div label:first-child {
    display: block;
}

.formTint {
    background-color: #F8F7FA;
    padding: 0;
    margin: 0;
}

.formWrapper > h1, .formWrapper > h2, .formWrapper > h3, .formWrapper > h4, .formWrapper > h5, .formWrapper > h6, .formWrapper > p, .formWrapper > ul, .formWrapper > ol, .formWrapper > .btn, .formWrapper > .validation,  .formWrapper > .alert,
.formWrapper fieldset > legend, .formWrapper fieldset > h1, .formWrapper fieldset > h2, .formWrapper fieldset > h3, .formWrapper fieldset > h4, .formWrapper fieldset > h5, .formWrapper fieldset > h6, .formWrapper fieldset > p, .formWrapper fieldset > ul, .formWrapper fieldset > ol, .formWrapper fieldset > .btn,  .formWrapper fieldset > .validation,  .formWrapper fieldset > .alert {
	margin-left: @formSpacing;
}
.formWrapper .well {
	padding-left: @formSpacing;
	padding-right: @formSpacing;
	.clearfix();
}
.formWrapper > .well {
	margin-left: @formSpacing;
	padding-left: 0;

	& > .formWhole {
		margin-left: 0;
	}
}

.formWrapper .noLabel {
	padding-top: 24px;
}

.formWrapper .noLabelMore {
    padding-top: 44px;
    padding-left:44px;
}
.formWrapper label.twoLines {
	margin-top: @line-height-computed;
}
.formInternational .checkbox {
	float: left;
	margin: 5px 0 0 6px;
}
.formWhole .formInternational input[type="text"] {
	float: left;
	width: 50%; /* This will need adjusting based on gap size */
}
.formExpirationMonth, .formExpirationYear {
	float: left;
}
.formCCV input {
	float: left;
	width: 60px;
}
.labelReset label, label.labelReset {
	display: inline;
	font-size: 100%;
	font-weight: normal;
	line-height: normal;
	margin: 0;
}
label span.spanReset {
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
}
.masked .placeholder {
	color: #999;
}
.masked label {
	display: none;
}

a.contactToggle {
	margin-bottom: 5px;
}
.formWrapper.globalContact {
	width: auto;
}
.formWrapper.globalContact .formHalf {
	float: none;
	clear: both;
	width: 100%;
}

// Validation
.validation, span.validation {
	display: block;
	color: @state-danger-text;
}
.validation ul {
	list-style-type: disc;
}
.requiredFields {
	float: right;
	clear: both;
	padding: 15px 0;
	font-size: 11px;
	color: @state-danger-text;
	font-weight: bold;
}
.requiredFields span {
	font-family: serif;
	font-size: 18px;
	line-height: 16px;
}
.successMessage, .errorMessage {
	clear: both;
	padding: 10px 0;
	color: @state-success-text;
}
.errorMessage {
	color: @state-danger-text;
}
span.errorMessage {
	display: block;
	padding: 0;
}
span.errorMessage, span.errorMessage span {
	font-style: normal;
}
input.text.error, select.error, textarea.error, input:focus.text.error, select:focus.error, textarea:focus.error {
	border-color: @state-danger-bg;
}

// AJAX Loading
.AJAXLoading .loadMessage {
	top: 50%;
	width: 150px;
	padding: 25px 50px 25px 70px;
	margin: -45px 0 0 -125px;
}
.AJAXLoading .loadMessage span {
	padding: 0 40px;
	background: transparent url(../img/loading.gif) no-repeat 0 50%;
	display: block;
	line-height: 35px;
	height: 35px;
	margin: 0 auto;
}

// Admin Toolbar
.adminToolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// Obviously you can change this if you use a wider grid
	min-width: 800px;
	z-index: 352;
}
.adminToolbarWrapper {
	border-bottom: 1px solid #a9a9a9;
	#gradient > .vertical(#f4f4f4, #ccc);
	.box-shadow(0 0 3px 0 rgba(0, 0, 0, .5));
}
.adminToolbar a {
	position: relative;
	display: block;
	float: left;
	border-right: 1px solid #f4f4f4;
	border-left: 1px solid #aaa;
	padding: 10px 16px 9px;
	font-weight: bold;
	font-size: 13px;
	line-height: 1;
	color: #19568C;
	text-transform: lowercase;
	text-shadow: 0 1px 1px #fff;
	cursor: pointer;
}
.adminToolbar a.pull-right {
	float: right;
}
a.adminToolbarLast {
	.box-shadow(1px 0 0 0 #aaa);
}
a.adminToolbarFirst {
	border-left: 0px none;
	color: #fff;
	background: #19568C;
	text-shadow: 0 -1px 1px #0F3657;
}
a.adminToolbarHide {
	padding-right: 35px;
	border-right: 0px none;
	background: transparent url(../admin/img/admin-toolbar-hide.png) no-repeat 54px 50%;
}
a.adminToolbarHide, a.adminToolbarLogout {
	float: right;
}

// Print Styles
@media print {
.print {
	display: block !important;
	visibility: visible;
}
.navbar, .footerLinks, .adminToolbar {
	display: none !important;
}
}