/*!
 * 352 and Bootstrap Merge and custom styles
 */

// Import Bootstrap
@import "bootstrap/bootstrap.less";

// Meshing Core Framework Style
@import "corestrap.less";
@import "bootstrap-multiselect.less";

// Custom Styling

.main {
	min-width: 800px;
}
.content {
	position: relative;
	.clearfix();
}
.side-nav {
	width: 20%;
	vertical-align: top;
}
.content-container {
	float: left;
	width: 80%;
	padding: 0 3%;
	vertical-align: top;
	.clearfix();
}
.content .content-container {
	width: 100%;
	padding-left: 23%;
}

// Header
.top-bar {
	position: relative;
	padding: 3px 0;
	border-bottom: 3px solid @brand-primary;
	background: @gray-darker;
	z-index: 2;
	.clearfix();

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 38%;
		height: 3px;
		background: @brand-warning;
	}

	.btn, .welcome-message {
		float: right;
		padding-top: 6px;
		padding-bottom: 6px;
		line-height: 1;
	}
	.welcome-message {
		padding-right: 15px;
		color: @gray-lighter;
	}
}
.top-bar .content-container {
	display: block;
	float: right;
}

.middle-bar {
	.clearfix();
}
.logo {
	display: block;
	position: relative;
	top: -3px;
	float: left;
	width: 20%;
	padding: 15px 3% 12px;
	border-top: 3px solid @brand-success;
	z-index: 3;

	a {
		display: block;
	}
	img {
		max-width: 100%;
	}
}
.middle-bar .content-container {
	display: block;
	float: left;
}
.top-nav {
	padding: 3% 3% 0 0;

	ul {
		text-align: right;
	}
	li {
		display: inline-block;
		padding: 0 14px;
	}
	a {
		display: inline-block;
		padding: 5px 1px;
		font-size: 18px;
		font-family: @font-family-custom;

		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
	.current a {
		padding-bottom: 3px;
		color: #333;
		border-bottom: 2px solid @brand-primary;
	}
	.last {
		padding-right: 0;
	}
}


// Side Nav
.side-nav {
	background: #373A40;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 5;

	&.fixed {
		position: fixed;
	}
}
.nav-search {
	position: relative;
	padding: 15px;
	#gradient > .vertical(#51565E, #373A40);
	border-bottom: 1px solid #44474E;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		height: 1px;
		background: #292B30;
	}
	input[type=text] {
		width: 100%;
		padding: 10px;
		font-size: 15px;
		color: #fff;
		background: #575C64;
		border: 1px solid #313439;
		border-radius: 5px;
		.placeholder(@color: #ccc);

		&:hover, &:focus {
			border-color: #848891;
			outline: none;
		}
	}
	button {
		position: absolute;
		top: 24px;
		right: 19px;
		background: none;
		border: 0px none;
		color: #DDDEE0;
		font-size: 0;
		line-height: 0;

		&:hover, &:focus {
			color: #fff;
		}
		span {
			font-size: 20px;
			line-height: 1;
		}
	}
}
.side-nav .nav-add-new {
	margin: 0 0 6px;

	> a {
		position: relative;
		padding-top: 18px;
		padding-bottom: 21px;
		border-bottom: 1px solid #44474E;

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 1px;
			background: #292B30;
		}
	}

	ul {
		min-height: 0;
		height: auto !important;
		padding: 20px 0;
	}
}
@media (min-width: 1290px) {
	.side-nav .management-companies:before {
		content: "Management ";
	}
}
.side-nav > ul {
	position: relative;
	padding: 0 0 10px;
	border-bottom: 1px solid #44474E;
	z-index: 2;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		height: 1px;
		background: #292B30;
	}

	li {

		ul {
			display: none;
			position: absolute;
			top: 0;
			left: 100%;
		}
		&:hover > ul {
			display: block;
		}
	}
	a {
		display: block;
		font-size: 16px;
		line-height: 1.1;
		color: #fff;

		&:hover, &:focus {
			color: #fff;
			text-decoration: none;
		}
	}
	> li {
		&:hover > a {
			background: #565B65;
		}

		> a {
		padding: 3px 15px 9px;
		font-size: 16px;
		font-family: @font-family-custom;

		@media (min-width: 1460px) {
			font-size: 19px;
		}

			// Top-level icons	
			> [data-icon] {
				position: relative;
				bottom: -6px;
				padding-right: 10px;
				font-size: 28px;
			}
		}
	}
	ul {
		width: 255px;
		min-height: 300px;
		padding: 24px 0;
		background: #565B65;

		a {
			padding: 8px 20px;
			font-size: 14px;
		}
		li:hover > a, ul {
			background: @gray;
		}
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 24px;
			#gradient > .vertical(rgba(86,91,101,0.2), rgba(86,91,101,1));
		}
		
	}
	ul ul {
		.nav-info span {
			color: #fff;
		}

		a {
			padding: 5px 20px;
		}
		li:hover > a {
			background: #8A93A3;
		}
		&:after {
			#gradient > .vertical(rgba(108,115,128,0.2), rgba(108,115,128,1));
		}
	}

	p {
		padding: 5px 20px;
		margin: 0;
		font-weight: bold;
		color: #fff;

		span {
			font-weight: normal;
			color: #ccccd7;
		}
	}
}
.side-nav .nav-info {
	padding: 0 20px 5px;

	span {
		display: block;
		padding: 0 0 8px;
		font-size: 18px;
		color: #9A9DA3;
		border-bottom: 1px solid #3f4349;
	}
	a {
		position: relative;
		padding: 8px 0;
		font-size: 16px;
		border-bottom: 1px solid #3f4349;

		&:after {
			content: "U";
			position: absolute;
			right: 0;
			font-family: 'icomoon';
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	&:hover > a {
		background: none;
		text-decoration: underline;
	}
}

// CTA Panels
.header-wrapper {
	min-height: 60px;
}
.main-actions {
	position: absolute;
	top: 0;
	right: 3%;
}
.main-actions a {
	display: inline-block;
	width: 50px;
	padding: 6px 3px;
	margin: 0 2px 0 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 0;
	line-height: 1;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.40);
	border: 2px solid #99C406;
	#gradient > .vertical(#83B832, #74A42D);

	&:hover {
		border-color: #A7D605;
		#gradient > .vertical(#8DC735, #86BC34);
	}
	.ctaIcon {
		display: inline-block;
		font-size: 30px;
		color: #477E11;
		text-shadow: 0 -1px 0 rgba(0,0,0, 0.60);
		text-shadow: 0 1px 0 rgba(152,195,10, 0.75);

		.selected {
			color: #313439;
			text-shadow: 0 -1px 0 rgba(0,0,0, 0.60);
			text-shadow: 0 1px 0 rgba(131,135,144, 0.75);
		}
	}

	&.active, &.active:hover {
		border-color: #646973;
		#gradient > .vertical(#53575F, #42464C);

		.ctaIcon {
			color: #313439;
			text-shadow: 0 -1px 0 rgba(0,0,0, 0.60);
			text-shadow: 0 1px 0 rgba(131,135,144, 0.75);
		}
	}
}

// Content

h1 {
	color: #77AA2D;
}
hr {
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #DEE0E8;
	background: #DEE0E8;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background: #fff;
	}
}
label {
	color: @gray;
	font-weight: normal;

	b {
		font-weight: normal;
		font-size: 16px;
		color: @gray-dark;
	}
}
.alert {
	margin-top: 20px;
}
.formAsideText {
	display: block;
	float: left;
	margin-top: 6px;
}
.btn {
	position: relative;
	padding: 10px 14px;
	color: #fff;
	line-height: 1;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
	background: transparent;
	border: 0px none;
	#gradient > .vertical(#4F535B, #3E4248);

	&:hover, &:focus, &:hover span, &:focus span {
		color: @brand-primary;
	}
	&:hover, &:focus {
		#gradient > .vertical(#3E4248, #4F535B);
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		left: -1px;
		bottom: 0;
		border-radius: @border-radius-base;
		#gradient > .vertical(#676B74, #41454C);
		z-index: -1;
	}

	&.btn-primary {
		#gradient > .vertical(#E58912, #DC6F01);
		border: 2px solid @gray-darker;

		&:hover, &:focus, &:hover span, &:focus span {
			color: #fff;
		}
		&:hover, &:focus {
			#gradient > .vertical(#DC6F01, #E58912);
		}
		&:before {
			#gradient > .vertical(#F3AF1C, #DF7402);
		}
	}
	&.btn-secondary {
		#gradient > .vertical(@btn-secondary-bg, darken(@btn-secondary-bg, 6%));
		border: none;

		&:hover, &:focus, &:hover span, &:focus span {
			color: #fff;
		}
		&:hover, &:focus {
			#gradient > .vertical(lighten(@btn-secondary-bg, 6%), darken(@btn-secondary-bg, 6%));
		}
	}
	&.btn-active {
		border: none;
		border-bottom: none;
		#gradient.vertical(#98c30a, #75a629);
		.box-shadow(inset 0 1px 1px 0px rgba(255, 255, 255, 0.5));

		&:hover,
		&:focus {
			#gradient.vertical(lighten(#98c30a, 6%), #75a629);
			color: #fff;
		}
		&:active {
			.box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
		}
	}
	&.btn-large {
		padding: 14px 20px;
		font-size: 18px;
	}
	[data-icon] {
		padding-right: 5px;
	}
}
.ie [type="file"], .ie [type="file"].btn.btn-default {
		padding: 5px;
		background: none;
		filter: none;
		border: 1px solid #DDE0E7;
		border-radius: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* IE10 CSS Hack */
	[type="file"], [type="file"].btn.btn-default {
		padding: 5px;
		background: none;
		filter: none;
		border: 1px solid #DDE0E7;
		border-radius: 0;
	}
}
.button-footer {
	position: relative;
	display: table;
	margin: 20px -30px -30px;
	padding: 0 30px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 100%;
	#gradient > .vertical(#575B63, #474B53);

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -4px;
		left: 0;
		right: 0;
		width: 100%;
		height: 3px;
		#gradient > .vertical(#FEFEFE, #E0E0E1);
	}

	.button-action, .main-button-action {
		display: table-cell;
		padding: 20px 0;
		vertical-align: middle;
	}
	.main-button-action {
		display: block;
		float: right;
		position: relative;
		padding-left: 20px;
		text-align: right;
		border-left: 1px solid #61656E;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -2px;
			top: 0;
			bottom: 0;
			width: 1px;
			height: 100%;
			background: #43464E;
		}
	}
}

.no-left-padding {
	padding-left: 0 !important;
}
.formTint {
	margin: 0 -30px;
	padding: 0 30px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 100%;
}
.formWrapper {
	padding: 1em 0; //adding to give some spacing with the tinted areas
}
.orWrapper {
	position: relative;

	.or-text {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -13px 0 0 -1%;
		width: 5%;
		text-align: center;
		font-size: 18px;
		line-height: 1;
		color: @headings-color;
	}
	&.formWrapper > .formHalf {
		width: 48%;

		&:nth-child(2n + 1) {
			margin-left: 4%;
		}
	}
}	

.secondary-link {
    color: @gray;

    &:hover, &:focus {
        color: @gray-dark;
        text-decoration:none;
    }
}
a [data-icon]:hover, a [data-icon]:focus {
    text-decoration:none;
}

.well-sm, .formWrapper .well-sm {
	padding: 10px;
}
.well .well-header, .well .well-footer {
	width: 100%;
	margin: -30px -30px 10px;
	padding: 30px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	#gradient > .vertical(#565B63, #43474E);
}
.well .well-header {
	.border-top-radius(@border-radius-base);
   
}
.well .well-footer {
	margin-top: 10px;
	margin-bottom: -30px;
	.border-bottom-radius(@border-radius-base);
}
.well .well-header h1, .well-well-footer h1,
.well .well-header h2, .well-well-footer h2,
.well .well-header h3, .well-well-footer h3,
.well .well-header h4, .well-well-footer h4,
.well .well-header h5, .well-well-footer h5,
.well .well-header h6, .well-well-footer h6,
.well .well-header p, .well-well-footer p {
	color: #fff;
}
.well-sm .well-header, .well-sm .well-footer {
	padding: 11px;
	margin: -11px -11px 10px;
}
.well-sm .well-footer {
	margin-bottom: -10px;
	margin-top: 10px;
}
.well .well-footer {
	color: @gray-lighter;

	.text-success, .text-success:hover {
		font-weight: bold;
		font-size: 20px;
		color: #94C00D;
	}
}
.well.no-padding {
	padding: 0;
}


.expandable-table-actions.generic {
	margin: 0;
}

.advanced-search {
	width: 100%;
	display: table;

	.col, &.two-lines .col {
		float: left;
		padding: 0 10px 0 0;
	}
	.col.first {
		width: 201px;
		min-width: 201px;
		max-width: 201px;
	}
	.expandable-table-actions {
		float: none;
		margin: 0;
	}
	.filter-select, &.two-lines .filter-select {
		width: 57%;
	}
	.date-select, &.two-lines .date-select {
		width: 100%;
		padding-right: 0;
		padding-top: 15px;
	}
	.search-col, &.two-lines .col.search-col {
		clear: left;
		width: 80%;
		padding-top: 15px;
	}
	.col.last, &.two-lines .col.last {
		width: 80px;
		padding-right: 0;
		padding-top: 15px;
		text-align: right;
	}

	@media (min-width: 1450px) {
		.col {
			display: table-cell;
			float: none;
			width: auto;
			padding-top: 0;
			vertical-align: middle;
		}
		.col.search-col {
			clear: none;
			width: 45%;
			padding-top: 0;
		}
		.col.last {
			display: table-cell;
			padding-top: 0;
		}
	}

}

.loading-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(252, 251, 253, .9);

	> span {
		display: block;
		text-align: center;
		padding: 35px 10px 5px;
		font-size: 30px;
	}
}
.inner {
	position: relative;

	.loading-overlay {
		background: #373A40;
		color: #fff;
	}
}

.spin, [data-icon="f"], [data-icon="g"], [data-icon="h"] {
    display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1; 
	-webkit-animation: spinner 1.6s linear infinite;
       -moz-animation: spinner 1.6s linear infinite;
			animation: spinner 1.6s linear infinite;
}
@-webkit-keyframes spinner {
     from {
          -webkit-transform: rotate(0deg);
     }
     to {
          -webkit-transform: rotate(360deg);
     }
}
@-moz-keyframes spinner {
     from {
          -moz-transform: rotate(0deg);
     }
     to {
          -moz-transform: rotate(360deg);
     }
}
@keyframes spinner {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(360deg);
     }
}

.main {
	background: #fff url(../img/bg.jpg) no-repeat 50% 0;
}
.content .content-container > h1, .content .content-container > h2, .content .content-container > h3 {
	margin-left: 30px;
	margin-bottom: 30px;
	color: @brand-success;
}
.main-container {
	position: relative;
	padding: 30px;
	min-height: 400px;
	background: #fff;
	border-top: 3px solid @brand-warning;
	.clearfix();

	&.success-top {
		border-color: @brand-success;
	}
}
footer {
	position: relative;
	padding: 30px;
	margin: 30px 0;
	background: @gray-darker;
	border-top: 3px solid @brand-primary;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -3px;
		left: 0;
		width: 60%;
		height: 3px;
		background: @brand-success;
	}

	.left-col, .right-col {
		float: left;
		width: 30%;
	}
	.left-col {
		width: 70%;
		padding: 0 20% 0 0;
	}

	p {
		line-height: 1.2;
		color: @gray-lighter;

		span {
			font-weight: bold;
		}
	}
	h1, h2, h3, h4, h5, h6, span {
		color: #fff;
	}
	h5 {
		font-size: 18px;
	}
	.btn {
		padding-top: 6px;
		padding-bottom: 6px;

		@media (min-width: 1300px) {
			float: right;
		}
	}
	img {
		max-width: 100%;
	}
}

@import "residents.less";
@import "reports.less";

// Main Grid Styles

@media (min-width: 1100px) {

	.top-nav {
		padding-right: 0;
	}
	.content-container, .content .content-container {
		float: left;
		width: 60%;
		padding-right: 0;
		padding-left: 3%;
	}
	.content .content-container {
		width: 80%;
		padding-left: 23%;
	}
	.top-bar .content-container {
		float: none;
		margin: 0 auto;
	}
	.header-wrapper {
		min-height: 0;
	}
	.main-actions {
		float: left;
		position: static;
		width: 20%;
		padding-left: 3%;
		vertical-align: top;
	}
	.main-actions a {
		display: block;
		margin: 0 0 20px;
		width: 126px;
		min-height: 106px;
		padding: 20px 10px;
		font-size: 18px;
		border-width: 3px;

		.ctaIcon {
			display: block;
			font-size: 50px;
			padding-bottom: 4px;
		}
	}
	.main {
		background-size: cover;
	}

}

.print-wrapper {
    width:100&#37; 
}
.print-content {
    margin: 0 5%;
    position: relative;
    
    body {
        font-size: 12pt;
        color: #000;
    }
}

.print-logo {
    display: block;
	float: right;
	width: 10%;
    padding-bottom:10px;
    img {
		max-width: 100%;
	}
    }

// broken third-party CMS
a.cke_button {
	height: auto;
	min-height: 27px;
}

//Jquery Select Menu Thingy Doohicky
.ui-menu {
    background-color: @gray-lightest;
    border:1px solid @gray-lighter;
    width: 300px;
    padding: 8px;
    display: block;
    list-style: none;
    text-decoration: none;
    margin-top:4px;


}
.ui-corner-all {
    border-radius: 4px;
}
.ui-helper-hidden-accessible {
    position:absolute;
    left: -9999px;
}

//Lighter weight panel
.lightPanel {
    width: 90%;
    padding: 10px;      
    margin-bottom:10px;  
    -moz-box-shadow: 0 0 2px 2px @gray-lighterer;
    -webkit-box-shadow: 0 0 2px 2px @gray-lighterer;
    box-shadow: 0 0 2px 2px @gray-lighterer;
    border-radius: @border-radius-base;
    background-color: white;
}

// Full Calendar Styles
.fc .styled-table > tbody > tr > td {
	padding: 0;
	border-color: #fff;
	border-width: 1px 0 0 1px;
	vertical-align: top;
}
.fc .styled-table > tbody > tr > td.fc-today {
	background: #fff;
}
.fc .styled-table > tbody > tr > td.fc-other-month {
	background: #F5F5F9;
}
.fc .styled-table.fc-agenda-days th.fc-first, .fc .styled-table.fc-agenda-days table th {
	background: #fff;
}
.fc .fc-event {
	background: @brand-info;
	border-color: @brand-info;

	&:hover, &:focus {
		color: #fff;
		text-decoration: underline;
	}
}