.filterbar {
	.clearfix();
	position: relative;
	margin: -30px -30px 0px -30px;
	#gradient.vertical(#f9f9fb, #f5f4f8);
	filter: none;
	border-bottom: 2px solid #fff;
	.box-shadow(0 1px 4px 0px rgba(0, 0, 0, 0.25));

	> .btn {
		margin-top: 12px;
		padding: 9px 12px;

		&.pull-left {
			margin-left: 12px;
			margin-right: 12px;
		}
		&.pull-right {
			margin-left: 12px;
			margin-right: 12px;
		}
	}

	.old-ie & {
		background: #f5f4f8;
	}
}
.filter {
    position: relative;

    input,
    select {
    	height: 32px;
    	padding: 5px 12px;
    	.box-shadow(none);
    }

	> .btn.btn-filter {
		position: relative;
		color: #6c727f;
		background: none;
		//#gradient.vertical(#f9f9fb, #f5f4f8);
		filter: none;
		padding: 21px 30px;
		border-radius: 0;
		text-shadow: none;
		//z-index: 4;

        span {
            color: #4D5259;
            font-size: 12px;
            font-weight: bold;
        }

        &:before {
        	display: none;
        }

        &:hover,
        &:focus,
        .open & {
            #gradient.vertical(lighten(#f9f9fb, 6%), #f5f4f8);
        }

        .open & {
            .box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
        }
    }

    .dropdown-menu {
    	background: #f5f4f8;
    	padding: 20px 0;
        border-radius: 0;
        border: none;
        min-width: 250px;
        margin-top: 0px;
        .box-shadow(0px 2px 8px 0px rgba(0, 0, 0, 0.25));
        //z-index: 3;

        a {
        	padding: 6px 30px;

        	&:hover,
        	&:focus {
        		background: #fff;
        	}
        }
    }

    &.pull-left {
        border-right: 1px solid #dddde5;

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            right: -2px;
            width: 1px;
            height: 100%;
            background: #fff;
        }
    }

    &.filter-by {
        padding: 12px 0;
    	margin: 0 12px;

        label {
            float: left;
            margin-right: 10px;
            margin-top: 6px;
        }

        input {
            float: left;
            width: 300px;
            height: 32px;
            padding: 5px 12px;
        }

        select {
            float: left;
            width: 120px;

            + select {
                margin-left: 12px;
            }

            &#filter-by-2 {
                min-width: 250px;
            }
        }
    }

    &.search {
    	padding: 12px 0;
    	margin: 0 12px;
		
		label {
			float: left;
			margin-top: 6px;
			margin-right: 10px;

			+ input[type=text] {
				margin-right: 0;
			}
		}
    	input {
    		float: left;
    	}
    	input[type=text] {
    		float: left;
    		width: 140px;
    		margin-right: 10px;
    	}
    }
}

.listing-group {

}

.listing-row {
	position: relative;
	padding: 20px 116px 20px 0;
	border-top: 1px solid #dde0e7;
	z-index: 1;

	&:first-child {
		border-top: none;
	}
	
	&.no-actions {
		padding-right: 56px;
	}

	.inner {
		position: static;
		//min-height: 110px;
	}

	.listing-content {
		.clearfix();

		.summary-col {
			position: relative;
			float: left;
			width: 70%;
			
			h3 {
				margin-top: 0;
				margin-bottom: 2px;
				line-height: 1.2;
			}
			h2 {
				color: #F27900;
				font-size: 22px;
				line-height: 1.2;
				margin-top: 0;
			}

			&.with-image {
				padding-left: 130px;

				> img {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					max-width: 100px;
				}
			}
		}
		.details-col {
			float: right;
			width: 30%;
		}
		p {
			color: #6C727F;
			line-height: 1.5;

			strong {
				color: #3F454C;
			}
		}
	}
	.listing-actions {
		position: absolute;
		top: 20px;
		bottom: 20px;
		right: 50px;
		width: 50px;
		border-left: 1px solid #dde0e7;

		a {
			display: block;
			float: left;
			clear: both;
			color: #8f92a6;
			font-size: 0;
			margin: 8px 0 8px 13px;
			width: 21px;
			text-align: center;
			.transition(all 0.15s ease);
			
			&:hover,
			&:focus {
				color: darken(#8f92a6, 20%);
				text-decoration: none;
			}

			span {
				font-size: 15px;
			}
		}
	}
	.btn {
		position: absolute;
		top: 20px;
		bottom: 20px;
		right: 0;
		display: block;
		#gradient.vertical(#575c64, #474b52);
		width: 50px;
		//min-height: 100px;
		//height: 100%;
		font-size: 0;
		border-radius: 0;

		span {
			position: absolute;
			top: 50%;
			left: 14px;
			margin: -10px 0 0;
			font-size: 20px;
			color: #fff;
			text-shadow: 2px 1px rgba(0, 0, 0, 0.75);
		}

		&:before {
			display: none;
		}

		&:hover,
		&:focus {
			#gradient.vertical(lighten(#575c64, 4%), #474b52);
		}
		&:active {
			.box-shadow(inset 1px 1px 4px rgba(0, 0, 0, 0.2));
		}
	}
}

.listing-actions {
	a,
	a:hover,
	a:focus {
		text-decoration: none;
	}
}

.listing-table {
	width: 100%;
	margin-top: 20px;
	border: none;

	th {
		padding: 20px 0;
		border: none;
	}
	td {
		padding: 20px 0;
		border: none;
		border-top: 1px solid #dde0e7;
	}
}

// Details Panel
.details-panel {
    margin: -30px -30px 0;
    padding: 5px 55px 5px 5px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    background-color: #373a40;

    &.no-details {
        padding-top: 15px;
    }

    .inner {
        .clearfix();
        position: relative;
        padding: 20px 70px 10px 60px;
    }

    .back-to-listings {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        #gradient.vertical(#575c64, #474b52);
        width: 50px;
        min-height: 100px;
        height: 100%;
        font-size: 0;
        .border-left-radius(3px);

        span {
            position: absolute;
            top: 50%;
            left: 14px;
            margin: -10px 0 0;
            font-size: 20px;
            color: #fff;
            text-shadow: 2px 1px rgba(0, 0, 0, 0.75);
        }

        &:hover,
        &:focus {
            #gradient.vertical(lighten(#575c64, 4%), #474b52);
        }

        &:active {
            .box-shadow(inset 1px 1px 4px rgba(0, 0, 0, 0.2));
        }
    }

    .details-panel-content {
        .clearfix();

        p {
            color: @gray-lighter;

            .value {
                color: #fff;
                font-weight: bold;
            }
        }

        .col-third {
            float: left;
            width: 38%;
            padding-left: 2%;

            &.emphasized {
                padding-left: 0;
                padding: 2%;
                #gradient.vertical(#575c64, #42464d);
                .box-shadow(3px 3px 4px 0px rgba(0, 0, 0, 0.35));
            }

            &.balance-col {
                float: right;
                width: 24%;
            }
        }
    }
    // Details Panel Actions
    .details-panel-actions {
        position: absolute;
        top: 0;
        right: -45px;

        a {
            display: block;
            color: #8f92a6;
            font-size: 0;
            margin: 4px;
            .transition(all 0.15s ease);

            &:hover,
            &:focus {
                color: lighten(#8f92a6, 20%);
                text-decoration: none;
            }

            span {
                font-size: 19px;
            }
        }
    }
}
.has-button {
	position: relative;

	.btn {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
@media (max-width: 850px) {
	.details-panel.has-button .btn span {
		display: none;
	}
}

// Navigation Tabs
.nav-tabs {
	margin: 0 -30px;
	padding: 3px 60px 0 0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 100%;
	background-color: #373a40;
	border-bottom: none;

    &.no-detail{
       // #gradient > .vertical(#FFF,  #8F92A6);
       margin: -5px -2px;
       background-color: #373a40;
       width: 90%;
        }

	> li {
		float: left;
		margin-bottom: 0;
		// Make the list-items overlay the bottom border

		// Actual tabs (as links)
		> a {
			background-color: #575c64;
			color: #fff;
			margin-right: 3px;
			padding: 10px 16px;
			font-family: @font-family-custom;
			line-height: @line-height-base;
			border: none;
			border-radius: 0;
			.box-shadow(inset 0 -6px 8px -4px rgba(0, 0, 0, 0.25));

			@media (max-width: 980px) {
				padding: 8px;
				font-size: 13px;
			}
			@media (min-width: 1100px) and (max-width: 1310px) {
				padding: 10px 8px;
				font-size: 13px;
			}

			&:hover {
				background-color: lighten(#575c64, 4%);
				border: none;
				.box-shadow(inset 0 -6px 8px -4px rgba(0, 0, 0, 0.15));
			}
		}

		// Active state, and it's :hover to override normal :hover
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: #474C52;
				background-color: #fff;
				border: none;
				cursor: default;
				.box-shadow(none);
			}
		}
	}
}

// Details Tab Content
.details-tab-content {
	padding: 20px 0 0;
}
.transaction-history {
	padding-bottom: 0;
}

// Expandable Table Actions
.expandable-table-actions {
	float: right;
	background: #575c64;
	padding: 2px 3px;
	border-radius: 3px;
	margin-bottom: 11px;

	.btn.btn-primary {
		border: none;
		border-bottom: none;
		#gradient.vertical(#98c30a, #75a629);
		border-radius: 2px;
		.box-shadow(inset 0 1px 1px 0px rgba(255, 255, 255, 0.5));

		&:hover,
		&:focus {
			#gradient.vertical(lighten(#98c30a, 6%), #75a629);
		}
		&:active {
			.box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
		}
	}
	.btn.btn-blank {
		color: #fff;
	}
	.btn + .btn {
		margin-left: 0;
	}
}

// Styled Table
.table-holder {
	position: relative;
}
.styled-table {
	width: 100%;
	border-collapse: separate;
	background: @brand-success;
	
	//targets top level rows and cells only
	thead {
		th {
			color: #fff;
			#gradient.vertical(#50555d, #41454d);
			padding: 0.4em 1em;
			border-bottom: 3px solid #fff;
		}
	}
	> tbody {
		> tr {
			> td {
				background: #f1f0f6;
				padding: 1em 1em;
				vertical-align: middle;
				border-bottom: 3px solid #fff;
				.transition(all 0.15s ease);

				&.toggle-cell {
					padding: 0;
					width: 33px;
					vertical-align: top;
					background: #76a82c;
				}
			}
			&.details-row {
				td {
					padding: 0;
					border-top: 0;
				}
			}
		}
	}
	
	.table-row-toggle {
		position: relative;
		display: block;
		background: #76a82c;
		color: #fff;
		width: 33px;
		min-height: 68px;
		text-indent: -9999px;
		overflow: hidden;
		outline: none;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			background: #fff;
		}
		&:before {
			width: 2px;
			height: 14px;
			margin-left: -1px;
			margin-top: -7px;
		}
		&:after {
			width: 14px;
			height: 2px;
			margin-left: -7px;
			margin-top: -1px;
		}
	}
	.row-open {
		td {
			#gradient.vertical-shiny(#ffffff, #f9f9fb, #f3f3f6, #e7e7ed);
			border-top: 2px solid @brand-success;
			border-bottom: 0px none;
		}
		.table-row-toggle:before {
			display: none;
		}
		td:nth-child(2) {
			border-top-left-radius: 10px;
		}
	}
	

	.button-cell {
		width: 102px;
	}

	&.expandable-table {
		> thead {
			th {
				#gradient.vertical(#76a82c, #60931f);

				&:first-child {
					padding-left: 4.2em;
				}
			}
		}
		table {
			border-collapse: separate;
			border-left: 33px solid #76a82c;
			width: 100%;
			margin-top: -1px; //Do I really need this?

			thead {
				th {
					#gradient.vertical(#50555d, #41454d);
					padding: 0.4em 1em;
					.box-shadow(inset 0 10px 8px -8px rgba(0, 0, 0, 0.5));
					border: 0px none;

					&.description-cell {
						width: 180px;
					}
				}
			}
			tbody {
				tr {
					td:first-child {
						//border-left: 1em solid #373a40;
					}
					td:last-child {
						//border-right: 1em solid #373a40;
						padding-right: 3em;
					}
					&:first-child {
						td {
							border-top: none;
							.box-shadow(inset 0 10px 8px -8px rgba(0, 0, 0, 0.25));
						}
					}
				}
				tr td:first-child {
					//padding-left: 0;
					width: 170px;
				}
				td {
					background: #373a40;
					padding: 1em 1em;
					border-top: 1px dotted #000;
					color: #fff;
				}
			}
		}
	}
}

.resident-history-table {
	margin: 0 0 2em;

	.transaction-date {
		margin: 0;

		span {
			color: #8C92A5;
		}
	}
	.transaction-amount {
		margin: 0;

		span {
			color: #7F4624;
			font-size: 18px;
		}
	}
	.transaction-status {
		margin: 0;

		span {
			color: #8C92A5;
		}
		&.approved { color: #006600; }
		&.declined { color: #FF0000; }
	}
	.btn.btn-default {
		color: #fff;
		#gradient.vertical(#4f535b, #3e4248);
		border-radius: 3px;
		min-width: 74px;

		&:hover,
		&:focus {
			#gradient.vertical(lighten(#4f535b, 6%), #3e4248);
		}
	}

	table {
		.transaction-status {
			&.approved { color: #98C30A; }
		}
		.transaction-description {
			margin: 0;
			max-width: 180px;
		}
	}
}

#HistoryTab .modal-dialog {
	// max modal width incase IE doesn't get media queries
	max-width: 800px;
}
#PartnersTab .form-group input[type=text] {
	width: 300px;
}

// Pagination
.pagination-container {
	.clearfix();
	#gradient.vertical(#575b63, #494d55);
	border-top: 2px solid #fff;
	.box-shadow(0 -1px 4px 0px rgba(0, 0, 0, 0.25));
	margin: 20px -30px -30px;

	.details-tab-content & {
		margin-left: -2em;
		margin-right: -2em;
	}

	.pagination {
		float: right;
		margin: 0;

		> li > a {
			cursor: pointer;
		}

		> li > a,
		> li > span {
			display: block;
			position: relative;
			background: none;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			margin: 1.2em 0.08em;
			padding: 0.25em 0.38em 0.2em;
			line-height: 1;
			border: none;
			border-radius: 3px;

			&:hover,
			&:focus {
				background: #5f636d;
				text-decoration: none;
			}
		}
		> .active > span,
		> .active > a {
			background: #26282d;
			color: #8cb405;
			cursor: text;

			&:hover,
			&:focus {
				background: #26282d;
			}
		}

		> li:first-child > a {
			position: relative;
			margin: 0 0.55em 0 0;
			padding: 1.45em 1.3em;
			border-right: 1px solid #4B4F57;
			border-radius: 0;

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				height: 100%;
				background: #5f636c;
				right: -2px;
				top: 0;
				bottom: 0;
			}
		}
		> li:last-child > a {
			position: relative;
			margin: 0 0 0 0.5em;
			padding: 1.45em 1.3em;
			border-left: 1px solid #4B4F57;
			border-radius: 0;

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				height: 100%;
				background: #5f636c;
				left: -2px;
				top: 0;
				bottom: 0;
			}
		}
	}
}

.float-right {
    float:right;
}
.top-buttons {
	.clearfix();
	padding: 2em 0 1em;
}


//  Step Progress
.step-progress {
	.clearfix();
	margin: 10px 0 30px;

	&.two-step {
		.step {
			width: 49%;

			&:first-child {
				margin-right: 2%;
			}
		}
	}
	.step {
		float: left;
		background: #ebebeb;
		padding: 14px 20px;
		
		h2 {
			color: #666;
			font-size: 24px;
			margin: 0 0 2px;
		}
		h3 {
			color: #666;
			font-size: 16px;
			margin: 0;
		}

		&.active {
			background: #7cae30;

			h2, h3 {
				color: #fff;
			}
		}
		&.complete {
			opacity: 0.6;
		}
	}
}