﻿
#MainContent_PayerTypeLabel, #MainContent_PayerLabel, #MainContent_PropertyLabel {
    display: block;
    margin: 15px 0 5px 0;
}

.editStaffContainer {
    color: #885025;
    padding: 10px;
    background-color: #f6f9f4;
    border: 1px solid #5b7e6a;
    border-radius: 6px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    margin-top: 10px;
}

.generalContainer {
    width: 90%;
    padding: 10px 0 10px 50px;
    background-color: #f6f9f4;
    border: 1px solid #5b7e6a;
    border-radius: 6px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    margin: 15px 0 25px 0;
}

.bolded {
    font-weight: bold;
}

.generalLink {
    color: #5b7e6a;
    text-decoration: underline;
}

.generalLink:hover {
    color: #885025;
    
}

.checkboxRow {
    display: block;
    margin: 10px 0 10px 0;
}

.bottomButton {
    display: block;
    margin: 10px 0 10px 0;
}

/*----------------------------- Payment info -----------------------------*/

.paymentInfoContainer {
    font-size: .85em;
}

.totalPaymentAmount {
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.itemRow {
    display: block;
    width: 50%;
    height: 15px;
    margin: 10px 0 10px 0;
    font-weight: 600;
    text-align: left !important;
}

.totalAmountContainer {
    margin: 20px 0 20px 0;
}

.itemRow > span {
    width: 50%;

}

.itemTitle, .totalTitle {
    color: #000;
}

span.totalTitle, span.totalAmount {
    color: #77aa2d !important;
    margin-top: 15px;
}

/*----------------------------- autoPay Block(party) -----------------------------*/


.dateComboBox {
    width: 50px !important;
}

.formLabelTextAdjust {
    line-height: 1.5em;
}

.onOffContainer {
    margin: 0 0 10px 0;
    
}

.onOffContainer h5 {
    font-weight: bold;

}

.autoPayContainer, .textToPayContainer {
    display: inline-block;
    width: 60%;
    height: auto;
    padding:  0 15px 10px 15px;
    background-color: #f1f2f2;
    border: 2px solid #e58a13;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
}

.autoPayContainer input [type ="text"], 
.textToPayContainer [type ="text"], 
.autoPayContainer .comboBox,
.textToPayContainer .comboBox {
    width: 45% !important;
    }

.formAutoPayDate {
    width: 20%;
    display: inline-block;
    margin-right: 5px !important;
}

.autoPayContainer h5, .textToPayContainer h5 {
    line-height: 2em !important;
    font-weight: bold;
}


.paymentAmountMargin {
    margin: 20px 0 20px 0 !important;
}

.orBlock {
    display: block;
    font-weight: bold;
    width: 20%;
    font-size: 1.8em;
    line-height: 2.8em;
    margin: 20px 0;
}




.editStaffContainer img {
    border: 1px solid #5b7e6a;
}

.editStaffContainer input[type="password"], .editStaffContainer input[type="text"] {
    border: 1px solid #5b7e6a;
}


.formRow {
    width: 100%;
    margin: 0 0 10px 0;
}

.formRow input[type="text"], .formRow input[type="password"], .formRow select {
    width: 100% !important;
}


.bolded {
    font-weight: bold;
}

.formHalfWidth {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 45%;
}

.formThirdWidth {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 31%;
}

.formFullWidth {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 92%;
}

.formLabel {
    width: auto;
    display: block;
}

.formContainer {
    margin-top: 20px;
}


.bottomButtonHolder {
    height: auto;
    width: 25%;
    display: block;
    float: right;
    clear: both;
}

.leasingInfoContainer h4{
    font-size: 1.1em;
    color: #885025;
}

.leasingInfoContainer {
    font-size: .9em;
}

.leasingInfoContainer .formLabel{
    line-height: 1.2em;
    font-size: .9em;
}


.newTabs{
    
    z-index: 2000;
    width: 780px;

    margin-top: 2px;
}

.newTabs li a{
    font-size: .8em !Important;

}

#addStaffTopBar {
    margin-top: 225px;
}

.newSection {
    margin-top: 25px;
}

.grid td select {
    min-width: 90px;
}

.myaccount-link {
    width: 200px; 
}

.notesSection {
    font-size: .9em;
}

.formRow textarea {
    width: 100%;
    height: auto;
    min-height: 200px;
    resize: none !important;
    font-size: .9em;
}

#MainContent_AddStaffToPropertyControl_AddEditPropertyStaff_UpdatePanel ul {
    color: #5b7e6a;
    padding: 5px;
    width: 100%;
    background-color: #ecf6e3;
    border: 1px solid #5b7e6a;
    margin-top: 10px;
}

#MainContent_AddStaffToPropertyControl_AddEditPropertyStaff_UpdatePanel ul li {
    display: inline-block;
    margin: 5px 0 5px 0;
}

table {
    margin: 0 !important;
}


 #RentersTab .white-gradient-wrap p,  #RentersTab .white-gradient-wrap ul {
     font-size: .65em !important;
}

 .fullWidth {
    display: inline-block;
    width: 100%;
}

 /* Take a Payment specific */

.takePaymentTopInfo {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.autoPayTopContainer{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-left: 75px;
    
} 

.takePaymentTopInfo .formLabel {
    color: #885025;   
}

.borderAddBottom {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.borderAddTop {
    border-top: 1px solid #eee;
    margin-top: 15px;
}

.borderAddRight {
    border-right: 1px solid #eee;
    padding-right: 15px;
    margin-right: 15px;
}

.internalSectionHalfSplit {
    display: inline-block;
    vertical-align: top;
    width:45%;
    height: auto;

}

.internalSectionHalfSplit h4 {
    color: #885025 !important;
}

.halfWidth {
    display: inline-block;
    width: 45%;
}

.topItem {
    display: inline-block;
    vertical-align: top;
    width: 37%;
}

.topItemsmall {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.formseventyFiveWidth {
    display: inline-block;
    width: 75%;
}

.autoPayText {
    display: inline-block;
    font-size: .6em;
    margin: 10px 0 10px 0;

}

/*Announcement grid stuff*/

.gridTitle {
    color: #885025;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 2em;
}

.announcementGridHolder td {
    min-width: 175px  !important;
}

/*Announcement renters notes*/
.residentsNotes {
    display: inline-block;
    width: 90%;
    margin: 10px 10px 10px 0;
    color: #885025;
    background-color: #ecf6e3;
    border: 1px solid #77aa2d;
    padding: 10px;
    min-height: 50px;
}

.datePicker select {
    display: inline-block;
    vertical-align: top;
    width: 32% !important;
    
}

.rentAndFees .itemRow {
    display: inline-block;
    width: 100% !important;
    vertical-align: top;
    text-align: left
}

.rentAndFees .itemTitle {
    display: inline-block;
    width: 200px !important;
    vertical-align: top;
    text-align: left
}

.rentAndFees .itemAmount {
    display: inline-block;
    width: 200px !important;
    vertical-align: top;
}

.rentAndFees .feeCheckBox {
    display: inline-block;
    width: 200px !important;
    vertical-align: top;
 
}



.formMarginTopAdjust {
    margin: 25px 0 5px 0;
}

.formMarginTopAdjust .formLabel {
    color: #885025;
    font-weight: bold;
}

.appLabel {
    font-size: 1.1em;
    color: #5b7e6a !important;
}

#MainContent_Applications_ApplicationLabel {
    display: block;
    margin-top: 15px;
    font-size: 1em;
    color: #885025 !important;
    font-weight: bold;
}

#MainContent_Applications_DeleteButton {
    display: block;
    margin-top: 5px;
    color: #5b7e6a;
    text-decoration: underline;
    font-weight: bold;
}

#MainContent_Applications_DeleteButton:hover {
    color: #77aa2d;
}

/* button styles*/

.orangeButton {
    background-color: #e58a13 !important;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #fff !important;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */  
}

.orangeButton:hover, .grayOffButton:hover {
    background-color: #ea9c00 !important;
    color: #fff !important;
}

.grayOffButton {
    background-color: #7f7f7f;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #fff !important;
    color: #bcbcbc;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
}

.panelScrolling {
    background-color: #f0f5de;
    border: 1px solid #77aa2d;
    padding: 10px;
    margin: 15px 0 15px 0;
}