﻿/************************
    HTML Elements CSS
************************/
a
{
    font-size: 13px;
    color: #555;
    text-decoration: none;
}
a.link
{
    text-decoration: underline;
}
b
{
    font-weight: bold;
}
p
{
    font-size: 13px;
    line-height: 16px;
}
select
{
    font-size: 13px !important;
}
label
{
    font-size: 13px;
    display: inline-block;
}
body
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 100%;
    color: #333;
    background: url('/Images/background_repeat.png') repeat-x;
}
h1 span
{
    display: none;
}
h1
{
    height: 90px;
    width: 152px;
    background: url('/Images/logo_Domus.png') no-repeat;
    float: left;
    margin-left: 35px;
}
h2, h3, h3
{
    font-weight: bold;
    color: #885025;
    text-shadow: #ccc 0.1em 0.1em 0.2em;
}
h2
{
    font-size: 1.2em;
    margin: 10px 0;
    color: #885025;
}
h3
{
    margin: 0 0 10px 0;
    color: #885025;
}
h3.icon
{
    width: 463px;
    line-height: 37px;
    font-size: 22px;
    margin-top: 5px;
}
h3.icon img
{
    float: left;
    margin: 0 0 0 0;
    width: 55px;
}
h4
{
    font-weight: bold;
    margin: 10px 0;
    font-size: 1em;
}
header
{
    padding: 20px 0 15px 0;
    overflow: hidden;
}
footer
{
    overflow: hidden;
}
footer > div
{
    float: left;
    padding: 0 20px;
    font-size: .9em;
    color: #fff;
}
hr
{
    clear: both;
    margin: 30px 0;
    border: 1px solid #9BC681;
}
ul.list
{
    list-style: square;
    margin: 10px 0 10px 25px;
}
ul.list li
{
    font-size: .8em;
    margin: 0 0 5px 0;
}

/************************
    IDs CSS
************************/
#FooterContent,
#HomeMasterWrap,
#MasterWrap
{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
ul#Navigation
{
    overflow: hidden;
    clear: both;
    position: relative;
    top: -5px;
    left: 5px;
}
ul#Navigation li
{
    float: left;
    margin: 13px 0 0 0;
}
ul#Navigation li a
{
    display: block;
    padding: 0;
    color: #067E1C;
    line-height: 50px;
    text-decoration: none;
    font-family: "Myriad Pro", Arial, Sans-serif;
    font-size: 15px;
    letter-spacing: -0.005em;
}
ul#Navigation li > img
{
    float: left;
    margin: 0 5px 0 0;
    line-height: 50px;
    position: relative;
    top: 4px;
    left: -1px;
}
ul#Navigation li a.first
{
    padding-left: 24px;
}
ul#Navigation li .pipe
{
    background: url('/Images/pipe.png') no-repeat 6px 0;
    height: 46px;
    width: 36px;
    display: block;
    text-indent: -10000px;
}
#Navigation li a:hover,
#Navigation li.selected a
{
    color: #855332;
}
#LoginInfo
{
    float: right;
    margin: -22px 0 0 0;
}
#SocialInfo
{
    clear: both;
    float: right;
    margin: -22px 53px 0 0;
}

/* Home Page */
#PayYourRentOnline 
{
    height: 421px;
    background: url('/Images/homephotos_background.png') repeat-x;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#PayYourRentOnline h2
{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    text-shadow: #111 0.1em 0.1em 0.2em;
}
#PayYourRentOnline > p
{
    color: white;
    text-align: center;
    width: 850px;
    margin: 0 auto 10px auto;
    font-size: 14px;
    line-height: 17px;
}
#HomePageCoverScroll
{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 300px;
    padding: 0;
    left: 20px;
}
#HomePageCoverScroll .item
{
    cursor: pointer;
}
#HomePageCoverScroll .item h3
{
    text-align: center;
    width: 216px;
    padding: 10px 0 0 0;
    margin-top: -18px;
    color: #fff;
    text-shadow: #111 0.1em 0.1em 0.2em;
}
.itemTitle
{
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 550px !important;
}
.itemTitle > p
{
    margin: 10px 0 0 0;
}
#HomeColumns
{
    overflow: hidden;
    width: 981px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
#HomeColumns > div
{
    float: left;
    padding: 10px;
    text-align: center;
}
#HomeColumns > div > img
{
    float: left;
}
#HomeColumns > div > h4
{
    margin: 5px 0 10px 0;
    font-weight: bold;
    font-size: .9em;
}
#HomeColumns > div > h2
{
    line-height: 1.2em;
}
#HomeColumns #RentersRoom
{
    width: 283px;
    height: 182px;
    background: url('/Images/home_blockone.png') no-repeat;
    margin-left: 13px;
}
#HomeColumns #PayRentHere
{
    width: 342px;
    height: 182px;
    background: url('/Images/home_blocktwo.png') no-repeat;
}
#HomeColumns #PayRentHere select
{
    width: 143px;
}
#HomeColumns #PayRentHere h4
{
    font-size: 1.2em;
}
#HomeColumns #ProsCorner
{
    width: 283px;
    height: 182px;
    background: url('/Images/home_blockthree.png') no-repeat;
}
#HomeColumns hr
{
    border: solid 1px #79A85A;
    display: block;
    margin: 20px 0 0 0;
    width: 100%;
}
#HomeColumns #GetDomus
{
    width: 260px;
    text-align: left;
}
#HomeColumns #GetDomus p,
#HomeColumns #RentersSaveMoney p
{
    margin: 0 0 10px 0;
}
#HomeColumns #GetDomus h2
{
    width: 218px;
}
#HomeColumns #PayRentFromSmartPhone
{
    width: 334px;
    text-align: left;
    margin-left: 38px;
}
#HomeColumns #PayRentFromSmartPhone img
{
    margin: 0 20px 0 0;
}
#HomeColumns #RentersSaveMoney
{
    width: 280px;
    text-align: left;
}
#HomeColumns #GetDomus h2,
#HomeColumns #PayRentFromSmartPhone h2,
#HomeColumns #RentersSaveMoney h2
{
    color: #000;
    text-shadow: #ccc 0.1em 0.1em 0.2em;
}

#SiteInfo
{
    padding: 20px 0;
}
#SiteInfo h3
{
    color: #7c8b52;
    background: url('/Images/footer_header_bg.png') repeat-x;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
    text-shadow: #111 0.1em 0.1em 0.2em;
}
#SiteInfo img
{
    margin: 15px 0 0 0;
}


/* Footer */
#FooterWrap
{
    background: url('/Images/footer_background.png') repeat;
    clear: both;
    width: 100%;
}
footer#SiteInfo
{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    clear: both;
}
footer#LegalInfo
{
    background: #000;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
footer #AboutUs
{
    width: 320px;
}
footer #ContactUs
{
    width: 302px;
}
footer #SiteMap
{
    width: 277px;
}
footer #CopyRight
{
    width: 505px;
}
footer #Legal
{
    width: 170px;
}
footer #FollowUs
{
    width: 224px;
}
footer .pipe
{
    color: #fff;
    font-size: 12px;
    display: inline-block;
}
footer address
{
    width: 150px;
    text-align: left;
    color: #969696;
    font-size: 12px;
    padding: 0 0 0 14px;
}
footer address *
{
    margin-bottom: 5px;
}
footer abbr
{
    width: 55px;
}
footer p
{
    color: #969696;
    padding: 0 14px;
    line-height: 16px;
    font-size: 12px;
    text-decoration: none;
}
footer a
{
    color: #969696;
    font-size: 12px;
    text-decoration: underline;
}
footer a.email
{
    padding: 0 0 0 14px;
}
footer label
{
    color: #969696;
    padding: 0 0 0 14px;
    line-height: 16px;
    font-size: 12px;
    text-decoration: none;
}
footer ul#FooterNavigation
{
}
footer ul#FooterNavigation li
{
    background: url('/Images/icon_Domus.png') no-repeat 10px 10px;
    border-bottom: solid 1px #535353;
}
footer ul#FooterNavigation li a
{
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 35px;
}
#LegalInfo a, #LegalInfo span
{
    color: #848484;
    font-size: 12px;
}
#FollowUs
{
    text-align: right;
}
#FollowUs img
{    
    margin: 0px 0 0 4px;
    position: relative;
    top: 6px;
}

#HomePageContent
{
    overflow: hidden;
}
#PageContent
{
    padding: 20px 0;
    margin: 0 0 30px 0;
    overflow: hidden;
    min-height: 750px;
}
#PageBody
{
    overflow: hidden;
}
#PageBody .left
{
    float: left;
}
#PageBody .right700
{
    float: right;
    width: 700px;
}
#PageBody .right700 .textbox
{
    border: solid 1px #9BC681;
}
#PageBody .right700 label
{
    font-size: 13px;
    display: inline-block;
    margin: 0 0 5px 0;
}


/* Custom JQuery CSS */
.ui-tabs-nav .ui-state-active
{
    background: #D7E5CB;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid 1px #9BC681;
    padding: 20px 20px 40px 20px;
}
.ui-tabs .ui-tabs-nav li a
{
    padding: 6px 8px !important;
}
.ui-tabs h3
{    
    margin-bottom: 30px;
    border-bottom: 1px solid #9BC681;
    padding-bottom: 20px;
}
        
/* CardWrap */
.CardWrap
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #fff url('/Images/card_background_green.png') no-repeat;
    height: 204px;
    width: 285px;
    overflow: hidden;
    position: relative;
}
.CardWrapLight
{
    background-image: url('/Images/card_background.png');
}
.CardWrap h4
{
    font-size: 18px;
    color: #824E21;
    margin: 10px 0;
}
.CardWrap .CardLeft
{
    float: left;
    width: 155px;
    height: 204px;
    padding: 10px 0 0 20px;
    word-wrap: break-word;
}
.CardWrap .CardRight
{
    float: right;
    width: 90px;
    height: 204px;
    padding: 20px 10px 0 0;
}
.CardWrap .CardLeft img,
.CardWrap .CardRight img
{
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: solid 1px #e7cb81;
    background: #fff;
    width: 70px;
}
.CardWrap .CardFooter
{
    width: 245px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0 20px;
    text-align: right;
}
#LeftContent
{
    float: left;
    width: 340px;
    padding: 0 50px 0 0;
    clear: both;
}
#AboutWrap #LeftContent
{
    width: 613px;
}
#LeftContent > p
{
    margin: 0 0 10px 0;
}
#LeftContent > h3.padTop
{
    padding-top: 25px;
}
#RentersWrap #LeftContent
{
    width: 300px;
}
#MoreInformationForm
{
    float: right;
    width: 492px;
    height: 576px;
    background: url('/Images/pleaseinform_background.png') no-repeat;
    padding: 20px 25px;
}
#QuickSignUp
{
    width: 492px;
    height: 155px;
    padding: 20px 25px;
    background: url('/Images/quicksignup_background.png') no-repeat;
    float: right;
}
#QuickSignUp img
{
    float: right;
}
#QuickSignUp select
{
    width: 313px;
}
#QuickSignUp #GoNowButtons
{
    width: 315px;
    margin: 10px 0 0 0;
}
#QuickSignUp #GoNowButtons .go-now-button
{
    position: relative;
    top: 15px;
    left: 12px;
}

.register-info label,
#ContactWrap .left label,
#ContactWrap #LeftContent label,
#RightContent label
{
    display: block;
    font-size: 13px;
    padding: 0 0 3px 1px;
    color: #444;
}
#ContactWrap .left input.w100
{
    margin-bottom: 5px;
}
#ContactWrap .left
{
    padding-right: 40px;
    margin-right: 40px;
    border-right: solid 1px #ccc;
    height: 350px;
    width: 250px;
}
#ContactWrap .right
{
    float: right;
    width: 655px;
}
#ContactWrap .contact-address
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 40px;
    background: #fff;
    text-align: center;
    margin: 20px auto;
    width: 350px;
}
#ContactWrap .contact-address h4
{
    font-size: 23px;
}
.step-status
{
    float: right;
    width: 120px;
    text-align: center;
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #875123;
    padding: 8px 0;
    font-weight: bold;
}
#MyPropertiesWrap
{
    overflow: hidden;
}
#ContactWrap,
#MyPropertiesWrap #StepOne,
#MyPropertiesWrap #StepTwo
{
    margin: 0 auto 20px auto;
    background: #DFECD2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
}
#ContactWrap .left label
{
    display: block;
}
.labels-wrap label
{
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
}
#MyPropertiesWrap .left
{
    width: 275px;
    float: left;
    margin-right: 20px;
}
#MyPropertiesWrap .right
{
    width: 682px;
    float: right;
}
#MyPropertiesWrap .buttons
{
    clear: both;
    text-align: right;
    float: right;
}
.thank-you
{
    background: #F0F5DE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F5DE', endColorstr='#D5E3CC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F5DE), to(#D5E3CC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F0F5DE,  #D5E3CC); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    width: 450px;
    margin: 0 auto 20px auto;
    padding: 20px 40px;
}
.thank-you a
{
    margin: 40px auto;
    display: block;
    text-decoration: underline;
    font-size: 15px;
}
.thank-you h5
{
    color: #5a413b;
    font-size: 17pt;
    font-family: Arial;
    font-weight: bold;
    margin: 10px auto;
}
.thank-you .trans-success
{
    color: #5a413b;
    font-size: 15pt;
    font-family: Arial;
}
.thank-you .trans-fail
{
    color: #9e0b0f;
    font-size: 15pt;
    font-family: Arial;
}
.thank-you .trans-title
{
    color: #5a413b;
    font-size: 15pt;
    font-family: Arial;
    font-weight: bold;
}
.thank-you .trans-id
{
    color: #083e11;
    font-size: 14pt;
    font-family: Arial;
}
#RegistrationWrap
{
    width: 904px;
    margin: 0 auto;
}
.auto-payment-info .textbox,
.register-info .textbox
{
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #D7E5CD;
}
.register-info .left .textbox
{
    display: block;
    width: 95%;
}
#ContactWrap #LeftContent .textbox,
#RightContent input.textbox
{
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #D7E5CD;
}
input.textbox
{
    font-size: 13px;
    padding: 3px 0 3px 3px;
}

/* 
    
    profile-information 

*/
.default-font,
.profile-information label,
.profile-information *
{
    font-size: 13px !important;
}
.profile-information label
{
    display: inline-block;
    margin-bottom: 5px;
}
.profile-information div .fn
{
    width: 190px;
}
.profile-information div .fn-textbox
{
    width: 184px;
}
.profile-information div .mn
{
    width: 165px;
}
.profile-information div .mn-textbox
{
    width: 165px;
}
.profile-information div .ln
{
    width: 241px;
}
.profile-information div .ln-textbox
{
    width: 231px;
}
.profile-information div .suf
{
    width: 100px;
}
.profile-information div .city
{
    width: 185px;
}
.profile-information div .city-textbox
{
    width: 180px;
}
.profile-information div .state
{
    width: 233px;
}
.profile-information div .state-dropdown
{
    width: 233px;
    margin-right: 0;
    float: none;
    display: inline-block;
}
.profile-information div .zip
{
    width: 100px;
}
.profile-information div .zip-textbox
{
    width: 100px;
}
.profile-information div .address-textbox
{
    width: 531px;
}
.profile-information div .dob,
.profile-information div .home-phone,
.profile-information div .email1
{
    width: 185px;
}
.profile-information div .commission-rate,
.profile-information div .mobile-phone,
.profile-information div .email2
{
    width: 185px;
}
.profile-information div .photo,
.profile-information div .fax-phone,
.profile-information div .email3
{
    width: 190px;
}
.profile-information div .dob-textbox,
.profile-information div .commission-rate-textbox,
.profile-information div .photo-upload,
.profile-information div .home-phone-textbox,
.profile-information div .mobile-phone-textbox,
.profile-information div .fax-phone-textbox,
.profile-information div .email1-textbox,
.profile-information div .email2-textbox,
.profile-information div .email3-textbox
{
    width: 180px;
}
.ProfileImage
{
    width: auto;
    max-width: 150px;
    margin: 5px 20px 0 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
}

#RentPaidBySomeoneElseCheckbox
{
    position: relative;
    top: 31px;
    left: 8px;
}

/* Contact Page */
#ContactWrap #RightContent
{
    float: right;
    width: 315px;
}
#ContactWrap #RightContent h4
{
    font-size: .9em;
    color: #000;
    margin: 0 0 10px 0;
    font-weight: bold;
}
#ContactUsByEmail,
#ContactUsByPhone,
#OurMailingAddress
{
    width: 312px;
    height: 111px;
    background: url('/Images/contactbox_background.png') no-repeat;
    text-align: center;
    padding: 31px 0 0 0;
}
#ContactUsByEmail img,
#ContactUsByPhone img,
#OurMailingAddress img
{
    float: left;
    position: relative;
    left: 25px;
}
#ContactUsByEmail *,
#ContactUsByPhone *
{    
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
#ContactUsByEmail a,
#ContactUsByPhone a
{
    text-decoration: underline;
}
#OurMailingAddress p
{
    margin: 0 0 5px 0;
    width: 230px;
    float: right;
}
#OurMailingAddress h5
{    
    font-size: .9em;
    font-weight: bold;
    margin: 0 0 5px 0;
}
#ContactWrap #LeftContent
{
    width: 520px;
}
#ContactWrap #LeftContent h4
{
    font-size: .9em;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #555;
}
#ContactWrap #LeftContent #ContactUsCheckboxes
{
    overflow: hidden;
    padding: 20px;
    width: 253px;
    font-size: 12px;
}
#ContactWrap #LeftContent #ContactUsCheckboxes label
{
    display: block;
    padding: 4px 0;
}
#ContactWrap #LeftContent #ContactUsCheckboxes input
{
    float: left;
    clear: left;
}
#ContactWrap #LeftContent #ContactUsCheckboxes .float-right
{
    width: 215px;
}


/* Login */

#LoginWrap
{
    width: 392px;
    height: 249px;
    text-align: left;
    margin: 40px auto 20px auto;
    background: #F0F5DE;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F5DE), to(#D5E3CC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F0F5DE,  #D5E3CC); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 1px 0 #000;
    -moz-box-shadow: 0 1px 1px 0 #000;
    -webkit-box-shadow: 0 1px 1px 0 #000;
    padding: 0 20px 20px 20px;
}
#LoginWrap h2
{
    text-align: center;
    height: 42px;
    margin: 10px auto 20px auto;
}
#LoginWrap h2 img
{
    position: relative;
    top: 11px;
    left: -8px;
}
#LoginWrap label
{
    font-size: 12px;
    padding: 0 0 3px 1px;
    color: #444;
}
#LoginWrap #UserName,
#LoginWrap #Password,
#LoginWrap .textbox
{
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #D7E5CD;
}
#LoginWrap fieldset
{
    width: 316px;
    margin: 0 auto;
    display: block;
}
#LoginWrap .brown
{
    font-size: 12px;
}
#LoginWrap .login-buttons
{
    text-align: right;
}
.LoginStatus
{
    overflow: hidden;
    min-width: 120px;
    display: inline-block;
    padding: 0 18px;
    float: right;
    margin: 0;
}
.LoginStatus .l
{
    width: 18px;
    height: 74px;
    background: url('/Images/loginstatus_left.png') repeat-x;
    display: inline-block;
    float: left;
    position: relative;
    left: -17px;
}
.LoginStatus .r
{
    width: 18px;
    height: 74px;
    background: url('/Images/loginstatus_right.png') repeat-x;
    display: inline-block;
    float: right;
    position: relative;
    right: -18px;
}
.LoginStatus .not-auth
{
    display: block;
    height: 74px;
    background: url('/Images/loginstatus_background.png') repeat-x;
}
.LoginStatus .is-auth
{
    min-width: 200px;
    display: block;
    height: 74px;
    background: url('/Images/loginstatus_background.png') repeat-x;
    padding: 0 20px;
}
.LoginStatus .is-auth > span,
.LoginStatus .is-auth > a
{
    position: relative;
    top: 20px;
}
.LoginStatus .log-on-button
{
    position: relative;
    top: 20px;
    left: 5px;
}
.LoginStatus .WelcomeMessage
{
    float: left;
    display: block;
    font-size: 14px;
    margin: 8px 20px 0 0;
    color: #855233;
}
.LoginStatus .WelcomeMessage span
{
    display: inline-block;
    margin-left: 5px;
}
.LoginStatus .log-off-button
{
    float: right;
}
#NewRenter
{
    width: 540px;
    height: 120px;
    background: url('/Images/newrenter_background.png') no-repeat;
    margin: 20px auto 0 auto;
    text-align: center;
    line-height: 95px;
}
#NewRenter label
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px 0 0;
}
#LoginWrap .float-right
{
    width: 94px;
    padding-top: 4px;
}
#ChangePasswordForm
{
    width: 475px;
    margin: 20px auto 0 auto;
}
#ChangePasswordForm hr
{
    margin: 10px 0;
    background: #eee;
}
#ChangePasswordForm .float-right
{
    width: 475px;
}

#AccountSubNavigation
{
    position: absolute;
    background: #fff;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    width: 120px;
}
#AccountSubNavigation li
{
    border-bottom: solid 1px #7B3D18;
}
#AccountSubNavigation li a
{
    display: block;
    padding: 6px;
    color: #72420b;
    font-size: 12px;
}
#AccountSubNavigation li a:hover
{
    background: url('/Images/button_large.png') repeat -10px 0;
}
#AccountSubNavigation li.last,
#AccountSubNavigation li.last a
{
    -webkit-border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}
#SelectPropertyWrap
{
    margin-right: 10px;
}
#SelectAgentWrap,
#SelectPropertyWrap
{
    overflow: hidden;
    width: 264px;
    height: 214px;
    float: left;
}
#SelectAgentWrap > select,
#SelectPropertyWrap > select
{
    margin: 0 0 10px 0;
    width: 261px;
}
#SelectAgentWrap .agent-card,
#SelectPropertyWrap .apartment-card
{
    float: left;
    padding: 12px;
    border: solid 1px #DDD;
    width: 236px;
}
#SelectAgentWrap .agent-card p,
#SelectPropertyWrap .apartment-card p
{
    margin: 0 0 10px 0;
}

#SelectAgentWrap .agent-card img,
#SelectPropertyWrap .apartment-card img
{
    float: right;
}

#RegisterStepThree .confirmation-info
{
    overflow: hidden;
}
#RegisterStepThree .confirmation-info .left
{
    float: left;
    width: 365px;
}
#RegisterStepThree .confirmation-info .right
{
    float: right;
    width: 365px;
}
.confirmation-card
{
    padding: 10px;
    width: 305px;
    float: left;
    margin: 15px 0;
    min-height: 200px;
    box-shadow: 0 0 2px #7E9F50;
    -moz-box-shadow: 0 0 2px #7E9F50;
    -webkit-box-shadow: 0 0 2px #7E9F50;
}
.confirmation-card h2
{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 3px 0;
}
.confirmation-card h2 a
{
    float: right;
    margin: 0 5px 0 0;
}
.confirmation-card .content
{
    padding: 15px;
    border: solid 1px #eee;
    background: #fff;
    min-height: 150px;
}
.confirmation-card .content p
{
    margin: 0 0 5px 0;
}
#RegisterStepThree .accept-terms
{
    font-size: .9em;
    position: relative;
    left: 10px;
    top: 10px;
}

.FAQ-Section
{
    box-shadow: 0 0 4px #000;
    -moz-box-shadow: 0 0 4px #000;
    -webkit-box-shadow: 0 0 4px #000;
    padding: 20px;
    margin: 0 0 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.faq-header
{
    padding: 0 10px 10px 10px;
    color: #eee;
    text-align: center;
}
.faq-header a
{
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

/************************
    General Classes CSS
************************/
.breakword
{
    width: 130px;
    word-break: break-all;
}
.loading
{
    box-shadow: 0 1px 2px #7E9F50;
    -moz-box-shadow: 0 1px 2px #7E9F50;
    -webkit-box-shadow: 0 1px 2px #7E9F50;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    color: #824E21;
    text-align: center;
    font-size: 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #fff;
}
.loading p
{
    margin-bottom: 10px;
}
.contact-us-today,
.click-to-pay-rent-button,
.click-to-get-started-button
{
    text-decoration: none;
    color: #fff;
    height: 28px;
    width: 143px;
    background: url('/Images/button_brown.png') no-repeat;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    font-size: 13px;
    line-height: 25px;
    border: 0;
    cursor: pointer;
}
.learn-more-button,
.long-button,
.send-me-info-button
{
    text-decoration: none;
    color: #3d6c34;
    height: 27px;
    width: 266px;
    background: url('/Images/button_large.png') no-repeat;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 13px;
    line-height: 27px;
}

.button-icon
{
    color: #3d6c34 !important;
    font-weight: bold !important;
    display: inline-block;
    font-family: Arial !important;
    font-size: 14px !important;
    margin-left: 5px;
}

.register-button,
.log-on-submit,
.log-on-button,
.log-off-button,
.green-button
{
    text-decoration: none;
    color: #3d6c34 !important;
    background: #76a558 url('/Images/button_repeat.png') repeat-x top;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 13px !important;
    line-height: 22px;
    height: 22px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 0 8px !important;
    cursor: pointer;
    border: 0 !important;
    box-shadow: 0 1px 1px #226F24;
    -moz-box-shadow: 0 1px 1px #226F24;
    -webkit-box-shadow: 0 1px 1px #226F24;
}
.register-button:hover,
.log-on-submit:hover,
.log-on-button:hover,
.log-off-button:hover,
.green-button:hover
{
    background: #b3cda1 url('/Images/button_repeat_alt.png') repeat-x top;
}
.brown-button
{
    text-decoration: none;
    color: #fff !important;
    background: #693b05 url('/Images/button_repeat2.png') repeat-x top;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 13px !important;
    line-height: 23px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 0 8px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 1px 1px #693b05;
    -moz-box-shadow: 0 1px 1px #693b05;
    -webkit-box-shadow: 0 1px 1px #693b05;
}
.brown-button:hover
{
    background: #693b05 url('/Images/button_repeat_alt2.png') repeat-x top;
}
.search-button
{
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-decoration: none;
    color: #3d6c34 !important;
    background: #76a558 url('/Images/button_repeat.png') repeat-x top;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 13px !important;
    line-height: 22px;
    height: 22px;
    padding: 0 8px !important;
    cursor: pointer;
    border: 0 !important;
    box-shadow: 0 1px 1px #226F24;
    -moz-box-shadow: 0 1px 1px #226F24;
    -webkit-box-shadow: 0 1px 1px #226F24;
}
.search-button:hover,
.register-button:hover,
.log-on-submit:hover,
.green-button-right:hover,
.log-on-button:hover,
.log-off-button:hover
{
    background: url('/Images/button_repeat_alt.png') repeat-x;
}
.add-renter-button,
.view-more-button
{
    text-decoration: none;
    color: #3d6c34;
    height: 26px;
    width: 88px;
    background: url('/Images/button_medium2.png') no-repeat;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    line-height: 27px;
    margin: 0 10px 0 0;
    border: 0;
    cursor: pointer;
}
.contact-us-button,
.about-us-button,
.reset-password-submit,
.download-app-button,
.learn-more-button
{
    text-decoration: none;
    color: #3d6c34;
    height: 26px;
    width: 134px;
    background: url('/Images/button_medium.png') no-repeat;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    font-size: 13px;
    line-height: 27px;
    clear: left;
    border: 0;
    cursor: pointer;
}
.save-button,
.edit-button,
.back-button,
.next-button,
.confirm-button,
.change-password-submit,
.go-now-button,
.send-button
{
    text-decoration: none;
    color: #3d6c34;
    height: 26px;
    width: 64px;
    background: url('/Images/button_small.png') no-repeat;
    text-align: center;
    display: inline-block;
    font-size: 13px !important;
    line-height: 27px;
    margin: 0 10px 0 0;
    border: 0;
    cursor: pointer;
}
.send-button
{
    margin-right: 0;
}
.section-wrap
{
    width: 1020px;
    height: 276px;
    background: url('/Images/section_background.png') no-repeat;
    margin: 0 auto 10px auto;
    overflow: hidden;
}
.section-wrap .section-body
{
    width: 910px;
    margin: 0 auto;
    overflow: hidden;
    height: 260px;
}
.section-wrap .section-card
{
    float: left;
    width: 250px;
    min-height: 190px;
    background: url('/Images/card_background.png') no-repeat 0 0;
    padding: 0 20px;
    position: relative;
    top: -10px;
    margin-right: 10px;
    word-wrap: break-word;
}
.section-wrap .section-card .card-body
{
    position: relative;
    top: -10px;
}
.section-wrap .section-card p
{
    font-size: 12px !important;
}
.section-wrap .card-footer
{
    overflow: hidden;
}
.section-wrap .card-footer input
{
    float: right;
}
.section-wrap .section-body h3,
.section-wrap .section-card h3
{
    color: #2b2b2b;
    font-size: 17px;
    margin: 10px 0 20px 0;
}
.section-wrap .section-body h3
{
    clear: both;
    position: relative;
    top: 8px;
}
.section-wrap .section-card h4
{
    color: #875027;
    font-size: 16px;
    margin: 20px 0 10px 0;
}
.section-wrap .section-card p
{
    font-size: 14px;
    margin: 0 0 5px 0;
}
.section-wrap .section-card a
{
    color: #895023;
    font-size: 13px;
}
.section-wrap .section-card .card-body img.preview
{
    float: right;
    margin: 0 0 0 20px;
    padding: 6px;
    border: solid 1px #e7cb81;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


.staff-card
{
    float: left;
    width: 250px;
    padding: 20px;
    margin: 0 10px 20px 0;
    min-height: 150px;
    position: relative;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f0f0f0); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 1px 0 #000;
    -moz-box-shadow: 0 1px 1px 0 #000;
    -webkit-box-shadow: 0 1px 1px 0 #000;
    border: solid 1px #76B252;
}
.staff-card h4
{
    font-size: 17px;
    margin: 0 0 10px 0;
    color: #824E21;
}
.staff-card p
{
    font-size: 14px;
    margin: 0 0 5px 0;
    width: 140px;
    word-break: break-all;
}
.staff-card a
{
    color: #895023;
    font-size: 13px;
}
.staff-card img.preview
{
    float: right;
    margin: 0 0 0 20px;
    padding: 6px;
    border: solid 1px #e7cb81;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height: 120px;
}

#RightContent .checkbox-wrap label
{
    padding: 4px 0 0 0;
}
.register-buttons
{
    text-align: right;
}
.register-info
{
    overflow: hidden;
    width: 900px;
    padding: 0 4px 0 0;
}
.register-info .left
{
    float: left;
    width: 345px;
    padding: 0 0 0 10px;
}
.register-info .right
{
    float: right;
    width: 540px;
}
a.help
{
    display: inline-block;
    background: url('/Images/icon_help.png') no-repeat;
    height: 16px;
    width: 16px;
}
a.help span
{
    display: none;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
.padding10
{
    padding: 10px;
}
.padding-top
{
    padding-top: 10px;
}
.padding-bottom
{
    padding-bottom: 10px;
}
.padding-right
{
    padding-right: 10px;
}
.margin-top
{
    margin-top: 10px;
}
.margin-right
{
    margin-right: 10px;
}
.margin-bottom
{
    margin-bottom: 10px;
}
.margin-left
{
    margin-left: 10px;
}
.float-wrap
{
    overflow: hidden;
}
.float-right
{
    float: right;
}
.float-left
{
    float: left;
}
.clear
{
    clear: both;
}
.block
{
    display: block;
}
.bigger
{
    font-size: 14px;
    display: block;
    margin: 5px 0 10px 0;
    font-weight: bold;
}
.brown
{
    color: #72420b;
}
.buttons
{
    clear: both;
    margin: 10px 0 0 0;
}
.padding
{
    padding: 20px;
}
.padTop
{
    padding-top: 10px !important;
}
.padTop35
{
    padding-top: 35px !important;
}

.validation-summary-errors
{
    font-size: .8em;
    color: red;
    padding: 15px 0;
    text-align: center;
}
.field-validation-error
{
    font-size: .8em;
    color: red;
    float: right;
}
.WelcomeHover
{
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.Welcome
{
    font-size: 12px;
    margin: 0 10px 0 0;
    color: #72420b;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}
.display-inline
{
    display: inline-block !important;
}
.w531
{
    width: 531px;
}
.w913
{
    width: 913px;
}
.w100
{
    width: 100%;
}
.inline-block
{
    display: inline-block !important;
}
.wrapper
{
    padding: 10px;
    background: #eee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 10px auto;
}
.wrapper h3
{
    text-align: center;
}
.wrapper a
{
    text-align: center;
    margin: 0 auto;
    display: block;
}
.error-message
{
    font-size: 12px;
    color: #f00;
}
.SystemMessageBody
{
    width: 75%;
    margin: 0 auto;
    display: inline-block;
    line-height: 30px;
}
.SystemMessageWrap
{
    position: relative;
}
.SystemMessageHideMe
{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 12px !important;
}
.SystemMessage-NotSet
{
    display: none;
}
.SystemMessage-Error
{
    padding: 10px;
    background: #DF2126;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 0 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px #000;
    -moz-box-shadow: 0 2px 4px #000;
    -webkit-box-shadow: 0 2px 4px #000;
}
.SystemMessage-Information
{
    padding: 10px;
    background: #EDBB1A;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 10px 0 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px #000;
    -moz-box-shadow: 0 2px 4px #000;
    -webkit-box-shadow: 0 2px 4px #000;
}
.SystemMessage-Success
{
    padding: 10px;
    background: #48AC47;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 0 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px #000;
    -moz-box-shadow: 0 2px 4px #000;
    -webkit-box-shadow: 0 2px 4px #000;
}


.textbox
{
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #D7E5CD;
}
.payment-method-values > select
{
    width: 167px;
    float: left;
}
.payment-method-values
{
    overflow: hidden;
    width: 533px;
}
.payment-method-values #DayOfEachMonthLabel
{
    float: right;
}
.payment-method-values .checkbox-wrap
{
    overflow: hidden;
    height: 40px;
    width: 270px;
    position: relative;
    left: 5px;
}
.payment-method-values #OneTimeCheckbox
{
    float: left;
}
.payment-method-values #AutoDebitCheckbox
{
    float: left;
    clear: left;
}
#tabs,
.ui-widget-header,
#accountTabs
{
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
}
.ui-tabs .ui-tabs-panel
{
    background: #D7E5CB;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: solid 1px #9BC681;
    padding: 20px 20px 40px 20px;
    overflow: hidden;
}
.ui-tabs
{
    padding: 0;
}
.ui-tabs-nav
{
    margin-left: 10px !important;
}
.green
{
    color: #469251 !important;
}
.button-right
{
    clear: both;
    padding: 10px 0;
    text-align: right;
}
.state-dropdown
{
    display: block;
    width: 174px;
    float: left;
    margin-right: 15px;
}

#OneTimePaymentWrap > .float-right
{
    width: 650px;
    margin: 0 auto;
    background: #DFECD2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
}

#OneTimePaymentWrap #StepOne 
{
    margin: 0 auto 20px auto;
    background: #DFECD2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
}

#ContactWrap,
#OneTimePaymentWrap #StepTwo,
#ManageAutoPaymentsWrap #StepTwo,
#ManageAutoPaymentsWrap #StepThree
{
    margin: 0 auto;
    background: #DFECD2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
}

/** Green Gradient CSS **/

.green-border-wrap
{
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f7f7f7); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 2px 4px 0 #A2BB91;
    -moz-box-shadow: 0 2px 4px 0 #A2BB91;
    -webkit-box-shadow: 0 2px 4px 0 #A2BB91;
    border: solid 1px #A2BB91;
}
.green-gradient-wrap
{
    background: #F0F5DE;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F5DE), to(#D5E3CC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F0F5DE,  #D5E3CC); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 1px 0 #000;
    -moz-box-shadow: 0 1px 1px 0 #000;
    -webkit-box-shadow: 0 1px 1px 0 #000;
    border: solid 1px #76B252;
}
.white-gradient-wrap
{
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f0f0f0); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 1px 0 #000;
    -moz-box-shadow: 0 1px 1px 0 #000;
    -webkit-box-shadow: 0 1px 1px 0 #000;
    border: solid 1px #76B252;
    position: relative;
}

/** Property CSS **/
.add-property-wrap
{
    overflow: hidden;
    padding: 20px;
    margin: 10px auto;
}
#PropertyList
{
    overflow: hidden;
    padding: 20px 0 20px 20px;
    margin: 10px auto;
}
.featured-property-listitem
{
    float: left;
    margin: 20px 20px 10px 0;
    width: 260px;
    position: relative;
}
.property-listitem
{
    float: left;
    margin: 20px 20px 20px 0;
    width: 260px;
    position: relative;
}
.featured-property-listitem .property-wrap
{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
    position: relative;
}
.property-listitem .property-wrap
{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.property-wrap h4
{
    margin: 0 0 10px 0;
    color: #824E21;
}
.property-wrap .propert-left
{
    float: left;
}
.property-wrap .propert-right
{
    float: right;
    width: 150px;
}
.property-wrap .propert-right P
{
    margin-bottom: 4px;
}

/** Renters Page CSS **/
#RenterHome
{

}
.add-renter-wrap
{
    overflow: hidden;
    padding: 20px;
    margin: 10px auto;
}
#RenterList
{
    overflow: hidden;
    padding: 20px;
    margin: 10px auto;
}
.featured-renter-listitem, 
.renter-listitem
{
    float: left;
    margin: 20px 20px 10px 0;
    width: 280px;
    position: relative;
}
.featured-renter-listitem .renter-wrap
{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    border: solid 1px #76B252;
    overflow: hidden;
    position: relative;
    height: 220px;
}
.renter-listitem .renter-wrap
{
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    height: 220px;

    
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f0f0f0); /* for firefox 3.6+ */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 1px 0 #000;
    -moz-box-shadow: 0 1px 1px 0 #000;
    -webkit-box-shadow: 0 1px 1px 0 #000;
    border: solid 1px #76B252;
}
.renter-wrap h4
{
    margin: 0 0 10px 0;
    color: #824E21;
}
.renter-wrap .propert-left
{
    float: left;
}
.renter-wrap .propert-right
{
    float: right;
    width: 165px;
}
.renter-wrap .propert-right P
{
    margin-bottom: 4px;
}
.magnifier
{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.magnifier span
{
    color: #C1B29F;
    font-size: 13px;
    display:inline-block;
    position: relative;
    right: 2px;
    top: -7px;
}

/** Pros Corner CSS **/
.ProsCornerPage
{    
    padding: 0 0 20px 0;
}
.ProsCornerPage h4
{
    margin-top: 0;
    margin-bottom: 10px;
    color: #865125;
}
.ProsCornerPage h4,
.ProsCornerPage h5,
.ProsCornerPage h6,
.ProsCornerPage h7
{
    color: #865125;
    font-size: 18px;
}
.ProsCornerPage .right h4,
.ProsCornerPage .right h5
{
    font-size: 20px;
    margin-bottom: 20px;
}
.ProsCornerPage .left
{
    padding: 20px;
    border: solid 2px #B5D6A1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: white;
    width: 220px;
    margin: 10px 20px 0 0;
}
.ProsCornerPage .right p,
.ProsCornerPage .left p
{
    margin-bottom: 10px;
    font-size: 14px;
}
.ProsCornerPage .right
{
    padding: 20px;
    border: solid 2px #B5D6A1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #D4E4C9;
    width: 680px;
    margin: 20px 0 0 0;
    float: right;
    position: relative;
    top: -45px;
}

/** Renters Room CSS **/
.RentersRoomPage
{
    clear: both;
}
.RentersRoomPage h4
{
    margin-top: 0;
    margin-bottom: 10px;
    color: #865125;
}
.RentersRoomPage h4,
.RentersRoomPage h5,
.RentersRoomPage h6,
.RentersRoomPage h7
{
    color: #865125;
    font-size: 18px;
}
.RentersRoomPage .right h4,
.RentersRoomPage .right h5
{
    font-size: 20px;
    margin-bottom: 20px;
}
.RentersRoomPage .left
{
    padding: 20px;
    border: solid 2px #B5D6A1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: white;
    width: 220px;
    margin: 10px 20px 0 0;
}
.RentersRoomPage .right p,
.RentersRoomPage .left p
{
    margin-bottom: 10px;
    font-size: 14px;
}
.RentersRoomPage .right
{
    padding: 20px;
    border: solid 2px #B5D6A1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #D4E4C9;
    width: 680px;
    margin: 0;
    float: right;
    position: relative;
    top: -45px;
}

/** Author CSS **/
.author
{
    margin: 30px 0;
}
.author img
{
    margin-right: 20px;
}
.author h6
{
    margin-bottom: 10px;
    font-size: 15px;
}
.author .about
{
    clear: both;
    padding: 30px 0 0 0;
}
.author .about h7
{
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}


/** Orange Image CSS **/
img.orange
{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 80px;
}

/** Empty Records / No Data CSS **/
.empty-records
{
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
}
.empty-staff-records
{
    padding: 20px;
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
}

/** Grid CSS **/
.grid-footer,
.grid{
    width: auto;
    max-width: 750px !important;
    margin: 0 auto;
}
.grid tr th
{
    width: auto;
    border-right: solid 1px #E6F4DB; 
    background: #ADD495;
    color: #717457;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    padding: 8px;
}
.grid tr th.first
{
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.grid tr th.last
{
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    border-right: 0;
}
.grid-footer
{
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: solid 1px #E6F4DB; 
    border-left: solid 1px #E6F4DB; 
    border-right: solid 1px #E6F4DB; 
    background: #ADD495;
    padding: 8px 0;
}
.grid tr td
{
    border-right: solid 1px #E6F4DB; 
    background: #FFFFFF;
    color: #333;
    text-align: center;
    font-weight: normal;
    font-size: .85em;
    padding: 8px;
}
.grid tr.alt td
{
    background: #E6F4DB;
}

/** Reports **/
.ReportWrap
{
    margin: 30px auto 20px auto;
}

.UserPanel 
{
    max-height: 424px;
}

/* Start OneTimePayment Styles*/

.thankyou, .pageMessage, .transMessage, .RentSuccessDisplay, .RentFailureDisplay, .IvrDisplay, .CharitySuccessDisplay, .CharityFailureDisplay {
    display: block;
    text-align: center;
}

.paymentText {
    font-size: .9em;
    line-height: 1.2em;
    color: #083e11;
}

.paymentText span.failed {
    font-weight: bold;
    color: #9e0b0f;
}

span.subTitle {
    font-size: inherit;
    line-height: 2em;
    color: #736259;
}

span.largeText {
    font-size: 1.2em;
    line-height: 2.5em;
    font-weight: bold;
    
}

.IvrDisplay li, ol {
    list-style-position: outside;
    list-style-type: disc !important;
    text-align: left;
    font-size: .9em;
    line-height: 1.2em;
    color: #083e11;

}

.listDisplay {
    display: inline-block;
    height: auto;
    width: 275px;
}

.pageMessage h3 {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #7a3d1a;
    text-shadow: none !important;
}

.transMessage h4{
    font-size: 1.1em;
    line-height: 1.2em;
    color: #5a413b;
}

.transMessage, .RentSuccessDisplay, .RentFailureDisplay, .IvrDisplay {
    border-bottom: 1px solid #5a413b;
    padding-bottom: 20px;
}

.RentFailureDisplay h5, .CharityFailureDisplay h5, .RentSuccessDisplay h5, .CharitySuccessDisplay h5, .IvrDisplay h5  {
    font-size: 1.1em;
    line-height: 1.5em;
    padding-top: 10px;

}

.RentSuccessDisplay h5, .CharitySuccessDisplay h5, .IvrDisplay h5 {
    color: #7a3d1a; 
}

.RentFailureDisplay h5, .CharityFailureDisplay h5 {
    color: #9e0b0f; 
}

.OTPlogoHolder {
    display: inline-block;
    height: 106px;
    width: 166px;
    text-align: center;
    background: url(/Images/RpoOtpLogo.png) 0 0;
    margin-top: 25px;
    }

span.transRec {
    font-weight: bold;
}
/* End OneTimePayment Styles*/

.trashButton {
    display: block;
    position: relative;
    bottom: 0;
    height: 20px;
    width: 18px;
    position: absolute;
    bottom: 25px;
    left: 20px;

    
}

.trashButtonEFX {
    display: block;
    position: relative;
    bottom: 0;
    height: 20px;
    width: 18px;
    position: absolute;
    bottom: 15px;
    left: 20px;    
}

.yardiIdTextbox 
{
    width: 82%;
    float: left; 
    display: inline-block;
    margin: 0 5px 5px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #D7E5CD;   
}

.paymentInfoLabel
{
    font-size: 13px;
    display: inline-block;
}

.receivedText {
    color: black;
    text-decoration: none;
}

.linkText {
    text-decoration: underline;
    color: blue;
}