﻿.PdMainContainer {
    font-size: .8em;
}

.grid {
    display: inline-block;
    width: 560px !important;
    height: auto;
}

.searchField {
    width: 45%;
    float: right;
    vertical-align: top;
}

.PdBButtonAdjust {
    vertical-align: top;
    margin-top:3px;
}

.spacingAdjust {
    margin-top: 35px;
}

.saveAdjust {
    margin-top: 15px;
}