﻿/* General Global Styles*/
body {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.clearFix {
    clear: both;
    line-height: 1px;
}

.hide {
    display: none;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.fullWidth {
    width: 100%;
}

.clearRight {
    clear: right;
}

.vertAlign {
    vertical-align: top;   
}

.mainContainer {
    width: 885px;
    height: auto;
    padding: 10px;
    margin: 0 auto 0 auto;
}

.subMainContainer {
    width: 550px;
    height: auto;
    padding: 10px;
}

.topSpacing {
    display: block;
    height: auto;
    width: auto;
    margin-top: 35px;
}

/*End General Global Styles*/

/*Start Button Styles*/

.logonButton {
    display: inline-block;
    height: 23px;
    width: 80px;
    font-size: .9em;
    line-height: 1.5em;
    text-align: center;
    clear: left;
}

.genericButton {
    display: inline-block;
    width: auto;
    padding: 0 15px 0 15px;
    font-size: .9em;
    line-height: 1.5em;
    text-align: center;
    clear: left;   
}

.greenButton {
    color: #3d6c34 !important;
    background: url("/Images/ButtonSprite.png") 0 0 repeat-x #76a558 ;
}

.greenButton:hover {
    background: url("/Images/ButtonSprite.png") 0 -23px repeat-x #76a558 ;
}

.brownButton {
    color: #fff !important;
    background: url("/Images/ButtonSprite.png") 0 -46px repeat-x #76a558 ;
}

.brownButton:hover {
    background: url("/Images/ButtonSprite.png") 0 -69px repeat-x #76a558 ;
}

.buttonsCornersAndShadow {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 1px 3px #000;
    -moz-box-shadow: 0 1px 3px #000;
    -webkit-box-shadow: 0 1px 3px #000;   
}

.imageDelete {
    display: inline-block;
    height: inherit;
    width: inherit;
    vertical-align: bottom;
    margin-bottom: 5px;
    margin-top: 10px;
}

.imageContainer {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    height: auto;
    min-height: 100px;
    width: 20%;
    margin: 15px 15px 15px 0;
    padding: 10px;
}

.smallSize {
    font-size: .71em !important;
    line-height: 1.5em;
}
/*End Button Styles*/

/*Start Section block styles*/
.greenBackground {
    background: #F0F5DE;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F5DE), to(#D5E3CC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F0F5DE,  #D5E3CC); /* for firefox 3.6+ */
}

.bgCornersAndShadows {
     border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 4px 0 #5e5e5e;
    -moz-box-shadow: 0 1px 4px 0 #5e5e5e;
    -webkit-box-shadow: 0 1px 4px 0 #5e5e5e;
}

.shadows {
    box-shadow: 0 1px 3px 0 #000000;
    -moz-box-shadow: 0 1px 3px 0 #000000;
    -webkit-box-shadow: 0 1px 3px 0 #000000;
}

/*End Section block styles*/

/*Start Form Styles*/

.formContainer {
    display: inline-block;
    width: 96%;
    height: auto;
    padding: 0 0 0 15px;
}

.formWidthThird {
    width: 30%;
}

.formWidthhalf {
    width: 46.2%;
}

.formSmallText {
    font-size: .85em !important;
}

.formField {
    width: 100%;
    font-size: .9em;
    line-height:1.2em;
    color: #904d01;
    border: 1px solid #8ea869;
    margin: 5px 0 8px 0;
    outline: none; /*for chrome*/
}

.formGroup {
    display: block;
    width: auto;
    height: auto;
    border-bottom: 1px solid #bac2b1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

.formGroupTitle {
    display: inline-block;
    height: auto;
    width: 100%;
    font-size: .85em;
    line-height: 1em;
    color: #72420b;
    font-weight: bold;
    margin-left: 13px;
}

.imageSection {
   display: inline; 
   vertical-align: top;
}
li.imageSection {
	display: inline-block;
}

.textField {
    font-family: Helvetica, Arial, sans-serif;
    
}

.formField:focus {
     border: 1px solid #98cd4f;
}

.formTitle {
    display: block;
    font-size: .8em;
    padding-top: 10px;
    float: left;
    clear: right;
}

.checkboxes {
    font-size: .8em;
    line-height: 1.5em;
}

.checkboxContainer {
    width: 80%;
    float:left;
    clear: right;
}
.formButton {
    padding-top: 8px;
}

.contactForm {
    width: 100%;
    height: auto;
    float: left;
    clear: right;
}

textarea {
    resize: none;
    height: 50px;
}


.sectionSeparator {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #bac2b1;
    padding: 5px 0 15px 0;
    margin-bottom: 10px;
}