﻿<%@ Page Language="C#"  MasterPageFile="~/SecurePages/DomusMaster.Master" AutoEventWireup="true" CodeBehind="ContactUsSent.aspx.cs" Inherits="EfxPublic.ResetPassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>



    <section>
        <div class="container">

        </div>

               <section>
        <div class="container">

            <div class="col-lg-10 center">
                <h3>Your email has been sent.</h3>

            </div>



            </div>
</section>
          </section>
        </ContentTemplate>
        </asp:UpdatePanel>


</asp:Content>
