﻿<%@ Page Title="" Language="C#" MasterPageFile="/SecurePages/DomusMaster.Master" AutoEventWireup="true" CodeBehind="MyAccount.aspx.cs" Inherits="EfxPublic.SecurePages.MyAccount" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <div>

        <h1>Test</h1>

    </div>

</asp:Content>
