﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SecurePages/DomusMaster.Master" AutoEventWireup="true" CodeBehind="TestPage.aspx.cs" Inherits="EfxPublic.SecurePages.TestPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <section>
        <div class="container">
        </div>
    </section>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>

            <section>
                <div class="container">

                    <h3>Test Wallet Response</h3>
                    <asp:Button ID="Button1" runat="server" Text="Test Response" OnClick="Button1_Click" />



                </div>
            </section>



        </ContentTemplate>
    </asp:UpdatePanel>



</asp:Content>
