﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SecurePages/DomusMaster.Master" AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="EfxPublic.SecurePages.Test" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <section style="padding-top:100px;">
        <div class="container">
            <div class="col-lg-12">
                  <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            </div>
          

                    <div class="col-lg-12">
            <asp:Button ID="Button2" runat="server" Text="Test Wallet Payment CC" OnClick="Button2_Click" />


        </div>


        </div>


    </section>


</asp:Content>
