﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PerfCounters.aspx.cs" Inherits="Domus.PerfCounters.PerfCounters" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        .TitleLabel {
            padding-right: 10px;
        }

    </style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:TextBox ID="TextBox1" runat="server" TextMode="MultiLine" Height="463px" Width="637px"></asp:TextBox>
    </form>
</body>
</html>
