﻿
/*------------------------------ drop down navigation items ----------------------------------------*/
/* For all screens (since we're not using the "only" call it should default to these styles whem the view port is 769px wide and larger */
@media screen and (min-width: 769px) {

}
    

/* ------------------- Tablet Landscape (1024px) defining breakpoint ------------------- */

/*by using only, it is the "cancel" button for browsers that do not support responsive design elements 
    -- these will default back to the standaed "default.css" styles*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape), 
only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 800px) and (max-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

    
}

   

/* ------------------- Tablet Portrait & Retina ------------------- */
@media  screen and (min-width: 421px) and (max-width: 768px), /*for desktop window*/
only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait), /* for most tablets*/
only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait), /*Retnia iPad*/
only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait), /*Standard iPad*/
only screen and (min-device-width : 801px) and (max-device-width : 1280px) and (orientation : portrait) /*Standard android Tablet*/
{


}

/* ------------------- Mobile ------------------- */
/* here we are targeting the mobile device landscape proportions, and the iPhone 5 Retnia screen. */

@media only screen and (min-width: 320px) and (max-width: 420px), /* Most Standard Phones*/
    only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),/*iphone 5 Landscape*/
    only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait),  /*iphone 5 Portrait*/
    only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) and (max-device-width: 320px) and (orientation: landscape) /* large Android phones e.g. Galaxy S4 Landscape*/
    {

    footer {
        display: none;
    }
}
    /* ------------------- Retnia specific screen version ------------------- */
@media only screen and (max-width: 320px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)  {


}