﻿/*---------------------------------  Standard CSS Reset    -------------------------------------------  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    font-family: 'Raleway', sans-serif;
	vertical-align: baseline;
    font-variant-numeric:tabular-nums !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: inherit;
    list-style-position: inside;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    /*color: #ea9c00;*/
    color: #223b67;
}

a:hover {
    /*color: #ea9c00;*/
    color: #223b67;
}

html {
    height: 100%;
    margin: 0;
    padding: 0
}

input[type=submit], input[type=reset], input[type=button] {
    color:#fff;
}
a.telephone {
    color: #223b67  !important;
    text-decoration: none !important;
    font-weight: 500;
}
a.telephone:visited {
    color: #223b67  !important;
    text-decoration: none !important;
    font-weight: 500;
}
a.telephone:hover {
    color: #223b67  !important;
    text-decoration: none !important;
    font-weight: 500;
}
/*----------------------------------- Let's set some basic rules that we will use throughout the site -----------------------------------*/
/*Setting everything to 100% to keep footer at the bottom, this includes the aspnetForm*/
html, body, #AspNetForm {
    position: relative;
    height: 100%;
    min-height: 100%;
}

/*Let's make sure the background is white*/
body {
    background-color: #fff;
}

/*General style for something having a centering margin*/
.centeredMargin {
    margin: 0 auto 0 auto;
}

.alignMiddle {
    vertical-align: middle !important;
}

.textCenter {
    text-align: center;
}

/*General style for making something 100% width*/
.fullWidth {
    width: 100%;
}

/*General style for making something 70% width*/
.seventypercent {
    width: 70%;
}

.flostRight {
    float: right;
}

.displayNone {
    display: none !important;
}

.hideModal {
    display: none;
}

/*Fixing any clear issues caused by floating items*/
.clearFix {
    clear: both;
    line-height: 1px;
}

.inline {
    display: inline-block !important;
}

.blockMarginAdjust {
    margin-top: 150px;
}

.borderBottom {
    border-bottom: 1px solid #ffffff;
}

.borderTop {
    border-top: 1px solid #e5dcd8;
}

.borderRight {
    border-right: 1px solid #e5dcd8;
}

.doubleBorder {
    border-bottom: 1px solid #e5dcd8;
    border-top: 1px solid #e5dcd8;
}

.bolded {
    font-weight: 600;
}

.pageContainer ul {
    color: #77aa2d;
    line-height: 1.5em;
}

ul.brownTextList, ul.brownTextList li {
    color: #7f4824;
    font-size: 1em!important;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.generalTextBlock {
    display: block;
    padding-bottom: 25px;
}

.faqContainer h3 {
    font-size: 1.4em !important;
}

.faqContainer article {
    margin: 10px 0 10px 0;
}


.pageContainer ul li{
    font-size: .8em;
    line-height: 1.8em;
}

.pageContainer ul li span {
    padding-right: 20px;
}

/*wraps around everything on the page*/
.wrapper {

    height: auto !important; 
    min-height: 90% !important;
    margin-top: 0;
    z-index: 1;

    background: linear-gradient(#bec6d4,white);
}

.pageContainer {
    display: block;
    height: auto;
    margin: 0 auto 0 auto;
    clear: both !important;
    padding-bottom: 25px;
    color: #7f4824;
}

.headerPositioning {
    position: absolute;
    top: 20px;
    z-index: 52;
}

.sliderContainer {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;

}

.interiorHolder {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}

.fixedHeader {
    position: fixed;
    margin-left: 204px;

}
.mainPageHeader {
    width: 100%; /*maximum width requirement*/
    height: auto;
    margin: 0 auto 0 auto;
    position: relative;

    /*
     height: auto !important; 
    min-height: 110px;
    margin: 0 auto 0 auto;
      position: relative;
        */
}

.mainLogoCotainer {
    position: absolute;
    top: 0;
    left: 8px;
    height: auto;
    width: auto;
}

.greenText {
    color: #77aa2d !important;
}

.smallLink {
    color: #7f4824!important;
    font-size: .8em !important; 
}

.smallLink:hover {
    color: #06cef9 !important;
}

.alreadyRegLink {
    display: inline-block;
    text-align: right;
    width: 99%;
    margin-top: 10px;
    padding-right: 5px;
    text-decoration: underline;
    font-size: .75em !important;
}

.mainSectionLink {
    color: #009aff;
    font-weight: 700;
    font-size: 1.05em;
    line-height: 2.3em;
}

.sectionLinkHolder {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.sectionLinkHolder .mainSectionLink {
    display: inline-block;
    margin-right: 70px;
}

.mainSectionLink:hover {
    color: #06cef9 !important;
}

.textRight {
    text-align: right;
}

.fullrow {
    display: block;
    width: 100%;
    height: auto;
    clear: both;
}
.iconSection, .iconTextBlock {
    display: inline-block;
    height: auto;
    vertical-align: middle;
}
.iconSection {
    width: 25%;
}

.columnHolder .iconSection {
    width: 50%;
    margin-top: 20px;
}

.columnHolder .iconSection p {
    font-size: .9em;
}

.iconTextBlock {
    width: 65%;
    margin: 15px 0 15px 0;
}

.columnHolder {
    width: 100%;
    height: auto;
    border-top: 1px solid #e5dcd8;
    margin-top: 15px;
    padding-top: 15px;
}

div.headbar  h1 {
    display: none;

}

.googlePlayIcon, .appStoreIcon {
    display: inline-block;
    width: 95px;
    height: 35px;
    vertical-align: top;
    margin-right: 15px; 
} 

.googlePlayIcon {
    background: url(/Images/MarketPlaceIcons.png) 0 0 no-repeat;
}

.appStoreIcon {
    background: url(/Images/MarketPlaceIcons.png) 0 -35px no-repeat;
}

img.image {
    width: 100%;
    height: auto;
}
/*------------------------------ Header Styles (global) ----------------------------------------*/
/*setting attributes for the list items withing the main navigation*/

.mainNavigation ul li {
    display: inline-block;
    color: transparent;
    /* color: #77aa2d; */
}

/*Setting the a link styles*/
.mainNavigation a, .mainNavigation span {
     font-family: 'Istok Web', sans-serif;
    font-size: 1.2em !important;
     color: white;
     text-decoration: none;
}

nav.mainNavigation span {
    padding-right: 0 !Important;
    cursor: pointer;
}

.mainNavigation a:hover, .mainNavigation span:hover {
    color: #06cef9;
}

/*setting a pipe to appear after every list item*/
.mainNavigation ul li:after {
    content: "|";
    padding: 0 .5em;
}
.mainNavigation ul li:last-child::after {
    content: "";
    padding: 0 .0em;
}


/*Clearing pipe from neted links*/

.mainNavigation ul li ul li:after {
    content: "" !important;
    padding: 0 !important;
}

.mainPageHeader .accountText p {
     font-family: 'Istok Web', sans-serif;
     color: #7f4824;
     font-size: 13px;
}

/*targeting the links within the accountText class*/
.mainPageHeader .accountText a {
     color: #7f4824;
    text-decoration: none;
}

/*adding a pipe before the link*/
.mainPageHeader .accountText a:before {
    content: "|";
    padding: 0 .5em;
}







/*nav ul li ul {
    position: absolute;
    margin-top: 5px;
    width: auto;
    background:#FFF;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #ea9c00;
}

nav .futureResidentsDropDownItem {
    width: auto;
    min-width: 165px;
}

nav ul li ul li {
    display: block !important;
    width: auto;
    height: auto;
    clear: both;
    font-size: .9em !important;
}
nav ul li ul li a {
    display: block;
    font-size: 1em;
    padding: 10px;
    line-height: 1em !important;
}

nav ul li ul li:hover a {
    background:#e58a13;
    color: #fff !important;
}

nav ul li ul.fallback {
    display:none;
}

nav ul li:hover ul.fallback {
    display: block;
}*/

/*------------------------------ Icons and Images----------------------------------------*/
.integrationsIcon, .emailMarketingIcon, .advancedReportingIcon, .streamlinePaymentsIcon, .loginIcon, .contactSalesIcon, .sendMeInfoIcon  {
    display: block;
    height: 40px;
    width: 41px;
}

.integrationsIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 0 no-repeat;
}

.emailMarketingIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 -40px no-repeat;
}

.advancedReportingIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 -80px no-repeat;
}

.streamlinePaymentsIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 -120px no-repeat;
}

.loginIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 -160px no-repeat;
}

.contactSalesIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 -200px no-repeat;
}

.sendMeInfoIcon {
    background: url("/Images/GeneralIconsSmall.png") 0 -40px no-repeat;
}

.applyTitle, .registerTitle, .payRentTitle {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    /*font-family:'Century Gothic', sans-serif;*/
    font-family: 'Lato', sans-serif;
    /*font-weight: 300;*/
    font-weight: normal !important;
}

.applyTitle {


}

.registerTitle {


}

.payRentTitle {


}

.jumioLogo, .spindleLogo, .yardiLogo {
    display: inline-block;
    height: 40px;
    width: 160px;
}

.rentReportersLogo, .messageMediaLogo {
    display: inline-block;
    height: 40px;
    width: 225px;
}


/*Partner Companies logos*/
.jumioLogo {
    background: url("/Images/PartnerCompanies1.png") 0 -40px no-repeat;
}

.spindleLogo {
   background: url("/Images/PartnerCompanies1.png") 0 -80px no-repeat; 
}

.yardiLogo {
    background: url("/Images/PartnerCompanies1.png") 0 0px no-repeat; 
    
}

.rentReportersLogo {
    background: url("/Images/PartnerCompanies2.png") 0 0 no-repeat; 
}

.messageMediaLogo {
    background: url("/Images/PartnerCompanies2.png") 0 -40px no-repeat; 
}

/*for the vertical alignment on the about page*/
.logoContainerCentered .jumioLogo, .logoContainerCentered .spindleLogo, .logoContainerCentered .yardiLogo, .logoContainerCentered .rentReportersLogo, .logoContainerCentered .messageMediaLogo {
    margin: 20px auto 20px auto;
}

.homeColumn4 .iconSection {
    width: 100%;
    margin: 0 auto 30px auto;
}

.aboutUsImage, .residentsRoomImage, .prosCornerImage {
    display: block;
}

.residentsRoomImage {
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% auto;

    /*height: 592px; */
    /*width: 1024px; */
}

.prosCornerImage {
    background: url("/Images/prosCornerBlogImage.png") 0 0 no-repeat;
    height: 592px;
    width: 1024px;
}

.aboutUsImage {
    background: url("/Images/AboutEfxBuilding.png") 0 0 no-repeat;
    height: 390px;
    width: 1024px;
}


/*------------------------------ Button Styles ----------------------------------------*/
.orangeButton {
    background-color: #06cef9 !important; /*Important added to color to override the reset of asp buttons, which is set to transparent*/
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px; /* CSS3 */ 
    -moz-border-radius: 2px; /* Firefox */  
    -webkit-border-radius: 2px; /* Safari, Chrome */ 
    behavior: url("/Styles/border-radius.htc");  /* fix for IE*/ 
    -webkit-appearance: none;
    font-weight:bold;
}

.buttonBlockPadding {
    padding: 10px !important;
}

header .orangeButton {
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
}

.orangeButton:hover {
    background-color: #06cef9 !important; /*Important added to color to override the reset of asp buttons, which is set to transparent*/
    color: #fff !important;
}

.registerNow {
    display: block;
    height: auto;
    width: 180px;
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 5px;
    font-weight: 600;
    color: #fff !important;
}

.registerNow h4 {
    color: #fff;
}

.contactSend {
    position: absolute;
    bottom: 0;
    right: 120px; /*to line up with the bottom of the message field*/
}

/*positioning the button relitive to the container that is it in*/
.currentResidentsSubmit {
    position: absolute;
    bottom: 0;
    right: 0;
}

.cantFindProperty {
    text-decoration: underline !important;
    color: #77aa2d !important;
    float: right;
}

.downloadApplicationButton {
    margin-top: 15px;
    float: right;
    clear: both;
}

.buttonRightMarginAdjust {
    margin-right: 10px !important;
}

.buttonTopMarginAdjust, .topMarginAdjust {
    margin-top: 10px !important;
}

.generalButtonHolder {
    display: inline-block;
    width: auto;
    height: auto;
    float: right;
    clear: both;
}

.leftButtonHolder {
     display: block;
    width: auto;
    height: auto;
    padding-right: 5px;
    float: left;
    clear: both;
}

.yesNoButtonContainer {
    display: block;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.buttonOverride {
    outline: none !important;
    border: 0 !important;
}
/*------------------------------ Block Styles ----------------------------------------*/
/*Block styles of the outlned orange elements in the flow charts*/
.orangeOutline {
    display: block;
    width: auto;
    background-color: #fff;
    border: 1px solid #e58a13;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url("/Styles/border-radius.htc");  /* fix for IE*/ 
}

/*Block styles of the solid orange elements in the flow charts*/
.orangeBlock {
    display: block;
    width: auto;
    background-color: #e58a13;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url("/Styles/border-radius.htc");  /* fix for IE*/    
}

/*styling the h4 element for the orangOutline class in the flow charts*/
.orangeOutline h4 {
    display: block;
    height: auto;
    width: auto;
}

/*setting a solid width for flow chart element*/
.arrowDown {
    height: 30px;
    width: 30px;
    background: url("/Images/TimelineSprite.png") 0 0 no-repeat;
    margin: 15px auto 15px auto;
}

.arrowDownLong {
    height: 254px;
    width: 30px;
    background: url("/Images/LongDownArrow.png") 0 0 no-repeat;
    margin: 40px auto 40px auto;
    
}

.arrowRight {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("/Images/TimelineSprite.png") 0 -60px no-repeat;
    margin: 15px 30px 15px auto;
}

.arrowLeft {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("/Images/TimelineSprite.png") 0 -90px no-repeat;
    margin: 15px 30px 15px auto;
}


.waiting {
    height: 30px;
    width: 30px;
    background: url("/Images/TimelineSprite.png") 0 -30px no-repeat;
    margin: 15px auto 15px auto;
    
}

p.fees {
    display: inline-block;
    margin: 8px 0 8px 0;
}

/*------------------------------ Social Media ----------------------------------------*/

.hearderTwitterIcon, .footerTwitterIcon, .hearderEmailIcon, .hearderFacebookIcon, .footerFacebookIcon, .headerLogoutIcon  {
    display: inline-block;
    background-size: 29px 29px;
    height: 29px;
    width: 29px;
}
.headerLogoutIcon {
    background-image: url("/Images/logout-icon.svg");
    
}

.hearderTwitterIcon {
    background-image: url("/Images/twitter-icon-white.svg");
    
}

.hearderFacebookIcon {
    background-image: url("/Images/facebook-icon-white.svg");
    
}

.hearderEmailIcon {
    background-image: url("/Images/email-icon-white.svg");
    
}

.footerTwitterIcon {
    background-image: url("/Images/twitter-icon-white.svg");
    
}

.footerFacebookIcon {
    background-image: url("/Images/facebook-icon-white.svg");
    
}

.largerImage {
     display: block;
     /*width: 1024px; */
     /* height: 617px; */
     width: 100%;
     height:auto;

     background-size: 100%;
    /* opacity: 0.1; */
     background-image: url(/Images/ApartmentImagePlaceholder.png);

}


/* ==============================  COMMON   =================================================*/
.h-28 {
    height: 28px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.fp-color {
    color: white !important;
}
.ntr-color {
    color:#1e73f6 !important;
}
/* ==============================  CONTAINER   ==============================================*/

.loginCore {
    background-image: url("/Images/BackgroundforLogIn.jpg");
    display: inline-block;
    background-size: 100% 860px;
    width: 100%;
    height:860px;

}

.loginPage {
  /* margin-left: 35% !important; */

}

/*CMallory - Task 00528 - Changed height from 450 to 550*/
.login1 {
    position: absolute;
    top: 165px;
    left: 35%;
    height:550px !important;
    width: 30% !important;
    padding-left: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}


.loginTitle {
    position: relative;
    width: 100%;
    /*height: 22px; */
    /*cakel: BUGID000100*/
    height:35px;
    margin: 0 0 55px 0; 

}

.loginTitle h2, .loginTitle h3, .loginTitle h4 {
    display: block;
    font-size: 1.8em;
    font-weight: 600;

    color: white !important;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 10px;
}

.login1Container {
    width: 95% !important;
}

.login1Label {
    color: white !important;
}

.loginButton {
    background: #1e73f6 !important;
    color: white;
    border-radius: 0 0 0 0;

}
.divSignup {
    text-align: right; 
    padding: 10px; 
    width: 330px;
}


.signupSubmit {
    bottom: 0;
    right: 0;
    background: #1e73f6 !important;
    color: white;
    border-radius: 0 0 0 0;
}

.login-br1 {
    height:400px !important;
    width: 35% !important;

    padding:20px 40px 10px 20px;
    border: 1px solid #C0C0C0; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    behavior: url(border-radius.htc); 
}

.login-br2 {
    border: 1px solid #C0C0C0; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    behavior: url(border-radius.htc); 
    width: 30%; 
    height: 100px; 
    padding:10px 10px 10px 13px;
}

/*------------------------------ Form Styles ----------------------------------------*/

/*General style rule of all input type="text" (and the messageBox class) -- asp.net textbox tags display as such*/
input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="number"], .messageBox, .comboBox {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #808285;
    outline: none;
    margin: 5px 0 15px 0;
    color: #7f4824;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px; /* CSS3 */ 
    -moz-border-radius: 2px; /* Firefox */  
    -webkit-border-radius: 2px; /* Safari, Chrome */ 
    behavior: url("/Styles/border-radius.htc");  /* fix for IE*/ 
}

input[type="file"] {
    background-color: transparent !important;
    color: #e58a13;
}

input[type="file"]:hover {
    background-color: transparent !important;
    color: #e58a13 !important;
}
/* targeting all the input types of text in the formRow class, these are styles mainly by the divs that surround them
    we're making sure they are flush with those divs by adding a width of 100%'*/
.formHolder .formRow div input[type="text"], .comboBox{
    width: 100%;
    margin-bottom: 3px; /*splitting the margin bottom for input fields within divs so we can have text under them*/
}

.expHolder {
    width: 60%;
    margin-right: 0 !important; /*There is a margin-right on the inner field element, so visually we don't need on here.*/
}

.expirationDateWidth {
    width: 45%;
    margin-right: 10px !important;
}
/*adding a margin to the divs withtin formRow -- this spaces the form elements out nicely*/
.formHolder .formRow div, .modalFormHolder .formRow div{
    margin: 5px 25px 2px 0;
}

/*taking off the margin on the last div element in the formRow class*/
.formHolder .formRow div:last-child, .modalFormHolder .formRow div:last-child{
    margin-right: 0;
}

/* a container for form elements that do not take up the full width of the 
    designated column that they are present in*/
.formContainer {
    width: 70%
}

/*setting the on focus state for the above */
input[type="text"]:focus, .messageBox:focus {
    border: 1px solid #e58a13;
}

/*clearing default styles for buttons (asp.net -- asp:Button item) and setting our own defaults */
input[type="submit"] {
    border-style: none;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    font-size: 1em;
    line-height: 1em;
    margin-top: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}

/*setting a full width style for a form element, percentage adjusts 
    for the padding and margins in the form element*/
.formFullWidth {
    width: 98% !important;
}

.ninetyFullWidth {
    width: 95% !important;
}

/*setting a half width style for a form element, percentage adjusts 
    for the padding and margins in the form element*/
.formHalfWidth  {
    width: 45.5%;
}

.formOneThirdWidth {
    width: 31%;
}

.formTwoThirdWidth {
    width: 60%;
}

 .tabletFormHalfAdjust input [type="text"]{
    width: 105%;
}

.formEvenThirdWidth {
    width: 30%;
    display: inline-block;
}

/*element needed to create rows of adjacent from elements and make sure they clear each other*/
.formRow {
    display: block;
    width: 100%;
}

/*setting styles for the main form labels*/
.formLable, .formLabel  {
    display: block;
    color: #77aa2d;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left !important;   
}

/*styling any text found under a form element*/
.underFormText {
    display: block;
    color: #77aa2d;
    font-size: .85em;
    font-weight: 600;   
}

/*general holder for the forms in this site*/
.formHolder {
    margin-top: 10px;
    padding-bottom: 25px;
    position: relative;
}

/*targeting the divs withing formHolder class and setting them to inline block, to be adjacent to eachother
    and not clear*/
.formHolder div {
    display: inline-block;
}

/*targerting the radiobutton list items within the contact page*/
.contactColumn1 tr {
    color: #7f4824;
    line-height: 1.8em;
}

.contactColumn1 .formHolder div {
    width: 100%;
}
.loginContainer .passwordField {
    margin-bottom: 5px !important;
}

.locationSection {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.locationImage {
    display: block;
    width: 417px;
    height: 299px;
    background: url(/Images/LocationMap.png) 0 0 no-repeat;
    margin-top: 5px;
}

/*setting height for message box -- also eliminating that pesky resizing option in chrome*/
.messageBox {
    height: 300px;
    resize: none;
}

/*styling the elements within the radiobuttonlist class*/
.radioButtonList tr {
    color: #7f4824;
    display: inline-block;
    margin-right: 10px;
}

.checkBoxText {
    font-size: .9em;
    font-weight: 600;
    line-height: 1.1em;
    color: #77aa2d !important;
}

.checkBoxBlock {
    min-height: 25px;
}


input[type="checkbox"] {
    margin: 3px 8px 0;
    
}

/***------- Future Residents form elements -------****/

.frPropertyName {
    width: 20%;
}

.FrCity {
    width: 16%;
}

.city2 {
    width: 35%;
}

.frState {
    width: 18%;
    margin-right: 10px !important;
}

.frZip {
    width: 13%;
}

.zip2 {
    width: 36%;
}

.orText {
    display: inline-block;
    height: 25px;
    width: auto;
    padding: 5px;
    margin: 25px 5px 0 -8px !important;
    vertical-align: middle !important;
}

.orText p{
    color: #77aa2d !important;
    font-weight: 600;
}

.frCvv {
    width: 36%;
}

table a {
    cursor: pointer;
}

/*------------------------------ Footer Styles ----------------------------------------*/

/*footer container*/
footer {
    width: 100% !important;
    height: 12%;
    min-height: 120px;
    margin-top: 15px;
    background-image: url("/Images/WebsiteFooter.jpg");
    /*background: #41454c;*/
    
     
}
.footer {
   width: 100%;
   height: 100px;
   position: fixed !important;
   bottom: 0;
   left: 0;
}


.footerContainer {
    display: block;
    height: auto;
    min-height: 100px;
    width: 1024px; /*maximum width requirement*/
    margin: 0 auto 0 auto;
}

.footerRow {
    width: 100%;
}

.footerSocialMedia  span {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    margin-right: 10px;
    color: #fff;
}

.acceptedPaymentMethod, .rightFooterContainer {
    display: inline-block;
    height: auto;
    vertical-align: top;
    margin-top: 20px;
    color: #fff;
}

.footerSocialMedia {
    width: 100%;
    display: block;
    float: right;
    clear: both;
    height: auto;
    vertical-align: top;
    color: #fff;
}

.legal p, .acceptedPaymentMethod p {
    color: #fff;
    font-size: .7em;
    margin-bottom: 10px;

}

.acceptedPaymentMethod {
    width: 30%;
    margin: 25px auto 0 110px;
}

.creditCardImages {
    width: 303px;
    height: 32px;
    background: url(/Images/CreditCardImages.png) 0 0 no-repeat;
}

.legal {
    width: 100%;
    text-align: right;
    float: right;
    clear: both;
    margin-top: 10px;
}

.footerSocialMedia {
    text-align: right;
}

.rightFooterContainer {
    width: 35%;
    float: right;
    clear: right;
}



.legal a{
    color: #fff;
    text-decoration: underline;
    vertical-align: baseline;
}

/*adding a pipe before the link*/
.legal span:after {
    content: "|";
    font-size: .75em;
    color: #fff;
    padding: 0 .5em !important;
}

.footerBingTranslator {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    width: 20%;
}


/*------------------------------ Bing Translator Styles (awe, yeah) ----------------------------------------*/

#MicrosoftTranslatorWidget {
    border: 1px solid #32353a !important;
    padding: 3px !important;
    background-color: #4f545b !important;
    background-image: none !important;
}

#MicrosoftTranslatorWidget select, #MicrosoftTranslatorWidget option {
    background-color: #7e858e !important;
    border: 1px solid #32353a !important;
    color: #32353a !important;
}

/*holding all the widget content*/
#MSTWContent {
    font-family: 'Raleway', sans-serif !important;
    font-size: .9em !important;
}

.MSTWHeaderText {
    font-family: 'Raleway', sans-serif !important;
    font-size: .9em !important;

}

#MSTWGoButton, #MSTWGetButton, #MSTWShareButton {
    background-image: none !important;
    background: #656a72 !important;
    border: 1px solid #32353a !important;
    opacity: .75;
}

#MSTWGoButton:hover, #MSTWGetButton:hover, #MSTWShareButton:hover {
    opacity: 1 !Important;
}

#MSTWHeader {
    border-bottom: none !important;
}

/*getting rid of the toolbar*/
#MSTToolbarVisible, #MSTTSpacer, #MicrosoftTranslatorToolbar {
    display: none !important;
}




/*------------------------------ iframe ----------------------------------------*/
iframe {
    width: 100%;
    height: 100% !important;
    min-height: 1000px; /*Set to ensure that iframe is a proper minimum height -- fixes IE rendering*/

  
}


/*------------------------------ Successfully Registered page ----------------------------------------*/
.resultHolder {
    display: block;
    width: 40%;
    height: auto;
    margin: 100px auto 0 auto;
    text-align: center;
    padding: 70px 70px 90px 70px;
}

.resultHolder p {
    display: block;
    height: auto;
    width: auto;
}

.successLogInButton {
    display: block;
    height: auto;
    width: auto;
    max-width: 75px;
    margin: 20px auto 0 auto;
}




/*------------------------------ login page ----------------------------------------*/

.logInButton, .logInButtonLarge, .logInButtonSmall, .signUpLoginButton {
    display: block;
    height: auto;
    padding: 8px;
    margin: 20px auto 0 auto;
}



.logInButton {
    width: 20%;
}

.logInButtonLarge {
    width: 55%;
}

.logInButtonSmall {
    width: 25%;
}

.signUpLoginButton {
    width: 17%;
}


.loginHolder {
    display: inline-block;
    width: 40%;
    height: 150px;
    margin: 0 25px 25px 0;
    vertical-align: top;
    padding: 10px;
}

.loginHolder:hover {
    border-color: #77aa2d;
}

.signupHolder {
    display: block;
    width: 85%;
    height: 150px;
    margin: 0 auto 25px 0;
    text-align: center;
    vertical-align: top;
    padding: 20px 10px 0 10px;
    border-top: 1px solid #e5dcd8;
    border-bottom: 1px solid #e5dcd8;
}

.loginItemHolder {
    margin: 0 25px 0 25px;
}

.loginItemHolder:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

div.loginItemHolder h4 {
    font-size: 1.5em;
    line-height: 1.8em;
}


/*------------------------------ About Page -- Leardership Team ----------------------------------------*/
.teamMember {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: auto;
    padding: 10px;
}

/*These are in the order they appear in the markup*/


/*cakel: BUGID000082 */
.devenWerling, .donGentry, .nicholasCloonen, .stevenFoster, .dougIreland, .ryanWillard, .bobbyBass, .AshleighOrr {
    display: block;
    height: 150px;
    width: 150px;
}  

.devenWerling {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 0 no-repeat;
}

.donGentry {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -150px no-repeat;
}

.nicholasCloonen {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -300px no-repeat;
}

.stevenFoster {
    height: 149px; /*his image is slightly a different size in the asset, this makes up for that*/
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -450px no-repeat;
}

.dougIreland {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -600px no-repeat;
}

.ryanWillard {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -750px no-repeat;
}

.bobbyBass {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -900px no-repeat;
}
/*cakel: BUGID00082 - updated photo*/
.AshleighOrr {
    background: url(/Images/RpoLeadershipTeam.jpg) 0 -1050px no-repeat;
}

.teamMemberName {
    display: block;
    font-size: 1.1em;
    color: #e58a13;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 10px;
}

.teamMemberTitle {
    display: block;
    font-size: .9em;
    color: #77aa2d;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 10px;
}

.teamMember a {
    text-decoration: underline;
}

.leadershipTeam {
    border-bottom: 1px solid #e5dcd8;
    padding-bottom:25px;
}


/*------------------------------ Jobs page ----------------------------------------*/

.jobContainer section.borderBottom {
    padding-bottom: 25px !important;
    font-size: .95em;
}

.jobContainer .jobItem .sectionSixty p {
    font-size: .9em;
}

.jobsListing {
    width: 100%;
    max-height: 150px;
    outline: none;
    margin: 15px 0 50px 0;
    color: #7f4824;
    border: 1px solid #e5dcd8;
}

.jobsListing:hover {
    border: 1px solid #06cef9;
}

.postDate {
    display: block;
    color: #7f4824;
    font-size: .85em;
    margin: 0 0 20px 0;
}

.jobDescription {
    display: block;
    color: #77aa2d;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.4em;
}

.jobItem {
    display: block;
    margin-top: 20px;
}

.jobItem  .sectionSixty {
    padding-bottom: 15px;
}

.uploadResume {
    height: auto;
    width: auto;
    border-bottom: 1px solid #e5dcd8;
    border-top: 1px solid #e5dcd8;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}


.uploadResume span{
    display: block;
    margin-bottom: 8px;
}



/*------------------------------ Slider ----------------------------------------*/
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 0;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	left: 0px;
	background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/Images/BxLoader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #7f4824;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #e58a13;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(/Images/BxControls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 20px;
	background: url(/Images/BxControls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(/Images/BxControls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(/Images/BxControls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper li.rightSlider .bx-caption {
	position: absolute;
	top: 390px;
	right: 55px;
    background: transparent;
	width: 43%;
}


.bx-wrapper li.leftSlider .bx-caption {
    position: absolute;
	top: 390px;
	left: 55px !important;
    background: transparent;
	width: 44%;
}

.bx-wrapper .bx-caption span h3{
	display: block;
    width: auto;
    height: auto;
    color: #fff;
    padding: 0 0 0 20px;
    font-size: 2.5em;
    line-height: 1.5em;
    background: #e58a13; /*fallback color for browsers that do not support opasity*/
    background: rgba(229, 138, 19, 0.75);
}

.bx-wrapper .bx-caption span p{
	display: block;
    width: auto;
    height: auto;
    color: #fff;
    padding: 10px 0 10px 20px;
    font-size: 1.2em;
    line-height: 1.1em;
    background: #939598; /*fallback color for browsers that do not support opasity*/
    background: rgba(147, 149, 152, 0.75);
}

.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;

}



/* PowerTip Plugin */

.toolTipIcon, .tipItem {
    display: inline-block;
    vertical-align: middle;
}

.toolTipIcon {
    width: 11px;
    height: 11px;
    background: url(/Images/ToolTipIcon3.png) 0 0 no-repeat;
    margin-left: 10px;
}

.tipItem {
    width: auto;
    height: auto;
}

/*Used to call in JavaScript*/
.cvvTip, .checkNumbersTip, .residentIdNumberTip {
    display: inline-block;
}



.toolTipContent {
    position: relative;
    height: auto;
    width: auto;
    padding: 8px;
    border-color:#06cef9 !important;
}


/* ----- CVV and echeck tool tip conent styles ----- */
.cvvImage {
    display: block;
    height: 164px;
    width: 456px;
    background: url(/Images/CvvToolTipImage2.png) 0 0 no-repeat;
    margin: 15px 0 15px 0;

}

.eCheckImage {
    display: block;
    height: 189px;
    width: 489px;
    background: url(/Images/EcheckToolTipImage.png) 0 0 no-repeat;
    margin: 15px 0 15px 0;
}



#powerTip {
	cursor: default;
	background-color: #fff;
	border: 1px solid #06cef9;
     border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url("/Styles/border-radius.htc");  /* fix for IE*/ 
	display: none;
	padding: 10px;
	position: absolute;
	white-space: nowrap;
	z-index: 3000;
}
#powerTip:before {
	content: "";
	position: absolute;
}
#powerTip.n:before, #powerTip.s:before {
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	left: 50%;
	margin-left: -5px;
}
#powerTip.e:before, #powerTip.w:before {
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	margin-top: -5px;
	top: 50%;
}
#powerTip.n:before {
	border-top: 10px solid #e58a13;
	bottom: -10px;
}
#powerTip.e:before {
	border-right: 10px solid #e58a13;
	left: -10px;
}
#powerTip.s:before {
	border-bottom: 10px solid #e58a13;
	top: -10px;
}
#powerTip.w:before {
	border-left: 10px solid #e58a13;
	right: -10px;
}
#powerTip.ne:before, #powerTip.se:before {
	border-right: 10px solid transparent;
	border-left: 0;
	left: 10px;
}
#powerTip.nw:before, #powerTip.sw:before {
	border-left: 10px solid transparent;
	border-right: 0;
	right: 10px;
}
#powerTip.ne:before, #powerTip.nw:before {
	border-top: 10px solid #e58a13;
	bottom: -10px;
}
#powerTip.se:before, #powerTip.sw:before {
	border-bottom: 10px solid #e58a13;
	top: -10px;
}
#powerTip.nw-alt:before, #powerTip.ne-alt:before,
#powerTip.sw-alt:before, #powerTip.se-alt:before {
	border-top: 10px solid #e58a13;
	bottom: -10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	left: 10px;
}
#powerTip.ne-alt:before {
	left: auto;
	right: 10px;
}
#powerTip.sw-alt:before, #powerTip.se-alt:before {
	border-top: none;
	border-bottom: 10px solid #e58a13;
	bottom: auto;
	top: -10px;
}
#powerTip.se-alt:before {
	left: auto;
	right: 10px;
}

/*------------------------------ grid styles ----------------------------------------*/

.gridHolder table, .gridHolder tbody  {
    width: 100%;
    min-width: 675px;
    background-color: #fff;
    border: 1px solid #0462c2;
}

.gridHolder tr {
    text-align: center;
}

.gridHolder td {
    vertical-align: middle;
    padding: 8px;
    /*color: black;*/
    color: #223b67 !important;
}

.gridHolder td a{
    text-decoration: underline;
}

.tableHeader {
    background-color: #0462c2;
    color: #fff;
    line-height: 1.5em;
}

.gridAltRow {
    background-color: #f7f8fa;
}

.homepageMaintenanceHolder table, .homepageMaintenanceHolder tbody {
    width: 290px !important;
    min-width: 250px !important;
    background-color: #fff;
    border: 1px solid #0462c2;
}


/*------------------------- typeahead default style ---------------------------------*/

.findProperty div {
    vertical-align: top;
}

.findProperty .searchButton {
    margin-top: 25px;
}

.typeahead-wrappers {
    display: block;
    margin: 50px 0;
}

.tt-dropdown-menu {
    width: 105%;
    height: auto;
    background-color: #fff;
    background-color: rgba(256, 256, 256, .8);
    border: 1px solid #06cef9;
    margin-top: 3px;
}

.triggered-events {
    float: right;
    width: auto;
    height: auto;
}

.tt-suggestions {
    font-size: .7em;
    width: 104%;
    
}

.tt-suggestion {
    width: 100%;
    
    margin: 0 !important;
}

.tt-dataset-0 {
    width: auto;
    margin: 0 !important;
}

.tt-suggestion p {
    width: 100%;
    padding: 8px;
    
}

.tt-suggestion p:hover {
    color: #fff !important;
    background-color: #06cef9;
}


/*----------------------------- Error Page-----------------------------*/
.errorPageholder {
    margin: 75px auto 0 auto;
    padding: 30px;
    border: 1px solid #e58a13;
    background-color: #fff;
    width: 60%;
    height: auto;   
    border-radius: 6px;
    /*CSS3 catch for webkit and moz browser support*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.errorPageholder h4{
    color: #e58a13;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 15px;
}

.errorPageholder p.orangeText{
    font-size: 1.1em;
    font-weight: 600;
}


.errorPageholder p.greenText{
     font-size: 1.2em;
    font-weight: 600;
    margin-top: 30px;
}

.errorPage .pageTitle h2 {
    display: none;
}

.alert {
	display: block;
	padding: 10px;
	margin: 0 0 10px;
	border-radius: 3px;
	line-height: 1.2;
	color: #fff;
	background: #F13131;
}
.alert.alert-error {
	background: #E58A13;
}


/* webkit scroll bar*/ 
::-webkit-scrollbar {
     width: 8px;
}

/* Track */ 
::-webkit-scrollbar-track {
/* ReSharper disable RequiresFallbackColor */
    -webkit-box-shadow: inset 0 0 6px rgba (0,0,0,0.2);
/* ReSharper restore RequiresFallbackColor */
}

/* Handle */ 
::-webkit-scrollbar-thumb {
     background: #e5e5e5;
     height: 25px !important;
    padding-top: 10px;
    -webkit-border-radius: 10px; 
     border-radius: 10px;
 }

/* ReSharper disable CssNotResolved */
::-webkit-scrollbar-thumb:window-inactive {
/* ReSharper restore CssNotResolved */
     background: #e5e5e5;
}


/*---------------------------------  Standard Screen styles (for computer screens of over 1024px resolution --------------------------------------------*/


/*Main container of all content on the page*/
.pageContainer {
    display: block;
    width: 100%; /*maximum width requirement*/
    height: 100%;
    margin: 0 auto 0 auto;
    clear: both !important;
}

.footerContainer {
    display: block;
    height: auto;
    min-height: 100px;
    width: 1024px; /*maximum width requirement*/
    margin: 0 auto 0 auto;
}


/*--------------------- Header and contents ---------------------*/
/*This is the main header of all the page, holds the logo nav links, 
    social media, login / sign up buttons and the account text*/
.mainPageHeader {
     width: 100%; /*maximum width requirement*/
}

.printLogo {
    display: none;
}

/*
    width: 100%;
    min-height: 60px;
    max-height: 211px;

    background-image: url("/Images/HeaderBar.png");
    background-size: 100% auto;
    position: absolute;
    top: 0px;
    z-index: 100;

*/
.headbar {
    position: absolute;
    top: 0px;
}
.headerbar {
    width: 100%;
    max-width: 2550px;
    min-height: 60px;
    /*max-height: 211px;*/
    max-height: 140px;
    background-size: 100% auto;
    opacity: 0.65;
    filter: alpha(opacity=65); /* For IE8 and earlier */
}


/*Setting the logo image   LogoRegular   */
.rentPaidOnlineLogo {
    position: absolute;
    top: 0px;
    background: url("/Images/LogoRegular.png") 0 0 no-repeat;
    background-size: 100% auto !important;
    min-height: 40px;
    max-height: 172px;
    height: auto;
    min-width: 160px;
    max-width: 743px;
    width: 100%;

    margin-left: 21px;
    margin-top: 12px;
}


.resizedLogo {
    width: 100px !important;
    height: auto;
}

.contactlogoContainerCentered {
    width: 60%;
    height: auto;
    margin: 25px auto 0 auto;
}
/*this is the set of main navigation links, positioning them under the logo,
     slightly overlapping -- because of this we use absolute positioning for the contents of this block*/
.mainNavigation {
     position: absolute;
     top: 70px;
     right: 1.647%;
     width: auto;
     height: auto;
}

/*positioning the div that contains the log in and sign up buttons*/
.mainPageHeader .buttoneAndWelcome {
    display: block !important;
    height: auto;
    width: auto;
    position: absolute;
    top: 35px;
    right: 10px;
    
}
.mainPageHeader .buttonHolder, .mainPageHeader .accountText {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: baseline;

}

.mainPageHeader .accountText {
    padding-top: 5px;

}

.headerSocialMedia {
    width: auto;
    height: auto;
    position: absolute;
    top: 10px;
    right: 1.647%;
}

/*---------------------------------  Interior page Structure --------------------------------------------*/


.pageTitle {

    position: relative;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #223b67;
    margin: 40px 0 55px 0;
}

.pageTitle h2, .pageTitle h3, .pageTitle h4 {
    display: block;
    font-size: 1.8em;
    font-weight: 600;

    color: white !important;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 50px;
}

.pageTitle h3, .pageTitle h4 {
    font-size: 1.1em !important;
}

.pageContainer .sectionSixty{
    width: 60%;
}

.sectionEighty {
    width: 85% !Important;
}
.section95 {
    width: 95% !Important;
}


.pageContainer .sectionDivide {
    width: 60%;
    height: 22px;
    border-bottom: 1px solid #e58a13;
    margin: 30px auto 45px auto; 
}

.pageContainer .sectionDivide h2 {
    display: block;
    width: 50px;
    height: auto;
    font-size: 1.8em;
    font-weight: 600;
    background-color: #fff;
    color: #77aa2d;
    padding: 5px 10px 5px 10px;
    margin: 0 auto 0 auto;
}

.column1, .column2, .contactColumn1, .contactColumn2, .column50, .homeColumn1, 
.homeColumn2, .homeColumn3, .homeColumn5, .aboutColumn50, .homeColumn6, .homeColumn7,
 .interiorColumnEven, .aboutColumnThird, .homeColumn8 {
    display: inline-block;
    vertical-align: top;
    height: auto;
    
}

.contactColumn1{
    width: 43%; 
    margin-right: 15px;
}

.contactColumn2 {
    width: 55%;
}

.column1 {
    width: 30%;
    margin-right: 20px;
    border-right: 1px solid #e5dcd8;
}

.column2 {
    width: 67%;
}

.columnHolder .column1 {
    width: 65%;
    border-right: 1px solid #e5dcd8;
}

 .columnHolder .column2 {
    width: 30%;
}

 .column50 {
     width: 49%;
     margin-top:15px;
 }

.interiorColumnEven {
     width: 43%;
 }

.interiorColumnEven:first-child {
     margin-right: 20px;
 }

.interiorColumnEven:last-child {
     padding-right: 30px;
 }


.aboutColumn50 {
    width: 46%;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
     
 }

.aboutColumnThird {
    width: 30%;
    min-height: 450px;
    padding: 5px 15px 5px 15px;
     
 }

.apartmentImage {
    margin-top: 15px;
    width: auto;
    height: auto;
}

.homeColumn1, .homeColumn2, .homeColumn3 {
    width: 20%;
    height: auto;
    padding: 0 0 10px 0;
    height: 160px;
    max-width: 303px;
    margin-top: 10px;
}
.homeColumn1 {
    /*margin-left: 20% !important;*/
}

.homeColumn4 {
    width: 23%;
    height: auto;
    padding: 10px 0 10px 0;
    display: inline-block;
    vertical-align: middle;
}

.homeColumn5 {
    width: 33.3%;
    height: auto;
    padding: 0;
    margin: 0 -2px 0;
}

.homeColumn6, .homeColumn7 {
  height: auto;
  padding: 0;
  margin: 0 -2px 0;  
}

.homeColumn6 {
    width: 45%;    
}

.homeColumn7 {
    width: 55%;
}

.homeColumn8 {
    width: 30%;
    margin: 0 -2px 0;
}

.firstText1, .firstText2 {
    margin-left: 20% !important;
    color: #009aff; 
    text-align: center; 
    width: 60%;
}

.firstText1 {
    padding-top: 10px;
}

.columnContent {
    height: auto;
    width: auto;
    margin: -10px 10px 0 10px;
}

/*.mainPoints .homeColumn1, .mainPoints .homeColumn2, .mainPoints .homeColumn3 {*/
.mainPoints {
    margin: 0px 15px 0 0px;
}

.mainPoints {
    text-align: center;
}

.mainPoints .homeColumn1 {
    margin-left: 45px;
}

.homeColumn4 .iconSection p {
    font-size: .85em;
    margin: 5px 5px 0 25px;
}


/*---------------------------------  Typography --------------------------------------------*/
h3 {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 600;
    color: white;
}

h4 {
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 600;
    color: #77aa2d;
}

.orangeText {
    color: #e58a13 !important;
}

a.viewJobs {
    font-size: .9em;
    color: #77aa2d;
    line-height: 3em;
    font-weight: 600;
}

.pageContainer h5 {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 600;
    color: white;
}

p {
    font-size: 1.05em;
    line-height: 1.3em;
    color: white;
    font-weight: 500;
}

p.fees {
    display: inline-block;
    font-weight: 500;
    color: #77aa2d !important;   
}

.feeSpacing {
    margin-left: 10px;
}

/*h4 tags in the flow charts*/
.pageContainer .textCenter h4 {
    font-size: 1.05em;
    line-height: 1.4em;
    font-weight: 600;
    color: #77aa2d;
}

/*h4 span tags in the flow charts (for text in parentheses)*/
.pageContainer .textCenter h4 span {
    font-size: .85em;
    line-height: 1em;
}

.iconSection h4{
    font-size: 1.1em;
    line-height: 1em;
    font-weight: 600;
    color: white !important;
}

.quote {
    border-bottom: 1px solid #e5dcd8;
    border-top: 1px solid #e5dcd8;
    margin: 20px auto 20px auto;
    padding: 8px 0 8px 0;
}

.quote h2 {
    font-size: 1.6em;
    line-height: 1.3em;
    font-weight: 600;
    color: #77aa2d;
}

.aboutColumn50 h2, .aboutColumnThird h2{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
    color: #e58a13 !important;
}

.aboutColumn50 a, .aboutColumnThird a {
    text-decoration: underline;
}

.aboutColumnThird article h3 {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 600;
    color: #77aa2d;
}

.aboutColumnThird article {
    margin: 10px 0 10px 0;
}
/* 26 */
.applyTitle h3, .registerTitle h3, .payRentTitle h3 {
    text-align: center;
    /*font-size: 30px;*/
    font-size: 38px;
    /*font-size: 1.5vw;*/
    font-size: 2vw;

    font-family: 'Lato', sans-serif;
    font-weight: normal !important;
}

.aboutColumn50 .fullrow article h3{
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 600;
    color: #77aa2d;
}

.aboutColumn50 .fullrow article{
    margin-bottom: 30px;
}

.aboutColumn50 article p{
    margin-bottom: 10px;
}

.column50 p {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #77aa2d;
}

.interiorColumnEven p {
    font-size: .85em !important;
 }

.column2 h4 span, .column2 h5 span {
    font-weight: 700;
}

.columnContent p {
    margin-bottom: 10px;
}

.columnContent a {
    text-decoration: underline;
    color: #77aa2d;
}

.columnContent h5 {
    line-height: 1em !important;
    color: white !important;
}

.propertyInfoTitle, .infoTitle {
    font-weight: 400 !important;
    padding-left: 5px;
    vertical-align: top;
}

.jobContainer ul {
    color: #7f4824;
    font-size: 1.1em !important;
    margin: 10px 0 10px 0;
}

.jobPosting h4 {
    color: #77aa2d;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 2em;
}

.jobPosting h5 {
    color: #77aa2d;
    margin: 20px 0 10px 0;
}

.jobPosting p {
    margin-bottom: 10px;
}

.jobPosting {
    padding-bottom: 15px;
}

/*------ Flow Chart Block Sizing*/

/*setting a solid width for flow chart element*/
.width200 {
    height: auto;
    width: 200px;
}

/*setting a solid width for flow chart element*/
.width250 {
    height: auto;
    width: 250px;
}

/*setting a solid width for flow chart element*/
.width100 {
    height: auto;
    width: 100px;
}

/*---------------------------------  Payment Failed --------------------------------------------*/

.paymentFailed {
    min-height: 425px !important;
    padding-top: 40px;
}

.paymentStatusInfoBlock {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto 0 auto;
    text-align: center;
}

.paymentStatusInfoBlock .redText {
    color: #c2190f;
    font-size: 1.3em;
    line-height: 1.7em;
}

.paymentStatusInfoBlock:first-child p {
    font-size: 1.2em;
    line-height: 1.7em;
}

.paymentStatusInfoBlock p {
    line-height: 1.5em;
}

.paymentStatusInfoBlock:first-child {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e5dcd8;
}
 .smallLogo {
     width: 120px;
     height: auto;
 }

 .paymentStatusInfoBlock:last-child .smallLogo {
     margin-top: 40px;
 } 

/* OPACITY  */
.opacity1 {
    opacity: 0.1;
}
.opacity9 {
    opacity: 0.9;
}

/* PADDING */
.pl-20 {
    padding-left: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pr-30 {
    padding-right: 30px;
}


/*   COLOR   */
.onColor {
  background: #045bd2;  /*1857cd 002EAD 065cfc 0143be 052ea4 04128f 02167c 042067 042c85 0334c0 045bd2*/
  opacity: 0.5; /*.7 */
}
.onColor1 {
     background: transparent;
}
.onColor2 {
     background: transparent;
}
 .offColor {
  background: transparent;
 }
 .onTextColor h3 {
     color: white;
 }
 .offTextColor h3 {
     color: #2f3f82;
     /*font-weight: bold !important;*/
 }
  .onTextColor {
     color: white;
 }
 .offTextColor {
     color: #2f3f82; /*526e9e 2f3f82 5671a0*/
     /*font-weight: bold !important;*/
 }
 /*  arrow-25-icon.svg twitter-icon   */
 .right-arrow {
    background-image:url("/Images/arrow-25-icon.svg");
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;

 }

 /* slider images */
 .sliderImageOne, span.sliderImageTwo, .sliderImageThree, .sliderImageFour, .sliderImageFive {
     display: block;
     max-width: 100%;
     width: 100%;
     height: auto;
     background-size: 100% auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.spanLeft h3 {
    z-index: 100; 
    position: absolute; 
    white-space: nowrap;
    top: 55%; 
    left: 5%; 
    width: 50px;
    text-align: right;
    margin: 5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    -webkit-animation: moveLeft 3s linear; /* Chrome, Safari, Opera */ 
}
.spanRight h3 {
    z-index: 100; 
    position: absolute; 
    white-space: nowrap;
    top: 55%; 
    left: 55%; 
    width: 50px;
    margin: 5px 10px 5px 10px;
    padding: 5px 5px 5px 5px;
    -webkit-animation: moveRight 3s linear; /* Chrome, Safari, Opera */ 
}

@-webkit-keyframes moveLeft {
     0%   {left: 75%; }
    25%  {left: 50%; }
    75%  {left: 25%; }
    100% {left: 5%; }
}
@keyframes moveLeft {
     0%   {left: 75%; }
    25%  {left: 50%; }
    75%  {left: 25%; }
    100% {left: 5%; }
}
@-webkit-keyframes moveRight {
    0%   {left: 5px; }
    25%  {left: 25%; }
    75%  {left: 50%; }
    100% {left: 75%; }
}
@keyframes moveRight {
    0%   {left: 5px; }
    25%  {left: 25%; }
    75%  {left: 50%; }
    100% {left: 75%; }
}


/* UP ARROW  */
.upArrow {
     background: url(/Images/UpArrow.png) 0 0  no-repeat;
     display: block;
     width: 30px;
     height: 30px;
     background-size: 100% auto !important;
     right: 50px; 
     float:left; 
     margin:5px 5px 0 0;
 }


.panel1Text p {
    z-index: 100; 
    position: absolute; 
    top: 22% !important; 
    left: 55%; 
    width: 40%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.panel1AText p {
    z-index: 100; 
    display: block;
    position: absolute; 
    top: 83% !important; 
    width: 80%;
    height: auto;
    margin-left: 10%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
   color: #002EAD;
}

.panel2Text p {
    z-index: 100; 
    position: absolute; 
    top: 22% !important; 
    left: 50%; 
    width: 40%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.panel2AText p {
    z-index: 100; 
    display: block;
    position: absolute; 
    top: 75% !important; 
    width: 80%;
    height: auto;
    margin-left: 10%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
   color: #002EAD;
}

.panel3Text p {
    z-index: 100; 
    position: absolute; 
    top: 22% !important; 
    left: 5%; 
    width: 40%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.panel3AText p {
    z-index: 100; 
    display: block;
    position: absolute; 
    top: 85% !important; 
    width: 80%;
    height: auto;
    margin-left: 10%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
   color: #002EAD;
}

.panel4Text p {
    z-index: 100; 
    position: absolute; 
    top: 22% !important; 
    left: 5%; 
    width: 40%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.panel4AText p {
    z-index: 100; 
    display: block;
    position: absolute; 
    top: 85% !important; 
    width: 80%;
    height: auto;
    margin-left: 10%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
   color: #002EAD;
}

.panel5Text p {
    z-index: 100; 
    position: absolute; 
    top: 22% !important; 
    left: 50%; 
    width: 40%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.panel5AText {
    z-index: 100; 
    display: block;
    position: absolute; 
    top: 80% !important; 
    width: 80%;
    height: auto;
    margin-left: 10%;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    color: white;
}


/*
    background-size: 100% auto !important;
    width: 100%;
    height: 769px;


     display: inline-block;
     width: 100%;
     height: 769px;
     background-size: 100% 769px !important;
     right: 20px;

*/

.panels1, .panels2, .panels3, .panels4, .panels5 {
    position: relative;

}

/*  Panel Images   */
.panel1Image, .panel2Image,  .panel3Image,  .panel4Image, .panel5Image {
     display: block;
     max-width: 100%;
     width: 100%;
     height: auto;
     background-size: 100% auto;
 }



.mainNavImage {
     background-image: url(/Images/ArchitectureElement.jpg);
     display: block;
     width: 100%;
     height: 300px;
     background-size: 100% 295px;
     /*opacity: 0.4;  */
}


tr.tableHeader {
    color: #fff !important;
}


/*--------------------------------- Blog Stuffs --------------------------------------------*/
.blogContainer {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

.blogPost, .blogNavigation {
    display: inline-block;
    vertical-align: top;
}

.blogPost {
    display: inline-block;
    width: 70%;
    border-right: 1px solid #e5dcd8;
    margin-right: 20px;
    padding-right: 20px;
    min-height: 200px;
}

.blogNavigation {
    width: 24%;
}

.blogPost .postTitle{
    font-size: 1.3em !important;
    font-weight: 600;
    color: #77aa2d;
    margin-bottom: 5px;
}

.blogPost .postDate {
    font-weight: 500;    
}

.blogPost .postText p {
    font-size: 1em;
    line-height: 1.2em !important;
}

.archivesSection a, .recentPostsSection a {
    cursor: pointer;
}

@media print {

    .printWrapper {
        width: 60%;
        margin: 20px auto 10px auto;
        height: auto !important;
        min-height: 50% !important;
        border: 1px solid #e58a13;
        padding: 8px;
        border-radius: 6px;  
        -moz-border-radius: 6px; 
        -webkit-border-radius: 6px;
        behavior: url(border-radius.htc);
    }

    .printWrapper .pageContainer {
        width: 90%;
        margin: 20px auto 0 auto;
    }


    .printWrapper .pageTitle, nav, .column1, .headerSocialMedia, .buttoneAndWelcome, .orangeButton, footer, .mainPageHeader  {
        display: none !important;
    }

    .printWrapper .column2 {
      width: 100%;
        text-align: center;
    }

    .printWrapper .sectionSixty {
        width: 100% !important;
    }

    .printWrapper .borderBottom {
        margin-top: 25px;
    }

    .printWrapper .printLogo {
        display: block;
        height: 100px;
        width: 161px;
    }
}

/*--------------------------------- MODAL BOX --------------------------------------------*/

#SystemMessage.modalContentContainer span {
    color: #0462c2 !important;
}

/*--------------------------------- FUTURE RESIDENT ------------------------------------------------*/
#bgImage {

}
.headerLogoutIcon {
    background-image: url("/Images/logout-icon_white.svg");
}

.resizedImage {
    width: 105px !important;
    max-width: 105px !important;
    height: auto;
}

.headerWelcome {
    width: auto;
    height: auto;
    position: absolute;
    top: 10px;
    right: 1.647%;
}

.welcomeText {
    margin-right: 10px;
}


.standardPadding {
  padding: 50px;
}
.buttonInline {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 22px;
}
.addButton {
    width: 31px;
    height: 16px;
    margin-left: 160px;
}
.calendarCallout {
  display: inline-block;
  width: 285px;
  height: 204px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url(/Images/CalendarPop-in.jpg) no-repeat 0 0;
}

div #pageCenterContainer {
    display: block;
    width: 1024px;
    height: auto;
    margin: 0 auto 0 auto;
    margin-left: 16%;
    margin-right: 16%;
    clear: both !important;
    padding-bottom: 25px;
    color: #7f4824;
}

.frPageTitle {
    margin-top: 80px;
}

.frPageTitle h2, .pageTitle h3, .pageTitle h4 {
  /*color: #064ff9 !important;*/ /*  royal blue */
  color: #0462c2 !important; /*  royal blue */
}

.pageTitle h3, .pageTitle h4 {
  color: #0462c2 !important; /*  royal blue */

}

.fr1Color {
    color: #0462c2 !important; /*  royal blue */
}
.fr2Color {
  /*color:  #06cef9 !important;*/ /* turquoise */
  color: #0462c2 !important; /*  royal blue */
}
.fr3Color {
    color: #484a4c !important; /* charcoal */
}
.frBlack {
    /*color: black !important;*/ /* black */
    color: #223b67 !important; /*dark-ish blue/black */
}

/*cakel*/
.frBlueLink{
    color: #223b67;
}
/*cakel*/
.frBlueLink:hover{
    color: #06cef9; /* turquoise */
}

.frWhite {
    color: white !important; /* white */
}

.fr1Color p {
    color: #0462c2 !important; /*  royal blue */
}

.iconSection h4 {
    color: #0462c2 !important; /*  royal blue */
}
.aboutColumn50 h2, .aboutColumnThird h2 {
  color:  #06cef9 !important; /* turquoise */
}

.fr1BColor {
    background-color: #0462c2 !important; /*  royal blue */
}

.fr2BColor {
    background-color: #06cef9 !important; /* turquoise */
}

.fr1BorderColor {
    border-color: #0462c2 !important; /*  royal blue */
}

.fr2BorderColor {
    border-color: #06cef9 !important; /* turquoise */
}

a.anchorColor {
    color: #06cef9 !important;
}

a.anchorColor :hover {
    color: #06cef9 !important;
}

ul .fr2Color {
    /*color: Black !important;*/
    color: #223b67 !important;
}
/* width */
.w40p {
    width: 40% !important;
}
.w50p {
    width: 50%;
}
.w60p {
    width: 60%;
}
.w70p {
    width: 70%;
}
.w95p {
    width: 95%;
}
.w100p {
    width: 100%;
}

.ml5p {
    margin-left: 5%;
}

.fs12 {
    font-size: 12px !important;
}


.homePageContainer .formRow .even3Column span {
    font-size: 1.0em !important;
}
/*--------------------------------- SLIDER TEXT --------------------------------------------*/
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://themes.googleusercontent.com/static/fonts/electrolize/v2/DDy9sgU2U7S4xAwH5thnJ4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Grouch Regular';
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/Grouch Regular.ttf') ;
}


.tsColor1 {
    text-shadow: 2px 2px #030547;
}

.tsColor2 {
    text-shadow: 2px 2px #3a829a;
}


/*--------------------------------- HORIZONTAL MENU  --------------------------------------------*/

#menu-bar {
  width: 100%;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  left:20px;
  position:relative;
  z-index:999;
}
#menu-bar li {
  background: transparent;
  margin: 0px 0px 6px 0px;
  padding: 0px 0px 0px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  background: transparent;
  font-style: normal;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;

}
#menu-bar li ul li a {
  margin: 0;

}
#menu-bar .active a, #menu-bar li:hover > a {
  background: transparent;
  color: #fa6b02;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #fa6b02;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background:rgba(6,206,249,0.5) !important;
   color: #fa6b02; !important;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  /*background: #FFFFFF; */
  background:rgba(6,206,249,0.5) !important;
  /*display: none;*/
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 0px #B4B4B4;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px #FFFFFF;
  -moz-box-shadow: 0px 0px 0px #FFFFFF;
  box-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#fa6b02; !important;
  font-size:12px;
  font-style:normal;
  font-family:helvetica;
  font-weight: normal;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}



