/* Simple Modal */
.hide {
    display:none
}

/* Set the overlay color when the Modal is active */
#simplemodal-overlay {
    background-color:#2b2b2b;
}

/* Simple Modal Container */
#simplemodal-container {
    height: auto; 
    width: 90%;
    background-color: #fff;
    padding-bottom: 15px; 
    border: 1px solid #e38929;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url(/Styles/border-radius.htc);  /* fix for IE*/
}

.modalContentContainer {
    height: auto;
    min-width: 400px;
    max-width: 800px;
    width: auto;
    margin: 25px;
    color: black;
    font-size: 1em;
    line-height: 1.2em;
}

.modalContentContainer ul li {
    margin: 8px 0 8px 0;
}


.modalContentContainer span {
    font-size: 1em;
    line-height: normal;
    font-weight: 600;
    color: #0462c2;
    text-align: center;
}

.informPmContainer {
    max-width: 700px;
}

.signUpContainer {
    display: inline-block;
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.modalRow {
    width: 100%;
    height: auto;
    margin: 15px 0 10px 0;
}

.modalButtonHolder {
    display: inline-block;
    width: auto;
    height: auto;
    padding-right: 5px;
    float: right;
    clear: both;
}

#ForgotPassword, #HelpFindingYourProperty {
    display: block;
    height: auto;
    width: auto;
}

#simplemodal-container .simplemodal-data {
    padding:8px;
}


#simplemodal-container a.modalCloseImg {
    background:url(/Images/ModalCloseButton.png) no-repeat; 
    width: 15px; 
    height: 15px; 
    display: inline;
    z-index: 2;
    position: absolute; 
    top: 8px; 
    right: 8px; 
    cursor:pointer;
}



/* ------------------- Mobile ------------------- */
/* here we are targeting the mobile device landscape proportions, and the iPhone 5 Retnia screen. */

@media only screen and (min-width: 320px) and (max-width: 420px), /* Most Standard Phones*/
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), /*iphone 5 Landscape*/
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait), /*iphone 5 Portrait*/
only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), /*iphone 6 Landscape*/
only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape), /*iphone 6 plus Landscape*/
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) and (max-device-width: 320px) and (orientation: landscape) /* large Android phones e.g. Galaxy S4 Landscape*/
{

    .modalContentContainer {
        max-width: 275px !Important;
        min-width: 275px;
        width: auto;
        min-height: 100px;
        height: auto;
        margin: 10px !important;
        color: black;
        font-size: 1em;
        line-height: 1.2em;
    }

}


/* ========================================================================================= */
/* iphone 4 and iphone 5 PORTRAIT  */
/* ========================================================================================= */
@media only screen 
  and (min-width: 200px) 
  and (max-width: 374px)
 and (orientation: portrait)
{

    /* modal box  */
    #simplemodal-container {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        left: 0 !important;
        top: 40px !important;
    }
    .modalContentContainer {
        margin: 1px !important;
        padding-left: 1px;
        min-width: 300px !important;
        width: 300px !important;
    }
    .modalContentContainer span {
        min-width: 100px;
        max-width: 300px;
        width: 280px !important;
    }
    #ValidationSummaryModal {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .modalContentContainer h3 {
        margin-top: 40px;
    }
    #simplemodal-container a.modalCloseImg {
        /*top: 60px; */
    }
    .modalContentContainer span {
        text-align: left;
    }
    input[type="text"], input[type="password"] .formFullWidth {
        width: 60% !important;
    }
    input[type="radio" i], input[type="checkbox" i] {
        margin: 0 0.5ex;
    }
    .ninetyFullWidth label {
        font-size: 12px;
    }
    .generalButtonHolder {
        margin-left: 50px;
    }
    .generalButtonHolder input[type="submit"] {
        margin-top: 40px;
        margin-left: 100px;
    }
    #ValidationSummaryModal {
        padding-left: 2px !important;
    }

}


/* ========================================================================================= */
/* iphone 4 and iphone 5 LANDSCAPE  */
/* ========================================================================================= */
@media only screen 
  and (min-width: 200px) 
  and (max-width: 568px)
  and (orientation: landscape)
{

    /* modal box  */
    #simplemodal-container {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        left: 0 !important;
    }

    #HelpFindingYourProperty {
        width: 90% !important;
    }
    .modalContentContainer {
        max-width: 575px !Important;
        min-width: 400px;
        width: auto;
        margin: 1px !important;
        padding-left: 1px;
    }
    .modalContentContainer h3 {
        margin-top: 40px;
    }
    #simplemodal-container a.modalCloseImg {
        /*top: 60px; */
    }
    input[type="text"], input[type="password"] .formFullWidth {
        width: 60% !important;
    }
    input[type="radio" i], input[type="checkbox" i] {
        margin: 0 0.5ex;
    }
    .ninetyFullWidth label {
        font-size: 14px;
    }

}

/* ========================================================================================= */
/*  smartphones PORTRAIT  */
/* ========================================================================================= */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 599px)
 and (orientation: portrait)
{

    /* modal box  */
    #simplemodal-container {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        left: 0 !important;
        top: 40px !important;
    }
    .modalContentContainer {
        margin: 1px !important;
        padding-left: 1px;
        min-width: 300px !important;
        width: 300px !important;
    }
    .modalContentContainer span {
        min-width: 100px;
        max-width: 300px;
        width: 280px !important;
    }
    #ValidationSummaryModal {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .modalContentContainer h3 {
        margin-top: 40px;
    }
    #simplemodal-container a.modalCloseImg {
        /*top: 60px; */
    }
    .modalContentContainer span {
        text-align: left;
    }
    input[type="text"], input[type="password"] .formFullWidth {
        width: 80% !important;
    }
    input[type="radio" i], input[type="checkbox" i] {
        margin: 0 0.5ex;
    }
    .ninetyFullWidth label {
        font-size: 12px;
    }
    .generalButtonHolder {
        margin-left: 50px;
    }
    .generalButtonHolder input[type="submit"] {
        margin-top: 40px;
        margin-left: 100px;
    }
}


/* ========================================================================================= */
/*  smartphones LANDSCAPE  */
/* ========================================================================================= */
@media only screen 
  and (min-width: 569px) 
  and (max-width: 767px)
 and (orientation: landscape)
{

    /* modal box  */
    #simplemodal-container {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        left: 0 !important;
    }

    #HelpFindingYourProperty {
        width: 90% !important;
    }
    .modalContentContainer {
        max-width: 575px !Important;
        min-width: 400px;
        width: auto;
        margin: 1px !important;
        padding-left: 1px;

    }
    .modalContentContainer h3 {
        margin-top: 40px;
    }
    #simplemodal-container a.modalCloseImg {
        /*top: 60px; */
    }
    #simplemodal-container {
        width: 90% !important;
    }
    .modalContentContainer span {
        text-align: left;
    }
    input[type="text"], input[type="password"] .formFullWidth {
        width: 90% !important;
    }
    input[type="radio" i], input[type="checkbox" i] {
        margin: 0 0.5ex;
    }
    .ninetyFullWidth label {
        font-size: 12px;
    }
    .generalButtonHolder {
        margin-left: 50px;
    }
    .generalButtonHolder input[type="submit"] {
        margin-top: 40px;
        margin-left: 100px;
    }
}

/* ========================================================================================= */
/*  tablets PORTRAIT  */
/* ========================================================================================= */
@media only screen and (min-width: 600px) 
    and (max-width: 1280px) 
    and (orientation : portrait) {

    #simplemodal-container {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        left: 0 !important;
        top: 100px !important;
    }
    .modalContentContainer {
        margin: 1px !important;
        padding-left: 1px;
        min-width: 500px !important;
        width: 500px !important;
    }

}

/* ========================================================================================= */
/*  tablets LANDSCAPE  */
/* ========================================================================================= */
@media only screen and (min-width: 768px) 
    and (max-width: 1280px) 
    and (orientation: landscape) {

    /* Simple Modal Container */
    #simplemodal-container {
        height: auto; 
        width: 540px !important;
    }

}


/*  Desktop  */
@media only screen and (min-width: 1281px)  {

    /* Simple Modal Container */
    #simplemodal-container {
        height: auto; 
        width: 750px !important;
    }

}

/*   */
#simplemodal-container.simplemodal-container-sm {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

