//
// Wells
// --------------------------------------------------


// Base class
.well {
    min-height: 20px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: @border-radius-base;
    .box-shadow(0 0 2px 2px rgba(0,0,0,.08));
    #gradient > .vertical(#F9F9FB, @gray-lightest);

    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }

    &.dashboardSearch {
        padding: 30px 5px 0px 5px;
    }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}
