﻿/*---------------------------------  Standard CSS Reset -------------------------------------------  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
	vertical-align: baseline;
    font-variant-numeric:tabular-nums !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    /*background: url(/Images/HeaderBG.png) 0 -3px repeat-x;*/
}
ol, ul {
    list-style: inherit;
    list-style-position: inside;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

a {
    text-decoration: none;
}

textarea {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    resize: none;
    outline: none;
}


/*---------------------------------  End CSS Reset -------------------------------------------  */

/*----- Let's set some basic rules that we will use throughout the site -----*/


/*Setting everything to 100% to keep footer at the bottom, this includes the aspnetForm*/
html, body, #AspNetForm {
    height: 100%;
    min-height: 100%;
}

#AspNetForm {
    margin-top: -10px; /*canceling out spacing cause by aspnet form element at top of page*/
}

/*General style for something having a centering margin*/
.centeredMargin {
    margin: 0 auto 0 auto;
}

/*General Style for when we need centered text*/
.textCenter {
    text-align: center;
}

/*General style for making something 100% width*/
.fullWidth {
    width: 100%;
}

/*General style for floating an item right*/
.flostRight {
    float: right;
}

/*General style for display: none;*/
.displayNone {
    display: none !important;
}

.displayInline {
    display: inline-block;
}

/*Fixing any clear issues caused by floating items*/
.clearFix {
    clear: both;
    line-height: 1px;
}

/*Adding a border to the right*/
.borderRight {
    border-right: 1px solid #e5dcd8;
}

.standardPadding {
    padding: 50px;
}

.slimPadding {
    padding: 25px;
}

.columnMarginAdjust {
    margin: 30px 0 0 20px;
}

.formLabelTextAdjust {
    font-size: .9em !important;
}

.checkBoxTextAdjust {
    font-size: .76em !important;
    line-height: 1.5em !important;
}

.rowSpacingAdjust {
    margin: 15px 0 15px 0;
}

.rowSpacingAdjustTop {
    margin: 15px 0 8px 0;
}

.clearBorderRight {
    border-right: 0 !important;
}

ul li {
    color: #7f4824;
    font-size: 1em;
    font-weight: 500;
}

.itemLabel {
    display: inline-block;
    color: #77aa2d;
    font-weight: 600;
    margin-right: 5px;
}

.resizedImage {
   width: 105px !important;
   max-width: 105px !important;
   height: auto; 
}

.orangeText {
    color: #ea9c00;
}

.forgotPassword {
    color: #7f4824;
    font-size: .75em;
    line-height: 1.2em;
}

.passwordField {
    margin-bottom: 0!important;
}

.loginContainer {
    margin-left: 190px;
}



/*--------------------- General Page Structure ---------------------*/

.aspNetHidden {
    display: none;
}
/*wraps around everything on the page*/
.wrapper {
    height: auto !important; 
    height: 100%;
    min-height: 100%;
    position: relative;
    /*z-index: 1; messed with modal*/
}

/*Main container of all content on the page*/
.pageContainer {
    display: block;
    width: 1024px; /*maximum width requirement*/
    height: 100%;
    margin: -50px auto 0 auto; /*minus margin to overlap absolute potitioned header, this will cause the page title to display in place below the gray bar, next to the logo*/
    clear: both !important;
}

.fullrow {
    display: block;
    width: 100%;
    height: auto;
    clear: both;
}

.pageContainer a {
    color: #7f4824;
}

.pageContainer a:hover {
    color: #77aa2d;
}
/*--------------------- Header and contents ---------------------*/
/*This is the main header of all the page, holds the logo nav links, 
    social media, login / sign up buttons and the account text*/
.mainPageHeader {
    width: 1024px; /*maximum width requirement*/
    height: 125px;
    margin: 0 auto 0 auto;
    position: relative;
}

/*Setting the logo image*/
.rentPaidOnlineLogo {
     height: 73px;
     width: 161px;
     background: url("/Images/RentPaidOnlineLogo.png") 0 0 no-repeat;
     margin-top: 10px;
}

/*this is the set of main navigation links*/
.mainNavigation {
     position: absolute;
     top: 5px;
     left: 190px;
     width: 834px;
     height: auto;
     background-color: #ea9c00;
}

/*positioning the div that contains the log in and sign up buttons*/
.mainPageHeader .buttonHolder {
    width: auto;
    height: auto;
    position: absolute;
    right: 8px;
    top: 35px;
}

.headerSocialMedia {
    width: auto;
    height: auto;
    position: absolute;
    top: 18px;
    right: 8px;
}

.logInButtonHolder {
    position: absolute;
    top: 18px;
    right: 65px;
}

.logInButtonHolder .loginButton {
    color: #fff;
    font-size: .85em;
}

.logInButtonHolder .loginButton:hover {
    color: #7f4824;
}

.generalButtonHolder {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 5px 0 5px 0;
    text-align: right;
}

.welcomeText, .logOutText {
    vertical-align: baseline;
}

.welcomeText {
    margin-right: 10px;
}

.logOutText:hover {
    color: #ea9c00 !important;
}

/*adding a pipe before the link*/
.mainPageHeader .lgOutText:before {
    content: "|";
    padding: 0 .4em;
}

.nothingToShow {
    display: block;
    height: auto;
    width: auto;
    padding: 5px 0 15px 0;
}


/*------------------------------ Header Typography Styles----------------------------------------*/


.mainPageHeader .mainLogoCotainer {
    height: auto;
    width: 190px;
    position: absolute;
    top: 10px;
    left: 0;
}

.mainLogoCotainer h1 {
    display: none;
}

/*setting attributes for the list items withing the main navigation*/

.mainNavigation ul {
    margin-left: 10px;
}

.mainNavigation ul li {
    display: inline-block;
    color: #fff;
}

/*Setting the a link styles*/
.mainNavigation a {
     font-family: 'Istok Web', sans-serif;
     font-size: 19px;
     color: #fff;
     text-decoration: none;
}

.mainNavigation a:hover {
     color: #7f4824;
}

/*setting a pipe to appear after every list item*/
.mainNavigation ul li:after {
    content: "|";
    padding: 0 .5em;
}

/*setting a pipe to appear after every list item*/
.mainNavigation ul li:after {
    content: "|";
    padding: 0 .5em;
}

/*targeting the links within the accountText class*/
.accountText {
    position: absolute;
    height: 25px;
    width: 834px;
    top: 46px;
    left: 190px;
    color: #fff;
    font-size: .8em;
    background-color: #5c6066;
}


/*targeting the links within the accountText class*/
.mainPageHeader .accountText a, .accountText p {
    color: #fff;
    text-decoration: none;
}

.mainPageHeader .accountText p {
    display: block;
    margin: 4px 10px 0 0;
    float: right;
}

/*------------------------------ Button Styles ----------------------------------------*/
.orangeButton {
    background-color: #e58a13 !important;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #fff !important;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url(border-radius.htc);  /* fix for IE*/ 
}

.orangeButton:hover, .grayOffButton:hover, .okayButton:hover {
    background-color: #ea9c00 !important;
    color: #fff !important;
}

.grayOffButton {
    background-color: #7f7f7f;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #fff !important;
    color: #bcbcbc;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url(border-radius.htc);  /* fix for IE*/ 
}

.buttonInline {
    display: inline-block;
    margin-right: 5px;
}

.imagePickerButton {
    display: inline-block;
    margin-top: 10px;
    float: right;
}

.saveButton {
    font-size: 1em;
}

.buttonInline:last-child {
    margin-right: 0;
}

.bottomButtonHolder {
    margin-top: 15px;
}

.alignRight {
    text-align: right;
}
/*------------------------------ Social Media ----------------------------------------*/

.hearderTwitterIcon, .footerTwitterIcon, .hearderFacebookIcon, .footerFacebookIcon  {
    display: inline-block;
    height: 24px;
    width: 25px;
}
.hearderTwitterIcon {
    background: url("/Images/SocialMediaIcons.png") 0 0 no-repeat;
    
}

.hearderFacebookIcon {
    background: url("/Images/SocialMediaIcons.png") 0 -25px no-repeat;
    
}

.footerTwitterIcon {
    background: url("/Images/SocialMediaIcons.png") 0 -50px no-repeat;
    
}

.footerFacebookIcon {
    background: url("/Images/SocialMediaIcons.png") 0 -75px no-repeat;
    
}


/*------------------------------ Footer Styles ----------------------------------------*/
/*cakel: BUGID00118 - updated css styles from public site for footer to match footer on public site*/
/*
footer {
    width: 100% !important;
    height: 12%;
    min-height: 120px;
    margin-top: 15px;
    background: #41454c;
}

.footerContainer {
    display: block;
    height: auto;
    min-height: 100px;
    width: 1024px; 
    margin: 0 auto 0 auto;
}

.footerRow {
    width: 100%;
}

.footerSocialMedia  span {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    margin-right: 10px;
    color: #fff;
}

.acceptedPaymentMethod, .rightFooterContainer {
    display: inline-block;
    height: auto;
    vertical-align: top;
    margin-top: 20px;
    color: #fff;
}

.footerSocialMedia {
    width: 100%;
    display: block;
    float: right;
    clear: both;
    height: auto;
    vertical-align: top;
    color: #fff;
}

.legal p, .acceptedPaymentMethod p {
    color: #fff;
    font-size: .7em;
    margin-bottom: 10px;

}

.acceptedPaymentMethod {
    width: 30%;
    margin: 25px auto 0 130px;
}

.creditCardImages {
    width: 240px;
    height: 32px;
    background: url(/Images/CreditCardImages.png) 0 0 no-repeat;
}

.legal {
    width: 100%;
    text-align: right;
    float: right;
    clear: both;
    margin-top: 10px;
}

.footerSocialMedia {
    text-align: right;
}

.rightFooterContainer {
    width: 35%;
    float: right;
    clear: right;
}



.legal a{
    color: #fff;
    text-decoration: underline;
    vertical-align: baseline;
}


.legal span:after {
    content: "|";
    font-size: .75em;
    color: #fff;
    padding: 0 .5em !important;
}

.footerBingTranslator {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    width: 20%;
}
*/



/*------------------------------ Footer Styles ----------------------------------------*/

/*footer container*/
footer {
    width: 100% !important;
    height: 12%;
    min-height: 120px;
    margin-top: 15px;
    background: #41454c;
}
.footer {
   width: 100%;
   height: 100px;
   position: fixed !important;
   bottom: 0;
   left: 0;
}


.footerContainer {
    display: block;
    height: auto;
    min-height: 100px;
    width: 1024px; 
    margin: 0 auto 0 auto;
}

.footerRow {
    width: 100%;
}

.footerSocialMedia  span {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    margin-right: 10px;
    color: #fff;
}

.acceptedPaymentMethod, .rightFooterContainer {
    display: inline-block;
    height: auto;
    vertical-align: top;
    margin-top: 20px;
    color: #fff;
}

.footerSocialMedia {
    width: 100%;
    display: block;
    float: right;
    clear: both;
    height: auto;
    vertical-align: top;
    color: #fff;
}

.legal p, .acceptedPaymentMethod p {
    color: #fff;
    font-size: .7em;
    margin-bottom: 10px;

}

.acceptedPaymentMethod {
    width: 30%;
    margin: 25px auto 0 130px;
}

.creditCardImages {
    width: 303px;
    height: 32px;
    background: url(/Images/CreditCardImages.png) 0 0 no-repeat;
}

.legal {
    width: 100%;
    text-align: right;
    float: right;
    clear: both;
    margin-top: 10px;
}

.footerSocialMedia {
    text-align: right;
}

.rightFooterContainer {
    width: 35%;
    float: right;
    clear: right;
}



.legal a{
    color: #fff;
    text-decoration: underline;
    vertical-align: baseline;
}

/*adding a pipe before the link*/
.legal span:after {
    content: "|";
    font-size: .75em;
    color: #fff;
    padding: 0 .5em !important;
}

.footerBingTranslator {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    width: 20%;
}

/*cakel: BUGID00118 - Added Bing style*/
/*------------------------------ Bing Translator Styles (awe, yeah) ----------------------------------------*/

#MicrosoftTranslatorWidget {
    border: 1px solid #32353a !important;
    padding: 3px !important;
    background-color: #4f545b !important;
    background-image: none !important;
}

#MicrosoftTranslatorWidget select, #MicrosoftTranslatorWidget option {
    background-color: #7e858e !important;
    border: 1px solid #32353a !important;
    color: #32353a !important;
}

/*holding all the widget content*/
#MSTWContent {
    font-family: 'Raleway', sans-serif !important;
    font-size: .9em !important;
}

.MSTWHeaderText {
    font-family: 'Raleway', sans-serif !important;
    font-size: .9em !important;

}

#MSTWGoButton, #MSTWGetButton, #MSTWShareButton {
    background-image: none !important;
    background: #656a72 !important;
    border: 1px solid #32353a !important;
    opacity: .75;
}

#MSTWGoButton:hover, #MSTWGetButton:hover, #MSTWShareButton:hover {
    opacity: 1 !Important;
}

#MSTWHeader {
    border-bottom: none !important;
}

/*getting rid of the toolbar*/
#MSTToolbarVisible, #MSTTSpacer, #MicrosoftTranslatorToolbar {
    display: none !important;
}



/*------------------------------ grid styles ----------------------------------------*/

.gridHolder table, .gridHolder tbody{
    width: 100%;
    min-width: 675px;
    background-color: #fff;
    border: 1px solid #77aa2d !important;
}

.gridHolder tr {
    text-align: center;
}

.gridHolder td {
    vertical-align: middle;
    padding: 8px;
    color: #7f4824;
}

.gridHolder td a{
    text-decoration: underline;
}

.tableHeader {
    background-color: #77aa2d;
    color: #fff;
    line-height: 1.5em;
}

.gridAltRow {
    background-color: #f4f9e8;
}

/*homepage grid*/

.homepageMaintenanceHolder table, 
.homepageMaintenanceHolder tbody  {
    width: 290px !important;
    min-width: 250px !important;
    background-color: #fff;
    border: 1px solid #77aa2d;
}

.homepageMaintenanceHolder .tableHeader {
    background-color: #77aa2d;
    color: #fff;
    font-size: .7em;
    line-height: 1.5em;
}

.homepageMaintenanceHolder td:first-child {
    width: 55px;
}

.viewMoreLink {
    margin: 0 !important;
}

/*------------------------------ Announcements Styles ----------------------------------------*/

.announcementsTitle, .announcementsDate, .announcementsBody {
    display: block;
    width: 100%;
    height: auto;
}

.announcementsTitle h3 {
    line-height: 1.3em !important;

}

.announcementsDate {
    color: #ea9c00;
    font-size: .8em;
    line-height: 1.3em;
}

.announcementsBody {
    margin-bottom: 25px;
}

.announcementsColumn ul li {
    font-size: .85em!important;
    line-height: 1.2em !important;
    margin-bottom: 10px;
}

/* webkit scroll bar*/ 
::-webkit-scrollbar {
     width: 8px;
}

/* Track */ 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

/* Handle */ 
::-webkit-scrollbar-thumb {
     background: #e5e5e5;
     height: 25px !important;
    padding-top: 10px;
    -webkit-border-radius: 10px; 
     border-radius: 10px;
 }

::-webkit-scrollbar-thumb:window-inactive {
     background: #e5e5e5;
}



/*------------------------------ Tool Tip Styles ----------------------------------------*/
.toolTipIcon, .tipItem {
    display: inline-block !important;
    vertical-align: middle;
}

.toolTipIcon {
    width: 11px;
    height: 11px;
    background: url(/Images/ToolTipIcon.png) 0 0 no-repeat;
    margin-left: 10px;
    cursor: pointer !important;
    border-color: #06cef9 !important;
}

.tipItem {
    width: auto;
    height: auto;
}

/*Used to call in JavaScript*/
.cvvTip, .checkNumbersTip, .autoPayTip {
    display: inline-block;
}


.autoPayTip {
    width: 60%;
}
.toolTipContent {
    position: relative;
    height: auto;
    width: auto;
    padding: 8px;
}


/* ----- CVV and echeck tool tip conent styles ----- */
.cvvImage {
    display: block;
    height: 164px;
    width: 456px;
    background: url(/Images/CvvToolTipImage.png) 0 0 no-repeat;
    margin: 15px 0 15px 0;
}

.eCheckImage {
    display: block;
    height: 189px;
    width: 489px;
    background: url(/Images/EcheckToolTipImage.png) 0 0 no-repeat;
    margin: 15px 0 15px 0;
}



#powerTip {
	cursor: default;
	background-color: #fff;
	border: 1px solid #e58a13;
     border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url(border-radius.htc);  /* fix for IE*/ 
	display: none;
	padding: 10px;
	position: absolute;
	white-space: nowrap;
	z-index: 3000;
}
#powerTip:before {
	content: "";
	position: absolute;
}
#powerTip.n:before, #powerTip.s:before {
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	left: 50%;
	margin-left: -5px;
}
#powerTip.e:before, #powerTip.w:before {
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	margin-top: -5px;
	top: 50%;
}
#powerTip.n:before {
	border-top: 10px solid #e58a13;
	bottom: -10px;
}
#powerTip.e:before {
	border-right: 10px solid #e58a13;
	left: -10px;
}
#powerTip.s:before {
	border-bottom: 10px solid #e58a13;
	top: -10px;
}
#powerTip.w:before {
	border-left: 10px solid #e58a13;
	right: -10px;
}
#powerTip.ne:before, #powerTip.se:before {
	border-right: 10px solid transparent;
	border-left: 0;
	left: 10px;
}
#powerTip.nw:before, #powerTip.sw:before {
	border-left: 10px solid transparent;
	border-right: 0;
	right: 10px;
}
#powerTip.ne:before, #powerTip.nw:before {
	border-top: 10px solid #e58a13;
	bottom: -10px;
}
#powerTip.se:before, #powerTip.sw:before {
	border-bottom: 10px solid #e58a13;
	top: -10px;
}
#powerTip.nw-alt:before, #powerTip.ne-alt:before,
#powerTip.sw-alt:before, #powerTip.se-alt:before {
	border-top: 10px solid #e58a13;
	bottom: -10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	left: 10px;
}
#powerTip.ne-alt:before {
	left: auto;
	right: 10px;
}
#powerTip.sw-alt:before, #powerTip.se-alt:before {
	border-top: none;
	border-bottom: 10px solid #e58a13;
	bottom: auto;
	top: -10px;
}
#powerTip.se-alt:before {
	left: auto;
	right: 10px;
}

/*------------------------------ blog ----------------------------------------*/
.blogHolder {
    width: 100%;
    margin: 0 auto;
}

/*------------------------------ iframe ----------------------------------------*/
iframe {
    width: 100%;
    height: 100% !important;
    min-height: 1000px; /*Set to ensure that iframe is a proper minimum height -- fixes IE rendering*/

  
}


/* For Print */
.printLogo {
    display: none;
}


/*--------------------------------- Blog Stuffs --------------------------------------------*/
.blogContainer {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

.blogPost, .blogNavigation {
    display: inline-block;
    vertical-align: top;
}

.blogPost {
    display: inline-block;
    width: 70%;
    border-right: 1px solid #e5dcd8;
    margin-right: 20px;
    padding-right: 20px;
    min-height: 200px;
}

.blogNavigation {
    width: 24%;
}

.blogPost .postTitle{
    font-size: 1.3em !important;
    font-weight: 600;
    color: #77aa2d;
    margin-bottom: 5px;
}

.blogPost .postDate {
    font-weight: 500;
    color: #e58a13;
    margin-bottom: 5px;  
}

.blogPost .postText p {
    font-size: 1em;
    line-height: 1.2em !important;
    color: #7f4824;
}

.blogPost .postText {
    color: #7f4824;
}

.archivesSection a, .recentPostsSection a {
    cursor: pointer;
}

.residentsRoomImage {
    background: url("/Images/residentsRoomBlogImage.png") 0 0 no-repeat;
    height: 592px;
    width: 1024px;
}


.calendarCallout {
	display: inline-block;
	width: 285px;
	height: 204px;
	text-indent: -9999px;
	overflow: hidden;
	background: transparent url(/Images/calendar-callout.jpg) no-repeat 0 0;
}
.calendarCallout:hover, .calendarCallout:focus {
	background-position: 0 100%;
}


/*------------------------------ Social Media ----------------------------------------*/

.hearderTwitterIcon, .footerTwitterIcon, .hearderEmailIcon, .hearderFacebookIcon, .footerFacebookIcon  {
    display: inline-block;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}
.hearderTwitterIcon {
    background-image: url("/Images/twitter-icon-white.svg");
    
}

.hearderFacebookIcon {
    background-image: url("/Images/facebook-icon-white.svg");
    
}

.hearderEmailIcon {
    background-image: url("/Images/email-icon-white.svg");
    
}

.footerTwitterIcon {
    background-image: url("/Images/email-icon-white.svg");
    
}

.footerFacebookIcon {
    background-image: url("/Images/facebook-icon-white.svg");
    
}

.largerImage {
     display: block;
     /*width: 1024px; */
     /* height: 617px; */
     width: 100%;
     height:auto;

     background-size: 100%;
    /* opacity: 0.1; */
     background-image: url(/Images/ApartmentImagePlaceholder.png);

}

/* ==============================  COMMON   =================================================*/
.h-28 {
    height: 28px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.fp-color {
    color: white !important;
}
.ntr-color {
    color:#1e73f6 !important;
}

/* ==============================  CONTAINER   ==============================================*/

.loginCore {
  width: 100%;
  background: #232222;
  height: 800px;
  opacity:0.8;
}

.loginPage {
  /* margin-left: 35% !important; */

}

.login1 {
    position: absolute;
    top: 110px;
    left: 30%;
    height:450px !important;
    width: 30% !important;
    background: black;
    opacity: 0.9;
    padding-left: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.loginTitle {
    position: relative;
    width: 100%;
    /*height: 22px; */
    /*cakel: BUGID000100*/
    height:35px;
    margin: 0 0 55px 0; 

}

.loginTitle h2, .loginTitle h3, .loginTitle h4 {
    display: block;
    font-size: 1.8em;
    font-weight: 600;

    color: white !important;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 10px;
}

.login1Container {
    width: 95% !important;
}

.login1Label {
    color: white !important;
}

.loginButton {
    background: #1e73f6 !important;
    color: white;
    border-radius: 0 0 0 0;

}
.divSignup {
    text-align: right; 
    padding: 10px; 
    width: 330px;
}


.signupSubmit {
    bottom: 0;
    right: 0;
    background: #1e73f6 !important;
    color: white;
    border-radius: 0 0 0 0;
}

.login-br1 {
    height:400px !important;
    width: 35% !important;

    padding:20px 40px 10px 20px;
    border: 1px solid #C0C0C0; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    behavior: url(border-radius.htc); 
}

.login-br2 {
    border: 1px solid #C0C0C0; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    behavior: url(border-radius.htc); 
    width: 30%; 
    height: 100px; 
    padding:10px 10px 10px 13px;
}



/*For Print*/
@media print {
    .printWrapper {
        width: 75%;
        margin: 20px auto 10px auto;
        height: auto !important;
        min-height: 50% !important;
        border: 1px solid #e58a13;
        padding: 8px;
        border-radius: 6px; /* CSS3 */ 
        -moz-border-radius: 6px; /* Firefox */  
        -webkit-border-radius: 6px; /* Safari, Chrome */ 
        behavior: url(border-radius.htc);  /* fix for IE*/ 
    }

    .printWrapper .pageContainer {
        width: 100%;
        margin: 20px auto 0 auto;
        border: none;
    }

    .printWrapper .singleItemSection {
        border: none;
        width: 100% !important;
        margin: 0;
    }


    .printWrapper .pageTitle, nav, .column1, .headerSocialMedia, .buttoneAndWelcome, .orangeButton, footer, .mainPageHeader  {
        display: none !important;
    }

    .printWrapper .column2 {
      width: 100%;
        text-align: center;
    }


    .printWrapper .borderBottom {
        margin-top: 25px;
    }

    .printWrapper .printLogo {
        display: block;
        height: 100px;
        width: 161px;
        margin: 0 auto 15px auto;
    }

    .printWrapper .slimPadding {
        padding: 10px;
    }

    .printWrapper .receiptHolder {
        width: 95%;
    }

    .printWrapper .receipt {
       width: 90%;
       margin: 0 auto 0 auto;
       padding-left: 0;
        font-size: .8em !important;
    }

    .printWrapper .recieptColumn {
        width: 45% !important;
        margin-bottom: 0;

    }

    .printWrapper .recieptColumn:first-child {
        border-right: 1px solid #e5dcd8;
        margin-right: 10px;
        padding-right: 10px;
    }
}

