﻿


/*------------------------------ Form Styles ----------------------------------------*/

/*General style rule of all input type="text" (and the messageBox class) -- asp.net textbox tags display as such*/
input[type="text"], input[type="password"], .messageBox, .comboBox {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #808285;
    outline: none;
    margin: 5px 0 15px 0;
    color: #7f4824;
    border-radius: 2px; /* CSS3 */ 
    -moz-border-radius: 2px; /* Firefox */  
    -webkit-border-radius: 2px; /* Safari, Chrome */ 
    behavior: url(border-radius.htc);  /* fix for IE*/ 
}

input[type="submit"] {
    border: none;
    border-color: transparent;
    outline: none !important;
    cursor: pointer;
}

/* targeting all the input types of text in the formRow class, these are styles mainly by the divs that surround them
    we're making sure they are flush with those divs by adding a width of 100%'*/
.formRow div input[type="text"] {
    width: 95%;
    margin-bottom: 3px; /*splitting the margin bottom for input fields within divs so we can have text under them*/
}

.comboBox {
    width: 100%;
    padding: 4px;
    margin-bottom: 0;
}

/*adding a margin to the divs withtin formRow -- this spaces the form elements out nicely*/
.formRow div{
    margin: 5px 15px 2px 0;
}

/*taking off the margin on the last div element in the formRow class*/
.formRow div:last-child{
    margin-right: 0;
}

/* a container for form elements that do not take up the full width of the 
    designated column that they are present in*/
.formContainer {
    width: 60%
}

/*setting the on focus state for the above */
input[type="text"]:focus, input[type="password"]:focus, .messageBox:focus, .comboBox:focus {
    border: 1px solid #e58a13;
}

/*setting a full width style for a form element, percentage adjusts 
    for the padding and margins in the form element*/
.formFullWidth {
    width: 98% !important;
}

.ninetyFullWidth {
    width: 95%;
}

/*setting a half width style for a form element, percentage adjusts 
    for the padding and margins in the form element*/
.formHalfWidth {
    width: 44.5%;
    display: inline-block;
}

.formQuarterWidth {
    width: 23%;
    display: inline-block;
}

.formSeventyFiveWidth {
    width: 75%;
    display: inline-block;
}

/*element needed to create rows of adjacent from elements and make sure they clear each other*/
.formRow {
    display: block;
    width: 100%;
}

/*setting styles for the main form labels*/
.formLabel {
    display: block;
    color: #77aa2d;
    font-size: 1em;
    line-height: 1.2em;
    text-align: left;
    font-weight: 600;    
}

/*some form elements are inline*/
.formInlineLable {
    display: inline-block;
    color: #77aa2d;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 500; 
}

/*styling any text found under a form element*/
.underFormText {
    display: block;
    color: #77aa2d;
    font-size: .85em;
    font-weight: 600;   
}

/*general holder for the forms in this site*/
.formHolder {
    margin-top: 10px;
    padding-bottom: 25px;
    position: relative;
}

/*targeting the divs withing formHolder class and setting them to inline block, to be adjacent to eachother
    and not clear*/
.formHolder div {
    display: inline-block;
}

/*targerting the radiobutton list items within the contact page*/
.contactColumn1 tr {
    color: #7f4824;
    line-height: 1.8em;
}

.contactColumn1


/*styling the elements within the radiobuttonlist class*/
.radioButtonList tr {
    color: #7f4824;
    display: inline-block;
    margin-right: 10px;
}

.checkBoxText {
    font-size: .9em;
    font-weight: 500;
    color: #77aa2d !important;
}

.checkBoxBlock {
    margin: 10px 0 10px 0;
}


input[type="checkbox"] {
    margin: 3px 8px 0;
    
}

/*---------------------------------  Interior page Structure --------------------------------------------*/


.pageTitle {
    position: relative;
    width: 100%;
    height: 22px;
    margin: 10px 0 55px 0; 
}

.termsAndConditionsTitle {
    display: block;
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 600;
    color: #77aa2d !important;
}

.pageTitle h2 {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    color: #77aa2d !important;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 180px;
}

.pageTitle h3, .pageTitle h4 {
    font-size: 1.1em !important;
}

.bottomElements {
    position: absolute;
    display: inline-block;
    text-align: right;
    width: 38%;
    bottom: 40px;
    right: 50px;
    
}

/*Home Page news and weather*/
.newsHolder, .weatherHolder {
    display: inline-block;
    height: auto !important;
    vertical-align: top;
}

.newsHolder article, .weatherHolder .weatherContent {
    margin-top: 20px;
}

.newsHolder article article {
    font-size: .9em;
    color: #e58a13;
    line-height: 1.3em;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5dcd8;
}


.newsHolder article article div span:first-child{
    color: #77aa2d;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.3em;
}


.newsHolder article article div a{
    color: #77aa2d;
    font-weight: 500;
    text-decoration: underline;
}

.newsHolder article article div a:hover{
    color: #e58a13;

}

.newsHolder article article div span:last-child{
    display: block;
    margin-top: 10px;
}

/*.newsHolder article article div span:nth-last-of-type(n+3){
    background-color: yellow;
}*/

.newsHolder article article div span:nth-of-type(n+3){
    display: block;
    color: #7f4824 !important;
    margin-top: 5px;
}



.newsHolder {
    width: 71%;
    margin-right:10px;
}


.weatherHolder {
    width: 24%;
    margin-left: 35px; 
}

.weatherContent {
    color: #7f4824;
    font-size: .9em;
    
}

.weatherLabel {
    color: #77aa2d !important;
    font-weight: 600;
    line-height: 1.5em;
}

.weatherResult {
    color: #e58a13 !important;
    font-size: 1.2em;
    line-height: 1.5em;
}

.mainWeatherSection {
    display: inline-block;
    width: 75%;
    text-align: center;
    margin: 10px auto 10px auto;
    border: 1px solid #b2b2b2;
    padding: 8px;
    border-radius: 6px;
}

.MainweatherResult {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
}

.weatherIcon {
    display: block;
    height: 50px;
    width: auto;
    margin: 10px auto 10px auto;

}

.mainweathertext {
    display: block;
    height: auto;
    width: auto;
    margin: 0 auto 15px auto;
    
}
/*---------------------------------  Typography --------------------------------------------*/
h3 {
    font-size: 1.3em;
    line-height: 2em;
    font-weight: 600;
    color: #77aa2d;
}

h4 {
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 600;
    color: #e58a13;
}

.subHeader {
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 600;
    color: #e58a13;
}

h5 {
    font-size: 1.1em;
    line-height: 1em;
    font-weight: 600;
    color: #77aa2d;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    color: #7f4824;
}

.formAsideText {
    display: inline-block;
    font-size: .95em;
    line-height: 1.3em;
    color: #7f4824;
}

ul {
    color: #7f4824;
    font-size: 1.1em !important;
    margin: 10px 0 10px 0;
}

ul li{
    font-size: .8em;
    line-height: 1.8em;
}

.sectionFifty {
    width: 50%;
}

.sectionSixty {
    width: 60%;
}

/*------------------------------------------------ Main Tab styles -------------------------------------------------*/

/*targets the main container which hold the whole of the tab content*/

.mainTabSection, .contactContent {
    width: 95%;
    height: 100% !important;
    overflow: visible !important;
    position: relative;
    margin: 0 auto 0 auto;
    margin-top: 12px;
}

/*targets the main tabs container*/
.mainTabSection .tabs {
    position: relative;
    margin-left: 20px;
    width: 100%;
    z-index: 1; /*the panels are set to 1 -- this will allow the tabs container to always be on top, despite which comes first in the markup*/
}

/*targets the row of tabs -- uses span tags as as markup*/
.mainTabSection .tabs span {
    display: inline-block;
    height: 25px;
    vertical-align: top;
    padding: 5px 12px 0 12px;
    margin: 0 10px 0 0 ;
    background-color: #fff;
    font-weight: 500;
    color: #e58a13;
    line-height: 1.4em;
    cursor: pointer;
    position: relative;
    border: 1px solid #e58a13;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /*CSS3 catch for webkit and moz browser support*/
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;

}

/*targets the first child of the tabs row (furthest right tab) */

/*targets the selected tab*/
.mainTabSection .tabs span.selected {
    color: #fff;
    font-style: normal;
    font-size: 1em;
    background-color: #e58a13;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /*CSS3 catch for webkit and moz browser support*/
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
}

/*targeting the main panel container within .tabs*/
.mainTabSection .panel_container, .singleItemSection {
    position: relative;
    border: 1px solid #e58a13;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;    
    z-index: 0; /*so will be behind the tabs container even though the tabs container comes first in the code*/
    margin-top: -1px; /*will set panel container to be underneath the tabs container by 1px on the top*/
    border-radius: 6px;
    /*CSS3 catch for webkit and moz browser support*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.singleItemSection {
    margin: 0 auto 0 auto;
    width: 95%;
}

/*targeting panel content within the .tabs*/
.mainTabSection .panel_container .panel .panel_content{
    position: relative;
    width: 100%;
    height: auto !important;
    min-height: 800px !important;
}

/*targeting all panels in the .tabs -- positioning them*/

.mainTabSection .panel_container .panels {
    position: absolute;
    top: 0;
}

/*targeting all .panel classes in the .tabs -- positioning them and defining the height of content*/
.mainTabSection .panel_container .panel {
    position: absolute;
    height: auto; /*Height should to be defined here even though the .panel is absolute positioned, will be animated and shown via JavaScript*/
}


/*------------------------------------------------ Interior Structure -------------------------------------------------*/

/*----------------------------- Payment Page -----------------------------*/

.paymentRow {
    width: 100%;
    height: auto;
    margin: 15px 0 10px 0;
    padding-bottom: 60px;
}

.paymentFormColumn {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-right: 15px;
    vertical-align: top;
    padding-right: 15px;
    border-right: 1px solid #e5dcd8;
    min-height: 750px;
}


.paymentFormColumn:last-child {
    margin-right: 0;
    border-right: 0;
}

.paymentBlockSection {
    margin-top: 25px;
}

.paymentBlockSection:first-child {
    margin-top: 0;
}

/*-----Total Payment Amount*/
.totalPaymentAmount {
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.bottomMessage {
    margin-top:50px;
    font-size:small;
    clear:both;
}

.itemRow {
    display: block;
    width: 100%;
    height: 15px;
    margin: 10px 0 10px 0;
    color: #7f4824;
    font-weight: 600;
}

span.itemTitle, span.totalTitle {
    float: left;
    clear: none;
}

span.itemAmount, span.totalAmount {
    float: right;
    clear: right;
}

span.totalTitle, span.totalAmount {
    display:inline-block;
    margin-bottom: 20px;
}

span.totalTitle, span.totalAmount {
    color: #77aa2d !important;
    margin-top: 15px;
}

.columnMinHeight {
    min-height: 500px;
}

/*Payment failed page*/

.paymentFailed {
    min-height: 550px !important;
    padding-top: 40px;
}

.paymentStatusInfoBlock {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto 0 auto;
    text-align: center;
}

.paymentStatusInfoBlock .redText {
    color: #c2190f;
    font-size: 1.3em;
    line-height: 1.7em;
}

.paymentStatusInfoBlock:first-child p {
    font-size: 1.2em;
    line-height: 1.7em;
}

.paymentStatusInfoBlock p {
    line-height: 1.5em;
}

.paymentStatusInfoBlock:first-child {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e5dcd8;
}
 .smallLogo {
     width: 120px;
     height: auto;
 }

 .paymentStatusInfoBlock:last-child .smallLogo {
     margin-top: 40px;
 } 

/*----------------------------- autoPay Block(party) -----------------------------*/

.autoPayContainer, .textToPayContainer {
    display: inline-block;
    width: 90%;
    height: auto;
    padding:  0 15px 10px 15px;
    background-color: #f1f2f2;
    border: 2px solid #e58a13;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url(border-radius.htc);  /* fix for IE*/ 
}

.autoPayContainer h5 {
    font-weight: bold;
    font-size: 1.1em;
    
}

.formAutoPayDate {
    width: 40%;
    display: inline-block;
    margin-right: 5px !important;
}

.autoPayContainer h5, .textToPayContainer h5 {
    line-height: 2em !important;
}


.paymentAmountMargin {
    margin: 20px 0 20px 0;
}

.orBlock {
    width: 20%;
    margin: 0 auto 0 auto;
}

.orBlock span {
    color: #77aa2d;
    font-size: 1.8em;
    line-height: 2.8em;
}

/*----------------------------- Payment Receipt -----------------------------*/
.receiptHolder {
    width: 75%;
    height: auto;
    margin: 0 auto 0 auto;
    margin-bottom: 25px;
}

.receiptHolder header {
    text-align: center;
    border-bottom: 1px solid #e5dcd8;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.receiptHolder header p {
    font-weight: 600;
    line-height: 1.8em;
}

.receiptHolder header p:first-child {
    font-size: 1.3em;
}


.receiptHolder header p:last-child {
    font-size: .9em;
}



.receiptHolder header h4 {
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 1.4em;
    margin-top: 20px;
}

.receiptHolder header h3 {
    font-size: 1.5em;
}

.receipt {
    width: 100%;
    height: auto;
    padding-left: 100px;
}

.recieptColumn {
    display: inline-block;
    width: 48%;
    height: auto;
    vertical-align: top;
    padding-bottom: 75px;
}

.printButton, .sendButton {
    display: inline-block;
    text-align: right;
    width: 38%;
    float: right;
    clear: both;
}


/*----------------------------- Property Page -----------------------------*/
.propertyRow {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    margin-top: 25px;
}

.borderBottom {
    border-bottom: 1px solid #e5dcd8;
}

.propertyColumn {
    display: inline-block;
    width: 48%;
    height: auto;
    vertical-align: top;
    border-right: 1px solid #e5dcd8;
    margin-right: 15px;
    padding-right: 5px;
    min-height: 300px;
}

.propertyColumn h5{
    font-size: 1em;
    line-height: 1.5em;
    display: inline-block;
    margin-bottom: 10px;
}

.propertyColumn .formRow{
    margin: 10px 0 10px 0;
}

.propertyColumn:last-child {   
    border-right: 0;
    margin-right: 0;
}

.informationHolder, .iconHolder {
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.informationHolder {
    width: 65%;
    margin-right: 25px;
}

.iconHolder {
    width: 25%;
}

.leaseGeneralInfoColumn .propertyRow .occupantsColumn div {
    color: #7f4824;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.leaseGeneralInfoColumn .propertyRow .occupantsColumn div:first-child {
    margin-top: 5px;
}


.leaseGeneralInfoColumn ul li {
    color: #7f4824;
    display: block;
    width: 100%;
    margin-bottom: 10px;

}




/*----------------------------- lease info section-----------------------------*/

.propertyInteriorColumn {
    display: inline-block;
    width: 48%;
    height: auto;
    vertical-align: top;
}

.propertyInteriorColumn ul li {
    list-style: none;
}

.leaseMainInfoColumn, .leaseGeneralInfoColumn {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

.leaseMainInfoColumn {
    width: 30%;
    padding-right: 15px;
    border-right: 1px solid #e5dcd8;
    min-height: 500px;
}

.leaseMainInfoColumn hgroup{
    margin: 0 0 20px 0;
}

.leaseGeneralInfoColumn {
    width: 60%;
    margin-left: 50px;
}

.maintenanceType, .maintenancePriority, .maintenanceTypeBox, .maintenancePriorityBox {
    display: inline-block;
}

.maintenanceType {
    width: 30%;
}

.maintenancePriority {
    width: 25%;
}

.maintenanceTypeBox {
    width: 75%;
}

.maintenancePriorityBox {
    width: 65%;
}

.maintenanceMessage {
    width: 100%;
    min-height: 200px;
}



/*----------------------------- Contact Page-----------------------------*/

.contactColumn1, .contactColumn2 {
    display: inline-block;
    vertical-align: top;
}
.contactColumn1{
    width: 43%;
    margin: 0 65px 0 160px;
}

.contactColumn2 {
    width: 30%;
}

.contactColumn2 article, .contactColumn2 div {
    margin: 10px 0 10px 0;
}

.contactColumn2 h5 {
    line-height: 1.5em;
}


.contactMessage {
    width: 97%;
    min-height: 400px;
}

.mapHolder {
    width: 100%;
    height: auto;
}

.contactColumn2 a, .greenLink {
    color: #77aa2d;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: underline; 
}

.contactColumn2 a:hover, .greenLink:hover {
    color: #e58a13; 
}



/*----------------------------- Account Page-----------------------------*/

/*Also used on the homepage -- evenly spacing out three even columns*/
.even3Column {
    display: inline-block;
    width: 28%;
    height: auto;
    margin-right: 25px;
    padding-right: 25px;
    border-right: 1px solid #e5dcd8;
    vertical-align: top;
}

.accountPageColumn {
    min-height: 730px;
}

.even3Column:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.even3Column .dividedSection {
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.even3Column .itemLable {
    line-height: 3em;
}

.uploadAdjust {
    line-height: 3em;
}

input[type="file"] {
    display: inline-block;
    background-color: #fff;
    outline: none;
    color: #7f4824;
}




/*----------------------------- Home Page-----------------------------*/
.even2Column {
    display: inline-block;
    width: 44%;
    height: auto;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5dcd8;
    vertical-align: top;

}

.even2Column:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.homePageContainer .even3Column{
    min-height: 400px;
    margin-bottom: 25px;
}

.homePageContainer .even2Column{
    margin-top: 40px;
    position: relative;
    height: 150px;
    padding-bottom: 50px;
}

.homePageContainer .even2Column h4{
    display: inline-block;
    font-size: 1.2em;
    margin:   0 0 30px 0;
}

.homePageContainer {
    display: block;
    width: 1024px; /*maximum width requirement*/
    height: 100%;
    margin: 0 auto 0 auto; /*minus margin to overlap absolute potitioned header, this will cause the page title to display in place below the gray bar, next to the logo*/
    clear: both !important;
}

.homePageContainer .formRow .even3Column span {
    font-size: .78em;
}

.homePageContainer .formRow .even3Column .rowSpacingAdjust {
    margin: 25px 0 25px 0;
}

.greenLink {
    font-weight: 500;
    font-size: .75em;
}

span.displayFont {
    display: block;
    font-size: 1.2em !important;
    line-height: 1em;
    color: #7f4824;
    font-weight: 600;
}

.subText {
    display: inline-block;
    height: 15px;
    font-size: .75em;
    line-height: 1em;
}

.homepageButton {
    display: inline-block;
    height: 25px;
    width: auto;
    font-size: .75em;
}

.payRentButton {
    position: absolute;
    bottom: 10px;
    left: 35px;
    width: auto;
    height: auto;
    min-height: 25px;
}

.setupAutoPay {
    position: absolute;
    bottom: 10px;
    left: 5px;
    min-height: 25px;
    width: 100%;
    height: auto;
}

.submitMaintenanceRequestoPay {
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 25px;
    margin: 25px auto 0 auto !important;
    text-align: center;
}

.greenText {
    color: #77aa2d;
}

.announcementsColumn, .latestNewsColumn, .calendarColumn {
    display: inline-block;
    height: auto;
    min-height: 500px;
    vertical-align: top;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.newsArticle, .newsAside {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    
}

.newsArticle {
    width: 65%;
    margin-bottom: 15px;
    margin-right: 25px;
}

.newsArticle p{
    font-size: .95em !important;
    line-height: 1.35em;
}

.newsArticle p a{
    color: #77aa2d;
    font-weight: 500;
    text-decoration: underline;
}

.newsArticle p a:hover{
    color: #e58a13;
}

.newsAside {
    width: 30%;
    
}

.articleImageHolder {
    display: inline-block;
    height: auto;
    width: auto;
}

.newsAndWeatherHolder {
    height: auto;
    padding-bottom: 50px;
}

.newsAndWeatherHolder h5{
    font-size: 1.5em;
    display: block;
    margin-top: 10px;
}





/*----------------------------- Error Page-----------------------------*/
.errorPageholder {
    margin: 0 auto 0 auto;
}

.errorPageholder h4{
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 15px;
}

.errorPageholder p.orangeText{
    font-size: 1.1em;
    font-weight: 600;
}


.errorPageholder p.greenText{
     font-size: 1.2em;
    font-weight: 600;
    margin-top: 30px;
}


/*----------------------------- Contact Confirmation View -----------------------------*/
.contactlogoContainerCentered {
    width: 60%;
    height: auto;
    margin: 25px auto 0 auto;
}

.resizedLogo {
    width: 100px !important;
    height: auto;
}

.contactColumn1 h4 {
    font-size: 1.5em;
    
}




/*----------------------------- Terms and Conditios -----------------------------*/
.termsAndConditionsContainer {
    width: 80%;
    margin-left: 190px;
    padding-bottom: 25px;
}
