﻿/* ------------------- Print receipt version ------------------- */

.wrapper {
    width: 75%;
    margin: 20px auto 10px auto;
    height: auto !important;
    min-height: 50% !important;
    border: 1px solid #e58a13;
    padding: 8px;
    border-radius: 6px; /* CSS3 */ 
    -moz-border-radius: 6px; /* Firefox */  
    -webkit-border-radius: 6px; /* Safari, Chrome */ 
    behavior: url(border-radius.htc);  /* fix for IE*/ 
}

.pageContainer {
    width: 100%;
    margin: 20px auto 0 auto;
    border: none;
}

.singleItemSection {
    border: none;
    width: 100% !important;
    margin: 0;
}


.pageTitle, nav, .column1, .headerSocialMedia, .buttoneAndWelcome, .orangeButton, footer, .mainPageHeader  {
    display: none !important;
}

.column2 {
  width: 100%;
    text-align: center;
}


.borderBottom {
    margin-top: 25px;
}

.printLogo {
    display: block;
    height: 100px;
    width: 161px;
    margin: 0 auto 15px auto;
}

.slimPadding {
    padding: 10px;
}

.receiptHolder {
    width: 95%;
}

.receipt {
   width: 90%;
   margin: 0 auto 0 auto;
   padding-left: 0;
    font-size: .8em !important;
}

.recieptColumn {
    width: 45% !important;
    margin-bottom: 0;

}

.recieptColumn:first-child {
    border-right: 1px solid #e5dcd8;
    margin-right: 10px;
    padding-right: 10px;
}