﻿
/*------------------------------ drop down navigation items ----------------------------------------*/
/* For all screens (since we're not using the "only" call it should default to these styles whem the view port is 769px wide and larger */
@media screen and (min-width: 769px) {
    nav ul li {
        position: relative;
    }

        nav ul li ul {
            position: absolute;
            width: auto;
            background: #FFF;
            border: 1px solid #ea9c00;
            padding-left: 0 !important;
            min-width: 125px;
        }

    nav .futureResidentsDropDownItem {
        width: auto;
        min-width: 195px;
    }

    nav ul li ul li {
        display: block !important;
        clear: both;
        text-align: left;
        font-size: .9em !important;
    }

        nav ul li ul li a {
            display: block;
            font-size: 1em;
            padding: 10px;
            line-height: 1em !important;
        }

        nav ul li ul li:hover a {
            background: #e58a13;
            color: #fff !important;
        }

    nav ul li ul.fallback {
        display: none;
    }

    nav ul li:hover ul.fallback {
        display: block;
    }

    /* ------------------- Residential Pages ------------------- */
    /* Login Page */
    .residentLoginPage .registerLinkMobile {
        display: none;
    }

    .residentLoginPage .forgotPasswordLinkMobile, .homePageDashboard .calendarCalloutMobile {
        display: none;
    }

    /* Property Pages */
    .propertyPage .mainTabSection .tabs span i {
        display: none;
    }

    /* Payment Pages */

    .paymentPage .mainTabSection .tabs span i {
        display: none;
    }

    /* Payment Info Page */

    .paymentPage .mobileTotalDue {
        display: none;
    }

    .paymentPage .mobileRequired {
        display: none;
    }

    .mobile-only {
        display: none;
    }

    #payOpt {
        width: 100%;
    }

    .mobile-only + .paymentBlockSection {
        margin-top: 0;
    }

    .paymentPage .mobileTotalDue, 
    .paymentPage .mobileRequired, 
    .paymentPage .mobileRequiredText {
        display: none;
    }

}


/* ------------------- Tablet Landscape (1024px) defining breakpoint ------------------- */

/*by using only, it is the "cancel" button for browsers that do not support responsive design elements 
    -- these will default back to the standaed "default.css" styles*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape), only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 800px) and (max-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    .mobile-only {
        display: none;
    }

    #payOpt {
        width: 100%;
    }

    .mobile-only + .paymentBlockSection {
        margin-top: 0;
    }

    .pageContainer {
        display: block;
        width: 980px; /*maximum width requirement*/
        height: auto !important;
        margin: 0 auto 0 auto;
        clear: both !important;
    }

    .mainPageHeader {
        width: 980px; /*maximum width requirement*/
    }


    /* --------Fields Specific ---------*/

    .formLabel, .formLable {
        font-size: .95em;
        font-weight: bold;
    }

    .FrCity {
        width: 14%;
    }

    .columnHolder {
        width: 95%;
        height: auto;
        margin: 15px auto 0 auto;
    }

    /* footer specific */


    .footerContainer {
        display: block;
        height: auto;
        min-height: 100px;
        width: 980px; /*maximum width requirement*/
        margin: 0 auto 0 auto;
    }

    /*Login Specific*/
    .loginPage .sectionSixty {
        padding-left: 20px;
    }

    .loginPageMain {
        width: 85%;
        margin: 0 auto 0 auto;
    }

    /* Login Page */
    .residentLoginPage .registerLinkMobile {
        display: none;
    }

    .residentLoginPage .forgotPasswordLinkMobile {
        display: none;
    }

    /* Property Pages */
    .propertyPage .mainTabSection .tabs span i {
        display: none;
    }

    /* Payment Pages */

    .paymentPage .mainTabSection .tabs span i {
        display: none;
    }

    /* Payment Info Page */

    .paymentPage .mobileTotalDue, 
    .paymentPage .mobileRequired, 
    .paymentPage .mobileRequiredText {
        display: none;
    }

}
@media screen and (min-width: 641px) and (max-width: 800px) /*for desktop window*/ {
    .mainNavigation {
        background-color: #ea9c00;
        display: block !important;
    }

    .mobile-only {
        display: none;
    }
}

/* ------------------- Tablet Portrait & Retina ------------------- */
@media screen and (min-width: 421px) and (max-width: 768px), /*for desktop window*/
only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait), /* for most tablets*/
only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait), /*Retina iPad*/
only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait), /*Standard iPad*/
only screen and (min-device-width : 801px) and (max-device-width : 1280px) and (orientation : portrait) /*Standard android Tablet*/
{
    /*.mobile-only {
        display: none;
    }*/

    .mobile-only + .paymentBlockSection {
        margin-top: 0;
    }

    .paymentPage .mobileTotalDue, 
    .paymentPage .mobileRequired, 
    .paymentPage .mobileRequiredText {
        display: none;
    }

    .mainPageHeader {
        width: 100%; /*maximum width requirement*/
         background-color: #fffae8;
    }

    .pageTitle {
        margin: 55px 0 55px 0 !important;
    }

    .mainNavigation a {
        font-size: .9em;
    }

    nav ul li ul li {
        font-size: .75em !important;
    }

    #payOpt {
        width: 100%;
    }

    .toolTipIcon {
        display: none;
    }

    /* fixing iOS styles from applying to input submit elements*/
    input [type="submit"], .orangeButton {
        -webkit-appearance: none !important;
        -moz-apperance: none !important;
    }

    .blogPost {
        display: inline-block;
        width: 65%;
        border-right: 1px solid #e5dcd8;
        margin-right: 20px;
        padding-right: 20px;
        min-height: 200px;
    }

    .blogNavigation {
        width: 28%;
    }

    /*Login Page*/
    .residentLoginPage .registerLinkMobile {
        display: none;
    }

    .residentLoginPage .forgotPasswordLinkMobile {
        display: none;
    }

    /* Property Pages */
    .propertyPage .mainTabSection .tabs span i {
        display: none;
    }

    /* Payment Pages */

    .paymentPage .mainTabSection .tabs span i {
        display: none;
    }

    /* Payment Info Page */

    .paymentPage .mobileTotalDue {
        display: none;
    }

    .paymentPage .mobileRequired {
        display: none;
    }
}

/* ------------------- Mobile ------------------- */
/* here we are targeting the mobile device landscape proportions, and the iPhone 5 Retnia screen. */

@media only screen and (min-width: 320px) and (max-width: 640px), /* Most Standard Phones*/
only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), /*iphone 5 Landscape*/
only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait), /*iphone 5 Portrait*/
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) and (max-device-width: 320px) and (orientation: landscape), /* large Android phones e.g. Galaxy S4 Landscape*/
only screen and (max-width: 320px) /* All screen sizes under 320px */
{
    body {
        min-width: 310px;
    }

    .pageContainer {
        display: block;
        width: 290px; /*maximum width requirement for portrait version of mobile device, 10px padding on each side*/
        height: auto !important;
        margin: 0 auto 0 auto;
        clear: both !important;
    }

    #accordion h4 {
        cursor: pointer;
    }

    /* fixing iOS styles from applying to input submit elements*/
    input [type="submit"], .orangeButton {
        -webkit-appearance: none !important;
        -moz-apperance: none !important;
    }

    .mainPageHeader {
        width: 290px; /*maximum width requirement*/
        top: 65px;
        background-color: #fffae8;
    }

    .pageTitle {
        margin: 60px 0 35px 0 !important;
    }

    .sliderContainer {
        display: none;
    }

    .mainLogoCotainer {
        width: 200px;
        display: block;
        position: static;
        margin: 0 auto 0 auto;
        padding: 25px 0 25px 10px;
    }


    .mainPageHeader {
        position: relative;
        display: block;
        width: 100%;
        background-color: #fffae8;
        border-bottom: 2px solid #77aa2d;
        top: 56px;
    }

        .mainPageHeader .buttoneAndWelcome {
            position: absolute;
            top: 115px;
        }

    .headerSocialMedia {
        top: 15px;
    }

    .mainPageHeader .buttoneAndWelcome .accountText {
        margin-top: 10px;
        font-size: .8em !important;
    }

        .mainPageHeader .buttoneAndWelcome .accountText p {
            font-size: .9em !important;
        }


    .pageContainer {
        padding-top: 0;
        margin-top: 50px;
    }

    /* footer specific */

    footer {
        width: 480px;
    }

    .footerContainer {
        display: block;
        height: auto;
        min-height: 100px;
        width: 295px; /*maximum width requirement*/
        margin: 0 auto 0 auto;
    }

    .footerBingTranslator {
        display: none;
    }

    .acceptedPaymentMethod {
        text-align: left !important;
        margin: 25px 0 !important;
        width: 45%;
        font-size: .8em;
    }

    .creditCardImages {
        background-size: 44%;
        margin-top: 5px;
    }

    .rightFooterContainer {
        font-size: .7em;
    }

    .footerSocialMedia, .legal {
        width: 150px;
    }

    .footerTwitterIcon {
        height: 19px;
        background-size: 80%;
        /* ReSharper disable CssNotResolved */
        /*background-position-y: -40px;*/
        /* ReSharper restore CssNotResolved */
    }

    .footerFacebookIcon {
        height: 20px;
        background-size: 80%;
        /* ReSharper disable CssNotResolved */
        background-position-y: -60px;
        /* ReSharper restore CssNotResolved */
    }

    .quote {
        text-align: center;
        font-size: .6em;
    }

    /*Login Specific*/
    .loginPage .sectionSixty {
        width: 98%;
        padding-left: 20px;
    }

    .loginContainer {
        width: 90%;
    }

    .loginPageMain {
        width: 85%;
        margin: 0 auto 0 auto;
    }

        .loginPageMain .loginHolder {
            width: 90%;
            height: auto !important;
            margin: 10px auto 10px auto;
        }

            .loginPageMain .loginHolder h4 {
                font-size: 1.2em;
                line-height: 2em;
            }

    .signupHolder .loginItemHolder {
        width: 90%;
    }

        .signupHolder .loginItemHolder a {
            width: 55%;
        }

        .signupHolder .loginItemHolder h4 {
            font-size: 1em;
        }

    .loginPageMain .logInButton {
        margin-top: 10px;
        width: 50%;
    }

    .mobileNav {
        display: block;
    }

    /* hide the link until viewport size is reached */
    a.meanmenu-reveal {
        display: none;
    }

    /* when under viewport size, .mean-container is added to body */
    .mean-container .mean-bar {
        float: left;
        width: 100%;
        position: relative;
        font-family: 'Istok Web', sans-serif;
        background: #77aa2d;
        padding: 4px 0;
        min-height: 38px;
        z-index: 99999;
        top: 10px;
    }

    .mean-container a.meanmenu-reveal {
        width: 22px;
        height: 22px;
        padding: 13px 13px 11px 13px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        font-size: 1px;
        display: block;
        font-weight: 700;
    }

        .mean-container a.meanmenu-reveal span {
            display: block;
            background: #fff;
            height: 3px;
            margin-top: 3px;
        }

    .mean-container .mean-nav {
        float: left;
        width: 100%;
        background: #669d15;
        margin-top: 43px;
    }

        .mean-container .mean-nav ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;
        }

            .mean-container .mean-nav ul li {
                position: relative;
                float: left;
                width: 100%;
            }

                .mean-container .mean-nav ul li a {
                    display: block;
                    float: left;
                    width: 90%;
                    padding: 1em 5%;
                    margin: 0;
                    text-align: left;
                    color: #fff;
                    border-bottom: 1px solid #383838;
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                    text-decoration: none;
                    font-size: 16px;
                }

                .mean-container .mean-nav ul li ul li {
                    background-color: #5d9300;
                }

                .mean-container .mean-nav ul li li a {
                    width: 80%;
                    padding: 1em 10%;
                    border-bottom: 1px solid #f1f1f1;
                    border-bottom: 1px solid rgba(255,255,255,0.25);
                    opacity: 0.75;
                    filter: alpha(opacity=75);
                    text-shadow: none !important;
                    visibility: visible;
                }

                .mean-container .mean-nav ul li.mean-last a {
                    border-bottom: none;
                    margin-bottom: 0;
                }

                .mean-container .mean-nav ul li li li a {
                    width: 70%;
                    padding: 1em 15%;
                }

                .mean-container .mean-nav ul li li li li a {
                    width: 60%;
                    padding: 1em 20%;
                }

                .mean-container .mean-nav ul li li li li li a {
                    width: 50%;
                    padding: 1em 25%;
                }

                .mean-container .mean-nav ul li a:hover {
                    background: #252525;
                    background: rgba(255,255,255,0.1);
                }

                .mean-container .mean-nav ul li a.mean-expand {
                    width: 100%;
                    height: 26px;
                    border: none !important;
                    padding: 15px 5px 12px 195px !important;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    font-weight: 700;
                }

                    .mean-container .mean-nav ul li a.mean-expand:hover {
                        background: none;
                    }

    .mean-container .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }

    .mean-nav .wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #BlogLink {
        display: none;
    }

    /*Modal window stuff*/

    .simplemodal-container {
        height: auto;
    }

    .modalGridMarginRightAdjust {
        margin-right: 0 !important;
    }

    .modalContentContainer {
        min-width: 100%;
        width: auto;
        height: auto;
        color: #7f4824;
        font-size: 1em;
        line-height: 1.2em;
        padding: 0;
        margin: 0;
    }
    
    .modalContentContainer table {
        width: auto !important;
        min-width: 100% !important;
    }

    .simplemodal-wrap {
        overflow-y: scroll !Important;
        overflow-x: hidden !Important;
    }

    .modalContentContainer, .simplemodal-wrap {
        margin: 0 !important;

    }

        .modalContentContainer h3, .modalContentContainer h4,
        .modalContentContainer p, .modalContentContainer span {
            display: inline-block;
            max-width: 92% !important;
        }

        .modalContentContainer h3 {
            line-height: 1em;
            font-size: 1.4em;
            margin: 20px 0 15px 0;
        }

        .modalContentContainer h4 {
            line-height: 1.1em;
            font-size: 1.2em;
            margin: 10px 0 10px 0;
        }

    #HelpFindingYourProperty h3, #HelpFindingYourProperty h4,
    #HelpFindingYourProperty p {
        text-align: center;
    }

    #HelpFindingYourProperty .ninetyFullWidth {
        padding-top: 20px;
    }

        #HelpFindingYourProperty .ninetyFullWidth tr {
            height: 25px;
            font-size: .7em;
            text-align: center;
        }


    .modalFormHolder {
        width: 260px;
        height: auto !important;
    }

    .modalContentContainer span {
        margin-top: 35px;
    }

    .modalRow, .modalButtonHolder {
        max-width: 270px;
        height: auto;
    }

        .modalRow .formEvenThirdWidth {
            display: block;
            clear: both;
            width: 95%;
            margin-top: 50px;
            height: 65px;
        }

    .modalButtonHolder {
        float: left !important;
    }

    .simplemodal-data {
        padding: 15px;
    }

    .signUpContainer {
        width: 280px !important;
    }

    #HelpFindingYourProperty, .informPmContainer {
        width: 275px !important;
    }

    .formContainer {
        width: 100%;
    }

    .toolTipIcon {
        display: none;
    }


    .contactSend {
        right: 75px; /*to line up with the bottom of the message field*/
    }

    .locationImage {
        width: 290px;
        height: 206px;
        background-size: 100%;
    }

    h3 {
        font-size: 1.35em;
    }

    /* =================== Residential Pages ================== */

    /* ========= Universal Styling ======== */

    /* Main Header + Tabs
    *********************** */
    .mainPageHeader .mainLogoCotainer {
        width: auto;
        position: relative;
        padding: 25px 0;
    }

    .rentPaidOnlineLogo {
        margin: 0 auto;
    }

    .accountText {
        display: none;
    }

    .residentLogOut {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 13px !important;
        font-weight: 500;
        padding: 5px 8px;
        background-color: #6C8F3B;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        behavior: url(border-radius.htc);
    }

        .residentLogOut:hover {
            color: #fff !important;
            background: #618530;
        }

    .logInButtonHolder.mobile-login {
        position: absolute;
        top: -30px;
        z-index: 1000000;
        left: 0;
        width: auto;
        margin-left: 13px;
    }

    .accountText.mobile-login {
        display: block;
        background: none;
        position: absolute;
        left: 0;
        margin-left: 13px;
        z-index: 1000000;
        width: auto;
        top: -32px;
    }

        .accountText.mobile-login #WelcomeMessageText {
            display: none;
        }

    .paymentPage .mainTabSection,
    .propertyPage .mainTabSection {
        width: 100%;
    }

        .paymentPage .mainTabSection .panel_container,
        .propertyPage .mainTabSection .panel_container {
            border: none;
            width: 100%;
            padding: 0 15px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

            .paymentPage .mainTabSection .panel_container .panels,
            .paymentPage .mainTabSection .panel_container .panels .panel,
            .propertyPage .mainTabSection .panel_container .panels,
            .propertyPage .mainTabSection .panel_container .panels .panel {
                width: 100% !important;
                padding: 0 15px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

        .paymentPage .mainTabSection .tabs,
        .propertyPage .mainTabSection .tabs {
            margin-left: 0;
            margin-bottom: 15px;
            background-color: #e58a13;
        }

            .paymentPage .mainTabSection .tabs span,
            .propertyPage .mainTabSection .tabs span {
                margin: 2% 0 2% 2%;
                padding-top: 12px;
                height: 60px;
                background-color: transparent;
                color: #ffffff;
                border: none;
                text-align: center;
                font-size: 12px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

                .paymentPage .mainTabSection .tabs span:last-child,
                .propertyPage .mainTabSection .tabs span:last-child {
                    margin-right: 2%;
                }

                .paymentPage .mainTabSection .tabs span.selected,
                .propertyPage .mainTabSection .tabs span.selected {
                    background-color: #c67409;
                    border-radius: 0;
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                }

                .paymentPage .mainTabSection .tabs span i,
                .propertyPage .mainTabSection .tabs span i {
                    font-size: 20px;
                    display: block;
                    padding-bottom: 3px;
                }

        /* Footer
    ****************** */

    .footerContainer {
        width: 100% !important;
        padding: 0 15px !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Structure
    ****************** */

    .homePageContainer.homePageDashboard,
    .pageContainer.residentLoginPage,
    .pageContainer.paymentPage,
    .pageContainer.accountPage,
    .pageContainer.propertyPage,
    .pageContainer.paySuccessPage,
    .pageContainer.payFailedPage,
    .pageContainer.payStatusPage,
    .pageContainer.scheduledPaymentPage,
    .pageContainer.residentErrorPage,
    .pageContainer.privacyPolicyPage,
    .pageContainer.termsOfUsePage,
    .pageContainer.contactPage {
        width: 100%;
    }

    .accountPage .singleItemSection,
    .paySuccessPage .singleItemSection,
    .payFailedPage .singleItemSection,
    .payStatusPage .singleItemSection,
    .scheduledPaymentPage .singleItemSection,
    .residentErrorPage .singleItemSection,
    .privacyPolicyPage .termsAndConditionsContainer,
    .termsOfUsePage .termsAndConditionsContainer,
    .contactPage .contactContent 
     {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: none;
        margin: 0;
    }

    .paymentPage .standardPadding,
    .accountPage .standardPadding,
    .propertyPage .standardPadding,
    .payFailedPage .standardPadding,
    .residentErrorPage .standardPadding {
        padding: 0;
    }

    .paymentPage .itemRow,
    .homePageDashboard .account-summary .itemRow,
    .propertyPage .leasingTab .leaseGeneralInfoColumn .propertyInteriorColumn .itemRow {
        height: auto;
    }

    .residentLoginPage .pageTitle,
    .paymentPage .pageTitle,
    .accountPage .pageTitle,
    .propertyPage .pageTitle,
    .paySuccessPage .pageTitle,
    .payFailedPage .pageTitle,
    .payStatusPage .pageTitle,
    .scheduledPaymentPage .pageTitle,
    .residentErrorPage .pageTitle,
    .contactPage .pageTitle {
        display: none;
    }

    .paymentPage .itemTitle,
    .paymentPage .itemTitle span,
    .homePageDashboard .account-summary .itemTitle,
    .propertyPage .leasingTab .itemLabel,
    .propertyPage .leasingTab .itemTitle {
        font-weight: bold;
        width: 100%;
        font-size: 15px;
    }

    .paymentPage .itemAmount,
    .propertyPage .leasingTab .leaseGeneralInfoColumn .itemAmount {
        float: none;
        width: 100%;
        font-size: 15px;
    }

    .accountPage .borderBottom,
    .homePageDashboard .borderBottom + .borderBottom,
    .propertyPage .contactTab .borderBottom {
        border: none;
    }

    .paymentPage .bottomElements,
    .accountPage .bottomElements,
    .scheduledPaymentPage .bottomElements {
        bottom: auto !important;
        position: relative;
        display: block;
        width: 100%;
        right: auto;
        text-align: left;
    }

    /* Accordion
    ****************** */

    .accordion {
        margin-bottom: 25px;
    }

    .accordion-group {
        margin-bottom: 2px;
        border: 1px solid #CCC;
        border-radius: 4px;
    }

    .accordion-heading {
        border-bottom: 0;
    }

        .accordion-heading .accordion-toggle {
            display: block;
            padding: 8px 15px;
            cursor: pointer;
        }

    .accordion-inner {
        padding: 9px 15px;
        border-top: 1px solid #CCC;
    }

    .collapse {
        display: none;
    }

        .collapse.in {
            display: block;
        }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.35s ease;
        transition: height 0.35s ease;
    }

    .accountPage h4,
    .paymentPage h4 {
        background-color: #eeeeee;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-weight: bold;
        font-size: 16px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        display: block;
        text-align: left;
        border-bottom: 1px solid #ffffff;
    }

    .accountPage #genInfo,
    .accountPage #payPhone,
    .accountPage #pass,
    .accountPage #photo,
    .paymentPage #myInfo,
    .paymentPage #paymentMethod,
    .paymentPage #billingAdd,
    .paymentPage #totalPay,
    .paymentPage #payOpt {
        padding: 15px;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

        .accountPage #genInfo h4,
        .accountPage #payPhone h4,
        .accountPage #pass h4,
        .accountPage #photo h4,
        .paymentPage #myInfo h4,
        .paymentPage #paymentMethod h4,
        .paymentPage #billingAdd h4,
        .paymentPage #totalPay h4,
        .paymentPage #payOpt h4 {
            display: none;
        }

    .accountPage .pull-right.fa,
    .paymentPage .pull-right.fa {
        font-size: 12px;
        margin-top: 14px;
    }

    /* Buttons 
    ****************** */

    .residentLoginPage .orangeButton,
    .propertyPage .orangeButton,
    .paymentPage .pay-now-btn,
    .payStatusPage .orangeButton {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-weight: bold;
        font-size: 16px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        display: block;
        text-align: center;
    }

    .paymentPage .autoPayContainer .btn,
    .paymentPage .textToPayContainer .btn,
    .paymentPage .action-buttons a {
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        font-weight: bold;
        font-size: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 48%;
        margin-right: 4%;
        margin-bottom: 18px;
        display: block;
        text-align: center;
        float: left;
    }

        .paymentPage .autoPayContainer .btn + .btn,
        .paymentPage .textToPayContainer .btn + .btn,
        .paymentPage .action-buttons a + a {
            margin-right: 0;
        }

    .paymentPage .action-buttons .save-btn,
    .scheduledPaymentPage .save-btn {
        background-color: #78AA2D !important;
        font-size: 18px !important;
    }

    .paymentPage .action-buttons .cancel-btn,
    .scheduledPaymentPage .cancel-btn {
        background-color: #C42B2D !important;
        font-size: 18px !important;
    }

    /* Forms and Fields
    ********************* */

    .residentLoginPage .formFullWidth,
    .paymentPage .formFullWidth,
    .accountPage .formFullWidth,
    .propertyPage .formFullWidth,
    .payStatusPage .formFullWidth,
    .scheduledPaymentPage .formFullWidth,
    .contactPage .formFullWidth {
        width: 100% !important;
        margin: 0;
    }

    .paymentPage .formRow,
    .accountPage .formRow,
    .contactPage .formRow {
        margin-bottom: 18px;
    }

    .residentLoginPage input,
    .paymentPage input,
    .accountPage input,
    .scheduledPaymentPage div input[type="text"],
    .contactPage input {
        height: 36px;
        padding: 0 10px;
        margin-top: 5px;
        margin-bottom: 3px;
        font-size: 14px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100% !important;
        display: block;
    }

    .paymentPage input[type="submit"],
    .accountPage input[type="submit"],
    .scheduledPaymentPage input[type="submit"],
    .contactPage input[type="submit"] {
        padding: 0 20px;
        font-weight: bold;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: block;
        text-align: center;
    }

    .paymentPage input[type="checkbox"],
    .propertyPage .maintenanceTab input[type="checkbox"],
    .contactPage input[type="checkbox"] {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
    }

    .paymentPage .chzn-single,
    .accountPage .chzn-single,
    .propertyPage .maintenanceTab .chzn-single {
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100% !important;
        display: block;
        line-height: 36px;
        font-weight: 600;
    }

    .paymentPage .chzn-container-single .chzn-single div,
    .accountPage .chzn-container-single .chzn-single div,
    .propertyPage .maintenanceTab .chzn-container-single .chzn-single div {
        top: 5px;
    }

    .paymentPage .chzn-container .chzn-results li,
    .accountPage .chzn-container .chzn-results li,
    .propertyPage .maintenanceTab .chzn-container .chzn-results li {
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }


    /* =========== Page Specific Styling ========= */

    /* Login Page - Login.aspx 
    ******************************** */

    .residentLoginPage .sectionSixty {
        padding: 15px 15px 0;
        width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .residentLoginPage .loginContainer {
        margin-left: 0;
    }

    .residentLoginPage .formRow {
        margin-bottom: 10px;
    }

    .residentLoginPage .formLabel {
        margin-bottom: 5px;
    }

    .residentLoginPage .generalButtonHolder {
        margin: 10px 0 15px;
        float: none;
    }

    .residentLoginPage .register {
        display: none;
    }

    .residentLoginPage .smallLink {
        display: none;
    }

    .residentLoginPage .registerLinkMobile {
        display: inline;
        float: right;
        color: #77aa2d;
        font-size: 13px;
        text-decoration: underline;
    }

    .residentLoginPage .forgotPasswordLinkMobile {
        display: inline;
        float: left;
        color: #77aa2d;
        font-size: 13px;
        text-decoration: underline;
    }

    /* Home Dashboard - Default.aspx
    ******************************** */

    .homePageContainer.homePageDashboard {
        margin-top: 45px;
    }

    .homePageDashboard h5 {
        margin-bottom: 7px;
    }

    .homePageDashboard .even3Column {
        width: 100%;
        border: 0;
        padding: 0 15px 30px 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 100px;
        margin: 12px 0 0 0;
    }

    .homePageDashboard .account-balance {
        background: #EEE;
        margin-bottom: 5px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .homePageDashboard .newsAndWeatherHolder,
    .homePageDashboard .latestNewsColumn,
    .homePageDashboard .announcementsColumn,
    .homePageDashboard .calendarCallout,
    .homePageDashboard .calendarColumn {
        display: none;
    }

    .homePageDashboard .orangeButton,
    .homePageDashboard .btn-primary-sm {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-weight: bold;
        font-size: 14px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        display: block;
        text-align: center;
    }

    .homePageDashboard .btn-primary-sm {
        background-color: #e58a13 !important;
        padding: 0 5px;
        text-decoration: none;
        text-align: center;
        color: #fff !important;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        behavior: url(border-radius.htc);
    }

    .homePageDashboard .btn-half {
        width: 48% !important;
        float: left;
        margin-right: 4%;
    }

        .homePageDashboard .btn-half:last-child {
            margin-right: 0;
        }

    .calendarCalloutMobile {
        text-align: center;
    }

    .homePageDashboard .account-balance .even2Column {
        margin-top: 0;
        padding-bottom: 0;
        height: 110px;
        padding-right: 4.9%;
    }

    .homePageDashboard .account-balance div.even2Column:last-child {
        padding-right: 0 !important;
    }

    .homePageDashboard .account-balance .even2Column .greenText,
    .homePageDashboard .account-balance .even2Column .displayFont {
        margin-bottom: 0;
        text-align: left;
        display: block;
    }

    .homePageDashboard .account-balance .payRentButton,
    .homePageDashboard .account-balance .setupAutoPay {
        position: static;
        left: auto;
        right: auto;
        bottom: auto;
        margin-top: 10px;
        display: block;
    }

    .homePageDashboard .account-balance .even2Column .greenText {
        line-height: 1;
    }

    .homePageDashboard.homePageContainer .account-summary .rowSpacingAdjust {
        margin: 0 0 15px;
    }

    .homePageDashboard .account-summary {
        border-bottom: 1px solid #e5dcd8;
    }

        .homePageDashboard .account-summary span {
            font-size: .9em !important;
            width: 100%;
            display: block;
            float: none;
        }

        .homePageDashboard .account-summary .itemTitle {
            margin-bottom: 5px;
        }

        .homePageDashboard .account-summary .itemAmount {
            margin-bottom: 15px;
        }

    .homePageDashboard .homepageMaintenanceHolder .viewMoreLink {
        text-align: left;
        font-size: 24px !important;
    }

    /* Payment Pages - Payments.aspx
    ******************************** */

    .pageContainer.paymentPage {
        margin-top: 56px;
    }

    .paymentPage .mainTabSection .tabs span {
        width: 47%;
    }

    /* Payment Info Tab - Payments.aspx
    ******************************** */

    .paymentPage .mobileTotalDue {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

        .paymentPage .mobileTotalDue .totalTitle {
            padding: 0;
            background-color: transparent;
            color: #7f4824 !important;
            width: auto;
        }

        .paymentPage .mobileTotalDue .totalAmount {
            padding: 0;
            margin-left: 10px;
            background-color: transparent;
            color: #7f4824 !important;
            width: auto;
            float: left;
        }

        .paymentPage .mobileTotalDue span {
            margin: 0;
            font-weight: bold;
        }

    .paymentPage .clear {
        clear: both;
    }

    /******ALERTS TO EDIT WHEN BLAKE GETS BACK******/
    .paymentPage .alert-danger {
        color: #7f4824;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
        padding: 10px 15px;
        background: #fff0e7;
    }

    #ValidationSummaryModal {
        padding: 15px !important;
        width: 100%;
        max-width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        #ValidationSummaryModal #ValidationSummary {
            padding: 15px 15px 12px;
            background-color: #fff0e7;
        }

            #ValidationSummaryModal #ValidationSummary h3 {
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 5px;
                color: #7f4824;
            }

            #ValidationSummaryModal #ValidationSummary ul {
                margin-bottom: 0;
            }

                #ValidationSummaryModal #ValidationSummary ul li {
                    color: #7f4824;
                    line-height: 1;
                    font-weight: bold;
                }

    /***********************************************/

    .paymentPage .mobileRequiredText {
        display: block;
        margin-bottom: 5px;
    }

        .paymentPage .mobileRequiredText p {
            font-weight: 600;
            font-size: 15px;
        }

    .paymentPage .required:after {
        content: "*";
    }

    .paymentPage .paymentRow {
        margin-top: 0;
        padding-bottom: 15px;
    }

    .paymentPage .paymentFormColumn {
        width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }

    .paymentPage .formHalfWidth {
        width: 48%;
        display: inline-block;
        margin-right: 4% !important;
        margin-left: 0 !important;
        float: left;
        margin-bottom: 18px !important;
    }

        .paymentPage .formHalfWidth:last-child {
            margin-right: 0 !important;
        }

    .paymentPage .formHalf {
        width: 48%;
    }

    .paymentPage h4 .stepsCircle {
        border-radius: 50%;
        behavior: url(PIE.htc);
        width: 7px;
        height: 7px;
        padding: 8px;
        line-height: 7px;
        background: #41454c;
        color: #ffffff;
        text-align: center;
        margin-top: -3px;
        margin-right: 7px;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
    }

    .paymentPage .smallText {
        font-size: 12px;
        font-weight: bold;
    }

    .paymentPage .paymentBlockSection,
    .paymentPage .totalPaymentAmount {
        margin: 0;
    }

    .paymentPage .checkBoxText input {
        height: auto;
        padding: 0;
        font-size: 14px;
        width: auto !important;
        display: inline-block;
        margin-right: 13px;
    }

    .paymentPage .borderTop {
        border-top: 1px solid #e5dcd8;
        margin-top: 20px;
        display: block;
        width: 100%;
    }

    .paymentPage input[type="submit"] {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
    }

    .paymentPage .totalTitle {
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: #77aa2d;
        width: 50%;
        color: #fff !important;
        font-size: 18px;
        font-weight: 600;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .paymentPage .totalAmount {
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: #77aa2d;
        width: 50%;
        color: #fff !important;
        font-size: 18px;
        font-weight: 600;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        text-align: right;
    }

    .paymentPage .autoPayContainer, .textToPayContainer {
        border: none;
        background-color: transparent;
        width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        padding: 0;
    }

    .paymentPage .pay-now-box .pay-now-btn {
        margin-top: 22px;
        font-size: 20px;
        width: 100%;
    }

    .paymentPage .orBlock {
        text-align: center;
        position: relative;
        width: 100%;
    }

        .paymentPage .orBlock span {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
        }

            .paymentPage .orBlock span:before,
            .paymentPage .orBlock span:after {
                border-top: 1px solid #77aa2d;
                display: block;
                height: 1px;
                content: " ";
                width: 40%;
                position: absolute;
                left: 0;
                top: 1.2em;
            }

            .paymentPage .orBlock span:after {
                right: 0;
                left: auto;
            }


    .paymentPage .disclaimer {
        margin: 20px 0px !important;
        font-size: 15px !important;
        clear: both;
    }

    /* Account Info Page - MyAccount.aspx
    ************************************* */

    .pageContainer.accountPage {
        margin-top: 56px;
    }

    .accountPage .standardPadding {
        margin-top: 15px;
    }

    .accountPage .accountPageColumn {
        width: 100%;
        display: block;
        border: none;
        margin: 0;
        min-height: 100%;
    }

    .accountPage .even3Column .dividedSection {
        margin: 0;
        padding: 0;
    }

    .accountPage .formSeventyFiveWidth {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0;
    }

    .accountPage .borderBottom .itemLabel {
        margin-bottom: 15px;
    }

    .accountPage input[type="submit"] {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .accountPage input[type="file"] {
        margin: 0;
        padding: 0;
    }

    .accountPage .imagePickerButton {
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        font-weight: bold;
        font-size: 18px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 18px;
        display: block;
        text-align: center;
        float: none;
        background-color: #78AA2D !important;
    }

    .accountPage .imageDelete {
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        font-weight: bold;
        font-size: 18px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 18px;
        display: block;
        text-align: center;
        float: none;
        background-color: #C42B2D !important;
    }

    .accountPage .iconHolder,
    .accountPage .mobileImageHolder {
        width: 100%;
        background-color: #eeeeee;
        padding: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .accountPage .mobileImageHolder {
        margin-bottom: 15px;
    }

    .accountPage .iconHolder .resizedImage,
    .accountPage .imageSection .resizedImage {
        display: block;
        margin: 0 auto;
        border: 1px solid #dddddd;
    }


    /* Property Page - Property.aspx
    ******************************** */

    .pageContainer.propertyPage {
        margin-top: 56px;
    }

    .propertyPage .mainTabSection .tabs span {
        width: 30.666667%;
    }

    .propertyPage .mainTabSection .tabs del {
        display: none;
    }

    /* Contacts Tab - PropertyContactsTab.ascx 
    ***************************************** */

    .propertyPage .contactTab .propertyRow {
        margin-top: 0;
        padding-bottom: 0;
    }

        .propertyPage .contactTab .propertyRow:last-child .propertyColumn:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

    .propertyPage .contactTab .propertyColumn {
        margin-right: 0;
        width: 100%;
        min-height: 50px;
        padding-right: 0;
        border-right: 0;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e5dcd8;
    }

    .propertyPage .contactTab .iconHolder {
        display: none;
    }

    /* Leasing Info Tab - PropertyLeasingInfoTab.ascx
    *********************************************** */

    .propertyPage .leasingTab .leaseGeneralInfoColumn,
    .propertyPage .leasingTab .propertyInteriorColumn {
        margin: 0;
        width: 100%;
    }

    .propertyPage .leasingTab .leaseMainInfoColumn {
        width: 100%;
        margin-top: 0;
        min-height: 50px;
        border-right: none;
        border-bottom: 1px solid #e5dcd8;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .propertyPage .leasingTab .propertyInteriorColumn {
        border-bottom: 1px solid #e5dcd8;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .propertyPage .leasingTab .propertyRow {
        margin: 0;
        padding: 0;
    }

        .propertyPage .leasingTab .propertyRow:last-child .propertyInteriorColumn:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

    .propertyPage .leasingTab img {
        display: none;
    }

    .propertyPage .leasingTab .occupantsColumn .itemLabel {
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .propertyPage .leasingTab .leaseGeneralInfoColumn .propertyRow .propertyInteriorColumn ul {
        margin-top: 6px;
    }

        .propertyPage .leasingTab .leaseGeneralInfoColumn .propertyRow .propertyInteriorColumn ul li {
            margin-bottom: 8px;
            line-height: 1.4em;
        }

        .propertyPage .leasingTab .leaseGeneralInfoColumn .propertyRow .propertyInteriorColumn ul.amountDue {
            margin-bottom: 20px;
        }

    /* Maintenance Request Tab - PropertyMaintenanceRequestTab.ascx
    ************************************************************* */

    .propertyPage .maintenanceTab .maintenanceType,
    .propertyPage .maintenancePriority {
        width: 100%;
        margin-bottom: 15px;
    }

    .propertyPage .maintenanceTab .checkBoxText label {
        padding-left: 5px;
    }

    .propertyPage .maintenanceTab .checkBoxBlock {
        margin-bottom: 25px;
    }

    .propertyPage .maintenanceTab .messageBox {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }

    .propertyPage .orangeButton {
        font-size: 20px !important;
    }

    /* Contact Page - Contact.aspx
    ************************************************************* */

    .pageContainer.contactPage {
        margin-top: 70px;
    }

    .contactPage .contactColumn1, .contactPage .contactColumn2, .contactPage table {
        width: 100%;
        margin: 0 auto;
    }

    .contactPage input[type="submit"] {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .contactPage table td {
        padding: 0 0 18px;
    }

    .contactPage input[type="checkbox"] {
        height: auto;
        padding: 0;
        font-size: 14px;
        width: auto !important;
        display: inline-block;
        margin-right: 13px;
    }


    /* Payment Success Page - PaymentIvr.aspx
    ************************************************************* */

    .pageContainer.paySuccessPage {
        margin-top: 58px;
    }

    .paySuccessPage .singleItemSection {
        padding: 25px 15px 30px;
    }

    .paySuccessPage .slimPadding {
        padding: 0;
    }

    .paySuccessPage .receiptHolder {
        width: 100%;
        margin-bottom: 0;
    }

        .paySuccessPage .receiptHolder header {
            margin-bottom: 15px;
        }

            .paySuccessPage .receiptHolder header p {
                font-size: 15px;
            }

    .paySuccessPage .receipt {
        padding-left: 0;
    }

    .paySuccessPage .recieptColumn {
        width: 100%;
        padding-bottom: 0;
    }

    /* Payment Failed Page - PaymentFailed.aspx
    ************************************************************* */

    .pageContainer.payFailedPage {
        margin-top: 58px;
    }

    .payFailedPage .singleItemSection {
        padding: 25px 15px 30px;
        min-height: 200px !important;
    }

    .payFailedPage .paymentStatusInfoBlock {
        width: 100%;
    }

        .payFailedPage .paymentStatusInfoBlock h5 {
            margin-bottom: 8px;
        }

    /* Payment Status Page - PaymentStatus.aspx
    ************************************************************* */

    .pageContainer.payStatusPage {
        margin-top: 58px;
    }

    .payStatusPage .singleItemSection {
        padding: 25px 15px 30px;
        min-height: 200px !important;
    }

    .payStatusPage .slimPadding {
        padding: 0;
    }

    .payStatusPage .receiptHolder {
        width: 100%;
        margin-bottom: 0;
    }

    .payStatusPage .receipt {
        padding-left: 0;
    }

    .payStatusPage .recieptColumn {
        width: 100%;
        padding-bottom: 0;
    }

    .payStatusPage .printButton {
        margin-top: 20px;
        width: 100%;
    }

    /* Confirm Scheduled Payment - ConfirmScheduledPayment.aspx
    ************************************************************* */

    .pageContainer.scheduledPaymentPage {
        margin-top: 58px;
    }

    .scheduledPaymentPage .singleItemSection {
        padding: 25px 15px 30px;
        min-height: 200px !important;
    }

    .scheduledPaymentPage div:first-child {
        padding: 0 !important;
    }

    .scheduledPaymentPage h4 {
        line-height: 1.3;
    }

    .scheduledPaymentPage .formQuarterWidth {
        width: 100%;
    }

    .scheduledPaymentPage .bottomElements {
        margin-top: 25px;
    }

    .scheduledPaymentPage input[type="submit"] {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-top: 5px;
    }

    /* Error Page - ErrorPage.aspx
       Privacy Policy Page - PrivacyPolicy.aspx
       Terms of Use Page - PrivacyPolicy.aspx
    ************************************************************* */

    .pageContainer.residentErrorPage,
    .pageContainer.privacyPolicyPage,
    .pageContainer.termsOfUsePage {
        margin-top: 90px;
        padding-bottom: 30px;
    }

    .privacyPolicyPage h2,
    .termsOfUsePage h2,
    .privacyPolicyPage h3,
    .termsOfUsePage h3 {
        line-height: 1.1;
        margin-bottom: 15px;
    }

    .termsOfUsePage h3 {
        margin-top: 35px;
    }
}

/* ------------------- Retnia specific screen version ------------------- */
@media only screen and (max-width: 320px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    .mean-container .mean-nav ul li a.mean-expand {
        padding: 15px 5px 12px 115px !important;
    }
}


/* Responsive Tables */

/* Mobile */
@media only screen and (max-width: 767px) {

    .table-wrapper .scrollable, .table-wrapper .pinned {
        margin: 0;
    }

    .payment-history tbody,
    table.payment-history {
        min-width: 100% !important;
        width: auto !important;
    }

    .homepageMaintenanceHolder table,
    .homepageMaintenanceHolder tbody {
        width: auto !important;
        min-width: 100% !important;
        height: 295px;
    }

    .gridHolder td {
        padding: 10px;
    }

    table th {
        font-weight: bold;
    }

    table td,
    table th {
        padding: 10px;
        text-align: left;
    }

    .tableArrow {
        position: absolute;
        z-index: 5;
        height: 100%;
        background: transparent;
        background: rgba(0,0,0,0.5);
        width: 100%;
        top: 0;
        margin: 0 !important;
        color: #fff;
        text-shadow: 1px 1px 7px #333;
    }

        .tableArrow span {
            left: 11%;
            position: absolute;
            top: 18%;
            font-size: 35px !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: sans-serif;
            color: white;
        }

            .tableArrow span:before {
                font-family: fontAwesome;
                content: "\f053";
                vertical-align: middle;
                margin-right: 10px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

    .paymentPage .tableArrow span {
        top: 5%;
    }

    table.responsive {
        margin-bottom: 0;
    }

    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 35%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: none;
        border-left: 1px solid #fff;
        box-shadow: 5px 0 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 0 5px rgba(0,0,0,0.2);
        -webkit-box-shadow: 5px 0 5px rgba(0,0,0,0.2);
    }

        .pinned table {
            border-right: none;
            border-left: none;
            width: 100%;
        }

            .pinned table th, .pinned table td {
                white-space: nowrap;
            }

        .pinned td:last-child {
            border-bottom: 0;
        }

    div.table-wrapper {
        position: relative;
        /*margin-bottom: 20px;*/
        overflow: hidden;
        border-right: 1px solid #ccc;
    }

        div.table-wrapper div.scrollable {
            margin-left: 35%;
        }

        div.table-wrapper div.scrollable {
            overflow: scroll;
            overflow-y: hidden;
        }

    table.responsive td,
    table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

        table.responsive th:first-child,
        table.responsive td:first-child,
        table.responsive td:first-child,
        table.responsive.pinned td {
            display: none;
        }

        /* Tooltips */
        #powerTip {
            width: 90%;
            white-space: normal;
            max-width: 100%;
            left: 10px !important;
            right: auto !important;
        }

        .cvvImage {
            background-size: contain;
            width: 318px;
            height: 102px;
        }
}

/*#simplemodal-container a.modalCloseImg {
    display: block;
    margin: 9px 10px 5px 0px;
    float: right;
    position: static;
}*/

input[type="number"], input[type="text"], input[type="password"], .messageBox, .comboBox {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #808285;
    outline: none;
    margin: 5px 0 15px 0;
    color: #7f4824;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    behavior: url(border-radius.htc);
}

.formRow div input[type="text"], .formRow div input[type="number"] {
    width: 95%;
    margin-bottom: 3px;
}
