﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MRI_RestTest.aspx.cs" Inherits="RentPaidOnline.MRI_Test.MriRestTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
        <br />
        <br />
        <asp:Button ID="ver45btn" runat="server" OnClick="ver45btn_Click" Text="version 4.5" />
        <br />
        <br />
        <br />
        <asp:Button ID="verXbtn" runat="server" OnClick="verXbtn_Click" Text="version X" />
        <br />
    </div>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    </form>
</body>
</html>
