﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MRI_Test.aspx.cs" Inherits="Domus.MRI_Test.MRI_Test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h2>
        MRI API Test
    </h2>
        <asp:Button ID="Button1" runat="server" Text="Resident Lease Detail" OnClick="Button1_Click" />
        <br />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server"></asp:Label>
    </div>



        <div>
            <h2>Export Test</h2>
            <asp:Button ID="Button2" runat="server" Text="Button" OnClick="Button2_Click" /><br /><br />

        </div>

        <div>
            <h2>Post Test</h2>
            <asp:Button ID="Button3" runat="server" Text="Button" OnClick="Button3_Click" style="height: 26px" />
        </div>

        <div>
            <h2>Post Test 2</h2>
            <asp:Button ID="Button4" runat="server" Text="Post Test 2" OnClick="Button4_Click" />
        </div>


    </form>
</body>
</html>
