﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ApplicationConfirmation.aspx.cs" Inherits="EfxPublic.ApplicationConfirmation" %>

<%@ Register Src="~/UserControls/TopNavMenu2.ascx" TagPrefix="uc1" TagName="TopNavMenu2" %>
<%@ Register Src="~/UserControls/Footer.ascx" TagPrefix="uc1" TagName="Footer" %>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Domus - Premier Multifamily Financial Services</title>
    <link id="PublicFavicon" rel="icon" type="image/x-icon" href="/DomusIcon.ico" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="index">
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

            <uc1:TopNavMenu2 runat="server" ID="TopNavMenu2" />

            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>

                     <header id="Residents" class="text-center tall text-center" style="background-position: center; color: #FFFFFF; background-image: url(/img/RegisterHeader2.png); background-repeat: no-repeat;">
                        <div class="container text-center">
                            <div class="row">
                                <div class="intro-text">
                                    <div class="intro-lead-in text-shadow">Thank you for applying!</div>
                                    <div class="intro-lead-in text-shadow">The Property Manager will review your application.</div>
                                </div>
                            </div>
                        </div>
                    </header>

                    <section id="applySection">
                        <div class="container">


                        </div>
                    </section>

                </ContentTemplate>
            </asp:UpdatePanel>



             <uc1:Footer runat="server" ID="Footer" />

                <!-- jQuery -->
                <script src="js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
                <script src="js/classie.js"></script>
                <script src="js/cbpAnimatedHeader.js"></script>

                <!-- Contact Form JavaScript -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>

                <!-- Custom Theme JavaScript -->
                <script src="js/agency.js"></script>

        </div>
    </form>
</body>
</html>
