.igcv_TrendyControl
{
	border-width:1px;
	border-color:#109A48;
}


.igcv_TrendyCaptionHeader
{
	background-color:#0F9A48;
	font-weight:bold;
	font-size:8pt;
	padding:3px;
	width: 100%;
	white-space: nowrap;
	color:White;
	text-align:center;
}


.igcv_TrendyDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:10px;
	border-bottom:solid 1px #4F7600;
	height: 16px;
	color:Black;
}


.igcv_TrendyDay
{
	background-color:White;
	font-size:11px;
	border-width:0px;
	cursor:hand;
	text-align:center;
}


.igcv_TrendyFooter
{
	background-color:#EEEEEE;
	background-position:bottom ;
	background-image: url(images/footer.gif);
	font-size:8pt;
	padding:3px;
	white-space: nowrap;
	cursor:pointer;
	text-align:center;
}


.igcv_TrendyDropDown
{
	font-size:8pt;
}


.igcv_TrendyOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcv_TrendyWeekendDay
{
	background-color:#FAFAFA;
}


.igcv_TrendyNavigationButton
{
	background-color:#0F9A48;
	padding-right:3px;
	padding-left:3px;
	cursor:pointer;
}


.igcv_TrendyTodayDay
{
	border:solid 1px #109A48;
}


.igcv_TrendyActivityDay
{
	font-weight:bold;
}


.igcv_TrendyActiveDay
{
	background-color:#109A48;
	background-image:none;
	color:White;
}


