.igdc_TrendyEditWithButtons
{
	background-color:Transparent;
	font-size:10px;
	font-family: Verdana;
	border:solid 1px #009966;
}


.igdc_TrendyCalendar
{
    border:solid 1px #009966;
    background-color: #FFFFFF;
}


.igdc_TrendyEditInContainer
{
	background-color:Transparent;
	font-size:10px;
	border-style:none;
	border-width:0px;
	padding-left:3px;
	float: left;
	width: 100%;
	height: 100%;
	outline:0;
}


.igdc_TrendyButton
{
	background-color:Transparent;
}


.igdc_TrendyButtonHover
{
	background-color:Transparent;
}


