.igdv_TrendyControl
{
	border: 1px solid #006F4A;
}


.igdv_TrendyCaptionHeader
{
	background-color:#0f9a48;
	background-repeat:repeat-x;
	background-image: url(images/header.gif);
	font-weight:bold;
	font-size:8pt;
	border-bottom:solid 1px #006F4A;
	line-height: 16pt;
	color:#FFFFFF;
	text-align:center;
}


.igdv_TrendyDayHeader
{
	background-color:#EAEAEA;
	background-image: url(images/bg_diagonal.gif);
	font-size:8pt;
	border-top:solid 1px #C0C0C0;
	border-bottom:solid 1px #C0C0C0;
	padding:3px;
	height: 20px;
	color:Black;
	text-align:center;
	vertical-align:middle;
	overflow: hidden;
}


.igdv_TrendyNonWorkingTimeSlot
{
	background-color:#F5F5F5;
	border-bottom:solid 1px #CCCCCC;
	height: 20px;
}


.igdv_TrendyWorkingTimeSlot
{
	background-color:White;
	border-bottom:solid 1px #CCCCCC;
	height: 20px;
}


.igdv_TrendyAllDayEventArea
{
	background-color:#FFFFFF;
	border-bottom: 1px solid #999999;
}


.igdv_TrendyAllDayEvent
{
	background-color: #F5F5F5;
	font-size:8pt;
	border: dotted 1px #999999;
	padding:4px;
	white-space: nowrap;
	text-align:center;
	overflow: hidden;
}


.igdv_TrendyAppointment
{
	background-color:White;
	font-size:8pt;
	border:solid 1px #999999;
	overflow: hidden;
}

.igdv_TrendyFadedAppointment
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.igdv_TrendyActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_TrendyActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_TrendyTodayHeader
{
	background-color:#EAEAEA;
	background-image: url(images/bg_diagonal.gif);
	font-size:8pt;
	border-top:solid 1px #C0C0C0;
	border-bottom:solid 1px #C0C0C0;
	padding:3px;
	height: 20px;
	color:Black;
	text-align:center;
	vertical-align:middle;
	font-weight: bold;
}


.igdv_TrendyTimeSlotLabel
{
	background-color:#FFFFFF;
	background-position:bottom ;
	background-repeat: repeat-x;
	background-image: url(images/footer.gif);
	font-size:16pt;
	border-right:solid 1px #006F4A;
	border-bottom:solid 1px #006F4A;
	width: 60px;
	color:#006F4A;
	text-align:center;
	vertical-align:middle;
}


.igdv_TrendyTimeSlotLabelMinutes
{
	font-size:8pt;
}


.igdv_TrendyAllDayEventSelected
{
	background-color:#66BA3B;
	border-color: #006F4A;
	color: #FFFFFF;
}


.igdv_TrendyAllDayEventAreaSelected
{
	background-color:White;
}


.igdv_TrendyActivityHover
{
	z-index: 10000;
}


.igdv_TrendyActivityEdgeBusy
{
	background-color:#E6EDF7;
}


.igdv_TrendyActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_TrendyActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_TrendyActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_TrendyNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 20px;
	vertical-align:middle;
	cursor: hand;
	cursor: pointer;
}


.igdv_TrendySelectedAppointment
{
	z-index: 9999;
}

.igdv_TrendyResourceButton
{
	background-color:#ffffff;
	background-repeat:repeat-x;
	background-position: bottom;
	background-image: url(images/igmc_weekbg.gif);
	padding: 3px;
	color: #333333;
	border-width: 0;
	border-right: solid 1px #999999;
	border-bottom: solid 1px #999999;
	font-size: 8pt;
}

.igdv_TrendyResourceButton:focus, .igdv_TrendyResourceButtonActive
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igdv_TrendyResourceButton:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igdv_TrendyMultiDayEventArrowLeft
{
      background-image: url(images/igws_arrowLeft.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}

.igdv_TrendyMultiDayEventArrowRight
{
      background-image: url(images/igws_arrowRight.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}