.igmv_TrendyControl
{
	border: solid 1px #006F4A;
	overflow: auto;
}


.igmv_TrendyCaptionHeader
{
	background-color:#0f9a48;
	background-repeat:repeat-x;
	background-image: url(images/header.gif);
	font-weight:bold;
	font-size:8pt;
	border-bottom:solid 1px #006F4A;
	line-height: 16pt;
	color:#FFFFFF;
	text-align:center;
}


.igmv_TrendyDayHeader
{
	background-color:#0f9a48;
	background-repeat:repeat-x;
	background-image: url(images/header.gif);
	border:solid 1px #006F4A;
	border-right-width: 0px;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	padding:3px;
	vertical-align: middle;
	height: 1%;
}


.igmv_TrendyDay
{
	background-color:#FFFFFF;
	border-width: 0px;
	border-left:solid 1px #006F4A;
	cursor: pointer;
	color:Black;
	vertical-align:top;
}


.igmv_TrendyAppointment
{
	background-color:White;
	font-size:8pt;
	border:solid 1px #999999;
	overflow: hidden;
	padding: 3px;
	margin: 1px;
	cursor: pointer;
}

.igmv_TrendyFadedAppointment
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.igmv_TrendyAllDayEvent
{
	background-color: #F5F5F5;
	font-size:8pt;
	border: dotted 1px #999999;
	padding:3px;
	margin: 1px;
	white-space: nowrap;
	text-align:center;
	overflow: hidden;
	cursor: pointer;
}


.igmv_TrendyNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	margin:0px;
	padding:0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}


.igmv_TrendyWeekNumber
{
	background-color:#FFFFFF;
	background-position:bottom ;
	background-repeat: repeat-x;
	background-image: url(images/footer.gif);
	font-size:10pt;
	border-top:solid 1px #006F4A;
	width: 30px;
	text-align:center;
	vertical-align: middle;
}


.igmv_TrendyCompressedDay
{
	border-left:solid 1px #006F4A;
	vertical-align:top;
}


tr.igmv_TrendyCaptionHeader td.igmv_TrendyWeekNumber
{
	background-color: Transparent;
	background-image: none;
	border-width:0px;
	text-align: left;
	vertical-align: middle;
}


.igmv_TrendyMonthDayOfWeekHeader
{
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-position:bottom ;
	background-image: url(images/footer.gif);
	border:solid 1px #006F4A;
	border-right:solid 0px #006F4A;
	font-size: 8pt;
	height: 1%;
	padding: 3px;
	text-align:center;
	vertical-align: middle;
}


.igmv_TrendyOtherMonthDayHeader
{
	background-color: #ABDCBF;
	background-repeat: repeat-x;
	background-image: url(images/header_hover.gif);
	border:solid 1px #006F4A;
	border-right-width:0px;
	font-size: 8pt;
	padding: 3px;
	vertical-align: middle;
	color: #006F4A;
	height: 1%;
}


.igmv_TrendyOtherMonthDay
{
	background-color: #EAEAEA;
	background-image: url(images/bg_diagonal.gif);
	border-left:solid 1px #006F4A;
	color:Black;
	vertical-align:top;
}


.igmv_TrendyOtherCompressedDay
{
	background-color: #EAEAEA;
	background-image: url(images/bg_diagonal.gif);
	border-left:solid 1px #006F4A;
	vertical-align:top;
}


.igmv_TrendyTodayHeader
{
	background-color:#009DFF;
	background-repeat:repeat-x;
	background-position: top;
	background-image: url(images/igg_Selected.gif);
}


.igmv_TrendyToday
{
}


.igmv_TrendySelectedAppointment
{
	background-color:#66BA3B;
	color: #FFFFFF;
	font-size:8pt;
	border: dotted 1px #006F4A;
	overflow: hidden;
	padding: 3px;
	margin: 1px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
}


.igmv_TrendyActiveDayHeader
{
	background-position:center ;
	background-image: url(images/header.gif);
	font-weight:bold;
	color:White;
}


.igmv_TrendyActiveDay
{
	background-color:White;
	background-image:none;
}


.igmv_TrendyControl table
{
	border-collapse:Collapse;
}


.igmv_TrendyNavigationButtonNext
{
	margin-right: 3px;
}


.igmv_TrendyNavigationButtonPrev
{
	margin-left: 3px;
}

.igmv_TrendyResourceButton
{
	background-color:#ffffff;
	background-repeat:repeat-x;
	background-position: bottom;
	background-image: url(images/igmc_weekbg.gif);
	padding: 3px;
	color: #333333;
	border-width: 0;
	border-right: solid 1px #999999;
	border-bottom: solid 1px #999999;
	font-size: 8pt;
}

.igmv_TrendyResourceButton:focus, .igmv_TrendyResourceButtonActive
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igmv_TrendyResourceButton:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igmv_TrendyMultiDayEventArrowLeft
{
      background-image: url(images/igws_arrowLeft.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}

.igmv_TrendyMultiDayEventArrowRight
{
      background-image: url(images/igws_arrowRight.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}