﻿.igr_TrendyControl
{
    outline: none;
	border : 0px none;
	background:transparent;
}

.igr_TrendyEmptyContainer
{
    overflow : hidden;
}

.igr_TrendySelectedContainer
{
    position : relative;
    overflow : hidden;
    white-space : nowrap;
}

.igr_TrendyHoveredContainer
{
    position : relative;
    overflow : hidden;
    white-space : nowrap;
}

.igr_TrendyImageSpan
{
    display : inline-block;
    width: 20px;
    height: 20px;
}

.igr_TrendyImageSpanVert
{
    display : block;
    width: 20px;
    height: 20px;
}

.igr_TrendyEmptyImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: 0px 0px;
}

.igr_TrendySelectedImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -50px 0px;
}

.igr_TrendyHoveredImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -25px 0px;
}
/*
    These were added for our clients to control the disabled appearence
*/

.igr_TrendyDisabledEmptyImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -75px 0px;
}

.igr_TrendyDisabledSelectedImg
{
    background:transparent url(images/igr_RatingSprite.png) no-repeat;
    background-position: -100px 0px;
}

.igr_TrendyControlFocus
{
    border : 0px none;
}

.igr_TrendyControlDisabled
{
}