.igspell_TrendyWrapper
{
	background-repeat:no-repeat;
	background-image: url(images/trendy.jpg);
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:5px;
	position: relative;
	width: 100%;
	height: 100%;
}


.igspell_TrendyDocumentTextPanel
{
	background-color:White;
	background-position:bottom ;
	background-image: url(images/footer.gif);
	border:solid 1px #CCCCCC;
	position: absolute;
	height: 85px;
	width: 230px;
	left: 10px;
	top: 76px;
	overflow: auto;
}


.igspell_TrendyButton
{
	background-repeat:no-repeat;
	background-image: url(images/button_bg.png);
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 95px;
	height: 21px;
	position: absolute;
	left: 250px;
}


.igspell_TrendyChangeToBox
{
	background-position:bottom ;
	background-image: url(images/footer.gif);
	border:solid 1px #CCCCCC;
	position: absolute;
	left: 10px;
	top: 197px;
	width: 230px;
	height: 25px;
}


.igspell_TrendySuggestions
{
	background-position:bottom ;
	background-image: url(images/footer.gif);
	border:solid 1px #CCCCCC;
	position: absolute;
	left: 10px;
	top: 262px;
	width: 340px;
	height: 109px;
}


.igspell_TrendyLabel
{
	font-weight:bold;
	font-size:xx-small;
	margin-bottom:2px;
	position: absolute;
	left: 10px;
	color:#151C55;
}


.igspell_TrendyBadWord
{
	border-bottom:solid 1px Red;
}


.igspell_TrendyIgnoreButton
{
	top: 76px;
}


.igspell_TrendyIgnoreAllButton
{
	top: 102px;
}


.igspell_TrendyChangeButton
{
	top: 197px;
}


.igspell_TrendyChangeAllButton
{
	top: 223px;
}


.igspell_TrendyFinishButton
{
	top: 374px;
}


.igspell_TrendyAddButton
{
	top: 128px;
}


.igspell_TrendyChangeToLabel
{
	top: 180px;
}


.igspell_TrendySuggestionsLabel
{
	top: 246px;
}


.igspell_TrendyNotFoundLabel
{
	top: 10px;
}


