.igspl_TrendyControl
{
	border-style:solid;
	border-width:1px;
}


.igspl_TrendyPane
{
	background-color:White;
	background-repeat:repeat-x;
}


.igspl_TrendyVSplitBar
{
	background-color:#707070;
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(./images/igspl_splitVert.gif);
	font-size:1px;
	border-top:solid 0px #909090;
	border-bottom:solid 0px #606060;
	border-right-width:0px;
	border-left-width:0px;
	cursor:e-resize;
}


.igspl_TrendyHSplitBar
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHoriz.gif);
	font-size:1px;
	border-top-width:0px;
	border-bottom-width:0px;
	height: 30px;
	cursor:n-resize;
}


.igspl_TrendyVSplitBarHover
{
	background-image: url(./images/igspl_splitVertHover.gif);
}


.igspl_TrendyHSplitBarHover
{
	background-repeat:repeat-x;
	background-image: url(./images/igspl_splitHorizHover.gif);
}


.igspl_TrendyVSplitBarPressed
{
}


.igspl_TrendyHSplitBarPressed
{
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHorizPressed.gif);
}


.igspl_TrendyHSplitBarShadow
{
	background-image: url(./images/igspl_splitHorizHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_TrendyVSplitBarShadow
{
	background-image: url(./images/igspl_splitVertHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_TrendyVSplitBarShadowLimit
{
	background-color:Yellow;
	border-style:solid;
}


.igspl_TrendyHSplitBarShadowLimit
{
	background-color:Yellow;
	border-style:solid;
}


.igspl_TrendyCollapseSplitBarButton
{
	background-color:#E0E0E0;
	cursor:pointer;
}


.igspl_TrendyHSplitBarHeight
{
	height: 7px;
}


.igspl_TrendyVSplitBarWidth
{
	width: 7px;
}


