.ig_TrendyControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_TrendyItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_TrendyButton
{
	cursor:hand;
}


.ig_TrendyButtonHover
{
}


.ig_TrendyButtonPressed
{
}


.ig_TrendyButtonDisabled
{
}


.ig_TrendyHover
{
}


.ig_TrendySelected
{
}


.ig_TrendyDisabled
{
}


.ig_TrendyHeader
{
}


.ig_TrendyFooter
{
}


.ig_TrendyEditWithButtons
{
}


.ig_TrendyEdit
{
}


.ig_TrendyEditInContainer
{
}


.ig_TrendyAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_TrendyDropDown
{
}


.ig_TrendyEditSelected
{
}


Body
{
}


.ms-WPBody .igmc_TrendyControl TD
{
	background-color: inherit;
	font-style:inherit;
	font-size:xx-small;
	border-style:inherit;
}


.ms-WPBody .igdw_TrendyControl TD
{
	background-color:White;
}


.ms-WPBody .igmc_TrendyControl TABLE
{
	font-style:inherit;
	font-size:xx-small;
}


.ms-WPBody .igte_TrendyEditWithButtons TD
{
	background-color:Transparent;
	font-size:1px;
	border-bottom-style:none;
}


.ms-wpbody .ig_TrendyControl td
{
	background-color: inherit;
	font-style:inherit;
	font-size:xx-small;
	border-bottom-style:none;
}


.ms-wpbody .ig_TrendyControl table
{
	font-style:inherit;
	font-size:xx-small;
	border-collapse:Separate;
}


.ms-WPBody .igte_TrendyEditWithButtons TABLE
{
	font-size:1px;
}

.ie7_DisplayInlineFix { display: inline-block; }
.ie7_DisplayInlineFix { display: inline; }



