.igte_TrendyEditWithButtons
{
	font-size: 10px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	line-height:1px;
	height:20px;
	width: 130px;
	border:solid 1px #D8D8D8;
}

.igte_TrendyEdit::-ms-clear, .igte_TrendyEditInContainer::-ms-clear
{
	display: none;
}

.igte_TrendyEdit
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border:solid 1px #D8D8D8;
	outline:0;
}

.igte_TrendyTextArea
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border:solid 1px #D8D8D8;
	outline:0;
}

.igte_TrendyEditInContainer
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: Transparent;
	border-width:0px;
	outline:0;
}

.igte_TrendyFocus
{
	background-image: none;
	background-color: #FFFFFF;
	border-color: #109A48;
}

.igte_Hover
{
	border-color:#808080;
}

.igte_TrendyInner
{
	border-width: 0;
}

.igte_TrendyInnerFocus
{
}

.igte_TrendyInnerHover
{
}

.igte_TrendyButtonSize
{
	width:15px;
	height:100%;
}

.igte_TrendyButton
{
	background-color: #24A244;
	background-image: url(images/igte_spinbuttonbg.gif);
	background-repeat: repeat-x;
	line-height:normal;
	border:solid 1px #109A48;
	color: #FFFFFF;
	cursor: pointer;
}

.igte_TrendyButtonFocus
{
}

.igte_TrendyNullText
{
	color: #888888;
}

.igte_TrendyButtonHover
{
	background-color: #0099FF;
	background-image: url(images/igte_spinbuttonbghover.gif);
	border: 1px solid #0099FF;
}


.igte_TrendyButtonPressed
{
	background-color: #33CCFF;
	background-image: url(images/igte_spinbuttonbgpressed.gif);
	border: 1px solid #0099FF;
}


.igte_TrendyButtonDisabled
{
}

.igte_TrendyButtonImg
{
}