.igtxt_TrendyEditWithButtons
{
	background-position:bottom;
	background-image:url(images/footer.gif);
	font-family: Verdana;
	font-size:10px;
	line-height:1px;
	height:20px;
	width:130px;
	border:solid 1px #139C47;
}


.igtxt_TrendyEdit
{
	background-position:bottom;
	background-image:url(images/footer.gif);
	border:solid 1px #139C47;
	outline:0;
}

.igtxt_TrendyTextArea
{
	background:bottom url(images/footer.gif);
	border:solid 1px #139C47;
	font-family:arial;
	font-size:12px;
	outline:0;
}

.igtxt_TrendyEditInContainer
{
	background-color:Transparent;
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	outline:0;
}

.igtxt_TrendyFocus
{
	border-color:#C0C080;
}

.igtxt_TrendyButtonSize
{
	width:15px;
	height:100%;
}

.igtxt_TrendyButton
{
	background-color:#139C47;
	line-height:normal;
	border:solid 1px #EAF2FB;
}

.igtxt_TrendyButtonFocus
{
	background-color:#F0F0B0;
}

.igtxt_TrendyButtonHover
{
	background-color:#B4B4B4;
	border:solid 1px #ABC1DE;
}


.igtxt_TrendyButtonPressed
{
	background-color:#FFA738;
	border:solid 1px #ABC1DE;
}


.igtxt_TrendyButtonDisabled
{
	background-color:#EAF2FB;
	border:solid 1px White;
}


