﻿<%@ Page Title="Log in" Language="C#" MasterPageFile="~/CSR.master" AutoEventWireup="true" CodeBehind="LogOut.aspx.cs" Inherits="RentPaidOnline.Account.LogOut" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="ContentPlaceHolder1">
   
</asp:Content>
