// Reports Style

.report-header {
	margin: -30px -30px 30px;

	.report-nav {
		display: block;
		.clearfix();
		outline: none;
	}

	.default-nav {
		float: left;
		display: block;
		padding: 12px 40px 12px 15px;
		font-size: 20px;
		color: @gray-lighter;
	}

	[data-icon] {
		float: left;
		display: block;
		position: relative;
		padding: 9px 15px;
		font-size: 24px;
		color: #477E11;
		#gradient > .vertical(@brand-success, #73A32C);

		&.back {
			&:before {
				content: "\005f";
			}
		}
	}

	.report-list {
		display: block;
		padding: 15px 20px 35px;
		.clearfix();

		li {
			float: left;
			width: 33%;
			padding: 0 15px;
			margin-top: -1px;

			&:hover {
				background: #383C42;

				a {
					border-color: transparent;
				}
			}
		}

		a {
			display: block;
			padding: 8px 0;
			font-size: 15px;
			color: #fff;
			border-bottom: 1px dotted #000;

			&:hover {
				text-decoration: none;
			}
		}
		li:nth-last-child(-n+3) a {
			border-color: transparent;
		}
	}

	.hide-account-bar & {
		display: none;
	}
}
.report-header.open {
	#gradient > .vertical(#565B63, @gray-darker, 0%, 33%);
}
.report-header.selected {
	.default-nav {
		color: #fff;
		text-shadow: -1px -1px 1px rgba(0,0,0,.3);
		#gradient > .vertical(@brand-success, #73A32C);
	}
	[data-icon] {
		border-right: 1px solid #98C30A;

		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 1px;
			height: 100%;
			background: #477E11;
		}
	}
	.report-list {
		display: none;
	}
}

.well {
	position: relative;
	.clearfix();
}
.well.has-dividers {
	display: table;
	width: 100%;
}

.divider-fluid {
	display: table-cell;
	vertical-align: middle;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 2px;
		height: 100%;
		#gradient > .horizontal-line();
	}
	&:first-child:before {
		display: none;
	}

	.padding {
		padding: 20px;
		.clearfix();
	}
	&:last-child {
		text-align: right;
	}
}

.multiselect {
	width: auto !important;
}

.date-select {
	width: 59%;

	label {
		float: left;
		display: block;
		margin-top: 7px;
		width: 10%;
	}
	input.form-control {
		float: left;
		margin: 0 2% 0 0;
		width: 26%;
	}
	.btn-calendar {
		float: left;
		display: block;
		width: 8%;
		font-size: 26px;
		color: @gray-light;

		&:hover, &:focus {
			color: @gray-dark;
			text-decoration: none;
		}
	}
	.range-to {
		margin-left: 5%;
		margin-right: 2%;
		text-align: right;
	}
}

.export-select {
	select {
		float: left;
		width: 28%;
		margin-right: 8px;
	}
	.btn {
		float: left;
	}
}

.receiptHolder {
    margin-top:20px;
}

.recieptColumn {
    width: 50%;
    float: left;

    &.left {
        padding-right: 10px;
    }

    &.right {
        padding-left: 10px;
    }

    .formWhole {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   
}
.highlighted {
    display: inline;
    font-size: large;
    font-weight: 500;
    color: @brand-secondary;

    &.message {
        font-size: x-large;
        color: @brand-primary;
    }

    &.red {
        color: red;
    }
}