.igg_Control
{
	background-color:#FFFFFF;
	background-repeat:repeat-x;
	font-size:11px;
	border:solid 1px #999999;
}

.igg_Control table
{
    border-collapse:separate;
}

.igg_Header
{
	background-color:#6EA3CC;
	background-repeat:repeat-x;
	background-image: url(images/igg_header.gif);
	color: White;
}

.igg_HeaderCaption
{
	font-size: 12px;
	padding: 3px 0 3px 8px;
	overflow: hidden;
	text-align:left;
	border-top:1px solid #a0c3de;
    border-right:1px solid #5593c3;
    border-bottom:1px solid #5593c3;
    border-left:1px solid #a0c3de;
}

.igg_GroupFieldHeaderCaption
{
    text-align: center;
    text-shadow: 1px 1px #488bbf;
    font-size: 14px;
}

.igg_Footer
{
	background-color:#F0F0F0;
	height: 21px;
	line-height: 21px;
}


.igg_FooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


tbody.igg_ItemIE6 tr td
{
	background-color:White;
	border-top:solid 1px #D8D8D8;
	height: 20px;
	line-height: 20px;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


tbody.igg_Item>tr>td
{
	background-color:White;
	border-top:solid 1px #D8D8D8;
	height: 20px;
	line-height: 20px;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


.igg_ScrollbarIntersection
{
}


.igg_RowSelector
{
	background-color:White;
	border-top:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
	border-left:solid 1px #D8D8D8;
	width: 35px;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igg_Pager
{
	background-color:#F0F0F0;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:right;
}


.igg_PageLink
{
	padding-right:10px;
	cursor:hand;
	color:DimGray;
	text-decoration:underline;
	cursor: pointer;
}


.igg_FilterRuleDropDown
{
	background-color:White;
	border:solid 1px #999999;
	width: 150px;
	overflow: auto;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}


.igg_FilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_ResizeIndicator
{
	background-color:#4679A6;
	width: 2px;
}


tbody tr.igg_AltIE6 td
{
	background-color:#EBF6FF;
	padding:5px;
	text-align:left;
	vertical-align:middle;
}


tbody>tr.igg_Alt>td
{
	background-color:#EBF6FF;
}


.igg_HeaderRowSelector
{
    background-color: Transparent;
    border-color: #A0C3DE #5593C3 #5593C3 #A0C3DE;
    border-style: solid;
    border-width: 1px;
}


.igg_FooterRowSelector
{
	background-color:Transparent;
	background-image: url(transparent);
	border-width:0px;
}


.igg_SelectedHeader
{
}

tbody.igg_FixedColumnCellCssClass>tr>td
{
	background-color: #EFF3F8;
}

.igg_FixedColumnFooterCssClass
{
	font-weight: bold;
}

.igg_PageCurrent
{
	padding-right:10px;
}


.igg_AddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_AddNewRowSelectorCssClass
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_FilterRow
{
	font-size:10px;
	border-top:solid 0px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	height: 22px;
	color:Black;
}


.igg_FilterRuleDropDownItem
{
	font-size:11px;
	padding:1px 3px 1px 3px;
}


.igg_FilterRowSelectorImage
{
}


.igg_FilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_FilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tr.igg_FilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_HeaderScrollbarIntersection
{
}


.igg_FooterScrollbarIntersection
{
}


.igg_SelectedRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-color: #8DC6EC;
	background-repeat: no-repeat;
	color: #FFFFFF;
}


.igg_SelectedRowSelectorImage
{
}


tr.igg_AddNewRowTopIE6 td
{
}


tr.igg_AddNewRowTop>td
{
}


tr.igg_AddNewRowBottomIE6 td
{
}

tr.igg_AddNewRowBottom>td
{
}

.igg_FilterRuleDropDownSelectedItem
{
	background-image: url(images/igg_header.gif);
	font-size:11px;
	padding:1px 3px 1px 3px;
}


tr.igg_FilterRowTopIE6 td
{
}


tr.igg_FilterRowTop>td
{
}


tr.igg_FilterRowBottomIE6 td
{
}


tr.igg_FilterRowBottom>td
{
}


tbody tr td.igg_SelectedCellIE6
{
	background-color: #8DC6EC;
}


tbody>tr>td.igg_SelectedCell
{
	background-color: #8DC6EC;
}


.igg_AddNewRowScrollbarIntersection
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


.igg_FilterDisabled
{
	background-color:#969696;
	border:solid 4px Black;
}


.igg_FilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #CCCCCC;
	border-right:solid 0px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
}


tbody tr td.igg_ActiveCellIE6
{
}


tbody>tr>td.igg_ActiveCell
{
}

.igg_ActiveRow
{
}
.igg_ActiveRow
{
    color : Black;
}


.igg_ActiveColumn
{
}


.igg_ActiveRowSelectorImage
{
	color:White;
}


.igg_ActiveRowSelector
{
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-repeat: no-repeat;
	background-color: #8DC6EC;
}


.igg_FilterRuleDropDownHoverItem
{
	background-image: url(images/igg_header.gif);
	font-size:11px;
	padding:1px 3px 1px 3px;
}


.igg_EditCell
{
	background:White !important;
	border:solid 1px #AAAAAA !important;
}


.igg_FixedColumnSeparatorCssClass
{
	width: 3px;
	background-color: #AAAAAA; 
}

.igg_FixedColumnPinButtonCssClass
{
	padding: 0px 3px;
	cursor: pointer;
	vertical-align: middle;
}

.igg_FixedColumnHeaderCSSClass
{
}

tr.igg_AddNewRowIE6 td
{
	background-color:#F7F7F7;
	font-size:10px;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_AddNewRow>td
{
	background-color:#F7F7F7;
	font-size:10px;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 0px #CCCCCC;
	border-left:solid 0px #CCCCCC;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
	color: #333333;
}


.igg_VirtualScrollTooltip
{
	background-color:#6EA3CC;
	font-size:10px;
	border:solid 1px #F0F0F0;
	padding:3px;
	color: #FFFFFF;
	text-align:center;
}


.igg_TopDragIndicator
{
      background-image:url(images/igg_TopDragIndicator.png);
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      margin-top: 2px;
      z-index: 100;
}

.igg_MiddleDragIndicator
{
      background-image:url(images/igg_MiddleDragIndicator.png);
      background-repeat: repeat-y;
      background-position: center;
      width:11px; 
}

.igg_BottomDragIndicator
{
      background-image:url(images/igg_BottomDragIndicator.png);
      background-repeat: no-repeat;
      width:11px; 
      height:6px;
      position: absolute;
      margin-top: -2px;
      z-index: 100;   
}

/*********************/
/**  Filter styles **/
/*********************/

.igg_FilterRuleDropDown 
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size:xx-small;
	color: #000;
	font-weight:normal;
	
	background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
	
	border:1px solid #83AFDF;
	overflow-x:hidden!important;
	overflow-y: auto;
	max-height: 180px;
	min-width:160px;
	height: auto;
	width: auto;
	padding: 12px;
    
    /*Rounded corners*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	
    /*Shadow*/
	-moz-box-shadow: 0 4px 8px 0 #5A5A5A;
	-webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
	box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}

.igg_FilterRuleDropDown input
{
    margin-top:10px;
    margin-right:3px;
    width:70px;
		
    border:1px solid #6a9cc9;
    background: #78bae5 url(images/igg_ButtonsBG.png) repeat-x scroll;
    color:#fff;
		
    -webkit-border-radius: 3px;    
    -moz-border-radius: 3px;
}    

.igg_FilterRuleDropDown img
{
    margin-right: 5px;
    vertical-align: bottom;
}

.igg_FilterCheckboxList li
{
    list-style-type: none;
    margin-bottom: 3px;
    line-height: 15px;
}

.igg_FilterCheckboxList
{
    margin: 10px 0 0 0;
    height: auto;
    max-height: 120px;
    overflow: auto;
    width: 160px;
}

/********************/
/** Summary styles **/
/*******************/

.igg_Summary
{
	border-bottom:1px solid #CCCCCC;
	color:#444444;
	text-align: right;
	overflow:hidden;
	
	font-weight:bold;
	font-size:9px;
    line-height:20px
}

.igg_SummaryDropDown
{
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size:11px;
	
	background:#fff url(images/igg_SummaryDropDownBG.png) repeat-x scroll;
	padding:12px;
	border:1px solid #83AFDF;
	width:146px;
	
	/* IE6 fixes */
	_overflow:hidden!important;
	
	/*Rounded corners*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	
	/*Shadow*/
	-moz-box-shadow: 0 4px 8px 0 #5A5A5A;
	-webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
	box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
	
}

.igg_SummaryDropDown input
{
    margin-top:10px;
    margin-right:3px;
    width:70px;
		
    border:1px solid #6a9cc9;
    background: #78bae5 url(images/igg_ButtonsBG.png) repeat-x scroll;
    color:#fff;
		
    -webkit-border-radius: 3px;    
    -moz-border-radius: 3px;
}
	
.igg_SummaryDropDownItem
{
	line-height: 15px;
    margin-bottom: 3px;
    
    cursor:default;
	color:Black;
    font-weight:normal;
}

.igg_SummaryDropDownItem img
{
    margin-right:5px;
    cursor:pointer;
    vertical-align: bottom;
}

.igg_SummaryButton 
{
	background:none;
	border:medium none;
	cursor:pointer;
	margin:0;
	padding:0;
}

.igg_Footer tr[mkr="columnHeaderRow"] th
{
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    
    background-color: #F7F7F7;
}
.igg_SummaryRow
{
}

.igg_SummaryRow th 
{
    border-bottom:1px solid #CCCCCC;
    background-color:#F7F7F7;
}

/******************/

/*Batch Editing*/

@-webkit-keyframes addingHighlight {
	0% {background-color:#ffd4aa;}
	100% {background-color:#ffffff;}
	}
@-moz-keyframes addingHighlight {
	 0% {background-color:#ffd4aa;}	
	 100% {background-color:#ffffff;}
	}

tbody>tr.igg_AddingRow>td
{	
    -webkit-animation-name: addingHighlight;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2s;
		
	-moz-animation-name: addingHighlight;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 2s;	
	
    -o-animation-name: addingHighlight;
	-o-animation-timing-function: ease-in-out;
	-o-animation-duration: 2s;
	
    animation-name: addingHighlight;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

tbody tr.igg_AddedRow td
{
    background-color: #FFFFFF;
	color:#666;
    font-style: italic;
}

.igg_DeletedRow
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}
.igg_DeletedRow td
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}
.igg_DeletedRow th
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}

.igg_UndoButton 
{
   	background-color: #8EBEE0;
	background-image: url(images/igte_spinbuttonbg.gif);
	background-position:top left;
	background-repeat: repeat-x;
	line-height:normal;
	border:solid 1px #699BC9;
	color: #FFFFFF;
	text-shadow: 1px 1px #0B2D4D;
	cursor: pointer;
	padding:3px;
	
	-webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
    
.igg_UndoButtonHover 
{
    background-color: #60a1d0;
	background-image: url(images/igte_spinbuttonbghover.gif);
}

.igg_UndoButtonPressed
{
	background-color: #C7E5F9;
	background-image: url(images/igte_spinbuttonbgpressed.gif);
}


.igg_UpdatedRow
{    
	 color:#666;
     font-style: italic;
}

tbody > tr.igg_UpdatedRow td.igg_MergedCell
{    
	 color:#666;
     font-style: italic;
}

.igg_Alt.igg_UpdatedRow td
{    
	 color:#666;
     font-style: italic;
}

.igg_UpdatedRow th
{
    color:#666;
    font-style: italic;
    
}
.igg_Alt.igg_UpdatedRow th
{
    color:#666;
    font-style: italic;
    
}
.igg_AddedRow th
{
    color:#666;
    font-style: italic;
    
}
.igg_Alt.igg_AddedRow th
{
    color:#666;
    font-style: italic;
    
}

tbody > tr.igg_UpdatedRow td.igg_SelectedCell
{    
    color: black;
}
.igg_UpdatedRow .igg_ActiveRowSelectorImage {color:#efefef;}
.igg_Alt.igg_UpdatedRow .igg_ActiveRowSelectorImage {color:#efefef;}
.igg_AddedRow .igg_ActiveRowSelectorImage {color:#efefef;}
.igg_Alt.igg_AddedRow .igg_ActiveRowSelectorImage {color:#efefef;}


/********************/
/**  Cell Merging  **/
/********************/
/*Any future change please port it to WHDG*/

tbody>tr>td.igg_MergedCellVisible
{
    color : Black;
}

tbody>tr>td.igg_MergedCell /*tbody>tr>td.igg_MergedCellAlt*/
{
    color: White;
    background-color: White;
    
    border-top-width: 0;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

tbody>tr>td.igg_MergedCellTop /*tbody>tr>td.igg_MergedCellAltTop*/
{
    color: Black;
    border-top: 1px solid #d8d8d8;
}

tbody>tr>td.igg_MergedCell.igg_SelectedCell /*tbody>tr>td.igg_MergedCellAlt.igg_SelectedCell*/
{
    color: Black;
    background-color: #b4daf3;
    
    border-top: 1px solid #afaeae;
    border-left: 1px dotted #afaeae;
    border-right: 1px dotted #afaeae;
}

tbody>tr>td.igg_MergedCellTop.igg_SelectedCell /*tbody>tr>td.igg_MergedCellAltTop.igg_SelectedCell*/
{
    color: black;
    border-bottom: none;
}

.igg_MergedCell.igg_ActiveCell
{
    color: Black
}

tbody>tr>td.igg_MergedCellVisible
{
    color : Black;
}

tbody.igg_FixedColumnCellCssClass>tr>td.igg_MergedCell
{
	background-color: #EFF3F8;
	color: #EFF3F8;
}

tbody.igg_FixedColumnCellCssClass>tr>td.igg_MergedCellTop
{
	color: Black;
}

@media print{.igg_Control, 
.igg_Control tr[mkr="columnHeaderRow"] div,
.igg_Control div[mkr="container"],
.igg_Control div[mkr="hScrBar"],
.igg_Control div[mkr="vScrBar"]{width:auto !important; height:auto !important; overflow: visible !important;}
}
