﻿body {
}


.DDB_Font {
    font-size: 22px;
    color: #808080;
    width: 300px;
}

.DB_Font2 {
    font-size: 22px;
    color: #00FF00;
    width: 300px;
    height: 35px;
    background-color: cadetblue;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
}

