a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
a {
  color: #e58912;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #9e5f0c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #bfc1ce;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #7f4824;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #8f92a6;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h2 small,
h3 small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 24px;
}
h2,
.h2 {
  font-size: 18px;
}
h3,
.h3 {
  font-size: 16px;
}
h4,
.h4 {
  font-size: 14px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
/* Bootstrap btn styles */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-primary {
  color: #ffffff;
  background-color: #e58912;
  border-color: #cd7b10;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #bf720f;
  border-color: #95590c;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e58912;
  border-color: #cd7b10;
}
.btn-secondary {
  color: #ffffff;
  background-color: #77ac42;
  border-color: #6a9a3b;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #638f37;
  border-color: #4c6d2a;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #77ac42;
  border-color: #6a9a3b;
}
.btn-warning {
  color: #ffffff;
  background-color: #fcd204;
  border-color: #e4be03;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #d5b103;
  border-color: #a78b02;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #fcd204;
  border-color: #e4be03;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-success {
  color: #ffffff;
  background-color: #77aa2d;
  border-color: #699628;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #608a24;
  border-color: #47651b;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #77aa2d;
  border-color: #699628;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-link {
  color: #e58912;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #9e5f0c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #8f92a6;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 2px;
}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* Bootstrap transition styles */
.fade {
  /*opacity: 0;*/
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

/* Bootstrap modal styles */
.close {
  /*float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);*/
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-open {
  overflow: hidden;
}
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 15px;
}
.modal {
  display: none;
  overflow: auto;
  /*overflow-y: scroll;*/
  position: fixed;
  /*top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  z-index: 1040;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer:before,
.modal-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.modal-footer:after {
  clear: both;
}
.modal-footer:before,
.modal-footer:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    left: 50%;
    right: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

/* Bootstrap table styles */
.styled-table {
  width: 100%;
  border-collapse: separate;
  background: #77aa2d;
}
.styled-table thead th {
  color: #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#50555d), to(#41454d));
  background-image: -webkit-linear-gradient(top, #50555d, 0%, #41454d, 100%);
  background-image: -moz-linear-gradient(top, #50555d 0%, #41454d 100%);
  background-image: linear-gradient(to bottom, #50555d 0%, #41454d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50555d', endColorstr='#ff41454d', GradientType=0);
  padding: 0.4em 1em;
  border-bottom: 3px solid #fff;
}
.styled-table > tbody > tr > td {
  background: #f1f0f6;
  padding: 1em 1em;
  vertical-align: middle;
  border-bottom: 3px solid #fff;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.styled-table > tbody > tr > td.toggle-cell {
  padding: 0;
  width: 33px;
  vertical-align: top;
  background: #76a82c;
}
.styled-table > tbody > tr.details-row td {
  padding: 0;
  border-top: 0;
}
.styled-table .table-row-toggle {
  position: relative;
  display: block;
  background: #76a82c;
  color: #fff;
  width: 33px;
  min-height: 68px;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
}
.styled-table .table-row-toggle:before,
.styled-table .table-row-toggle:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
}
.styled-table .table-row-toggle:before {
  width: 2px;
  height: 14px;
  margin-left: -1px;
  margin-top: -7px;
}
.styled-table .table-row-toggle:after {
  width: 14px;
  height: 2px;
  margin-left: -7px;
  margin-top: -1px;
}
.styled-table .row-open td {
  background-color: #f5f5f8;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(50%, #f9f9fb), color-stop(50%, #f3f3f6), to(#e7e7ed));
  background-image: -webkit-linear-gradient(#ffffff, #f9f9fb 50%, #f3f3f6 50%, #e7e7ed);
  background-image: -moz-linear-gradient(top, #ffffff, #f9f9fb 50%, #f3f3f6 50%, #e7e7ed);
  background-image: linear-gradient(#ffffff, #f9f9fb 50%, #f3f3f6 50%, #e7e7ed);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe7e7ed', GradientType=0);
  border-top: 2px solid #77aa2d;
  border-bottom: 0px none;
}
.styled-table .row-open .table-row-toggle:before {
  display: none;
}
.styled-table .row-open td:nth-child(2) {
  border-top-left-radius: 10px;
}
.styled-table .button-cell {
  width: 102px;
}
.styled-table.expandable-table > thead th {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#76a82c), to(#60931f));
  background-image: -webkit-linear-gradient(top, #76a82c, 0%, #60931f, 100%);
  background-image: -moz-linear-gradient(top, #76a82c 0%, #60931f 100%);
  background-image: linear-gradient(to bottom, #76a82c 0%, #60931f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff76a82c', endColorstr='#ff60931f', GradientType=0);
}
.styled-table.expandable-table > thead th:first-child {
  padding-left: 4.2em;
}
.styled-table.expandable-table table {
  border-collapse: separate;
  border-left: 33px solid #76a82c;
  width: 100%;
  margin-top: -1px;
}
.styled-table.expandable-table table thead th {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#50555d), to(#41454d));
  background-image: -webkit-linear-gradient(top, #50555d, 0%, #41454d, 100%);
  background-image: -moz-linear-gradient(top, #50555d 0%, #41454d 100%);
  background-image: linear-gradient(to bottom, #50555d 0%, #41454d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50555d', endColorstr='#ff41454d', GradientType=0);
  padding: 0.4em 1em;
  -webkit-box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.5);
  border: 0px none;
}
.styled-table.expandable-table table thead th.description-cell {
  width: 180px;
}
.styled-table.expandable-table table tbody tr td:last-child {
  padding-right: 3em;
}
.styled-table.expandable-table table tbody tr:first-child td {
  border-top: none;
  -webkit-box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.25);
}
.styled-table.expandable-table table tbody tr td:first-child {
  width: 170px;
}
.styled-table.expandable-table table tbody td {
  background: #373a40;
  padding: 1em 1em;
  border-top: 1px dotted #000;
  color: #fff;
}

/* Overwrite styles */
.fc .styled-table > tbody > tr > td {
  padding: 0;
  border-color: #fff;
  border-width: 1px 0 0 1px;
  vertical-align: top;
}
.fc .styled-table > tbody > tr > td.fc-today {
  background: #fff;
}
.fc .styled-table > tbody > tr > td.fc-other-month {
  background: #F5F5F9;
}
.fc .styled-table.fc-agenda-days th.fc-first,
.fc .styled-table.fc-agenda-days table th {
  background: #fff;
}
.fc .fc-event {
  background: #5bc0de;
  border-color: #5bc0de;
}
.fc .fc-event:hover,
.fc .fc-event:focus {
  color: #fff;
  text-decoration: underline;
}


/* Resident Calendar Styling */
.fc .btn {
	background: #06cef9;
	border: 0px none;
	color: #fff;
	border-radius: 2px;
}
.fc .btn:hover, .fc .btn:focus {
	background: #06cef9;
}
.fc .btn.fc-corner-right {
	margin-left: 2px;
}
.fc-header-title h2 {
	color: #06cef9;
	font-size: 24px;
}
.fc .styled-table thead th {
	background-image: none;
	filter: none;
	background: #0462c2;
}

#eventDetails {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #4E535A;
}
#eventDetails h1 {
  color: #77AA2D;
}
#eventDetails p {
  font-family: sans-serif;
  color: #4E535A;
  margin: 0 0 10px;
}
#eventDetails strong {
  font-family: sans-serif;
}