﻿<div class="modal-dialog" ng-controller="EventDetailsController">


	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h1>{{event.Title}}</h1>
		</div>
		<div class="modal-body">
			<p>Where: <strong>{{event.Location}}</strong><br />
				When: <strong>{{event.StartDate | date:'MMM d, y h:mm a'}} - {{event.EndDate | date:'MMM d, y h:mm a'}}</strong><br />
                Contact: <strong>{{event.Contact}}</strong>
			</p>
			<p ng-bind-html="eventDetails"></p>
		</div>
	</div>
</div>